<apex:component >
<apex:stylesheet value="{!URLFOR($Resource.XactlyCorp__XactlyIncentResources, 'resources/css/xactly_incent.css')}"/>
  <body>
      <div>
          <table width="100%">
            <tr>
                <td valign="top">
                    <apex:image url="{!URLFOR($Resource.XactlyCorp__XactlyIncentResources, 'resources/images/Xactly_Incent_Logo.png')}" width="200" height="58"/>
                </td>
                <td valign="top">
                    &nbsp;<p/>
                    Thank you for installing Xactly Incent for AppExchange.<br/>
In order to activate the application, please contact Xactly at 1.866.GO.XACTLY (1.866.469.2285).<br/>
<br/>
If you have already activated Xactly Incent and are receiving this message, you may be attempting to log in during regularly scheduled maintenance.  Visit the Xactly Trust site for up-to-date status: <a href="https://www.xactlycorp.com/trust/incent_system_status/" target="_blank">https://www.xactlycorp.com/trust/incent_system_status/</a>.<br/>
<br/>
If you continue to experience issues, contact your Xactly Incent Administrator or Xactly Support.
                </td>
            </tr>
          </table>    
      </div>
  </body>
</apex:component>