<apex:page controller="ffps_bmatching.CustomBackgroundMatchingController" showHeader="true" sidebar="false" standardStylesheets="true">
	<apex:includeScript value="{!URLFOR($Resource.ffps_bmatching__CustomMatchingResource, '/CustomMatchingResource/web/jquery/js/jquery-1.11.2.min.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.ffps_bmatching__CustomMatchingResource, '/CustomMatchingResource/web/jquery/js/jquery-ui.min.js')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.ffps_bmatching__CustomMatchingResource, '/CustomMatchingResource/web/jquery/css/cupertino/jquery-ui.min.css')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.ffps_bmatching__CustomMatchingResource, '/CustomMatchingResource/web/jquery/css/cupertino/theme.css')}"/>
 	<apex:includeScript value="{!$Resource.ffps_bmatching__UserControlledBackgroundMatching}"/>
 	<apex:stylesheet value="{!$Resource.ffps_bmatching__custommatchingcss}"/>
	<script>
		jQuery(document).ready(function() {
			FF.setup("{!URLFOR($Resource.CustomMatchingResource, '/CustomMatchingResource/web/')}");
		});
	</script>
	<apex:form >
		<div id="standard-matching" class="ff-form">
			<div class="ff-formtitle">Standard Background Matching</div>
			<div>
				<input type="radio" name="backgroundMatching" value="standardBackgroundMatching">Standard Background Matching</input>
				<br/>			
			</div>
		</div>
		<br/>
		<div id="customer-account-matching" class="ff-form">
			<div class="ff-formtitle">Customer Account Background Matching</div>
			<div>
				<input type="radio" name="CABackgroundMatching" value="AccoutTypeCustomerAccount" checked="checked">Customer Account Background Matching</input>
				<br/>
				<input type="radio" name="CABackgroundMatching" value="DocumentsCreatedToday">Documents Created Today (Run for Accounts where Sales Invoice/Sales Credit Note or Cash Entry created today) ({!documentsCreatedMsg})</input>
				<br/>	
				<div class="btn-bar">
					<button class="ff-btn" id="btn-cancel-2" type="button">Back</button>
					<button class="ff-btn" id="btn-commitCAM-1" type="button">Run Batch</button>
				</div>		
			</div>
		</div>
		<br/>
		<br/>
		<div id="record-type-selection" style="display: none;" title="Please Select Account Record Types">
			<div id="record-type-container"></div>
		</div>

		<div id="infodialog" style="display: none;" title="Information">
			<div id="infodialog-container"></div>
		</div>

		<div id="errordialog" style="display: none;" title="Error">
			<div id="dialog-container"></div>
		</div>
	</apex:form>
	<c:InProgress />
</apex:page>