<apex:component layout="none">
	<apex:includeScript value="{!URLFOR($Resource.ffps_ct__JQuery, '/JQuery/web/jquery/js/jquery-1.10.1.min.js')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.ffps_ct__JQuery, '/JQuery/web/jquery/css/cupertino/jquery-ui-1.10.3.custom.min.css')}"/>

	<style>
		#in-progress-container {
			z-index: 999;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("{!URLFOR($Resource.JQuery, '/JQuery/web/images/45pc_opaque_white.png')}");
		}

		#in-progress-badge {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100px;
			height: 100px;
			margin-left: -50px;
			margin-top: -50px;
			text-align: center;
		}

		#in-progress-badge img {
			margin-top: 20px;
		}

		#in-progress-badge div {
			margin-top: 10px;
		}
	</style>

	<script>
		var FF_INPROGRESS = {
			show: function(myLabel)
			{
				if (typeof myLabel == 'undefined')
				{
					myLabel = 'Loading';
				}

				jQuery('#in-progress-label').text(myLabel);
				jQuery('#in-progress-container').show();
			},

			hide: function()
			{
				jQuery('#in-progress-container').hide();
			}
		}

	</script>

	<div id="in-progress-container" style="display: none;">
		<div id="in-progress-badge" class="ui-widget-content ui-corner-all">
			<img src="{!URLFOR($Resource.JQuery, '/JQuery/web/images/ajax-loader.gif')}" />
			<div id="in-progress-label">Loading</div>
		</div>
	</div>
</apex:component>