<!-- codapaymenttemplatenew -->
<apex:page standardController="c2g__codaPaymentTemplate__c" extensions="c2g.CODAPaymentTemplateController">
	<script src="{!URLFOR($Resource.coda2go,'coda2go/web/script/lib.js')}" type="text/javascript"></script>
	<script>
		CODA.documentFunctionTimer("keyup", CODA.executeQueue, 1500);
		CODA.documentFunctionTimer("click", CODA.executeQueue, 1500);
	</script>
	<apex:stylesheet value="{!URLFOR($Resource.c2g__coda2go,'coda2go/web/css/style.css')}"/>
	<style>
	.rightArrowsIcon
	{
		BACKGROUND-IMAGE:url({!URLFOR($Resource.coda2go,'coda2go/web/images/arrows_rt.gif')}) !important;
	}
	.leftArrowsIcon
	{
		BACKGROUND-IMAGE:url({!URLFOR($Resource.coda2go,'coda2go/web/images/arrows_lt.gif')}) !important;
	}
	.extracollapsed
	{
		BACKGROUND-IMAGE:url({!URLFOR($Resource.coda2go,'coda2go/web/images/CollapsedExpanded.gif')});
	}
	.extraexpanded
	{
		BACKGROUND-IMAGE:url({!URLFOR($Resource.coda2go,'coda2go/web/images/CollapsedExpanded.gif')});
	}
	.extracollapsed_h
	{
		BACKGROUND-IMAGE:url({!URLFOR($Resource.coda2go,'coda2go/web/images/CollapsedExpanded.gif')});
	}
	.extraexpanded_h
	{
		BACKGROUND-IMAGE:url({!URLFOR($Resource.coda2go,'coda2go/web/images/CollapsedExpanded.gif')});
	}
	.pbError
	{
		background-image:url({!URLFOR($Resource.coda2go,'coda2go/web/images/pbErrorIcon.gif')});
	}
	.informationerrorblock
	{
		background-image:url({!URLFOR($Resource.coda2go,'coda2go/web/images/pbErrorIconsm.gif')});
	}
	</style>
	<apex:form onsubmit="if(CODA2GoButtons.disableSaveButtons){ return CODA2GoButtons.disableSaveButtons(); }">
		<div id="indicator"><img src="{!URLFOR($Resource.coda2go, 'coda2go/web/images/waiting.gif')}" align="absMiddle"/><span id="indicatortext"></span></div>
		<!-- Header -->
		<apex:sectionHeader title="{!$Label.codaPaymentTemplateNewPaymentTemplate}" subtitle="{!$Label.codaPaymentTemplateNewNew}" help="{!URLFOR('/apex/c2g__codahelploader?topicid=1020')}"/>
		<!-- Back to Payment Template -->
		<div class="goBreadcrumb">
		&nbsp;&#171;<a href="{!URLFOR($Action.codaPaymentTemplate__c.Tab,$ObjectType.codaPaymentTemplate__c)}">{!$Label.codapaymentTemplateNewBackToList}</a>
		</div>
		<apex:pageBlock title="{!$Label.codaPaymentTemplateNewPaymentTemplateDetail}" id="paymentTemplateDetail" mode="edit">
			<!-- Buttons -->
			<apex:pageBlockButtons >
				<!-- Hidden Buttons -->
				<apex:commandButton value="{!$Label.codaPaymentTemplateNewSave}" id="save_h" action="{!save}" styleclass="hiddensubmit"/>
				<apex:commandButton value="{!$Label.codaPaymentTemplateNewSaveNew}" id="save_new_h" action="{!saveAndNew}" styleclass="hiddensubmit"/>
				<apex:commandButton value="{!$Label.codaPaymentTemplateNewCancel}" action="{!cancel}" id="cancel_h" styleclass="hiddensubmit" immediate="true" reRender=""/>
				<!-- Normal Buttons -->
				<apex:commandButton value="{!$Label.codaPaymentTemplateNewSave2}" id="save" onclick="if(!CODA.queing()){document.getElementById('{!$Component.save_h}').click()};return false;"/>
				<apex:commandButton value="{!$Label.codaPaymentTemplateNewSaveNew2}" id="save_new" onclick="if(!CODA.queing()){document.getElementById('{!$Component.save_new_h}').click()};return false;"/>				
				<apex:commandButton value="{!$Label.codaPaymentTemplateNewCancel}" id="cancel" rerender="" onclick="if(!CODA.queing()){document.getElementById('{!$Component.cancel_h}').click()};return false;"/>
				<script>
					var CODA2GoButtons = new CODA2GoPage();
					var CODA2GoBtnSaveValue = "{!$Label.codapaymentTemplateNewProcessing}"
	                var save = document.getElementById("{!$Component.save}");
	                var save_new = document.getElementById("{!$Component.save_new}");
	                var cancel = document.getElementById("{!$Component.cancel}");
	                CODA2GoButtons.initButtons([save.id,save_new.id,cancel.id]);	               
				</script>
			</apex:pageBlockButtons>
			<!-- Messages -->
			<apex:include pageName="c2g__codamulticompanymodewarning" rendered="{!viewstate.reportingModeMessage}"/>
			<apex:outputPanel id="messagePanel" layout="block">
				<apex:outputPanel id="errorPanel" layout="block" styleClass="pbError" rendered="{!viewstate.showErrorMessages}">
					<apex:repeat value="{!viewstate.errorMessages}" var="errorMessage" rendered="{!viewstate.showErrorMessages}">
						<apex:outputText value="{!errorMessage}"/><br/>
					</apex:repeat>
				</apex:outputPanel>
				<apex:outputPanel id="generalMessagePanel" layout="block" styleClass="pbInfo" rendered="{!viewstate.showGeneralMessages}">
					<apex:repeat value="{!viewstate.generalMessages}" var="generalMessage" rendered="{!viewstate.showGeneralMessages}">
						<apex:outputText value="{!generalMessage}"/><br/>
					</apex:repeat>
				</apex:outputPanel>
			</apex:outputPanel>
			<!-- Detail -->
			<apex:pageBlockSection id="identificationPageBlockSection" title="{!$Label.codaPaymentTemplateNewTemplateIdentification}" collapsible="false" columns="2">
				<apex:facet name="header">
					<h3>{!$Label.codaPaymentTemplateNewTemplateIdentification}</h3>
				</apex:facet>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.codaPaymentTemplateNewName}" for="name"/>
					<apex:outputPanel >
						<apex:inputField id="name" value="{!viewstate.paymentTemplate.dto.Name}"/>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:inputField id="description" value="{!viewstate.paymentTemplate.dto.c2g__Description__c}" style="width:90%;height:60px;"/>
			</apex:pageBlockSection>
			
			<apex:pageBlockSection id="paymentControlPageBlockSection" title="{!$Label.codaPaymentTemplateNewPaymentControl}" collapsible="false" columns="2">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.codaPaymentTemplateNewBankAccount}" for="bankAccount"/>
					<apex:outputPanel id="bankAccountPanel">
						<apex:actionRegion id="bankAccountRegion">	
							<apex:inputField id="bankAccount" value="{!viewstate.paymentTemplate.dto.c2g__BankAccount__c}" />
							<apex:actionFunction name="onChangeBankAccount" action="{!updatePaymentCurrencyFields}" reRender="messagePanel,bankAccountPanel,bankAccountRegion,bankAccount,currencyValue2,paymentCurrency2,currencySelectorArea2, accountsPanel" oncomplete="CODA.resumeQueueProcessing();"/> 
							<script>
								  CODA.addQueuedOnBlurEvent(null, "{!$Component.bankAccount}", "{!$Label.codaPaymentTemplateNewRetrievingPaymentCurrency}", onChangeBankAccount,true);
							</script> 
					   </apex:actionRegion>    
					</apex:outputPanel>
					</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem id="currencyBlock2">
					<apex:outputLabel value="{!$Label.codaPaymentTemplateNewPaymentCurrency}" for="selectCur"/>
					 
					<apex:outputPanel id="paymentCurrency2" layout="block" styleClass="currencyHolder">
						<DIV id="currencyValueArea2" >
							<apex:outputText id="currencyValue2" value="{!viewstate.PaymentTemplate.Currency}"/>
							<input type="button" value="{!$Label.codaPaymentTemplateNewChangeCurrency}" class="btn" onclick="CODA.toggleElements('currencyValueArea2','currencySelectorArea2')"/>
						</DIV> 
						<DIV id="currencySelectorArea2" class="hidden">
							<apex:selectList id="selectCur" value="{!viewstate.SelectCurrency2}" disabled="{!viewstate.CurrencyLocked}" multiselect="false" size="1">
								<apex:selectOptions value="{!viewstate.subscribedCurrencies}"/>
							</apex:selectList>
							<nobr>
								<apex:commandButton value="{!$Label.codaPaymentTemplateNewApply}" action="{!updateCurrencyFields}" onclick="CODA.forceDeleteQueue();CODA.indicatorOn('{!$Label.codaChangingCurrency}');" oncomplete="CODA.toggleElements('currencyValueArea2','currencySelectorArea2');CODA.indicatorOff();" disabled="{!viewstate.CurrencyLocked}" reRender="messagePanel,currencyvalue2,paymentCurrency2,currencySelectorArea2, accountsPanel"/>
								<input type="button" value="{!$Label.codaPaymentTemplateNewCancel}" class="btn" onclick="CODA.toggleElements('currencyValueArea2','currencySelectorArea2')"/>
							</nobr>
						</DIV>
						
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				
				<apex:pageBlockSectionItem datastyleClass="paymentMediaRadioWidth">
					<apex:outputLabel value="{!$ObjectType.c2g__codaPaymentTemplate__c.fields.c2g__PaymentMediaTypes__c.label}"/>
					<apex:outputPanel layout="block" style="position:absolute" id="paymentMediaPanel">
						<apex:selectRadio value="{!viewstate.paymentMedia}" style="margin-top:-5px;">
							<apex:selectOption itemLabel="{!$Label.codaPagePaymentTemplatePaper}" itemValue="Paper"/>
							<apex:selectOption itemLabel="{!$Label.codaPagePaymentTemplateElectronic}" itemValue="Electronic"/>
						</apex:selectRadio>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				
				
			</apex:pageBlockSection>
			<apex:pageBlockSection id="parametersPageBlockSection" title="{!$Label.codaPaymentTemplateNewSelectAccount}" collapsible="false" columns="1">
				<apex:pageBlockSectionItem datastyleClass="paymentTypeRadioWidth">
					<apex:outputLabel value="{!$ObjectType.c2g__codaPaymentTemplate__c.fields.c2g__PaymentTypes__c.label}"/>
					<apex:outputPanel layout="block" style="position:absolute" id="paymentTypePanel">
						<apex:selectRadio value="{!viewstate.paymentType}" style="margin-top:-5px;">
							<apex:selectOption itemLabel="{!$Label.codaPagePaymentTemplatePayments}" itemValue="Payments"/>
							<apex:selectOption itemLabel="{!$Label.codaPagePaymentTemplateCollections}" itemValue="Collections"/>
						</apex:selectRadio>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.c2g__codaPaymentTemplate__c.fields.c2g__GeneralLedgerAccount__c.label}"/>
					<apex:outputPanel id="GLApanel">
						<apex:inputField id="generalLedgerAccount" value="{!viewstate.lookup.dto.c2g__GeneralLedgerAccount__c}"/>
						<apex:actionFunction name="onChangeGeneralLedgerAccount" action="{!viewstate.loadAvailableAccounts}" oncomplete="CODA.indicatorOff();CODA.setExpanderIconState('edit');" reRender="messagePanel,generalLedgerAccount,accountsPanel,GLApanel"/>
						<script>
							CODA.addOnBlurEvent("{!$Component.generalLedgerAccount}", "{!$Label.codapaymentTemplateNewRefreshingAccountList}", onChangeGeneralLedgerAccount);
						</script>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem datastyleClass="radiowidth">
					<apex:outputLabel value="{!$Label.codaPaymentTemplateNewCurrencyMode}"/>
					<apex:outputPanel layout="block" style="position:absolute" id="currencyPanel">
						<apex:selectRadio value="{!viewstate.currencyMode}" style="margin-top:-5px;">
							<apex:actionSupport event="onclick" action="{!viewstate.loadAvailableAccounts}" onsubmit="CODA.indicatorOn('{!$Label.codaPaymentTemplateNewRefreshingAccountList2}')" oncomplete="CODA.indicatorOff()" reRender="messagePanel,accountsPanel"/>
							<apex:selectOption itemLabel="{!$Label.codaPaymentTemplateNewAccount}" itemValue="account"/>
							<apex:selectOption itemLabel="{!$Label.codaPaymentTemplateNewDocument}" itemValue="document"/>
						</apex:selectRadio>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Account.fields.c2g__CODAPaymentMethod__c.label}"/>
					<apex:outputPanel >
						<apex:inputField id="paymentMethod" value="{!viewstate.paymentTemplate.dto.c2g__PaymentMethod__c}"/>
						<apex:actionFunction name="onChangePaymentMethod" action="{!viewstate.loadAvailableAccounts}" oncomplete="CODA.indicatorOff();CODA.setExpanderIconState('edit');" reRender="messagePanel,accountsPanel"/>
						<script>
							CODA.addOnBlurEvent("{!$Component.PaymentMethod}", "{!$Label.codapaymentTemplateNewRefreshingAccountList3}", onChangePaymentMethod);
						</script>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputPanel id="accountsPanel">
						<apex:panelGrid columns="3" border="0" columnClasses="leftCol,centerCol,rightCol" styleClass="dualSelect">
							<apex:outputLabel value="{!$Label.codaPaymentTemplateNewAvailable}"/>
							<apex:outputLabel value=" "/>
							<apex:outputLabel value="{!$Label.codaPaymentTemplateNewSelected}"/>
							<apex:panelGroup >
								<apex:selectList value="{!viewstate.selectedAvailableAccounts}" multiselect="true" size="10">
									<apex:selectOptions value="{!viewstate.availableAccounts}"/>
								</apex:selectList>
							</apex:panelGroup>
							<apex:panelGroup >
								<apex:outputLabel value="{!$Label.codaPaymentTemplateNewAdd}"/>
								<apex:outputLabel >
									<apex:commandLink action="{!viewstate.addSelected}">
										<apex:image value="/s.gif" styleClass="rightArrowIcon" alt="{!$Label.codaPaymentTemplateNewAddSelected}"/>
									</apex:commandLink>
								</apex:outputLabel>
								<apex:outputLabel >
									<apex:commandLink action="{!viewstate.removeSelected}">
										<apex:image value="/s.gif" styleClass="leftArrowIcon" alt="{!$Label.codaPaymentTemplateNewRemoveSelected}"/>
									</apex:commandLink>
								</apex:outputLabel>
								<apex:outputLabel value="{!$Label.codaPaymentTemplateNewRemove}"/>
								<hr/>
								<apex:outputLabel value="{!$Label.codaPaymentTemplateNewAddAll}"/>
								<apex:outputLabel >
									<apex:commandLink action="{!viewstate.addAll}">
										<apex:image value="/s.gif" styleClass="rightArrowsIcon" alt="{!$Label.codaPaymentTemplateNewAddAll2}"/>
									</apex:commandLink>
								</apex:outputLabel>
								<apex:outputLabel >
									<apex:commandLink action="{!viewstate.removeAll}">
										<apex:image value="/s.gif" styleClass="leftArrowsIcon" alt="{!$Label.codaPaymentTemplateNewRemoveAll2}"/>
									</apex:commandLink>
								</apex:outputLabel>
								<apex:outputLabel value="{!$Label.codaPaymentTemplateNewRemoveAll}"/>
							</apex:panelGroup>
							<apex:panelGroup >
								<apex:selectList value="{!viewstate.selectedSelectedAccounts}" multiselect="true" size="10">
									<apex:selectOptions value="{!viewstate.selectedAccounts}"/>
								</apex:selectList>
							</apex:panelGroup>
						</apex:panelGrid>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
			<apex:pageBlockSection id="AnalysisBlockSection" title="{!$Label.codaPaymentTemplateAnalysis}" collapsible="false" columns="1">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.c2g__codaPaymentTemplate__c.fields.c2g__SettlementDiscountReceived__c.label}"/>
					<apex:outputPanel styleClass="holder">
						<apex:inputField id="settlementDiscount" value="{!viewstate.paymentTemplate.dto.c2g__SettlementDiscountReceived__c}"/>
						<a href="#" onclick="CODA.toggleHeaderExpand(this,'myex');return false;" title="{!$Label.codaToggleAnalysisArea}">
							<img src="/s.gif" width="16" height="16" class="extracollapsed_h" title="{!$Label.codaToggleAnalysisArea}"/>
						</a>
						<DIV id="myex" class="headerexpander">
							<apex:pageBlockSection title="{!$Label.codaAnalysis}" id="SDRheaderDimensionBlock" collapsible="false" columns="1">
								<apex:inputField id="SDRdimension1" value="{!viewstate.paymentTemplate.dto.c2g__SDRDimension1__c}" styleclass="analysisdata"/>
								<apex:inputField id="SDRdimension2" value="{!viewstate.paymentTemplate.dto.c2g__SDRDimension2__c}" styleclass="analysisdata"/>
								<apex:inputField id="SDRdimension3" value="{!viewstate.paymentTemplate.dto.c2g__SDRDimension3__c}" styleclass="analysisdata"/>
								<apex:inputField id="SDRdimension4" value="{!viewstate.paymentTemplate.dto.c2g__SDRDimension4__c}" styleclass="analysisdata"/>	
							</apex:pageBlockSection>
						</DIV>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.c2g__codaPaymentTemplate__c.fields.c2g__CurrencyWriteOff__c.label}"/>
					<apex:outputPanel styleClass="holder">
						<apex:inputField id="currencyWritteOf" value="{!viewstate.paymentTemplate.dto.c2g__CurrencyWriteOff__c}"/>
						<a href="#" onclick="CODA.toggleHeaderExpand(this,'myex2');return false;" title="{!$Label.codaToggleAnalysisArea}">
							<img src="/s.gif" width="16" height="16" class="extracollapsed_h" title="{!$Label.codaToggleAnalysisArea}"/>
						</a>
						<DIV id="myex2" class="headerexpander">
							<apex:pageBlockSection title="{!$Label.codaAnalysis}" id="CWOheaderDimensionBlock" collapsible="false" columns="1">
								<apex:inputField id="CWOdimension1" value="{!viewstate.paymentTemplate.dto.c2g__CWODimension1__c}" styleclass="analysisdata"/>
								<apex:inputField id="CWOdimension2" value="{!viewstate.paymentTemplate.dto.c2g__CWODimension2__c}" styleclass="analysisdata"/>
								<apex:inputField id="CWOdimension3" value="{!viewstate.paymentTemplate.dto.c2g__CWODimension3__c}" styleclass="analysisdata"/>
								<apex:inputField id="CWOdimension4" value="{!viewstate.paymentTemplate.dto.c2g__CWODimension4__c}" styleclass="analysisdata"/>	
							</apex:pageBlockSection>
						</DIV>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
		</apex:pageBlock>
		<script>
           	CODA.setExpanderIconState('edit');
        </script>
	</apex:form>
</apex:page>