<!-- codacashentryamenddocument -->
<apex:page standardController="c2g__codaCashEntry__c" extensions="c2g.CODACashEntryController">
	<script src="{!URLFOR($Resource.coda2go,'coda2go/web/script/lib.js')}" type="text/javascript"></script>
	<apex:stylesheet value="{!URLFOR($Resource.c2g__coda2go,'coda2go/web/css/style.css')}"/>
	<style>
		.extracollapsed { BACKGROUND-IMAGE: url( {!URLFOR($Resource.coda2go, 'coda2go/web/images/CollapsedExpanded.gif')}); } 
		.extraexpanded { BACKGROUND-IMAGE: url( {!URLFOR($Resource.coda2go, 'coda2go/web/images/CollapsedExpanded.gif')}); }
		.extracollapsed_h { BACKGROUND-IMAGE: url( {!URLFOR($Resource.coda2go, 'coda2go/web/images/CollapsedExpanded.gif')}); }
		.extraexpanded_h { BACKGROUND-IMAGE: url( {!URLFOR($Resource.coda2go, 'coda2go/web/images/CollapsedExpanded.gif')}); }
		.newlinebutton { background-image:url({!URLFOR($Resource.coda2go, 'coda2go/web/images/add.gif')}); }
		.pbError { background-image:url({!URLFOR($Resource.coda2go, 'coda2go/web/images/pbErrorIcon.gif')}); }
		.informationerrorblock { background-image:url({!URLFOR($Resource.coda2go, 'coda2go/web/images/pbErrorIconsm.gif')}); }
	</style>
	<apex:stylesheet value="{!URLFOR($Resource.c2g__front,'front/pages/CashEntry/CashEntry.css')}"/>
	<apex:form onsubmit="if(CODA2GoButtons.disableSaveButtons){ return CODA2GoButtons.disableSaveButtons(); }">
		<!-- Header -->
		<apex:sectionHeader title="{!$Label.codaPageCashEntryAmendDocument}" subtitle="{!viewstate.cashentry.dto.Name}" help="{!URLFOR('/apex/c2g__codahelploader?topicid=1015')}"/>
		
		<!-- CashEntry Detail -->
		<apex:pageBlock title="{!$Label.codaPageCashEntryViewCashEntryDetail}">
			<!-- Buttons -->
			<apex:pageBlockButtons >
				<!-- Hidden Buttons -->
				<apex:commandButton value="{!$Label.codaPageCashEntryAmendSave}" action="{!amendDocument}" id="save_h" styleclass="hiddensubmit"/>
				<apex:commandButton value="{!$Label.codaPageCashEntryAmendCancel}" action="{!cancel}" id="cancel_h" styleclass="hiddensubmit" immediate="true" reRender=""/>
				<!-- End of Hidden Buttons -->
				<apex:commandButton value="{!$Label.codaPageCashEntryAmendSave}" id="save" onclick="document.getElementById('{!$Component.save_h}').click();return;" rerender=""/>				
				<apex:commandButton value="{!$Label.codaPageCashEntryAmendCancel}" id="cancel" rerender="" onclick="if(!CODA.queing()){document.getElementById('{!$Component.cancel_h}').click()};return false;"/>
				<script>
					var CODA2GoButtons = new CODA2GoPage();
					var CODA2GoBtnSaveValue = "{!$Label.codaPageCashEntryViewProcessing}";
	                var discard = document.getElementById("{!$Component.save}");
	                var cancel = document.getElementById("{!$Component.cancel}");
	                CODA2GoButtons.initButtons([discard.id,cancel.id]);          

				</script>
			</apex:pageBlockButtons>
			<!-- Messages -->
			<apex:outputPanel id="messagePanel" layout="block">
				<apex:outputPanel id="errorPanel" layout="block" styleClass="pbError" rendered="{!viewstate.showErrorMessages}">
					<apex:messages />
					<apex:repeat value="{!viewstate.errorMessages}" var="errorMessage" rendered="{!viewstate.showErrorMessages}">
						<apex:outputText value="{!errorMessage}"/><br/>
					</apex:repeat>
				</apex:outputPanel>
			</apex:outputPanel>
			<!-- Main Section -->
			<apex:pageBlockSection title="{!$Label.codaPageCashEntryViewDetail}" columns="2" collapsible="false">
				<apex:outputField value="{!viewstate.cashentry.dto.c2g__Type__c}"/>
				
				<apex:pageBlockSectionItem >&nbsp;</apex:pageBlockSectionItem>
								
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.codaPageCashEntryViewBankAccount}"/>
					<apex:outputPanel styleClass="holder">
						<apex:outputField value="{!viewstate.cashentry.dto.c2g__BankAccount__c}"/>
						<span class="isoCode">
						<apex:outputText id="bankAccountCurrencyAsString" value="{!BankAccountCurrencyAsString}"/>
						</span>
						<a href="#" onclick="CODA.toggleHeaderExpand(this,'myex');return false;" title="{!$Label.codaPageCashEntryViewToggleAnalysisAre}">
							<img src="/s.gif" width="16" height="16" class="extracollapsed_h" title="{!$Label.codaPageCashEntryViewToggleAnalysisAre2}"/>
						</a>
						<DIV id="myex" class="headerexpander">
							<apex:pageBlockSection title="{!$Label.codaPageCashEntryViewBankAccountAnalys}" columns="1" collapsible="false">
								<apex:inputField value="{!viewstate.cashentry.dto.c2g__BankAccountDimension1__c}" rendered="{!viewstate.EnableEditDimensions}"/>
								<apex:outputField value="{!viewstate.cashentry.dto.c2g__BankAccountDimension1__c}" rendered="{!!viewstate.EnableEditDimensions}"/>
								<apex:inputField value="{!viewstate.cashentry.dto.c2g__BankAccountDimension2__c}" rendered="{!viewstate.EnableEditDimensions}"/>
								<apex:outputField value="{!viewstate.cashentry.dto.c2g__BankAccountDimension2__c}" rendered="{!!viewstate.EnableEditDimensions}"/>
								<apex:inputField value="{!viewstate.cashentry.dto.c2g__BankAccountDimension3__c}" rendered="{!viewstate.EnableEditDimensions}"/>
								<apex:outputField value="{!viewstate.cashentry.dto.c2g__BankAccountDimension3__c}" rendered="{!!viewstate.EnableEditDimensions}"/>
								<apex:inputField value="{!viewstate.cashentry.dto.c2g__BankAccountDimension4__c}" rendered="{!viewstate.EnableEditDimensions}"/>
								<apex:outputField value="{!viewstate.cashentry.dto.c2g__BankAccountDimension4__c}" rendered="{!!viewstate.EnableEditDimensions}"/>
							</apex:pageBlockSection>
						</DIV>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.codaPageCashEntryViewValue}" for="cashValue"/>
					<apex:outputPanel >
					<apex:outputText id="cashValue" value="{!viewstate.cashentry.value}" styleClass="widthNumeric alignright goblock"/>	
					<span class="isoCode">
  	               			<apex:outputText id="CashCurrency1" value="{!CashEntryCurrencyAsString}"/>
  	               		</span>				
  	               		</apex:outputPanel>					
				</apex:pageBlockSectionItem>
				
				<apex:outputField id="cashEntryDate" value="{!viewstate.cashentry.dto.c2g__Date__c}"/>
				
				<apex:pageBlockSectionItem >&nbsp;</apex:pageBlockSectionItem>
				
				<apex:outputField value="{!viewstate.cashentry.dto.c2g__Period__c}" id="period"/>
				
				<apex:pageBlockSectionItem >
                 
  					<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__BankAccountValue__c.label}" for="BankAccountValue"/>  	
  					 <apex:outputPanel >               	
  	               		<apex:outputText value="{!viewstate.cashentry.BankAccountValue}" id="BankAccountValue" styleClass="widthNumeric alignright goblock"/>
  	               		<span class="isoCode">
  	               		<apex:outputText id="bankAccountValueCurrency" value="{!BankAccountCurrencyAsString}"/>
  	               		</span>
  	               	</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.codaPageCashEntryViewReference}"/>
					<apex:outputPanel >
						<apex:inputField value="{!viewstate.cashentry.dto.c2g__Reference__c}"/>&nbsp;
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
  					<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__LineCharges__c.label}" for="LineCharges"/>
  	               	<apex:outputPanel >
  	               		<apex:outputText value="{!viewstate.cashentry.LineCharges}" id="LineCharges" styleClass="widthNumeric alignright goblock"/>
  	               		<span class="isoCode">
  	               		<apex:outputText id="lineChargesCurrency" value="{!BankAccountCurrencyAsString}"/>
  	               		</span>
  	               	</apex:outputPanel>
				 </apex:pageBlockSectionItem>
				
				<apex:outputField id="currency" value="{!viewstate.cashentry.dto.c2g__CashEntryCurrency__c}"/>
				
				<apex:pageBlockSectionItem >
  					<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__NetValue__c.label}" for="TotalNetValue"/>
  	               	<apex:outputPanel >
  	               	<apex:outputText value="{!viewstate.cashentry.NetValue}" id="TotalNetValue" styleClass="widthNumeric alignright goblock"/>
  	               	<span class="isoCode">
  	               	<apex:outputText id="netValueCurrency" value="{!BankAccountCurrencyAsString}"/>
  	               	</span>
  	               	</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				
				<apex:outputField value="{!viewstate.cashentry.dto.c2g__PaymentMethod__c}"/>
				
				<apex:pageBlockSectionItem >
  					<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__ChargesAmount__c.label}" for="ChargesAmount"/>
					<apex:outputPanel >
						<apex:outputText value="{!viewstate.cashentry.ChargesAmount}" id="ChargesAmount" styleClass="widthNumeric alignright goblock"/>
						<span class="isoCode">
  	               			<apex:outputText id="bankChargeCurrency" value="{!BankAccountCurrencyAsString}"/>
  	               		</span>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
                      <apex:outputLabel value="{!$Label.codaPageCashEntryNewChargesGLA}" for="chargesGLA"/>
                      <apex:outputPanel styleClass="holder">
                            <apex:outputField value="{!viewstate.cashentry.dto.c2g__ChargesGLA__c}"/> 
                            <a href="#" onclick="CODA.toggleHeaderExpand(this,'myex2');return false;" title="{!$Label.codaPageCashEntryViewToggleAnalysisAre}">
                                  <img src="/s.gif" width="16" height="16" class="extracollapsed_h" title="{!$Label.codaPageCashEntryViewToggleAnalysisAre2}"/>
                            </a>
                            <DIV id="myex2" class="headerexpander">
                                  <apex:pageBlockSection title="{!$Label.codaPageCashEntryNewChargesGLAAnalysi}" collapsible="false" columns="1">
                                        <apex:inputField id="ChargesGLADimension1" value="{!viewstate.cashentry.dto.c2g__ChargesGLADimension1__c}" styleClass="analysisdata" rendered="{!viewstate.EnableEditDimensions}"/>
                                        <apex:outputField id="ChargesGLADimension12" value="{!viewstate.cashentry.dto.c2g__ChargesGLADimension1__c}" styleClass="analysisdata" rendered="{!!viewstate.EnableEditDimensions}"/>
                                        <apex:inputField id="ChargesGLADimension2" value="{!viewstate.cashentry.dto.c2g__ChargesGLADimension2__c}" styleClass="analysisdata" rendered="{!viewstate.EnableEditDimensions}"/>
                                        <apex:outputField id="ChargesGLADimension22" value="{!viewstate.cashentry.dto.c2g__ChargesGLADimension2__c}" styleClass="analysisdata" rendered="{!!viewstate.EnableEditDimensions}"/>
                                        <apex:inputField id="ChargesGLADimension3" value="{!viewstate.cashentry.dto.c2g__ChargesGLADimension3__c}" styleClass="analysisdata" rendered="{!viewstate.EnableEditDimensions}"/>
                                        <apex:outputField id="ChargesGLADimension32" value="{!viewstate.cashentry.dto.c2g__ChargesGLADimension3__c}" styleClass="analysisdata" rendered="{!!viewstate.EnableEditDimensions}"/>
                                        <apex:inputField id="ChargesGLADimension4" value="{!viewstate.cashentry.dto.c2g__ChargesGLADimension4__c}" styleClass="analysisdata" rendered="{!viewstate.EnableEditDimensions}"/>
                                        <apex:outputField id="ChargesGLADimension42" value="{!viewstate.cashentry.dto.c2g__ChargesGLADimension4__c}" styleClass="analysisdata" rendered="{!!viewstate.EnableEditDimensions}"/>
                                  </apex:pageBlockSection> 
                            </DIV>
                      </apex:outputPanel>
                </apex:pageBlockSectionItem>
				
				
				<apex:pageBlockSectionItem >
  					<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__NetBanked__c.label}" for="NetBanked"/>
					<apex:outputPanel >
						<apex:outputText value="{!NetValueAsDecimal2}" id="NetBanked" styleClass="widthNumeric alignright goblock"/>
						<span class="isoCode">
  	               			<apex:outputText id="netBankedCurrency" value="{!BankAccountCurrencyAsString}"/>
  	               		</span>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.codaPageCashEntryViewDescription}"/>
					<apex:outputPanel >
						<apex:inputField value="{!viewstate.cashentry.dto.c2g__Description__c}" style="width:90%;height:60px;"/>&nbsp;
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				
                <apex:pageBlockSectionItem >
  					<apex:outputPanel >
  						<br/>
  						<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__TotalCharges__c.label}" for="totalCharges"/>
  					</apex:outputPanel>
					<apex:outputPanel >
						<br/>
						<apex:outputText value="{!viewstate.cashentry.TotalCharges}" id="totalCharges" styleClass="widthNumeric alignright goblock"/>
						<span class="isoCode">
  	               			<apex:outputText id="totalChargesCurrency" value="{!BankAccountCurrencyAsString}"/>
  	               		</span>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				
				<apex:outputField value="{!viewstate.cashentry.dto.c2g__Transaction__c}"/>
				<!-- Dimension Detail -->
																			
				<!--apex:outputField value="{!viewstate.cashentry.dto.Name}"/-->
			</apex:pageBlockSection>
			
			<!--  AGRDEL DEBUG -->
            <apex:pageBlockSection title="{!$Label.codaPageCashEntryViewAccountLines}" columns="1" collapsible="false">
                        <apex:dataTable id="dtLineItems" value="{!viewstate.cashEntry.cashEntryLineItems}" var="cashEntryLineItem" rowClasses="odd,even" headerClass="headerRow" styleClass="list listNew detailListnoPadding" border="0" onRowMouseOver="if (window.hiOn){hiOn(this);}" onRowMouseOut="if (window.hiOff){hiOff(this);}"
                        columnsWidth="40,,135,110,120,120,120,120"
                        >
							 <apex:column styleClass="widthlinenumbers">
                                   <apex:facet name="header">&nbsp;</apex:facet>
                                   <apex:outputPanel styleClass="holder">
                                         <nobr><apex:outputField value="{!cashEntryLineItem.dto.c2g__LineNumber__c}"/><a href="#" onclick="CODA.toggleExtraArea('{!$Component.extra}','{!$Component.dtLineItems}',this,'dtLineItems');return false" title="{!$Label.codaToggleNotesAndAnalysisArea}">
                                               <apex:image id="expandcollapse" value="/s.gif" width="16" height="16" styleClass="extracollapsed"/></a></nobr>
                                         <apex:outputPanel layout="block" styleClass="extra" id="extra">
                                         <apex:outputPanel layout="block" styleClass="headerdetails">
                                               <apex:pageBlockSection title="{!$Label.codaNotesAndAnalysis}" id="lineItemDimensionBlock" collapsible="false" columns="2">
                                               
                                               <apex:panelGrid width="100%" columns="2" border="0" columnClasses="labelCol first, dataCol first">
                                                           <apex:outputLabel value="{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__AccountDimension1__c.label}" for="lineDim1" styleclass="paddtop"/>
                                                           <apex:inputField value="{!cashEntryLineItem.dto.c2g__AccountDimension1__c}" id="lineDim1" styleclass="analysisdata" rendered="{!viewstate.EnableEditDimensions}"/>
                                                           <apex:outputField value="{!cashEntryLineItem.dto.c2g__AccountDimension1__c}" id="lineDim12" styleclass="analysisdata" rendered="{!!viewstate.EnableEditDimensions}"/>
                                                           <apex:outputLabel value="{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__AccountDimension2__c.label}" for="lineDim2" styleclass="paddtop"/>
                                                           <apex:inputField value="{!cashEntryLineItem.dto.c2g__AccountDimension2__c}" id="lineDim2" styleclass="analysisdata" rendered="{!viewstate.EnableEditDimensions}"/>
                                                           <apex:outputField value="{!cashEntryLineItem.dto.c2g__AccountDimension2__c}" id="lineDim22" styleclass="analysisdata" rendered="{!!viewstate.EnableEditDimensions}"/>
                                                           <apex:outputLabel value="{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__AccountDimension3__c.label}" for="lineDim3" styleclass="paddtop"/>
                                                           <apex:inputField value="{!cashEntryLineItem.dto.c2g__AccountDimension3__c}" id="lineDim3" styleclass="analysisdata" rendered="{!viewstate.EnableEditDimensions}"/>
                                                           <apex:outputField value="{!cashEntryLineItem.dto.c2g__AccountDimension3__c}" id="lineDim32" styleclass="analysisdata" rendered="{!!viewstate.EnableEditDimensions}"/>
                                                           <apex:outputLabel value="{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__AccountDimension4__c.label}" for="lineDim4" styleclass="paddtop"/>
                                                           <apex:inputField value="{!cashEntryLineItem.dto.c2g__AccountDimension4__c}" id="lineDim4" styleclass="analysisdata" rendered="{!viewstate.EnableEditDimensions}"/>
                                                           <apex:outputField value="{!cashEntryLineItem.dto.c2g__AccountDimension4__c}" id="lineDim42" styleclass="analysisdata" rendered="{!!viewstate.EnableEditDimensions}"/>
                                               </apex:panelGrid>
                                               
                                               <apex:panelGrid width="100%" columns="2" border="0" columnClasses="labelCol first, dataCol first">
                                                           <apex:outputLabel value="{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__LineDescription__c.label}" for="lineDesc" styleclass="paddtop"/>
                                                           <apex:inputField value="{!cashEntryLineItem.dto.c2g__LineDescription__c}" style="width:90%;height:100px;" id="lineDesc" styleclass="analysisdata"/>
                                               </apex:panelGrid>
                                                                                                                                             
                                               </apex:pageBlockSection>
                                         </apex:outputPanel>
                                   </apex:outputPanel>
                                   </apex:outputPanel>
                             </apex:column>
                             
                             <apex:column >
                                   <apex:facet name="header">{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__Account__c.label}</apex:facet>
                                   <apex:outputField id="account" value="{!cashEntryLineItem.dto.c2g__Account__c}"/>
                             </apex:column>
                             
                             
                             <apex:column >
                                   <apex:facet name="header">{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__AccountReference__c.label}</apex:facet>
                                   <apex:inputField id="accountReference" value="{!cashEntryLineItem.dto.c2g__AccountReference__c}"/>
                             </apex:column>
                             
                             <apex:column >
                                   <apex:facet name="header">{!$Label.codaCashEntryPaymentMethod}</apex:facet>
                                   <apex:outputField id="accountPaymentMethod" value="{!cashEntryLineItem.dto.c2g__AccountPaymentMethod__c}"/>
                             </apex:column>
                             
                            <apex:column headerClass="alignright" styleClass="alignright" style="padding-right:7px">
                                   <apex:facet name="header"><span class="headerRightPadding">{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__CashEntryValue__c.label}</span></apex:facet>
                                   <apex:outputField id="CashEntryValue" value="{!cashEntryLineItem.dto.c2g__CashEntryValue__c}"/>
                             </apex:column>
                             
                             <apex:column headerClass="alignright" styleClass="alignright" style="padding-right:7px">
                                   <apex:facet name="header"><span class="headerRightPadding">{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__BankAccountValue__c.label}</span></apex:facet>
                                   <apex:outputField id="LineBankAccountValue" value="{!cashEntryLineItem.dto.c2g__BankAccountValue__c}"/>
                             </apex:column>  
                             
                             <apex:column headerClass="alignright" styleClass="alignright" style="padding-right:7px">
                                   <apex:facet name="header"><span class="headerRightPadding">{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__Charges__c.label}</span></apex:facet>
                                   <apex:outputField id="Charges" value="{!cashEntryLineItem.dto.c2g__Charges__c}"/>
                             </apex:column>
                             <apex:column headerClass="alignright" styleClass="alignright" style="padding-right:7px">                             		
                                   <apex:facet name="header"><span class="headerRightPadding">{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__NetValue__c.label}</span></apex:facet>
                                   <apex:outputField id="NetValue" value="{!cashEntryLineItem.dto.c2g__NetValue__c}"/>
                             </apex:column> 
                             
                        </apex:dataTable>
          </apex:pageBlockSection>
		  <!--  AGRDEL -->
		  
		  <!-- Status -->
		  <apex:pageBlockSection title="{!$Label.codaPageCashEntryViewCashEntryStatus}" columns="2" collapsible="false">
		  	  <apex:outputField value="{!viewstate.cashentry.dto.c2g__Status__c}"/>
			  <apex:outputField value="{!viewstate.cashentry.dto.c2g__DiscardReason__c}"/>
		  </apex:pageBlockSection>
			
		</apex:pageBlock>
		<script>
		CODA.setExpanderIconState('view');
		</script>
	</apex:form>
	<!-- Notes and Attachments -->
	<apex:relatedList list="NotesAndAttachments"/>
</apex:page>