<!-- codapaymenttemplateview -->
<apex:page standardController="c2g__codaPaymentTemplate__c" extensions="c2g.CODAPaymentTemplateController">
	<script src="{!URLFOR($Resource.coda2go,'coda2go/web/script/lib.js')}" type="text/javascript"></script>
	<apex:stylesheet value="{!URLFOR($Resource.c2g__coda2go,'coda2go/web/css/style.css')}"/>
	<style>
	.extracollapsed
	{
		BACKGROUND-IMAGE:url({!URLFOR($Resource.coda2go,'coda2go/web/images/CollapsedExpanded.gif')});
	}
	.extraexpanded
	{
		BACKGROUND-IMAGE:url({!URLFOR($Resource.coda2go,'coda2go/web/images/CollapsedExpanded.gif')});
	}
	.extracollapsed_h
	{
		BACKGROUND-IMAGE:url({!URLFOR($Resource.coda2go,'coda2go/web/images/CollapsedExpanded.gif')});
	}
	.extraexpanded_h
	{
		BACKGROUND-IMAGE:url({!URLFOR($Resource.coda2go,'coda2go/web/images/CollapsedExpanded.gif')});
	}
	.pbError
	{
		BACKGROUND-IMAGE:url({!URLFOR($Resource.coda2go,'coda2go/web/images/pbErrorIcon.gif')});
	}
	</style>
	<apex:form onsubmit="if(CODA2GoButtons.disableSaveButtons){return CODA2GoButtons.disableSaveButtons(); }">
		<!-- Header -->
		<apex:sectionHeader title="{!$Label.codaPaymentTemplateViewPaymentTemplate}" subtitle="{!viewstate.paymentTemplate.dto.Name}" help="{!URLFOR('/apex/c2g__codahelploader?topicid=1020')}"/>
		<!-- Back to Payment Template -->
		<div class="goBreadcrumb">
		&nbsp;&#171;<a href="{!URLFOR($Action.codaPaymentTemplate__c.Tab,$ObjectType.codaPaymentTemplate__c)}">{!$Label.codapaymentTemplateViewBackToList}</a>
		</div>
		<apex:pageBlock title="{!$Label.codaPaymentTemplateViewPaymentTemplateDetail}" id="paymentTemplateDetail" mode="view">
			<!-- Buttons -->
			<apex:pageBlockButtons >
				<!-- Hidden Buttons -->
				<apex:commandButton value="{!$Label.codaPaymentTemplateViewEdit}" id="edit_h" action="{!edit}" styleclass="hiddensubmit"/>
				<apex:commandButton value="{!$Label.codaPaymentTemplateViewDelete}" id="remove_h" action="{!delete}" styleclass="hiddensubmit"/>
				<!-- Normal Buttons -->
				<apex:commandButton value="{!$Label.codaPaymentTemplateViewEdit}" id="edit" onclick="document.getElementById('{!$Component.edit_h}').click();return false;"/>
				<apex:commandButton value="{!$Label.codaPaymentTemplateViewDelete2}" id="remove" onclick="if((Modal.confirm && Modal.confirm('{!$Label.codaPaymentTemplateViewAreYouSure}'))||(!Modal.confirm && window.confirm('{!$Label.codaPaymentTemplateViewAreYouSure}'))){document.getElementById('{!$Component.remove_h}').click()};return false;"/>
				<script>
					var CODA2GoButtons = new CODA2GoPage();
					var CODA2GoBtnSaveValue = "{!$Label.codapaymentTemplateViewProcessing}"
					var edit = document.getElementById("{!$Component.edit}");
					var remove = document.getElementById("{!$Component.remove}");
					CODA2GoButtons.initButtons([edit.id,remove.id]);
				</script>
			</apex:pageBlockButtons>
			<!-- Messages -->		
			<apex:outputPanel id="messagePanel" layout="block">
				<apex:outputPanel id="errorPanel" layout="block" styleClass="pbError" rendered="{!viewstate.showErrorMessages}">
					<apex:repeat value="{!viewstate.errorMessages}" var="errorMessage" rendered="{!viewstate.showErrorMessages}">
						<apex:outputText value="{!errorMessage}"/><br/>
					</apex:repeat>
				</apex:outputPanel>
			</apex:outputPanel>
			<!-- Detail -->
			<apex:pageBlockSection id="identificationPageBlockSection" title="{!$Label.codaPaymentTemplateViewTemplateIdentification}" collapsible="true" columns="2">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.codaPaymentTemplateViewName}" for="name"/>
					<apex:outputPanel >
						<apex:outputField id="name" value="{!viewstate.paymentTemplate.dto.Name}"/>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:outputField id="description" value="{!viewstate.paymentTemplate.dto.c2g__Description__c}" style="width:90%;height:60px;"/>
			</apex:pageBlockSection>
			<apex:pageBlockSection id="paymentControlPageBlockSection" title="{!$Label.codaPaymentTemplateViewPaymentControl}" collapsible="true" columns="2">
				<apex:outputField id="bankAccount" value="{!viewstate.paymentTemplate.dto.c2g__BankAccount__c}"/>
				<apex:outputField id="paymentCurrency" value="{!viewstate.paymentTemplate.dto.c2g__PaymentCurrency__c}"/>
				<apex:pageBlockSectionItem >
				<apex:outputLabel value="{!$ObjectType.c2g__codaPaymentTemplate__c.fields.c2g__PaymentMediaTypes__c.label}"/>
				<apex:outputText id="paymentMedia" value="{!viewstate.paymentTemplate.PaymentMedia}"/>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
			<apex:pageBlockSection id="parametersPageBlockSection" title="{!$Label.codaPaymentTemplateViewSelectedAccount}" collapsible="true" columns="1">
				<apex:pageBlockSectionItem >
				<apex:outputLabel value="{!$ObjectType.c2g__codaPaymentTemplate__c.fields.c2g__PaymentTypes__c.label}"/>
				<apex:outputText id="paymentType" value="{!viewstate.paymentTemplate.PaymentType}"/>
				</apex:pageBlockSectionItem>
				<apex:outputField id="gla" value="{!viewstate.paymentTemplate.dto.c2g__GeneralLedgerAccount__c}"/>
				<apex:outputField id="CurrencyMode" value="{!viewstate.paymentTemplate.dto.c2g__CurrencyMode__c}"/>
				<apex:outputField id="paymentMethod" value="{!viewstate.paymentTemplate.dto.c2g__PaymentMethod__c}"/>
				<apex:pageBlockSectionItem >
					<apex:outputPanel id="accountsPanel">
						<apex:panelGrid columns="1" border="0" columnClasses="leftCol" styleClass="dualSelect">
							<apex:outputLabel value="{!$Label.codaPaymentTemplateViewSelected}"/>
							<apex:panelGroup >
								<apex:selectList value="{!viewstate.selectedSelectedAccounts}" multiselect="true" size="10" disabled="true">
									<apex:selectOptions value="{!viewstate.selectedAccounts}"/>
								</apex:selectList>
							</apex:panelGroup>
						</apex:panelGrid>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
			<apex:pageBlockSection id="AnalysisBlockSection" title="{!$Label.codaPaymentTemplateAnalysis}" collapsible="true" columns="1">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.c2g__codaPaymentTemplate__c.fields.c2g__SettlementDiscountReceived__c.label}"/>
					<apex:outputPanel styleClass="holder">
						<apex:outputField id="settlementDiscount" value="{!viewstate.paymentTemplate.dto.c2g__SettlementDiscountReceived__c}"/>
						<a href="#" onclick="CODA.toggleHeaderExpand(this,'myex');return false;" title="{!$Label.codaToggleAnalysisArea}">
							<img src="/s.gif" width="16" height="16" class="extracollapsed_h" title="{!$Label.codaToggleAnalysisArea}"/>
						</a>
						<DIV id="myex" class="headerexpander">
							<apex:pageBlockSection title="{!$Label.codaAnalysis}" id="SDRheaderDimensionBlock" collapsible="false" columns="1">
								<apex:outputField value="{!viewstate.paymentTemplate.dto.c2g__SDRDimension1__c}"/>
								<apex:outputField value="{!viewstate.paymentTemplate.dto.c2g__SDRDimension2__c}"/>
								<apex:outputField value="{!viewstate.paymentTemplate.dto.c2g__SDRDimension3__c}"/>
								<apex:outputField value="{!viewstate.paymentTemplate.dto.c2g__SDRDimension4__c}"/>	
							</apex:pageBlockSection>
						</DIV>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.c2g__codaPaymentTemplate__c.fields.c2g__CurrencyWriteOff__c.label}"/>
					<apex:outputPanel styleClass="holder">
						<apex:outputField id="currencyWritteOf" value="{!viewstate.paymentTemplate.dto.c2g__CurrencyWriteOff__c}"/>
						<a href="#" onclick="CODA.toggleHeaderExpand(this,'myex2');return false;" title="{!$Label.codaToggleAnalysisArea}">
							<img src="/s.gif" width="16" height="16" class="extracollapsed_h" title="{!$Label.codaToggleAnalysisArea}"/>
						</a>
						<DIV id="myex2" class="headerexpander">
							<apex:pageBlockSection title="{!$Label.codaAnalysis}" id="CWOheaderDimensionBlock" collapsible="false" columns="1">
								<apex:outputField value="{!viewstate.paymentTemplate.dto.c2g__CWODimension1__c}"/>
								<apex:outputField value="{!viewstate.paymentTemplate.dto.c2g__CWODimension2__c}"/>
								<apex:outputField value="{!viewstate.paymentTemplate.dto.c2g__CWODimension3__c}"/>
								<apex:outputField value="{!viewstate.paymentTemplate.dto.c2g__CWODimension4__c}"/>	
							</apex:pageBlockSection>
						</DIV>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
		</apex:pageBlock>
		<script>
           	CODA.setExpanderIconState('view');
        </script>
	</apex:form>
	
	<!-- Notes and Attachments -->
	<apex:relatedList list="NotesAndAttachments"/>
	
</apex:page>