<!-- codacashentrynew -->
<apex:page standardController="c2g__codaCashEntry__c" extensions="c2g.CODACashEntryController">
	<script src="{!URLFOR($Resource.coda2go,'coda2go/web/script/lib.js')}" type="text/javascript"></script>  
	<script src="{!URLFOR($Resource.coda2go,'coda2go/web/script/codacashentry.js')}" type="text/javascript"></script>
	<apex:stylesheet value="{!URLFOR($Resource.c2g__coda2go,'coda2go/web/css/style.css')}"/>
	<style>
		.extracollapsed { BACKGROUND-IMAGE: url( {!URLFOR($Resource.coda2go, 'coda2go/web/images/CollapsedExpanded.gif')}); } 
		.extraexpanded { BACKGROUND-IMAGE: url( {!URLFOR($Resource.coda2go, 'coda2go/web/images/CollapsedExpanded.gif')}); }
		.extracollapsed_h { BACKGROUND-IMAGE: url( {!URLFOR($Resource.coda2go, 'coda2go/web/images/CollapsedExpanded.gif')}); }
		.extraexpanded_h { BACKGROUND-IMAGE: url( {!URLFOR($Resource.coda2go, 'coda2go/web/images/CollapsedExpanded.gif')}); }
		.newlinebutton { background-image:url({!URLFOR($Resource.coda2go, 'coda2go/web/images/add.gif')}); }
		.pbError { background-image:url({!URLFOR($Resource.coda2go, 'coda2go/web/images/pbErrorIcon.gif')}); }
		.informationerrorblock { background-image:url({!URLFOR($Resource.coda2go, 'coda2go/web/images/pbErrorIconsm.gif')}); }
	</style>
	<apex:stylesheet value="{!URLFOR($Resource.c2g__front,'front/pages/CashEntry/CashEntry.css')}"/>
	<apex:form onsubmit="if(CODA2GoButtons.disableSaveButtons){ return CODA2GoButtons.disableSaveButtons(); }">
		<DIV id="indicator"><img src="{!URLFOR($Resource.coda2go, 'coda2go/web/images/waiting.gif')}" align="absMiddle"/><span id="indicatortext"></span></DIV>
		<!-- Header -->
		<apex:sectionHeader title="{!$Label.codaPageCashEntryNewCashEntry}" subtitle="{!$Label.codaPageCashEntryNewNew}" help="{!URLFOR('/apex/c2g__codahelploader?topicid=1016')}"/>
		<!-- Back to Listing -->
		<DIV class="goBreadcrumb">
		&nbsp;&#171;<a href="{!URLFOR($Action.codaCashEntry__c.Tab,$ObjectType.codaCashEntry__c)}">{!$Label.codaPageCashEntryNewBackToList}</a>
		</DIV>
		<!-- CashEntry Detail -->
		<apex:pageBlock title="{!$Label.codaPageCashEntryNewCashEntryDetail}" id="cashEntryBlock" mode="edit">
			<!-- Buttons -->
			<apex:pageBlockButtons >
				<!-- Hidden Buttons -->
				<apex:commandButton value="{!$Label.codaPageCashEntryNewSave}" action="{!save}" id="save_h" styleclass="hiddensubmit"/>
				<apex:commandButton value="{!$Label.codaPageCashEntryNewSaveNew}" action="{!saveAndNew}" id="save_new_h" styleclass="hiddensubmit"/>
				<apex:commandButton value="{!$Label.codaPageCashEntryNewCancel}" action="{!cancel}" id="cancel_h" styleclass="hiddensubmit" immediate="true" reRender=""/>
				<!-- End of Hidden Buttons -->
				<apex:commandButton value="{!$Label.codaPageCashEntryNewSave2}" id="save" onclick="document.getElementById('{!$Component.save_h}').click();return false;" rerender=""/>
				<apex:commandButton value="{!$Label.codaPageCashEntryNewSaveNew2}" id="save_new" onclick="document.getElementById('{!$Component.save_new_h}').click();return false;" rerender=""/>                        
				<apex:commandButton value="{!$Label.codaPageCashEntryNewCancel}" id="cancel" rerender="" onclick="if(!CODA.queing()){document.getElementById('{!$Component.cancel_h}').click()};return false;"/>
				<script>
					var CODA2GoButtons = new CODA2GoPage();
					var CODA2GoBtnSaveValue = "{!$Label.codaPageCashEntryNewProcessing}"
					var save = document.getElementById("{!$Component.save}");
					var save_new = document.getElementById("{!$Component.save_new}");
					var cancel = document.getElementById("{!$Component.cancel}");
					CODA2GoButtons.initButtons([save.id,save_new.id,cancel.id]);
				</script>
			</apex:pageBlockButtons>
			<!-- Messages -->
			<apex:include pageName="c2g__codamulticompanymodewarning"  rendered="{!viewstate.reportingModeMessage}"/> 
			<apex:include pageName="c2g__codacompanymismatchwarning"  rendered="{!viewstate.ownerCmpErr}"/>
			<apex:outputPanel id="messagePanel" layout="block">
				<apex:outputPanel id="errorPanel" layout="block" styleClass="pbError" rendered="{!viewstate.showErrorMessages}">
					<!--apex:messages/-->
					<apex:repeat value="{!viewstate.errorMessages}" var="errorMessage" rendered="{!viewstate.showErrorMessages}">
						<apex:outputText value="{!errorMessage}"/><br/>
					</apex:repeat>
				</apex:outputPanel>
			</apex:outputPanel>
			<!-- Main Section -->
			<apex:pageBlockSection title="{!$Label.codaPageCashEntryNewDetail}" id="cashEntryDetail" columns="2" collapsible="false">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__Type__c.label}"/>
					<apex:selectList id="cashEntryType" value="{!viewstate.Type}" disabled="{!viewstate.haveLineItem}" multiselect="false" size="1">
						<apex:selectOptions value="{!viewstate.subscribedTypes}"/> 
					</apex:selectList>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<span>&nbsp;</span>
					<apex:commandButton value="{!$Label.codaPageCashEntryNewUpdate}" id="calculate" styleClass="widthNumeric" action="{!callcalculateValue}" onclick="CODA.indicatorOn('{!$Label.codaPageCashEntryNewCalculatingValue}');" oncomplete="CODA.indicatorOff();" reRender="messagePanel,cashValue,NetBanked,totalCharges,BankAccountValue,LineCharges,TotalNetValue,lineItemSection,dtLineItems,LineBankAccountValue,CashEntryValue"/>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.codaPageCashEntryNewBankAccount}" for="bankAccount"/>
					<apex:outputPanel styleClass="holder">
						<apex:outputPanel id="bankAccountPanel">
							<apex:actionRegion id="bankAccountRegion">
								<apex:inputField id="bankAccount" required="true" value="{!viewstate.cashentry.dto.c2g__BankAccount__c}"/> 
								<apex:actionFunction name="onChangeBankAccount" action="{!updateBankAccountDetails}" reRender="messagePanel,CashCurrency1,bankAccountPanel,bankAccountRegion,bankAccount,currencyPanel,cashentrycurrency,netValueCurrency,bankChargeCurrency,netBankedCurrency,totalchargesCurrency,bankAccountCurrencyAsString,bankAccountValueCurrency,lineChargesCurrency,CashEntryValue,chargesGLA,blockGLA,bankDims" oncomplete="CODA.resumeQueueProcessing();CODA.setExpanderIconState('edit');"/>
								<script>
									CODA.addQueuedOnBlurEvent(null, "{!$Component.bankAccount}", "{!$Label.codaPageCashEntryNewRetrievingBankAccI}", onChangeBankAccount,true);
								</script>
							</apex:actionRegion>    
						</apex:outputPanel>
						<span class="isoCode">
						<apex:outputText id="bankAccountCurrencyAsString" value="{!BankAccountCurrencyAsString}"/>
						</span>
						<a href="#" onclick="CODA.toggleHeaderExpand(this,'myex');return false;" title="{!$Label.codaPageCashEntryNewToggleAnalysisArea}">
							<img src="/s.gif" width="16" height="16" class="extracollapsed_h" title="{!$Label.codaPageCashEntryNewToggleAnalysisArea2}"/>
						</a>
						<div id="myex" class="headerexpander">
							<apex:pageBlockSection id="bankDims" title="{!$Label.codaPageCashEntryNewBankAccountAnalysi}" collapsible="false" columns="1">
								<apex:inputField id="bankAccountDimension1" value="{!viewstate.cashentry.dto.c2g__BankAccountDimension1__c}" styleClass="analysisdata"/>
								<apex:inputField id="bankAccountDimension2" value="{!viewstate.cashentry.dto.c2g__BankAccountDimension2__c}" styleClass="analysisdata"/>
								<apex:inputField id="bankAccountDimension3" value="{!viewstate.cashentry.dto.c2g__BankAccountDimension3__c}" styleClass="analysisdata"/>
								<apex:inputField id="bankAccountDimension4" value="{!viewstate.cashentry.dto.c2g__BankAccountDimension4__c}" styleClass="analysisdata"/>
							</apex:pageBlockSection> 
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
                  
                  <apex:pageBlockSectionItem >
                       <apex:outputLabel value="{!$Label.codaPageCashEntryNewValue}" for="cashValue"/>
                       <apex:outputPanel >                             
                             <apex:outputText value="{!viewstate.cashentry.value}" id="cashValue" styleClass="widthNumeric alignright goblock"/>
                             <span class="isoCode">
                             <apex:outputText id="CashCurrency1" value="{!CashEntryCurrencyAsString}"/>
                             </span>
                       </apex:outputPanel>
                  </apex:pageBlockSectionItem>
                  
                  <apex:pageBlockSectionItem >
  					<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__Date__c.label}" for="cashEntryDate"/>
	<apex:outputPanel layout="block" styleClass="requiredInput">
		<apex:inputField id="cashEntryDate" value="{!viewstate.cashentry.dto.c2g__Date__c}"/>
		<apex:actionFunction name="onChangeDate" action="{!calculatePeriod}" reRender="messagePanel,cashEntryDetail,period" oncomplete="CODA.resumeQueueProcessing();"/>
		<script>
			CODA.addToFocusEvent("{!$Component.cashEntryDate}");
			CODA.addQueuedOnBlurEvent(null, "{!$Component.cashEntryDate}", "{!$Label.codaPageCashEntryNewRetrievingPeriod}", onChangeDate,true);
		</script>
	</apex:outputPanel>
</apex:pageBlockSectionItem>
                  
<apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                  
                   <apex:pageBlockSectionItem >
                   	<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__Period__c.label}" for="period"/>
                   	<apex:outputPanel styleClass="requiredInput">
                   		<div class="requiredInput">
                    		<div class="requiredBlock"></div>
                    		<apex:inputField value="{!viewstate.cashentry.dto.c2g__Period__c}" id="period"/>
                    	</div>
                    </apex:outputPanel>
                   </apex:pageBlockSectionItem>
                  
                  <apex:pageBlockSectionItem >
                 
  					<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__BankAccountValue__c.label}" for="BankAccountValue"/>  	
  					 <apex:outputPanel >               	
  	               		<apex:outputText value="{!viewstate.cashentry.BankAccountValue}" id="BankAccountValue" styleClass="widthNumeric alignright goblock"/>
  	               		<span class="isoCode">
  	               		<apex:outputText id="bankAccountValueCurrency" value="{!BankAccountCurrencyAsString}"/>
  	               		</span>
  	               	</apex:outputPanel>
</apex:pageBlockSectionItem>
                  
                  <apex:inputField id="reference" value="{!viewstate.cashentry.dto.c2g__Reference__c}"/> 	
                  
                 			
                  <apex:pageBlockSectionItem >
  					<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__LineCharges__c.label}" for="LineCharges"/>
  	               	<apex:outputPanel >
  	               		<apex:outputText value="{!viewstate.cashentry.LineCharges}" id="LineCharges" styleClass="widthNumeric alignright goblock"/>
  	               		<span class="isoCode">
  	               		<apex:outputText id="lineChargesCurrency" value="{!BankAccountCurrencyAsString}"/>
  	               		</span>
  	               	</apex:outputPanel>
				 </apex:pageBlockSectionItem>
                  
                  
                  <apex:pageBlockSectionItem id="currencyBlock">
				  <apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__CashEntryCurrency__c.label}" for="currency"/>
                   <apex:outputPanel id="currencyPanel">
                   	<apex:outputPanel styleClass="requiredInput" rendered="{!!viewState.haveLineItem}">
                    		<div class="requiredInput">
                     		<div class="requiredBlock"></div>                     							
							<apex:actionRegion id="cashEntryCurrencyRegion">
								<apex:inputField id="cashentrycurrency" value="{!viewstate.cashEntry.dto.c2g__CashEntryCurrency__c}"/> 
								<apex:actionFunction name="onChangeCashEntryCurrency" action="{!updateCashEntryCurrency}" reRender="currencyBlock,messagePanel,CashCurrency1" oncomplete="CODA.resumeQueueProcessing();"/>
								<script>
									CODA.addQueuedOnBlurEvent(null, "{!$Component.cashentrycurrency}", "{!$Label.codaCashEntryUpdateCurrency}", onChangeCashEntryCurrency,true);
								</script>
							</apex:actionRegion> 
                     	</div>
                    	</apex:outputPanel>
                   	<apex:outputText id="currency_h" value="{!viewstate.CashEntryCurrencyName}" rendered="{!viewState.haveLineItem}"/>
                   </apex:outputPanel>
                </apex:pageBlockSectionItem>	                    
                  
                 <apex:pageBlockSectionItem >
  					<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__NetValue__c.label}" for="TotalNetValue"/>
  	               	<apex:outputPanel >
  	               	<apex:outputText value="{!viewstate.cashentry.NetValue}" id="TotalNetValue" styleClass="widthNumeric alignright goblock"/>
  	               	<span class="isoCode">
  	               	<apex:outputText id="netValueCurrency" value="{!BankAccountCurrencyAsString}"/>
  	               	</span>
  	               	</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:inputField id="paymentMethod" value="{!viewstate.cashentry.dto.c2g__PaymentMethod__c}"/>  
	
				<apex:pageBlockSectionItem >
                  	<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__ChargesAmount__c.label}" for="ChargesAmount"/>
                  	<apex:outputPanel >
                  		<apex:inputField value="{!viewstate.cashentry.dto.c2g__ChargesAmount__c}" id="ChargesAmount" styleClass="widthNumeric alignright"/>
                  		<span class="isoCode">
                  		<apex:outputText id="bankChargeCurrency" value="{!BankAccountCurrencyAsString}"/>
                  		</span>
                  	</apex:outputPanel>
               </apex:pageBlockSectionItem>
							              	  
	<apex:pageBlockSectionItem >
	<apex:outputLabel value="{!$Label.codaPageCashEntryNewChargesGLA}" for="chargesGLA"/>
	<apex:outputPanel styleClass="holder">
		<apex:outputPanel id="chargesGLAPanel">
			<apex:inputField id="chargesGLA" value="{!viewstate.cashentry.dto.c2g__ChargesGLA__c}"/>
			<apex:actionFunction name="onChangeGLAAccount" action="{!updateGLADimensions}" reRender="messagePanel,chargesGLAPanel,chargesGLARegion,chargesGLA,blockGLA" oncomplete="CODA.resumeQueueProcessing();"/>
			<script>
				CODA.addQueuedOnBlurEvent(null, "{!$Component.chargesGLA}", "{!$Label.codaPageCashEntryNewRetrievingGLAAcc}", onChangeGLAAccount,true);
			</script>
		</apex:outputPanel>                              
		<a href="#" onclick="CODA.toggleHeaderExpand(this,'myex2');return false;" title="{!$Label.codaPageCashEntryNewToggleAnalysisArea}">
			<img src="/s.gif" width="16" height="16" class="extracollapsed_h" title="{!$Label.codaPageCashEntryNewToggleAnalysisArea2}"/>
		</a>
		<div id="myex2" class="headerexpander">									                                  
			<apex:pageBlockSection id="blockGLA" title="{!$Label.codaPageCashEntryNewChargesGLAAnalysi}" collapsible="false" columns="1">
				<apex:inputField id="ChargesGLADimension1" value="{!viewstate.cashentry.dto.c2g__ChargesGLADimension1__c}" styleClass="analysisdata"/>
				<apex:inputField id="ChargesGLADimension2" value="{!viewstate.cashentry.dto.c2g__ChargesGLADimension2__c}" styleClass="analysisdata"/>
				<apex:inputField id="ChargesGLADimension3" value="{!viewstate.cashentry.dto.c2g__ChargesGLADimension3__c}" styleClass="analysisdata"/>
				<apex:inputField id="ChargesGLADimension4" value="{!viewstate.cashentry.dto.c2g__ChargesGLADimension4__c}" styleClass="analysisdata"/>
			</apex:pageBlockSection>                                    
		</div>	
	</apex:outputPanel>
	</apex:pageBlockSectionItem>

		<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__NetBanked__c.label}" for="NetBanked"/>
	               	<apex:outputPanel >
	               		<apex:outputText value="{!NetValueAsDecimal2}" id="NetBanked" styleClass="widthNumeric alignright goblock"/>
	               		<span class="isoCode">
	               		<apex:outputText id="netBankedCurrency" value="{!BankAccountCurrencyAsString}"/>
	               		</span>
	               	</apex:outputPanel>
		</apex:pageBlockSectionItem>
               
                  <apex:inputField value="{!viewstate.cashentry.dto.c2g__Description__c}" style="width:90%;height:60px;"/>	
                  
                  
                  <apex:pageBlockSectionItem >
                   <apex:outputPanel >
                   	<br/>
                   	<apex:outputLabel value="{!$ObjectType.c2g__codaCashEntry__c.fields.c2g__TotalCharges__c.label}" for="totalCharges"/>
                   </apex:outputPanel>
                   <apex:outputPanel >
                   	<br/>
                   	<apex:outputText value="{!viewstate.cashentry.TotalCharges}" id="totalCharges" styleClass="widthNumeric alignright goblock"/>
                   	<span class="isoCode">
                   	<apex:outputText id="totalchargesCurrency" value="{!BankAccountCurrencyAsString}"/>
                   	</span>
                   </apex:outputPanel>                    
               </apex:pageBlockSectionItem>
                   
                  
            </apex:pageBlockSection>
            
            
            <apex:pageBlockSection title="{!$Label.codaPageCashEntryNewAccountLines}" id="lineItemSection" columns="1">
            		<apex:facet name="header">
            			<h3>{!$Label.codaPageCashEntryNewAccountLines}</h3>
            		</apex:facet>
                  <apex:dataTable id="dtLineItems" value="{!viewstate.cashEntry.cashEntryLineItems}" var="cashEntryLineItem" rowClasses="odd,even" headerClass="headerRow" styleClass="list listNew detailListnoPadding" border="0" onRowMouseOver="if (window.hiOn){hiOn(this);}" onRowMouseOut="if (window.hiOff){hiOff(this);}"
                  	columnsWidth="40,,135,110,135,135,135,135,28"
                  >
	
                      <apex:column >
                             <apex:facet name="header">&nbsp;</apex:facet>
                             
                             <apex:outputPanel styleClass="holder">
                                   <nobr><apex:outputField value="{!cashEntryLineItem.dto.c2g__LineNumber__c}"/><a href="#" onclick="CODA.toggleExtraArea('{!$Component.extra}','{!$Component.dtLineItems}',this,'dtLineItems');return false" title="{!$Label.codaToggleNotesAndAnalysisArea}">
                                         <apex:image id="expandcollapse" value="/s.gif" width="16" height="16" styleClass="extracollapsed"/></a></nobr>
                                   <apex:outputPanel layout="block" styleClass="extra" id="extra">
                                   <apex:outputPanel layout="block" styleClass="headerdetails">
                                         <apex:pageBlockSection title="{!$Label.codaNotesAndAnalysis}" id="lineItemDimensionBlock" collapsible="false" columns="2">
                                         
                                         <apex:panelGrid width="100%" columns="2" border="0" columnClasses="labelCol first, dataCol first">
                                                     <apex:outputLabel value="{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__AccountDimension1__c.label}" for="lineDim1" styleclass="paddtop"/>
                                                     <apex:inputField value="{!cashEntryLineItem.dto.c2g__AccountDimension1__c}" id="lineDim1" styleclass="analysisdata"/>
                                                     <apex:outputLabel value="{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__AccountDimension2__c.label}" for="lineDim2" styleclass="paddtop"/>
                                                     <apex:inputField value="{!cashEntryLineItem.dto.c2g__AccountDimension2__c}" id="lineDim2" styleclass="analysisdata"/>
                                                     <apex:outputLabel value="{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__AccountDimension3__c.label}" for="lineDim3" styleclass="paddtop"/>
                                                     <apex:inputField value="{!cashEntryLineItem.dto.c2g__AccountDimension3__c}" id="lineDim3" styleclass="analysisdata"/>
                                                     <apex:outputLabel value="{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__AccountDimension4__c.label}" for="lineDim4" styleclass="paddtop"/>
                                                     <apex:inputField value="{!cashEntryLineItem.dto.c2g__AccountDimension4__c}" id="lineDim4" styleclass="analysisdata"/>
                                         </apex:panelGrid>
                                         
                                         <apex:panelGrid width="100%" columns="2" border="0" columnClasses="labelCol first, dataCol first">
                                                     <apex:outputLabel value="{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__LineDescription__c.label}" for="lineDesc" styleclass="paddtop"/>
                                                     <apex:inputField value="{!cashEntryLineItem.dto.c2g__LineDescription__c}" style="width:90%;height:100px;" id="lineDesc" styleclass="analysisdata"/>
                                         </apex:panelGrid>
                                                                                                                                       
                                         </apex:pageBlockSection>
                                   </apex:outputPanel>
                             </apex:outputPanel> 
                             </apex:outputPanel>
                       </apex:column>
                             
                       <apex:column >
                             <apex:facet name="header">{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__Account__c.label}</apex:facet>
                             <apex:outputField id="account" value="{!cashEntryLineItem.dto.c2g__Account__c}"/>
                       </apex:column>
                       
                       <apex:column >
                             <apex:facet name="header">{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__AccountReference__c.label}</apex:facet>
                             <apex:inputText id="accountReference" value="{!cashEntryLineItem.AccountReference}" styleClass="widthNumeric"/>
                       </apex:column>
                       
                       <apex:column >
                             <apex:facet name="header">{!$Label.codaCashEntryPaymentMethod}</apex:facet>
                             <apex:inputField id="accountPaymentMethod" value="{!cashEntryLineItem.dto.c2g__AccountPaymentMethod__c}"/>
                       </apex:column>
                       
                       <apex:column headerClass="alignright">
                             <apex:facet name="header">{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__CashEntryValue__c.label}</apex:facet>
                             <apex:inputField id="CashEntryValue" value="{!cashEntryLineItem.dto.c2g__CashEntryValue__c}" styleClass="alignright"/>
                       </apex:column>   
                       
                       <apex:column headerClass="alignright">
                             <apex:facet name="header"><span class="headerRightPadding">{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__BankAccountValue__c.label}</span></apex:facet>
                             <apex:outputPanel layout="block" style="white-space:nowrap">
				<apex:actionFunction name="calculateValueLineItem{!cashEntryLineItem.LineNumber}" action="{!cashEntryLineItem.calculateBankAccountValue}" oncomplete="CODA.resumeQueueProcessing();CODA.setExpanderIconState('edit');" reRender="lineItemSection,dtLineItems,LineBankAccountValue,CashEntryValue"/>
				<a href="javascript:CODA.addEventToQueue('calculateValueLineItem{!cashEntryLineItem.LineNumber}', calculateValueLineItem{!cashEntryLineItem.LineNumber}, '{!$Label.codaPageCashEntryNewCalculatingValue}', true);">
					<apex:image value="{!URLFOR($Resource.c2g__coda2go, 'coda2go/web/images/calculator.gif')}" width="16" height="16" title="{!$Label.codaPageCashEntryNewCalculateValue}" styleClass="absMiddle"/>
				</a>
				<apex:inputText id="LineBankAccountValue" value="{!cashEntryLineItem.BankAccountValue}" disabled="{!cashEntryLineItem.CurrencyEqual}" styleClass="widthNumeric alignright"/>
			</apex:outputPanel>
                       </apex:column>                             
                       
                       <apex:column styleClass="alignright" headerClass="alignright">                             		
                             <apex:facet name="header"><span class="headerRightPadding">{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__Charges__c.label}</span></apex:facet>
                       		<apex:inputField value="{!cashEntryLineItem.dto.c2g__Charges__c}" id="Charges" styleClass="alignright widthNumeric"/>
				<apex:actionFunction name="onChangeCharges{!cashEntryLineItem.LineNumber}" action="{!doNothing}" reRender="messagePanel, NetValue" oncomplete="CODA.resumeQueueProcessing();"/>
	 </apex:column>
                       <apex:column styleClass="alignright" headerClass="alignright">                             		
                             <apex:facet name="header"><span class="headerRightPadding">{!$ObjectType.c2g__codaCashEntryLineItem__c.fields.c2g__NetValue__c.label}</span></apex:facet>
                       		<apex:outputText value="{!cashEntryLineItem.NetValueAsDecimal}" id="NetValue" styleClass="widthNumeric alignright goblock"/>
                       </apex:column>
                       
                       <apex:column styleClass="alignright">                             		
                       		<apex:facet name="header">&nbsp;</apex:facet>
                       		<apex:actionFunction name="removeLineItem{!cashEntryLineItem.LineNumber}"  action="{!cashEntryLineItem.remove}" oncomplete="CODA.resumeQueueProcessing();CODA.setExpanderIconState('edit');" reRender="messagePanel,cashEntryDetail,currencyBlock,currencyPanel,cashentrycurrency,currency_h,lineItemSection,dtLineItems,cashEntryType"/>
                       		<a href="javascript:CODA.addEventToQueue('removeLineItem{!cashEntryLineItem.LineNumber}', removeLineItem{!cashEntryLineItem.LineNumber}, '{!$Label.codaRemovingLine}', true);">
       			<apex:image value="{!URLFOR($Resource.c2g__coda2go, 'coda2go/web/images/delete.gif')}" width="16" height="16" title="{!$Label.codaRemoveLine}" styleClass="absMiddle"/>
       		</a>
                       </apex:column>
                       
                  </apex:dataTable>
            </apex:pageBlockSection>
            
            <!-- Add new account line item --> 
<apex:outputPanel id="addAccountLine" layout="block" styleClass="footerRow">
	<apex:actionFunction name="addLineItem" action="{!addLineItem}" oncomplete="CODA.resumeQueueProcessing();CODA.setExpanderIconState('edit');CODA.setFocus('{!$Component.cashEntryBlock.lineItemSection.dtLineItems}','{!$Component.cashEntryBlock.lineItemSection.dtLineItems.product}')" reRender="cashEntryBlock,lineItemSection,dtLineItems,addAccountLine,accountName,cashValue,NetBanked,totalCharges,currencyPanel,messagePanel" />
	<apex:inputField id="accountName" value="{!viewstate.Account.dto.c2g__Account__c}"/>
	<input type="button" class="newlinebutton" onclick="CODA.addEventToQueue('addLineItem',addLineItem,'{!$Label.codaAddingLine}',true); this.disabled=true;"  value="{!$Label.codaNewLine}"/>
</apex:outputPanel>
              <div class="clearboth"></div>
        </apex:pageBlock>
        <script>
      	CODA.setExpanderIconState('edit');
      </script>
   </apex:form>
</apex:page>