<!-- Undo Cash Matching Extended --> 
<apex:page tabStyle="ExtendedCashMatching__tab" controller="c2g.UndoCashMatchingController">
    <apex:stylesheet value="{!URLFOR($Resource.c2g__coda2go,'coda2go/web/css/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.c2g__front,'front/components/ffdcTable/ffdcTable.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.c2g__front,'front/components/LoadingOverlay/LoadingOverlay.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.c2g__front_cashmatching,'front_cashmatching/components/HeaderDetails/HeaderDetails.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.c2g__front_cashmatching,'front_cashmatching/pages/cashmatching/cashmatching.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.c2g__front_cashmatching,'front_cashmatching/components/UberFilter/uberfilter.css')}"/>    
    <script type="text/javascript" src="{!URLFOR($Resource.coda2go,'coda2go/web/script/lib.js')}" ></script>
    <script type="text/javascript" src="{!URLFOR($Resource.front,'front/base/frameworks/ext-core-3.1.0.js')}" ></script>
    <script type="text/javascript" src="{!URLFOR($Resource.front_cashmatching,'front_cashmatching/base/frameworks/jquery.min.js')}"></script>
    <script type="text/javascript">
        var $FFDC = jQuery.noConflict();
        var FFDCGlobalThousandSeperator = ",";
        var FFDCGlobalDecimalSeperator = ".";
    </script>
    <script type="text/javascript" src="{!URLFOR($Resource.front,'front/components/LoadingOverlay/LoadingOverlay.js')}" ></script>
    <script type="text/javascript" src="{!URLFOR($Resource.front_cashmatching,'front_cashmatching/components/HeaderDetails/HeaderDetails.js')}"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.front_cashmatching,'front_cashmatching/components/UberFilter/uberfilter.js')}"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.front_cashmatching,'front_cashmatching/utils/utilNumeric.js')}"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.front_cashmatching,'front_cashmatching/components/UberHistoryGrid/uberHistoryGrid.js')}"></script>
    <style>
        .extracollapsed_h
        {
            BACKGROUND-IMAGE: url( {!URLFOR($Resource.coda2go, 'coda2go/web/images/CollapsedExpanded.gif')});
        }
        .extraexpanded_h
        {
            BACKGROUND-IMAGE: url( {!URLFOR($Resource.coda2go, 'coda2go/web/images/CollapsedExpanded.gif')});
        }
        .ffdcTable tbody tr td
        {
            line-height: 0.9em;
            height:25px;                                 
        }
        .ffdcTable thead tr th a 
        {
            text-decoration:none;           
        }
        .ffdcTable thead tr th a:hover 
        {
            text-decoration:none;           
        }
        .outer .ffdcTable  td 
        {
            vertical-align: middle;
        }
        .paginator .prevNextLinks .prevNext 
        {
            margin: 0px;
        } 
        #header
        {
        	background: white url( {!URLFOR($Resource.front, 'front/components/ffdcTable/images/grid_headerbg.gif')}) left bottom repeat-x;
        }
        #header thead tr
        {
        	background: ;
        }
    </style>
    <script type="text/javascript">      
        $FFDC.setLoadingOverlayLabel = function(status) 
		{
			if (status == 'Undo')
			{
				$FFDC('#loadingOverlayLabel').val('{!$Label.UndoMatch}');
			}
			else
			{
				$FFDC('#loadingOverlayLabel').val('{!$Label.CashMatchingPageRetrieving}');
			}	
		}
        
        function jq(myid) 
        {
             return "#" + myid.replace(/:/g,"\\\:");
        }
    </script> 
    
    <!-- Account Details -->
    <apex:form >
        <!-- Header -->
		<apex:outputPanel id="sectionHeader">
			<apex:sectionHeader title="{!$Label.UndoMatchPageTitle}" help="{!URLFOR('/apex/c2g__codahelploader?topicid=1142')}"/>
		</apex:outputPanel>
        <apex:pageBlock mode="edit">
            <apex:outputPanel id="messagesPanel">
                <apex:pageMessages id="pageMessages"/>
            </apex:outputPanel>
            <apex:pageBlockButtons location="top">
                <span id="toggleHeaderButton" class="showHeaderDetail active">
                    <span class="text">{!$Label.CashMatchingPageHideHeader}</span>
                    <div class="arrow"></div>
                </span>
            </apex:pageBlockButtons>
            <div id="headerDetailPanel" class="headerDetailPanel active">
                <apex:pageBlockSection id="accountPageBlockSection" title="{!$Label.CashMatchingPageAccountDetail}">
                <apex:facet name="header">
                    <h3>{!$Label.CashMatchingPageAccountDetail}</h3>
                </apex:facet>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="{!$ObjectType.c2g__codaLookup__c.fields.c2g__Account__c.label}" for="account"/>
                        <apex:outputPanel styleClass="holder">
                            <apex:outputPanel id="accountPanel">
                                <apex:inputField id="account" value="{!viewstate.lookupData.c2g__Account__c}"/>
                            </apex:outputPanel>
                            <a href="#" onclick="CODA.toggleHeaderExpand(this,'myex0');return false;" title="{!$Label.CashMatchingAnalysisTitle}">
                                <img src="/s.gif" width="16" height="16" class="extracollapsed_h" title="{!$Label.CashMatchingAnalysisTitle}"/>
                            </a>
                            <DIV id="myex0" class="headerexpander">
                                <apex:pageBlockSection title="{!$Label.CashMatchingAnalysisTitle}" collapsible="false" columns="1">
                                    <apex:outputPanel id="accountDimensions">
                                        <apex:outputPanel rendered="{!!viewstate.hasAccount}" styleClass="informationblock">
                                            {!$Label.CashMatchingPageEnterAccount}
                                        </apex:outputPanel>
                                        <apex:panelGrid columns="2" columnClasses="labelCol first, data2Col first" styleClass="detailList">
                                            <apex:outputLabel rendered="{!viewstate.hasAccount}" value="{!$ObjectType.Account.fields.c2g__CODADimension1__c.label}" for="accountDimension1"/>
                                            <apex:inputField id="accountDimension1" rendered="{!viewstate.hasAccount}" value="{!viewstate.lookupData.c2g__Dimension1__c}" styleclass="analysisdata"/>
                                            <apex:outputLabel rendered="{!viewstate.hasAccount}" value="{!$ObjectType.Account.fields.c2g__CODADimension2__c.label}" for="accountDimension2"/>
                                            <apex:inputField id="accountDimension2" rendered="{!viewstate.hasAccount}" value="{!viewstate.lookupData.c2g__Dimension2__c}" styleclass="analysisdata"/>
                                            <apex:outputLabel rendered="{!viewstate.hasAccount}" value="{!$ObjectType.Account.fields.c2g__CODADimension3__c.label}" for="accountDimension3"/>
                                            <apex:inputField id="accountDimension3" rendered="{!viewstate.hasAccount}" value="{!viewstate.lookupData.c2g__Dimension3__c}" styleclass="analysisdata"/>
                                            <apex:outputLabel rendered="{!viewstate.hasAccount}" value="{!$ObjectType.Account.fields.c2g__CODADimension4__c.label}" for="accountDimension4"/>
                                            <apex:inputField id="accountDimension4" rendered="{!viewstate.hasAccount}" value="{!viewstate.lookupData.c2g__Dimension4__c}" styleclass="analysisdata"/>
                                        </apex:panelGrid>
                                    </apex:outputPanel>
                                </apex:pageBlockSection>
                            </DIV>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="{!$Label.UndoMatchPageDate}" for="matchingDate"/>
                        <apex:outputPanel id="matchingDateBlock">
                            <apex:inputField id="matchingDate" value="{!viewstate.lookupData.c2g__LookupDate__c}"/>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="{!$Label.UndoMatchPageMatchingReference}" for="matchingReference"/>
                        <apex:outputPanel id="matchingReferencePanel">
                            <apex:inputText id="matchingReference" value="{!viewstate.matchingReference}"/>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="{!$Label.UndoMatchPagePeriod}" for="period"/>
                        <apex:outputPanel id="periodPanel">
                            <apex:inputField id="period" value="{!viewstate.lookupData.c2g__Period__c}"/>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                    <apex:inputField id="undoReason" value="{!viewstate.historyHeader.dto.c2g__UndoReason__c}"/>
					<apex:pageBlockSectionItem >
						<apex:outputPanel styleClass="holder">
							<div style="height: 100%; position: relative; margin-bottom: 10px; text-align: center; width: 100%">
								<apex:commandButton id="retrieveData_h" action="{!retrieveData}" styleClass="hiddensubmit" reRender="tableContainer,messagesPanel,accountPanel,accountDimensions,periodPanel"/>
								<div class="button buttonBig btn" id="retrieveData" onclick="document.getElementById('{!$Component.retrieveData_h}').click();$FFDC('#tableContents').css('display','block');ffdc.go.loadingOverlay.createLoadingOverlay('tableContents','{!$Label.CashMatchingPageRetrieving}',1);" style="font-size:13px !important; padding:4px 50px 4px 50px; font-weight:400;">
									{!$Label.CashMatchingPageRetrieve}
								</div>
							</div>
						</apex:outputPanel> 
					</apex:pageBlockSectionItem>
                </apex:pageBlockSection>
            </div>
        </apex:pageBlock>               
        <script>
            $FFDC(document).ready(function () 
            {
                // SETUP HEADER DETAILS
                $FFDC('#headerDetailPanel').HeaderDetails(
                {
                    'toggleElement':'#toggleHeaderButton',
                    'toggleElementText':'#toggleHeaderButton .text',
                    'toggleElementTextShow':'{!$Label.CashMatchingPageShowHeader}',
                    'toggleElementTextHide':'{!$Label.CashMatchingPageHideHeader}'
                });
            });
        </script>       
    </apex:form>
    
    <!-- History Line Items -->
    <apex:pageBlock mode="edit" id="historiesPageBlock">
        <div align="center">
            <apex:form onsubmit="ffdc.go.loadingOverlay.createLoadingOverlay('tableContents',$FFDC('#loadingOverlayLabel').val(),1);" id="historiesForm">
                <apex:outputPanel id="tableContainer" layout="block">
                    <script>                
                        {!IF(!hasMessages && (viewState.historyStdController.cashMatchingPageLines.size > 0) , '$FFDC("#toggleHeaderButton").click();', '')}
                    </script>
                    <input type="hidden" id="loadingOverlayLabel" value="{!$Label.CashMatchingPageRetrieving}"/>
                    <input type="hidden" id="numOfMatchingHistSelectCount" value="0"/>
                    <div id="tableContents" style=" height: 650px;width: 100%;position: relative; {!IF(!hasMessages && (viewState.historyStdController.cashMatchingPageLines.size > 0) , 'display:block', 'display:none')}" align="center">
                        <apex:outputPanel id="historyTableOuter" style="width: 100%; float: left;" layout="block">
                            <div id="historyTableContents" style="border: 1px solid #D4D9DD;position:relative;width:100%;">
                                <div class="header" style="background: #E2F5FB url(images/header_bg.png) left top repeat-x; height: 34px; line-height: 35px; border-bottom: 1px solid #D4D9DD; font-weight: 700; font-size: 11px; text-shadow: 0px 1px 0px white; text-indent: 10px;border-left: 1px solid #D4D9DD;margin-left: -1px;">
                                    {!$Label.UndoMatchingHistory}
                                </div>
                                <div class="filterCell">
                                    <div class="filterInput" style="width: 50%;">
                                        <apex:inputText id="searchField" value="{!viewstate.searchField}"/>
                                        <div class="clear"></div>
                                    </div>
                                    <div style="width: 50%; float: right; height: 34px;">
                                        <apex:commandButton id="retrieveCustomData_h" action="{!retrieveCustomData}" styleClass="hiddensubmit" value="{!$Label.CashMatchingPageSearch}" reRender="messagesPanel,historyTableOuter" oncomplete="ffdc.go.loadingOverlay.removeLoadingOverlay();"/>
                                        <div class="button buttonBig btn" id="retrieveData" onclick="document.getElementById('{!$Component.retrieveCustomData_h}').click();" style="font-size:13px !important; padding: 4px 20px 4px 20px; font-weight:400;margin-top: 4px;margin-right: 4px;margin-left: 12px;display: block; float: left;">
                                            {!$Label.CashMatchingPageSearch}
                                        </div>
                                    </div>
                                </div>
                                <table style="width:100%;" id="header"> 
                                	 <colgroup span="2">
                                	 	<col width=""/>
                                	 	<col width="16px"/>
                                	 </colgroup>
                                	 <thead>
                                	 	<th>
                                	 		<table class="ffdcTable" border="0" cellpadding="0" cellspacing="0">
												<colgroup span="6">
													<col width="5%"/>  <!-- 5%,19%,19%,19%,19%,19% -->
													<col width="19%"/> <!-- reference -->
													<col width="19%"/> <!-- type -->
													<col width="19%"/> <!-- number -->
													<col width="19%"/> <!-- date -->
													<col width="19%"/> <!-- matched -->
												</colgroup>
												<thead class="rich-table-thead">
													<tr class="">
														<th class=" alignCenter" scope="col" colspan="1">
															&nbsp;
														</th>
														<th class=" alignCenter" scope="col" colspan="1" >
															<apex:commandLink value="{!$Label.UndoReference}" action="{!sortLines}" oncomplete="ffdc.go.loadingOverlay.removeLoadingOverlay();" reRender="historyTableOuter" >
																<apex:param name="sortingCol" value="MatchingReference__r.Name"/>
															</apex:commandLink>
															<apex:image styleClass="absmiddle" value="{!URLFOR($Resource.c2g__front_cashmatching,'front_cashmatching/pages/cashmatching/images/SortUpArrow.png')}" rendered="{!AND(viewstate.SortCol=='MatchingReference__r.Name',viewstate.sortDir=='asc')}"/>
															<apex:image styleClass="absmiddle" value="{!URLFOR($Resource.c2g__front_cashmatching,'front_cashmatching/pages/cashmatching/images/SortDownArrow.png')}" rendered="{!AND(viewstate.SortCol=='MatchingReference__r.Name',viewstate.sortDir=='desc')}"/>
														</th>
														<th class=" alignCenter" scope="col" colspan="1" >
															<apex:commandLink value="{!$Label.UndoType}" action="{!sortLines}" oncomplete="ffdc.go.loadingOverlay.removeLoadingOverlay();" reRender="historyTableOuter" >
																<apex:param name="sortingCol" value="TransactionLineItem__r.Transaction__r.TransactionType__c"/>
															</apex:commandLink>
															<apex:image styleClass="absmiddle" value="{!URLFOR($Resource.c2g__front_cashmatching,'front_cashmatching/pages/cashmatching/images/SortUpArrow.png')}" rendered="{!AND(viewstate.SortCol=='TransactionLineItem__r.Transaction__r.TransactionType__c',viewstate.sortDir=='asc')}"/>
															<apex:image styleClass="absmiddle" value="{!URLFOR($Resource.c2g__front_cashmatching,'front_cashmatching/pages/cashmatching/images/SortDownArrow.png')}" rendered="{!AND(viewstate.SortCol=='TransactionLineItem__r.Transaction__r.TransactionType__c',viewstate.sortDir=='desc')}"/>
														</th>
														<th class=" alignCenter" scope="col" colspan="1" >
															<apex:commandLink value="{!$Label.UndoNumber}" action="{!sortLines}" oncomplete="ffdc.go.loadingOverlay.removeLoadingOverlay();" reRender="historyTableOuter" >
																<apex:param name="sortingCol" value="TransactionLineItem__r.Transaction__r.DocumentNumber__c"/>
															</apex:commandLink>
															<apex:image styleClass="absmiddle" value="{!URLFOR($Resource.c2g__front_cashmatching,'front_cashmatching/pages/cashmatching/images/SortUpArrow.png')}" rendered="{!AND(viewstate.SortCol=='TransactionLineItem__r.Transaction__r.DocumentNumber__c',viewstate.sortDir=='asc')}"/>
															<apex:image styleClass="absmiddle" value="{!URLFOR($Resource.c2g__front_cashmatching,'front_cashmatching/pages/cashmatching/images/SortDownArrow.png')}" rendered="{!AND(viewstate.SortCol=='TransactionLineItem__r.Transaction__r.DocumentNumber__c',viewstate.sortDir=='desc')}"/>
														</th>
														<th class=" alignCenter" scope="col" colspan="1" >
															<apex:commandLink value="{!$Label.UndoTransaction}" action="{!sortLines}" oncomplete="ffdc.go.loadingOverlay.removeLoadingOverlay();" reRender="historyTableOuter" >
																<apex:param name="sortingCol" value="TransactionLineItem__r.Transaction__r.TransactionDate__c"/>
															</apex:commandLink>
															<apex:image styleClass="absmiddle" value="{!URLFOR($Resource.c2g__front_cashmatching,'front_cashmatching/pages/cashmatching/images/SortUpArrow.png')}" rendered="{!AND(viewstate.SortCol=='TransactionLineItem__r.Transaction__r.TransactionDate__c',viewstate.sortDir=='asc')}"/>
															<apex:image styleClass="absmiddle" value="{!URLFOR($Resource.c2g__front_cashmatching,'front_cashmatching/pages/cashmatching/images/SortDownArrow.png')}" rendered="{!AND(viewstate.SortCol=='TransactionLineItem__r.Transaction__r.TransactionDate__c',viewstate.sortDir=='desc')}"/>
														</th>
														<th class=" alignCenter" scope="col" colspan="1" >
															<apex:commandLink value="{!$Label.UndoMatched}" action="{!sortLines}" oncomplete="ffdc.go.loadingOverlay.removeLoadingOverlay();" reRender="historyTableOuter" >
																<apex:param name="sortingCol" value="AccountValue__c"/>
															</apex:commandLink>
															<apex:image styleClass="absmiddle" value="{!URLFOR($Resource.c2g__front_cashmatching,'front_cashmatching/pages/cashmatching/images/SortUpArrow.png')}" rendered="{!AND(viewstate.SortCol=='AccountValue__c',viewstate.sortDir=='asc')}"/>
															<apex:image styleClass="absmiddle" value="{!URLFOR($Resource.c2g__front_cashmatching,'front_cashmatching/pages/cashmatching/images/SortDownArrow.png')}" rendered="{!AND(viewstate.SortCol=='AccountValue__c',viewstate.sortDir=='desc')}"/>
														</th>
													</tr>
												</thead>
											</table>
                                	 	</th>
                                	 	<th>
                                	 		&nbsp;
                                	 	</th>
                                	 </thead>
                                </table>
                                <div id="tableScroller" style="height: 470px; overflow-x: auto; overflow-y: scroll;">
                                    <apex:dataTable id="historyTable" value="{!viewState.historyStdController.cashMatchingPageLines}" var="historyLine" border="0" styleClass="ffdcTable" columnsWidth="5%,19%,19%,19%,19%,19%">
                                        <apex:column headerClass="alignCenter" styleClass="alignCenter" footerClass="alignCenter" >
                                            <div class="status" style="margin-left: 10px;">
                                                <apex:inputCheckBox id="HLSelected" value="{!historyLine.selected}" styleClass="lineChkBox" style="display:none;"/>
                                            </div>
										</apex:column>
                                        <apex:column headerClass="alignLeft" styleClass="alignLeft" footerClass="alignLeft">                          
                                            <apex:outputLink id="HLMatchingReference" styleClass="HLMatchingReferenceClass" value="/{!historyLine.historyLineItem.c2g__MatchingReference__c}">{!historyLine.historyLineItem.MatchingReference__r.Name}</apex:outputLink>&nbsp;                                     
                                        </apex:column>
                                        <apex:column headerClass="alignLeft" styleClass="alignLeft" footerClass="alignLeft">                                      
                                            <apex:outputField id="HLType" value="{!historyLine.historyLineItem.TransactionLineItem__r.Transaction__r.c2g__TransactionType__c}" />                                      
                                        </apex:column>  
                                        <apex:column headerClass="alignLeft" styleClass="alignLeft" footerClass="alignLeft">                                        
                                            <apex:outputLink id="HLDocNumber" value="/{!historyLine.documentId}">{!historyLine.historyLineItem.TransactionLineItem__r.Transaction__r.c2g__DocumentNumber__c}</apex:outputLink>&nbsp;                                                                               	
                                        </apex:column> 
                                        <apex:column headerClass="alignCenter" styleClass="alignCenter" footerClass="alignCenter">                                        
                                            <apex:outputField id="HLTransDate" value="{!historyLine.historyLineItem.TransactionLineItem__r.Transaction__r.c2g__TransactionDate__c}" />                                                                               	
                                        </apex:column>
                                        <apex:column headerClass="alignRight" styleClass="alignRight" footerClass="alignRight">                                        
                                            <apex:outputField id="HLMatched" value="{!historyLine.historyLineItem.c2g__AccountValue__c}" />                                                                               	
                                        </apex:column>
                                    </apex:dataTable>
                                </div>
                                <div style="background: #EEE;text-align: center;height: 29px;line-height: 30px;font-weight: 700;text-shadow: 0px 1px 0px white;color: #666;bottom: 0px;width: 100%;font-size: 11px;">                                    
                                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                        <colgroup span="1">
                                            <col width="303px"/>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class=" alignCenter" scope="col" colspan="1">
                                                    <div class="paginator" style="background: #EEE; text-align: center; height: 29px; line-height: 30px; font-weight: 700; text-shadow: 0px 1px 0px white; color: #666; bottom: 0px; font-size: 11px;float:left;">
                                                        <div style="float: left;margin-left: 40px;">
                                                            <apex:outputPanel styleClass="pages">
                                                                {!$Label.CashMatchingPagePage}
                                                                <span class="page">{!viewState.historyStdController.pageNumber}</span>                                       
                                                                {!$Label.CashMatchingPageOf}  <span class="page">{!viewState.historyStdController.numberOfPages}</span>
                                                            </apex:outputPanel>
                                                            <apex:outputPanel styleClass="prevNextLinks" style="margin-left:10px">
                                                                <apex:outputPanel styleClass="prevNext" rendered="{!viewState.historyStdController.hasPrevious}">
                                                                    <apex:commandLink id="index" action="{!viewState.historyStdController.first}" oncomplete="ffdc.go.loadingOverlay.removeLoadingOverlay();" reRender="historyTableOuter">
                                                                        <img class="first" src="/s.gif" title="{!$Label.CashMatchingPageFirst}"></img>
                                                                    </apex:commandLink>
                                                                </apex:outputPanel>
                                                                <apex:outputPanel styleClass="prevNext" rendered="{!!viewState.historyStdController.hasPrevious}">
                                                                    <img class="firstoff" src="/s.gif" title="{!$Label.CashMatchingPageFirst}"></img>
                                                                </apex:outputPanel>
                                                                <apex:outputPanel styleClass="prevNext" rendered="{!viewState.historyStdController.hasPrevious}">
                                                                    <apex:commandLink id="previous" action="{!viewState.historyStdController.previous}" oncomplete="ffdc.go.loadingOverlay.removeLoadingOverlay();" reRender="historyTableOuter">
                                                                        <img class="prev" src="/s.gif" style="background-position: -10px 1px;" title="{!$Label.CashMatchingPagePrevious}"></img>
                                                                    </apex:commandLink>
                                                                </apex:outputPanel>
                                                                <apex:outputPanel styleClass="prevNext" rendered="{!!viewState.historyStdController.hasPrevious}">
                                                                    <img class="prevoff" src="/s.gif" style="background-position: -10px -10px;" title="{!$Label.CashMatchingPagePrevious}"></img>
                                                                </apex:outputPanel>
                                                                <apex:outputPanel styleClass="prevNext" rendered="{!viewState.historyStdController.hasNext}">
                                                                    <apex:commandLink id="next" action="{!viewState.historyStdController.next}" oncomplete="ffdc.go.loadingOverlay.removeLoadingOverlay();" reRender="historyTableOuter">
                                                                        <img class="next" src="/s.gif" style="background-position: -18px 1px;" title="{!$Label.CashMatchingPageNext}"></img>
                                                                    </apex:commandLink>
                                                                </apex:outputPanel>
                                                                <apex:outputPanel styleClass="prevNext" rendered="{!!viewState.historyStdController.hasNext}">
                                                                    <img class="nextoff" src="/s.gif" style="background-position: -18px -10px;" title="{!$Label.CashMatchingPageNext}"></img>
                                                                </apex:outputPanel>
                                                                <apex:outputPanel styleClass="prevNext" rendered="{!viewState.historyStdController.hasNext}">
                                                                    <apex:commandLink id="last" action="{!viewState.historyStdController.last}" oncomplete="ffdc.go.loadingOverlay.removeLoadingOverlay();" reRender="historyTableOuter">
                                                                        <img class="last" src="/s.gif" title="{!$Label.CashMatchingPageLast}"></img>
                                                                    </apex:commandLink>
                                                                </apex:outputPanel>
                                                                <apex:outputPanel styleClass="prevNext" rendered="{!!viewState.historyStdController.hasNext}">
                                                                    <img class="lastoff" src="/s.gif" title="{!$Label.CashMatchingPageLast}"></img>
                                                                </apex:outputPanel>
                                                            </apex:outputPanel> 
                                                            <apex:outputPanel styleClass="pages" style="margin-left: 10px;">
                                                                <apex:selectList value="{!viewState.historyStdController.rowsPerPage}" size="1" multiselect="false" title="{!$Label.CashMatchingPageItemsPerPage}">
                                                                    <apex:selectOption itemValue="10" itemLabel="10" />
                                                                    <apex:selectOption itemValue="25" itemLabel="25" />
                                                                    <apex:selectOption itemValue="50" itemLabel="50" />
                                                                    <apex:selectOption itemValue="100" itemLabel="100" />
                                                                    <apex:selectOption itemValue="200" itemLabel="200" />
                                                                    <apex:selectOption itemValue="400" itemLabel="400" />
                                                                    <apex:actionSupport event="onchange" action="{!viewState.historyStdController.pageResize}" oncomplete="ffdc.go.loadingOverlay.removeLoadingOverlay();" reRender="historyTableOuter" />
                                                                </apex:selectList>
                                                            </apex:outputPanel>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div> 
                            </div>
                            <script type="text/javascript">
                                $FFDC(document).ready(function () 
                                {
                                    $FFDC('#historyTableContents').UberFilter(
                                    {
                                        filterInput: jq('{!$Component.historiesPageBlock.historiesForm.searchField}')
                                    });
                                    $FFDC(jq('{!$Component.historiesPageBlock.historiesForm.historyTable}')).UberHistoryGrid({
                                        tableid: jq('{!$Component.historiesPageBlock.historiesForm.historyTable}'),
                                        toggleCheckBoxesId: '#HLSelected'
                                    });
                                    $FFDC.setLoadingOverlayLabel('');
									$FFDC(jq('{!$Component.historiesPageBlock.historiesForm.searchField}')).focus();
                                });
                            </script>
                        </apex:outputPanel>
                        <div align="center" style="float: left;width: 100%;">   
                            <div class="actionsWrapper" style="width: 400px;">
                                <div style="display:none; float: left;margin-top: 10px;    width: 33%;" id="matchButton">
                                    <apex:commandButton value="{!$Label.UndoCommit}" id="undoButton_h" styleClass="hiddensubmit" action="{!undoMatch}"/>                                 
                                    <div class="button buttonBig btn" id="undoButton" onclick="$FFDC.setLoadingOverlayLabel('Undo');document.getElementById('{!$Component.undoButton_h}').click();" style="font-size:13px !important; padding: 4px 20px 4px 20px; font-weight:400;margin-top: 4px;margin-right: 4px;display: block;">
                                        {!$Label.UndoCommit}  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>              
                </apex:outputPanel>
            </apex:form>
        </div>      
    </apex:pageBlock>
</apex:page>