<apex:page standardController="Vertex_Berry__BsureCreditApplication__c" extensions="Vertex_Berry.BSure_CreditApplicationForm" showHeader="false" >
<style>
.footertxt{
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    color:#000;
    padding-left:5px;
}
</style>
	<apex:pagemessages />
    <apex:outputpanel rendered="{!visibilitypanel}">
    <apex:stylesheet value="{!$Resource.Vertex_Berry__BerryStylecss}"/>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Credit Application</title>
    
    <link href="styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body style="background:url({!$Resource.BerryloginTblbg});background-repeat:repeat-x;background-color: #203b84;">
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <!-- <td ><apex:image value="{!$Resource.Berrylogo}" width="526" height="111" /></td> -->
		<td style="background:url({!$Resource.bSure_loginTblbg_new}); background-repeat:repeat-x"><apex:image value="{!$Resource.Vertex_Berry__bSure_newLogo}" width="161" height="116" /></td>
      </tr>
      <tr bgcolor="#203672">
        <td height="25" bgcolor="#203672">&nbsp;</td>
      </tr>
    </table>
    </body>
    </html>
    
    <apex:include pageName="Vertex_Berry__BSure_CreditApplicationForm"/>
   
<html>  
<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="32" class="footertxt" style="background:url({!$Resource.bSure_btmBg}); background-repeat:repeat-x;">Copyright © 2014 The Berry Company, LLC</td>    
  </tr>
</table>

<map name="Map" id="Map">
  <area shape="rect" coords="8,2,182,100" href="loginPg.html" />
</map>
</body>
</html>
</apex:outputpanel>
</apex:page>