<apex:page controller="Vertex_Berry.BSure_CreditApplicationUserlogin" showHeader="false">
<apex:form >
<style>
.footertxt{
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    color:#000;
    padding-left:5px;
}
</style>
<apex:stylesheet value="{!$Resource.Vertex_Berry__BerryStylecss}"/>
<script>
var vuname;
var vupswd;
var vvalidate = '';

</script>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Berry - Your local leads expert</title>

<link href="styles.css" rel="stylesheet" type="text/css" />
</head>

<body >
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
   <td style="background:url({!$Resource.bSure_loginTblbg_new}); background-repeat:repeat-x"><apex:image value="{!$Resource.Vertex_Berry__bSure_newLogo}" width="161" height="116" /></td>
  </tr>

  <tr>
    <td height="378"><br />
      <br />
      <br />
      <table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="462" align="right" valign="middle" ><apex:image value="{!$Resource.Vertex_Berry__BerrycreditImg}"  /></td>
          <td width="371"  valign="top" style="background:url({!$Resource.BerryloginBG}); background-repeat:no-repeat;">
          <form id="form1" name="form1" method="post" action="">
            <table width="250" border="0" align="center" cellpadding="0" cellspacing="5">
              <tr>
                <td height="87"><div style="margin-top:70px;mar" ><apex:pageMessages /></div></td>
              </tr>
              <tr>
                <td height="20" ><apex:outputlabel >USER NAME: <font color="red">*</font></apex:outputlabel> </td>
              </tr>
              <tr>
                <td height="30" ><apex:inputText value="{!username}" id="uname" style="width:200px" /></td>
              </tr>
              <tr>
                <td height="20"  ><apex:outputlabel >PASSWORD: <font color="red">*</font></apex:outputlabel></td>
              </tr>
              <tr>
                <td height="30" ><apex:inputSecret value="{!password}" id="pswd" style="width:200px"  /></td>
              </tr>
              <tr>
                <td height="45" align="right" ><apex:commandButton value="Login"   style="width:100px" action="{!login}" /></td>
                
              </tr>
            </table>
          </form></td>
        </tr>
        
      </table></td>
  </tr><tr><td><br/><br/><br/><br/>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="32" class="footertxt" style="background:url({!$Resource.bSure_btmBg}); background-repeat:repeat-x;">Copyright © 2014 The Berry Company, LLC</td> 
  </tr>
</table>

  </td></tr>
</table>
</body>
</html>

</apex:form>
</apex:page>