<apex:page standardController="Vertex_Berry__PIA_Credit_Review__c" extensions="Vertex_Berry.BSure_ManualReview">
<apex:form >
<apex:pageBlock >
<apex:pageBlockSection >
<apex:pageBlockSectionItem >
<apex:outputlabel value="Opportunity Name"></apex:outputlabel>
<apex:outputLink title="Edit" value="/{!piariviewObj.Vertex_Berry__Opportunity_ID__c}" style="font-size:12px; color: #015BA7;font-weight: bold;text-decoration: none;">{!piariviewObj.Vertex_Berry__Opportunity_Name__c}</apex:outputLink>
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputlabel value="Account Name"></apex:outputlabel>
<apex:outputLink title="Edit" value="/{!piariviewObj.Vertex_Berry__Account_ID__c}" style="font-size:12px; color: #015BA7;font-weight: bold;text-decoration: none;">{!piariviewObj.Vertex_Berry__Account_Name__c}</apex:outputLink>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
<apex:outputpanel >
<apex:outputlabel value="Current PIA"></apex:outputlabel>
</apex:outputpanel>
<apex:outputpanel >
<apex:inputField value="{!piariviewObj.Vertex_Berry__Current_PIA__c}" rendered="{!visibleFields}"  />
<apex:outputField value="{!piariviewObj.Vertex_Berry__Current_PIA__c}" rendered="{!!visibleFields}" />
</apex:outputpanel>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
<apex:outputpanel >
<apex:outputlabel value="Former PIA"></apex:outputlabel>
</apex:outputpanel>
<apex:outputpanel >
<apex:inputField value="{!piariviewObj.Vertex_Berry__Former_PIA__c}" rendered="{!visibleFields}" />
<apex:outputField value="{!piariviewObj.Vertex_Berry__Former_PIA__c}" rendered="{!!visibleFields}" />
</apex:outputpanel>
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >
<apex:outputlabel value="Created Date"></apex:outputlabel>
<apex:outputField value="{!piariviewObj.CreatedDate}"></apex:outputField>
</apex:pageBlockSectionItem> 
<apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
<apex:outputpanel >
<apex:outputlabel value="Manager Comments"></apex:outputlabel>
</apex:outputpanel> 
<apex:outputpanel >
<apex:inputField value="{!piariviewObj.Vertex_Berry__Manager_Comments__c}" rendered="{!!MAvisibleFields}" />
<apex:outputField value="{!piariviewObj.Vertex_Berry__Manager_Comments__c}" rendered="{!MAvisibleFields}" />
</apex:outputpanel>
</apex:pageBlockSectionItem>
</apex:pageBlockSection>
<apex:pageBlockSection columns="1">
<apex:pageBlockSectionItem >
<apex:outputpanel >
<center>
<apex:commandButton value="Approve" action="{!submitApprove}" style="width:150px" rendered="{!btnvisibility}"/>
<apex:commandButton value="Reject" action="{!reject}" style="width:150px"  rendered="{!btnvisibility}"/>
<apex:commandButton value="Cancel" action="{!CancelPIA}" style="width:150px"  />
</center>
</apex:outputpanel>
</apex:pageBlockSectionItem>
</apex:pageBlockSection>
</apex:pageBlock> 
</apex:form>
</apex:page>