<apex:page controller="Vertex_Berry.BSure_ReviewPaymentPlanStatus" Id="PageId">
	<style type="text/css"> 
<!--	    Using to show a popup window for payment plan	-->
	        .customPopup{ 
	            background-color: white;
	            border-style: solid; 
	            border-width: 4px;
	            left: 25%; 
	            padding:10px;
	            position: absolute;
	            z-index: 9999;
	            width: 800px; 
	            margin-left: -100px; 
	            top:2px;
	        } 
	        
<!--	    Setting Background color of pageblock table -->
	        .BgBlueCss
			{
				background-color:#4ABCE0 ;
			}
			
<!--		Setting Background color of the Column text	-->
			.headerRow .ColumnHeadingColor {
            color: #E80000 !important; 
        	}
	</style>
	
	<apex:form Id="FormId">

<script>
    var flag=0;
    var SelectConId1='';
    var InputHidden = '';
    function checkAll(cb)
    {    
        flag=0;
        SelectConId1='';
        var inputElem = document.getElementsByTagName("input");
        for(var i=1; i<inputElem.length; i++)
        {
            if(inputElem[i].id.indexOf("checkedone")!=-1)
            {
                inputElem[i].checked = cb.checked;
                flag=flag+1;
                SelectConId1=SelectConId1+inputElem[i].name+',';
            }
        }
        if(cb.checked!=true)
        {
            SelectConId1="";
            flag=0;
        } 
        //alert(SelectConId1);
        InputHidden.value = SelectConId1;
    }
    function checkone(cb)
    {
        var countchbox=0;
       
        if(cb.checked)
        {   
            flag=flag+1;
            if((SelectConId1.length)<=1)
            {
                SelectConId1=cb.name+',';
            }
            else
            {
                SelectConId1=SelectConId1+cb.name+',';
            }
        }
        else if((cb.checked)!=true)
        {
            flag=flag-1;
            if((SelectConId1.length)<=1)
            {
                SelectConId1=cb.name+',';
            }
            else
            {
                var allids=SelectConId1.split(',');
                var idarray='';
                for(var i=0;i<allids.length;i++)
                {
                    if(allids[i]!=cb.name  && allids[i]!='')
                    {
                        idarray=idarray+allids[i]+',';
                    }
                }
                SelectConId1=idarray;
            }
        }
        
        var inputElem = document.getElementsByTagName("input");
        for(var i=0; i<inputElem.length; i++)
        {
            if(inputElem[i].id.indexOf("checkedone"))
            {
                countchbox=countchbox+1;
            }
        }
        if(flag==countchbox-1)
        {
              document.getElementById("main").checked=true;
        }
        else
        {
             document.getElementById("main").checked=false;
        }
       //alert(SelectConId1);
       //multiRecordUpdate(SelectConId1);
       InputHidden.value = SelectConId1;
    }
    function changeValue(rb)
	{
		SelectConId1='';
		SelectConId1=rb.value;
		InputHidden.value = SelectConId1;
	}
	
	function colorPageBlock(pageblock, color) {
		if (pageblock != null) 
		pageblock.firstChild.style.cssText = "background-color: " + color + ";";
	}	

</script>	
<apex:pageMessages />	
		<apex:pageBlock >
		
		<apex:pageBlockSection id="redSection" title="List of Delinquent Payment Plans" columns="1">
			<apex:pageBlockSection ></apex:pageBlockSection>
			
		    <apex:pageBlockTable rowClasses="BgBlueCss" value="{!lstPaym}" var="ppls" >
		        
		        <apex:column headerValue="Select" >
					 <input type="radio" value="{!ppls.id}" onclick="changeValue(this);" /> 
				</apex:column>

		        <apex:column headerValue="Payment Plan ID" >
		            <apex:outputlink value="/{!ppls.id}">{!ppls.Name}</apex:outputlink>
		        </apex:column>
		        
		        <apex:column headerValue="Customer Name" >
		            <apex:outputlink value="/{!ppls.Vertex_Berry__Customer_Information__c}">{!ppls.Vertex_Berry__Custome_Name__c}</apex:outputlink>
		        </apex:column>
		        
		        <apex:column value="{!ppls.Vertex_Berry__Payment_Date__c}" headerValue="Payment Date" />
		        <apex:column value="{!ppls.Vertex_Berry__Amount_Due__c}" headerValue="Overall Amount Due" />
		        <apex:column value="{!ppls.Vertex_Berry__Financial_Fees__c}" headerValue="Financial Fees" />
		        <apex:column value="{!ppls.Vertex_Berry__Repayment_Over__c}" headerValue="No. of EMI's" />		        
		        <apex:column value="{!ppls.Vertex_Berry__Monthly_EMI__c}" headerValue="Monthly Emi" />
		        <apex:column value="{!ppls.Vertex_Berry__Amount_Paid__c}" headerValue="Amount Paid" />
		        <apex:column value="{!ppls.Vertex_Berry__Total_Paid_Amount__c}" headerValue="Total Amount Paid" />
		        <apex:column value="{!ppls.Vertex_Berry__Payment_Plan_Status__c}" headerValue="Payment Plan Status" />
		    </apex:pageBlockTable>
		    <script>colorPageBlock(document.getElementById("{!$Component.redSection}"), "red");</script>
		</apex:pageBlockSection>
		
			<apex:pageBlockButtons >
					    <apex:commandButton action="{!multisave}" value="Update" style="width:150px"></apex:commandButton>
			</apex:pageBlockButtons>
					 
		</apex:pageBlock>
		
		<apex:outputPanel rendered="{!vsblPopup}" styleClass="customPopup" id="popId">
		    <apex:pageBlock id="P2id">
		        <apex:pageBlockSection columns="1" id="psecId">
		            
		            <apex:pageBlockSectionItem >
		             <apex:outputlabel value="Payment Plan Id" style="width:350px"></apex:outputlabel>
		             <apex:outputText value="{!StrPpId}" />
		            </apex:pageBlockSectionItem>
		            
		            <apex:pageBlockSectionItem >
		             <apex:outputlabel value="Customer Name" style="width:350px"></apex:outputlabel>
		             <apex:outputText value="{!StrCustName}" />
		            </apex:pageBlockSectionItem>
		            
		            <apex:pageBlockSectionItem >
		             <apex:outputlabel value="Amount Due" style="width:350px"></apex:outputlabel>
		             <apex:outputText value="{!StrAmountDue}" />
		            </apex:pageBlockSectionItem>
		            
		            <apex:pageBlockSectionItem >
		             <apex:outputlabel value="Financial Fees" style="width:350px"></apex:outputlabel>
		             <apex:outputText value="{!StrFinancialFees}" />
		            </apex:pageBlockSectionItem>		       
		            
		            <apex:pageBlockSectionItem >
		             <apex:outputlabel value="Repayment Over" style="width:350px"></apex:outputlabel>
		             <apex:outputText value="{!StrRepaymentOver}" />
		            </apex:pageBlockSectionItem>		                 

		            <apex:pageBlockSectionItem >
		             <apex:outputlabel value="Monthly Emi" style="width:350px"></apex:outputlabel>
		             <apex:outputText value="{!StrMonthlyEMI}" />
		            </apex:pageBlockSectionItem>
		            
		            <apex:pageBlockSectionItem >
		             <apex:outputlabel value="Amount Paid" style="width:350px"></apex:outputlabel>
		             <apex:outputText value="{!StrAmountPaid}" />
		            </apex:pageBlockSectionItem><!--		            

		            <apex:pageBlockSectionItem >
		             <apex:outputlabel value="Total Amount Paid" style="width:350px"></apex:outputlabel>
		             <apex:outputText value="{!StrTotalAmountPaid}" />
		            </apex:pageBlockSectionItem>
		            
		            --><apex:pageBlockSectionItem >
		             <apex:outputlabel value="Payment Status" style="width:350px"></apex:outputlabel>
		             <apex:outputText value="{!StrPaymentStatus}" />
		            </apex:pageBlockSectionItem>
		            		            
		            <apex:pageBlockSectionItem >
		            <apex:outputlabel >Representative Comments </apex:outputlabel>
		             <apex:inputTextArea richText="true" id="txtComments" rows="07" cols="800" style="width:100%" value="{!StrComments}"/>
		            </apex:pageBlockSectionItem>		            		            
		            		            
		            <apex:pageBlockSectionItem >
		            <apex:outputlabel value="Payment plan status" style="width:350px"></apex:outputlabel>
		            <apex:selectList value="{!StrPaymentPlanStatus}" multiselect="false" size="1">
				         <apex:selectOption itemValue="Active" itemLabel="Active"/>
				         <apex:selectOption itemValue="Cancelled" itemLabel="Cancelled"/>
				    </apex:selectList>
		            </apex:pageBlockSectionItem>
		            		            

				     		            
		        </apex:pageBlockSection> 
		       
		        <apex:pageBlockSection columns="1" id="pbsId">
			        <apex:outputpanel >
			        <center>
			            <apex:commandButton value="Update" action="{!Save}" style="width:120px"/ >
			            <apex:commandButton value="Close" action="{!Close}" style="width:120px"/ >
			        </center>
			        </apex:outputpanel>
		        </apex:pageBlockSection>
		        </apex:pageBlock>
				</apex:outputPanel>	
				<apex:inputHidden Id="InputHiddenIds" value="{!InputHiddenIds}"/> 
				<script>
				    InputHidden = document.getElementById('{!$Component.PageId:FormId:InputHiddenIds}');
				</script>			
	</apex:form>

</apex:page>