<apex:page standardController="Vertex_Berry__BsureCreditApplication__c" extensions="Vertex_Berry.BSure_ViewCreditApplication">
<apex:detail subject="{!CreditApplicationDetails}" relatedListHover="true" inlineEdit="false"/>
<script>
 var showEquifaxButton = 'false';
showEquifaxButton = "{!visibilityEquifaxbtn}";
//alert('showEquifaxButton==========='+showEquifaxButton);
if(showEquifaxButton == 'false')
{
    //var nodeList = document.getElementsByName("equifax_request");
    (document.getElementsByName("equifax_request")[0]).style.display = "none";
    (document.getElementsByName("equifax_request")[1]).style.display = "none";
}

</script>
</apex:page>