<apex:page id="ptlSubscribeConfirmPage" controller="pymt.SiteSubscribeConfirmController" tabStyle="pymt__PaymentX__c" cache="false" sidebar="false" language="{!$CurrentPage.Parameters.lang}">
<head>
<title>Checkout Complete</title>
<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.pymt__PaymentConnect,'styles/ptl_basic.css')}" />

</head>
 
    <div id="pc_context_{!HTMLENCODE($CurrentPage.parameters.context)}">
    <div id="pc_lang_{!HTMLENCODE($CurrentPage.parameters.lang)}">
    <div class="pc_page" id="pc_ptlsubscribeconfirm_page">
    <div class="pc_page_content_top"></div>
    <div class="pc_page_content">
    <div class="pc_page_content_inner"> 
    <apex:form id="checkoutConfirmForm"  >
        <apex:outputPanel id="checkoutConfirmFormPanel" >

            <apex:pageMessages id="messages"/>
            <apex:outputPanel rendered="{!showPageContents}"> 
            <apex:outputPanel rendered="{!NOT($Label.SiteSubscribeConfirm_Heading == '-')}">
            <apex:sectionHeader title="{!$Label.SiteSubscribeConfirm_Heading}" />
            </apex:outputPanel>
            
                <apex:outputPanel rendered="{!NOT($Label.SiteSubscribeConfirm_CompletedMessage == '-')}">
                <p>{!$Label.SiteSubscribeConfirm_CompletedMessage}</p> 
                </apex:outputPanel>
                <apex:outputPanel rendered="{!NOT($Label.SiteSubscribeConfirm_ReceiptDetailsHeading == '-')}">            
                <h2>{!$Label.SiteSubscribeConfirm_ReceiptDetailsHeading}</h2>
                </apex:outputPanel>

              
                <apex:panelGrid columns="2" columnClasses="labelColumn,term_column" id="subscription_terms">
                
                    <apex:outputText value="{!$Label.Label_SubscriptionFor}:" />
                    <apex:outputText value="{!profileName}"/>
    
                    <apex:outputText value="{!$Label.Label_Description}:" rendered="{!NOT(ISNULL(profileDescription))}" />
                    <apex:outputText value="{!profileDescription}" rendered="{!NOT(ISNULL(profileDescription))}"/>
                                
                    <apex:outputText value="{!$Label.Label_StartDate}:" />
                    <apex:outputText value="{!startDateString}"/>
    
                    <apex:outputText value="{!$Label.Label_InitialAmount}:"  rendered="{!NOT(ISNULL(initialAmount))}"/>          
                    <apex:outputText rendered="{!NOT(ISNULL(initialAmount))}"
                        value="{!currencyFormatExpression}" >                    
                    <apex:param value="{!initialAmount}"/>
                    </apex:outputText>
              
                    <apex:outputText value="{!$Label.Label_TrialAmount}:"  rendered="{!NOT(ISNULL(trialTerms))}"/> 
                    <apex:outputPanel layout="inline" rendered="{!NOT(ISNULL(trialTerms))}">
                      <apex:outputText value="{!currencyFormatExpression}" >                  
                      <apex:param value="{!trialAmount}"/>
                      </apex:outputText>&nbsp;<apex:outputText value="{!trialTerms}"/>
                      
                    </apex:outputPanel>
        
                    <apex:outputText value="{!$Label.Label_SubscriptionAmount}:"/> 
                    <apex:outputPanel layout="inline">
                      <apex:outputText value="{!currencyFormatExpression}" >
                      <apex:param value="{!recurringAmount}"/>
                      </apex:outputText>&nbsp;<apex:outputText value="{!subscriptionTerms}"/>
                    </apex:outputPanel>
    
                </apex:panelGrid>
              
              
              <h2>{!$Label.SiteSubscribeConfirm_ReceivedFromHeading}</h2>
              <p>{!firstname} {!lastname}<br/>
                {!billingStreet}<br/>
                {!billingCity}, {!billingState}&nbsp;{!billingPostalCode}<br/>
                {!billingCountry}<br/>
              </p>
              <h2>{!$Label.SiteSubscribeConfirm_PaidToHeading}</h2>
              <p>{!$Organization.Name}<br/>
                {!$Organization.Street}<br/>
                {!$Organization.City}, {!$Organization.State}&nbsp;{!$Organization.PostalCode}<br/>
                {!$Organization.Country}<br/>
                {!$Organization.Phone}<br/>
              </p>
              <apex:commandButton id="finish" value="{!$Label.SiteSubscribeConfirm_FinishedButton}" action="{!finishTransaction}" onclick="" rendered="{!finishURL <> null}"/>
 
            </apex:outputPanel>
        </apex:outputPanel>
    </apex:form>
    </div><!--  pc_page_content_inner -->
    </div><!--  pc_page_content -->
    </div><!--  pc_page --> 
</div> <!--  page pc_lang_xxx div -->
</div> <!--  page pc_context_xxx div -->
</apex:page>