<apex:page id="ptlScheduledPaymentsPage" controller="pymt.SiteScheduledPaymentsController" sidebar="false" title="Scheduled Payments"  cache="false" >
<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.pymt__PaymentConnect,'styles/ptl_basic.css')}" />
 
  <div class="pc_page_content_top"></div>
  <div class="pc_page_content"  id="pc_ptlscheduledpayments_page">
    <div class="pc_page_content_inner"> 
    <apex:outputPanel rendered="{!(ISPICKVAL($User.UserType,'Guest'))}"> 
        <apex:pageMessage summary="Login required." severity="warning" strength="3" />
    </apex:outputPanel>
    <apex:outputPanel rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">
    
    <apex:pageMessages id="messages"/>    

    <apex:outputPanel rendered="{!NOT($Label.SiteScheduledPayments_Heading == '-')}">
    <apex:sectionHeader title="{!$Label.SiteScheduledPayments_Heading}" />
    </apex:outputPanel>
                        
    <apex:outputPanel rendered="{!NOT($Label.SiteScheduledPayments_Message == '-')}">
    <p>{!$Label.SiteScheduledPayments_Message}</p> 
    </apex:outputPanel>
    
    <c:ScheduledPaymentList contactId="{!contactId}" usePtlCheckout="True" />
    </apex:outputPanel>
    
    
    </div>
  </div>

</apex:page>