<apex:page docType="html-5.0" showHeader="false" id="SiteTemplate" standardStylesheets="false" language="{!$CurrentPage.Parameters.lang}">
<head>
<style>
body, div, dl, dt, dd,   h1, h2, h3, h4, h5, h6, pre, form, fieldset,  p, blockquote, th, td 
{
margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
padding-top: 0pt;
padding-right: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
}

</style>
<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.pymt__PaymentConnect,'styles/sites_basic.css')}" /> 
<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.pymt__PaymentConnect,'styles/trust_logos.css')}" /> 
<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.pymt__PaymentConnect,'styles/default/main.css')}" /> 
<style>

</style>
</head>
<body id="htmlBody" >
<div id="divHeaderWrapper" class="clearfix">
    <div id="divHeader" >
        <div id="divHeaderLogo">
            <div class="org_name">{!$Organization.Name}</div>
        </div>

    </div>
</div>

    <div class="pc_frame box rounded-corners-5">
    <div class="pc_frame_inner">
    
    <apex:insert name="body"/>
   
    </div><!--  end pc_frame_inner -->
    </div><!--  end pc_frame -->

<div id="divFooter" class="clearfix">
    <div class="no-padding clearfix"></div>
    <div id="divCompanyInfo">

    <address>

        <span class="address">&copy; {!$Organization.Name}</span>, {!$Organization.Street},&nbsp;{!$Organization.City}&nbsp;{!$Organization.State}&nbsp;  {!$Organization.PostalCode}&nbsp;  
        <span class="poweredBy" style="float:right;"><a href="https://www.linvio.com">{!$Label.site.powered_by} PaymentConnect</a></span>               
    </address>

    </div>
</div>

</body>
</apex:page>