<apex:page standardController="ffproto_aging__AsOfAgingBatchJob__c" extensions="ffproto_aging.AsOfAgingBatchJobController" >
    <apex:sectionHeader title="{!$ObjectType.ffproto_aging__AsOfAgingBatchJob__c.Label}" subtitle="{!ffproto_aging__AsOfAgingBatchJob__c.Name}"/>
	<apex:pageBlock >
		<apex:pageBlockSection collapsible="false" columns="1">
		    <apex:outputField value="{!ffproto_aging__AsOfAgingBatchJob__c.ffproto_aging__AsOfAging__c}"/>
		    <apex:outputField value="{!ffproto_aging__AsOfAgingBatchJob__c.Name}"/>
		</apex:pageBlockSection>
	</apex:pageBlock>
	<apex:pageBlock >
		<apex:pageBlockSection collapsible="false" columns="1" rendered="{!hasAsyncApexJob}" >
			<apex:outputField value="{!AsyncApexJob.Status}"/>
			<apex:outputField value="{!AsyncApexJob.ExtendedStatus}"/>
			<apex:outputField value="{!AsyncApexJob.CreatedDate}"/>
			<apex:outputField value="{!AsyncApexJob.CompletedDate}"/>
			<apex:outputField value="{!AsyncApexJob.JobItemsProcessed}"/>
			<apex:outputField value="{!AsyncApexJob.TotalJobItems}"/>
			<apex:outputField value="{!AsyncApexJob.NumberOfErrors}"/>
			<apex:outputField value="{!AsyncApexJob.Id}"/>
		</apex:pageBlockSection>
		<apex:pageBlockSection collapsible="false" columns="1" rendered="{!!hasAsyncApexJob}" >
			<apex:outputText label="{!$ObjectType.AsyncApexJob.Fields.Status.Label}" value="The record of the Apex Job no longer exists" /> 
		</apex:pageBlockSection>
	</apex:pageBlock>
</apex:page>