<apex:page standardcontroller="BigMachines__Quote__c" extensions="BigMachines.BigMachinesEditQuoteController" tabStyle="BigMachines__Quotes__tab">
    <apex:sectionHeader title="{!$ObjectType.BigMachines__Quote__c.Label} Edit" subtitle="{!subtitle}" rendered="{!displayHeader}" />
    <apex:outputText rendered="false" value="{!BigMachines__Quote__c.Name}" />
    <apex:outputText rendered="false" value="{!BigMachines__Quote__c.BigMachines__Transaction_Id__c}" />
    <apex:outputText rendered="false" value="{!BigMachines__Quote__c.BigMachines__Opportunity__c}" />
    <apex:outputText rendered="false" value="{!BigMachines__Quote__c.BigMachines__Opportunity__r.AccountId}" />

    <style>

    /* adds scroll bar to sidebar, kills some sfdc js that resizes the main body, and sets the scrollbars for the main iframe */

    #sidebarDiv {
        overflow-y:auto; /*optionally add scrollbar*/
        overflow-x:hidden;
        position:relative;/*fixes positioning in IE*/
    }
    #bodyTable {
        height:1px !important;
        width:auto !important;
    }
    #bodyCell{
        overflow: auto;
        -webkit-overflow-scrolling:touch;
        position:relative;
        }
    #edit_quote {
        overflow-y:scroll;
        overflow-x:auto;
    }
     #canvas-frame-_:Oracle_CPQ_OAuth:oauth_canvas_id{
         min-height: 600px!important;
     }
    </style>

   <script type="text/javascript" src="https://na1.salesforce.com/canvas/sdk/js/30.0/controller.js"></script>
    <script type="text/javascript" src="https://na7.salesforce.com/canvas/sdk/js/31.0/canvas-all.js"></script>
    <script type="text/javascript">
    (function(){
              var grbId = document.getElementById("bodyCell");
              grbId.setAttribute("width","100%");
              var sfdcFooterId = '';
              
              function resize(){
            var sfdcHeader = (document.getElementById('AppBodyHeader')) ? document.getElementById('AppBodyHeader').offsetHeight : 0;
            var topBorder = (document.getElementById('motifCurve')) ? document.getElementById('motifCurve').offsetHeight : 0;
            var bmHeader = ({!displayHeader}) ? 65 : 0;
            var bmFooter = 20;
            var bottomBorder = (document.getElementById('bd_b')) ? document.getElementById('bd_b').offsetHeight : 20;
            var sfdcFooter = (sfdcFooterId.length > 0) ? document.getElementById(sfdcFooterId).offsetHeight : 0;
            var pageHeight = window.innerHeight || document.documentElement.clientHeight;

            var root = document.compatMode=='BackCompat' ? document.body : document.documentElement;
            var isHorizontalScrollbar = root.scrollWidth >= root.clientWidth;
            var sidebarDiv = document.getElementById('sidebarDiv');  
            var sidebarWidth = (sidebarDiv) ? document.getElementById('sidebarDiv').offsetWidth : 0;
            var isCollapsible = document.getElementById('handlebarContainer');
            var handleWidth = (isCollapsible) ? document.getElementById('handlebarContainer').offsetWidth : 0;
            var borders = 60;
             var scrollbarHeight = (isHorizontalScrollbar) ? 17 : 0;
             var sidebarPadding = 4;
             var winHeight = pageHeight - sfdcHeader - topBorder - bmHeader - bmFooter - bottomBorder - sfdcFooter - scrollbarHeight;
             try {
                var sidebarDivPadding = window.getComputedStyle(sidebarDiv, null).getPropertyValue('padding-top');
                var sidebarCellPadding = window.getComputedStyle(document.getElementById('sidebarCell'), null).getPropertyValue('padding-top');
                sidebarPadding = parseInt(sidebarDivPadding) + parseInt(sidebarCellPadding);
            } catch (err) {}
             if (sidebarDiv) {
                sidebarDiv.style.height = pageHeight - sfdcHeader - topBorder - bottomBorder - sfdcFooter - scrollbarHeight - sidebarPadding + 'px';
            }
             if (isCollapsible) {
                document.getElementById('handlebarContainer').style.height = pageHeight - sfdcHeader - topBorder - bottomBorder - sfdcFooter - scrollbarHeight - sidebarPadding - 5 + 'px';
            }
             var resizeel = setInterval(function() {
                
                var iframe = Sfdc.canvas.byId('canvas-frame-_:Oracle_CPQ_Cloud:oauth_canvas_id');
                if (iframe && iframe.style.display == 'inline') {
                    Sfdc.canvas.controller.resize({height: winHeight <= 450 ? 450 + "px" : winHeight + "px" });
                    clearInterval(resizeel);
                }
            }, 50);
             
             
              } // resize End
              window.addEventListener("load", function(){
                  var divs = document.getElementsByTagName('div');
                    for (var i = 0; i < divs.length; i++) {
                        if (divs[i].className.indexOf('bPageFooter') != -1) {
                            divs[i].style.display = 'none';
                            if (!divs[i].id) {
                                divs[i].id = sfdcFooterId;
                            } else {
                                sfdcFooterId = divs[i].id;
                            }
                            break;
                        }
                    }
            resize();
        }, false);
        window.onresize=resize;
  
    }());
    </script>
    <apex:pageMessages />
    <!-- Note: if you change the applicationName or id of the canvasApp, you MUST also change it in the above script or the resize method will NOT work -->
   <apex:canvasApp rendered="{!canvasAppRendered}" scrolling="yes" applicationName="Oracle CPQ Cloud" width="100%" id="edit_quote" canvasId="oauth_canvas_id" parameters="{redirect_url:'{!EditURL}'}"  />
   <!-- <iframe height="646px" src="{!EditURL}&_partnerSessionUrl={!$Api.Partner_Server_URL_290}&_partnerSessionId={!$Api.Session_ID}" id="edit_quote" name="edit_quote" title="Content" scrolling="yes" width="auto" frameborder="0"></iframe> -->
</apex:page>