<apex:page controller="BillingWizard_v1" sidebar="false" tabStyle="Telco__c" id="Pg" showHeader="false">
  
   <apex:sectionHeader title="Create Statement Wizard" subtitle="Step 2 of 3"/>
    
    <apex:form id="frm">
    <apex:pageMessages ></apex:pageMessages>
    <apex:actionstatus id="fetchStatus">
        <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                height:100%;opacity:0.65;width:100%;"> 
                <div class="waitingHolder" style="width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
        </apex:facet>
     </apex:actionstatus>
        
        <apex:pageBlock title="Create Statement File" id="pgblk">
        <apex:pageblockButtons location="bottom">
                        <apex:commandButton value="Cancel" style="width:120px;height:30px;font-size:13px" action="{!FinishBillingWizard}"/>
                        <apex:commandButton value="Previous Page" style="width:120px;height:30px;font-size:13px" action="{!backtoBillingWizard}"/> 
                        <apex:commandButton value="Next" style="width:120px;height:30px;font-size:13px" action="{!enterCreateStmt2}"/> 
        </apex:pageblockButtons>
        <apex:pageBlockSection columns="1">
        <apex:pageBlockSectionItem >
        <apex:outputLabel style="font-weight: bold;color: #4a4a56;">Selected Date :</apex:outputLabel>
        <apex:outputText value="{!StatementDate}"/>
        </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection >
        <apex:pageMessage summary="Please make sure the last cash matching job was run" severity="warning" strength="1"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection >
        
        </apex:pageBlockSection>
        <apex:pageBlockSection title="Run Late Fee" collapsible="false">
        <apex:commandButton value="Run Late Fee Job" action="{!InvokeLateFeeBatch}" reRender="frm,pgblk,batchPanel" status="fetchStatus" /> 
        <apex:outputPanel >
        <apex:inputCheckbox value="{!isSkipLateFee}">
        <apex:actionSupport event="onchange" reRender="frm,pblk,CreateBtnSection" status="fetchStatus" />
        </apex:inputCheckbox> <apex:outputLabel >Skip Late Fee Job</apex:outputLabel>
        </apex:outputPanel>
        
        <apex:actionPoller action="{!PollingBatchProcess}" enabled="{!polleraction}" interval="5" reRender="frm,pblk,pbtable,batchPanel,scriptpanel,CreateBtnSection" status="pollingStatus"/>
        <apex:pageBlockSection id="batchPanel" columns="1" rendered="{!isBatchProcessed}">
        <apex:actionStatus startText="(checking progress...)" id="pollingStatus"/>
        <apex:pageBlockSectionItem rendered="{!if(batchId==null,false,true)}">
           <apex:outputLabel style="font-weight:bold;color: #4a4a56;width: 140px;float: left;text-align: left;">Status of Late Fee Batch :</apex:outputLabel> 
           <apex:outputLabel value="{!batchStatus}" style="font-weight:bold;color:{!If(batchStatus=='Completed','green','red')}"> </apex:outputLabel>
        </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        </apex:pageBlockSection>
        <apex:pageBlockSection title="Create Statement" collapsible="false" id="CreateBtnSection">
        <apex:commandButton value="Create Statement" action="{!CreateStatement}" reRender="frm,pgblk" status="fetchStatus" onComplete="alert('Statement Generated');" disabled="{!if((batchStatus=='Completed' || isSkipLateFee),false,true)}" /> 
        </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>