<apex:page controller="BillingWizard_v1" sidebar="false" tabStyle="Telco__c" id="Pg" showHeader="false">
 <apex:includeScript value="{!URLFOR($Resource.jqueryui18, '/jqueryui18/js/jquery-1.7.1.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.jqueryui18, '/jqueryui18/js/jquery.vfFloatingHeaders.js')}"/>
 <apex:sectionHeader title="Subsequent Print Local/Foreign Wizard" subtitle="Step 3 of 3"/>
<style>
        .centercolpost{text-align:center;width:10%;}
    </style>
    <script type="text/javascript">
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,',
            template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
            base64 = function (s) {
                return window.btoa(unescape(encodeURIComponent(s)))
            }, format = function (s, c) {
                return s.replace(/{(\w+)}/g, function (m, p) {
                    return c[p];
                })
            }
        return function (table, name, filename) 
        {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = {
                worksheet: 'Telco Invoices',
                table: table.innerHTML
            }
            document.getElementById("dlink").href = uri + base64(format(template, ctx));
            document.getElementById("dlink").download = filename;
            document.getElementById("dlink").click();
            //window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>
<apex:outputPanel id="scriptpanel">
  <script>
    var totalcount=0;
    var totalcountRec='{!SubsequentWrapLst.size}';
    
    function checkbox(getchkbox,listsize)
    {
        if(totalcount<0)
            totalcount=0;
        if(getchkbox.checked)
            totalcount=totalcount+1;
        else
            totalcount=totalcount-1;       
    }
    function checkboxForRec(getchkbox,listsize)
    {
        if(totalcountRec<0)
            totalcountRec=0;
        if(getchkbox.checked)
            totalcountRec=totalcountRec+1;
        else
            totalcountRec=totalcountRec-1;
    }       
    function ValidatePostData()
    {
      var lstsize='{!SubsequentWrapLst.size}';
      var countunchecked=0;
      for(var i=0;i<lstsize;i++)
      {
              var recchk=document.getElementById('Pg:frm:pblk:pbtable:pgbdtble:'+i+':reconciledchckbox').checked;
              var postchk=document.getElementById('Pg:frm:pblk:pbtable:pgbdtble:'+i+':cccheckbox1').checked;
              if(postchk  ==true && recchk==false)
              {
                  countunchecked=countunchecked+1;
              }
       }
       
       if(countunchecked>0)
       {
             alert('You are about to submit '+countunchecked+' unreconciled records');
               
           if(totalcount<0)
           totalcount=0;
            if(totalcount<0)
               totalcount=0;
                if(totalcount<=0)
                alert('Please select invoices for Posting to FinancialForce');
                else
                {
                  var res=confirm('Are you sure you want to post?\nThis cannot be undone');
                  if(res==true)
                  {
                    postsubseqentInvoices(); 
                  }
                }
       }
       else if(countunchecked==0)
       {
             if(totalcount<0)
               totalcount=0;
                if(totalcount<=0)
                alert('Please select invoices for Posting to FinancialForce');
                else
                {
                  var res=confirm('Are you sure you want to post?\nThis cannot be undone');
                  if(res==true)
                  {
                    postsubseqentInvoices(); 
                  }
                }
       }
    }
    
    
    function checkAll(cb)
        {
            var inputElem = document.getElementsByTagName("input");
            var iCount = 0;
            for(var i=0; i<inputElem.length; i++)
            {
            
                if(cb.checked)
                {
                    if(inputElem[i].id.indexOf("cccheckbox1")!=-1) {
                        inputElem[i].checked = cb.checked;
                        iCount++;
                    }
                }
                
                else
                {
                        if(inputElem[i].id.indexOf("cccheckbox1")!=-1) {
                        inputElem[i].checked = cb.checked;
                        iCount--;
                    }
                }
                
            }
            if(cb.checked)
                totalcount=iCount;
            else
                totalcount=0;
        } 
         
        $(function() { 
                if($.browser.mozilla) 
                    //table row doean't float in firefox, div floats 
                    $(".floatingHeader" + " tr th div").addClass("floatingStyle");
                    });
        $(document).ready(function() 
        {
            $('.floatingHeaderTable').vfFloatingHeaders();
            
        });
        
        function esc(myid) 
        {
           return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
        }
    </script> 
    </apex:outputPanel>
<apex:form id="frm">
<apex:pageMessages ></apex:pageMessages>
 <apex:actionstatus id="fetchstatus">
                        <apex:facet name="start">
                            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;"> 
                                <div class="waitingHolder" style="width: 91px;">
                                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                    <span class="waitingDescription">Loading...</span>
                                </div>
                            </div>
                        </apex:facet>
                    </apex:actionstatus>
      <apex:pageBlock id="pblk" title="Post to Financial Force">
     <script> 
                    
            var pTableId = '{!$Component.Pg.frm.pblk.pbtable.pgbdtble}'; 
            var pTableBodyId = pTableId + ':tb';
            var pbsId = '{!$Component.Pg.frm.pblk.pgblksec}';
                    
          </script>
     <apex:pageBlockSection columns="1" id="pgblksec">
     <apex:pageBlockSectionItem dataStyle="padding-top:20px">
      <apex:outputPanel >
      <apex:outputLabel style="color: #4a4a56;font-weight: bold;">Selected Date Range : &nbsp; </apex:outputLabel>
      <apex:outputLabel style="color: #4a4a56;font-weight: bold;"> {!fromdate} - {!todate} </apex:outputLabel>
      </apex:outputPanel>
</apex:pageBlockSectionItem>
     </apex:pageBlockSection>
   <apex:pageBlockSection columns="1" collapsible="false" id="pbtable" title="Invoice Summary">
   <apex:outputPanel style="width:100%;height:{!if(SubsequentWrapLst!=null,if(SubsequentWrapLst.size>10,'300px','250px'),'200px')};overflow:auto;" layout="block" styleClass="tableContainer" id="panel">
   <apex:pageBlockTable value="{!SubsequentWrapLst}" var="Subcc" id="pgbdtble" styleclass="floatingHeaderTable">
  <apex:column headerValue="Invoice Number">
    <a href="/{!Subcc.Recordid}" target="_BLANK"> {!if(Subcc.checkCredit,Subcc.SCRName,Subcc.InvoiceName)}</a>
  </apex:column>
    <apex:column headerValue="Invoice Date">
                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                <apex:param value="{!Subcc.InvoiceDate}"/> 
                            </apex:outputText>
                            </apex:column>
  
    <apex:column headerValue="Invoice Total">
    <apex:outputText value="{0,number,$ 0.00}">
    <apex:param value="{!Subcc.TotalOLI}"/>
    </apex:outputText>
    </apex:column>
     <apex:column value="{!Subcc.OLIcount}" headerValue="# of Line Items" />
     <apex:column value="{!Subcc.AccountName}" headerValue="Account Name"/>
     <apex:column value="{!Subcc.CustomerName}" headerValue="Customer Name"/>
     <apex:column value="{!Subcc.Accountnumber}" headerValue="Customer Account #" />
     <apex:column headerValue="Rec">
      <apex:inputCheckbox id="reconciledchckbox" value="{!Subcc.isReconciled}" rendered="{!!isExport}"/>
      <apex:outputText value="{!Subcc.isReconciled}" rendered="{!isExport}" ></apex:outputText>
    </apex:column> 
    <apex:column headerClass="centercolpost" style="text-align:center;" width="15%">
                            <apex:facet name="header">
                                <apex:outputPanel >
                                <apex:outputLabel style="position:relative;float: Center;" >Post&nbsp;</apex:outputLabel>
                                <apex:inputCheckbox id="chkbox1" onclick="checkAll(this)" rendered="{!!isExport}"/>
                                 </apex:outputPanel>
                            </apex:facet>
                                 <apex:inputCheckbox id="cccheckbox1" value="{!Subcc.ischecked}" onchange="checkbox(this,'{!SubsequentWrapLst.size}')" rendered="{!!isExport}"/>
                               <apex:outputText value="{!Subcc.ischecked}" rendered="{!isExport}"></apex:outputText>  
                        </apex:column>   
   </apex:pageBlockTable>
   
     </apex:outputPanel>
       </apex:pageBlockSection>
    
    <apex:actionPoller action="{!PollingBatchProcess}" enabled="{!polleraction}" interval="5" reRender="frm,pblk,pbtable,batchPanel,scriptpanel" status="pollingStatus"/>
    
    <apex:pageBlockSection id="batchPanel" columns="1" title="FF Batch Process" rendered="{!isBatchProcessed}">
    <apex:actionStatus startText="(checking progress...)" id="pollingStatus" />
    <apex:pageBlockSectionItem rendered="{!if(batchId==null,false,true)}">
       <apex:outputLabel style="font-weight:bold;color: #4a4a56;">Status of Financial Force Invoice Batch :</apex:outputLabel> 
       <apex:outputLabel value="{!batchStatus}" style="font-weight:bold;color:{!If(batchStatus=='Completed','green','red')}"> </apex:outputLabel>
    </apex:pageBlockSectionItem>
     <apex:pageBlockSectionItem rendered="{!if(SCNbatchId==null,false,true)}">
       <apex:outputLabel style="font-weight:bold;color: #4a4a56;">Status of Financial Force SCN Batch :</apex:outputLabel>
       <apex:outputLabel value="{!SCNbatchStatus}" style="font-weight:bold;color:{!If(SCNbatchStatus=='Completed','green','red')}"> </apex:outputLabel>  
    </apex:pageBlockSectionItem>
    </apex:pageBlockSection>  <br/>    
    <apex:pageBlockSection id="btnPanel">
    <apex:pageBlockSectionItem >
    <apex:outputPanel >
         <apex:commandButton value="Post To FF" style="width:120px;height:30px;font-size:13px;margin-left:30px" status="fetchStatus" onclick="ValidatePostData();return false;" disabled="{!if(SubsequentWrapLst.size==0,true,false)}"/>
        <apex:actionFunction action="{!postInvoicestoFF}"  name="postsubseqentInvoices" reRender="frm,pblk,pgblksec,pbtable,batchPanel,scriptpanel" status="fetchStatus"/>
        <apex:commandButton id="Exportbtn" value="Export to Excel" style="width:120px;height:30px;font-size:13px;margin-left:30px"   onclick="toggleexport();return false;" disabled="{!if(SubsequentWrapLst.size==0,true,false)}"/><a id="dlink" style="display:none;">Download</a>
    
    <apex:actionFunction action="{!toggleExport}" name="toggleexport" reRender="frm,pbtable,pgbdtble" status="fetchstatus" oncomplete="tableToExcel('{!$Component.Pg.frm.pblk.pbtable.pgbdtble}', '{!$Component.Pg.frm.pblk.pbtable.pgbdtble}','Subsequent Invoices Report.xls');toggleexportback();"/>
    <apex:actionFunction action="{!toggleExportReturn}" reRender="frm,pbtable,pgbdtble" name="toggleexportback" status="fetchstatus"/>
    
    </apex:outputPanel>
    </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
     <br/>  
   <apex:pageBlockSection id="btnPanel1" columns="1">
    <apex:pageBlockSectionItem dataStyle="text-align:center">
      <apex:outputPanel >
      <apex:commandButton value="Cancel" style="width:120px;height:30px;font-size:13px;margin-left:30px" id="CancelSecondStep" action="{!cancelSubsequentStep}" status="fetchStatus"/>
      <apex:commandButton value="Previous " style="width:120px;height:30px;font-size:13px;margin-left:30px" id="PrvsSecondStep" status="fetchStatus" action="{!enterSubsequentStep1}"/>
      <apex:commandButton value="Finish"  style="width:120px;height:30px;font-size:13px;margin-left:30px" id="btnPanel" status="fetchStatus" action="{!cancelSubsequentStep}" disabled="{!if(SubsequentWrapLst.size==0,false,true)}"/>
     </apex:outputPanel>
    </apex:pageBlockSectionItem>
   </apex:pageBlockSection>
   </apex:pageBlock>
     </apex:form>
</apex:page>