<apex:page standardController="Account" extensions="BillingTransferController" sidebar="false">
    <apex:form id="frm" >
    <apex:outputPanel rendered="{!NOT(skipmessage)}">
    <apex:pageMessages ></apex:pageMessages>
    </apex:outputPanel>
  <!--  <apex:actionFunction name="deleteRecord" action="{!deleteRecord}" status="counterStatus" reRender="frm">
    <apex:param name="prm" assignTo="{!CheckforSINorSCN}" value=""/>
    <apex:param name="prm1" assignTo="{!recordIdFordelete}" value=""/>
    </apex:actionFunction> -->
        <apex:actionstatus id="counterStatus">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;">
                    <div class="waitingHolder" style="width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Loading...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>     
        <apex:pageBlock >
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Done" action="/{!accountId}"/>
                  <!--<apex:commandButton value="Back to Billing Transfer" action="/apex/BillingTransferPage?id={!accountId}"/>-->
                  <a href="/apex/BillingTransferPage?id={!accountId}"  class="btn" style="padding: 4px;text-decoration: none;color:#333">Back to Billing Transfer</a>
                  <a href="/apex/BillingTransferReportPage?id={!accountId}" target="_BLANK" class="btn" style="padding: 4px;text-decoration: none;color:#333">Billing Transfer Report </a>
            </apex:pageBlockButtons>
            <apex:outputPanel rendered="{!skipmessage}">
            <apex:pagemessages ></apex:pagemessages>
            </apex:outputPanel>
            <apex:pageBlockSection columns="1" title="Sales Credit Notes" collapsible="false" rendered="{!IF(lstCreditNoteSummary.size > 0, TRUE, FALSE)}">
                <apex:pageBlockTable value="{!lstCreditNoteSummary}" var="scnitem">
            <!--    <apex:column headerValue="Action" width="8%"  >
                <a href="/{!scnitem.Id}/e?retURL=/{!scnitem.Id}" target="_BLANK">Edit </a> / <a href="javascript:deleteRecord(true,'{!scnitem.Id}')"> Delete</a>
                </apex:column> -->
                    <apex:column headerValue="Credit Note #" >
                       <a href="/{!scnitem.Id}" target="_BLANK"> <apex:outputField value="{!scnitem.Name}"></apex:outputField></a>
                    </apex:column>
                    <apex:column headerValue="Account" width="15%" >
                        <apex:outputField value="{!scnitem.c2g__Account__c}"></apex:outputField>
                    </apex:column>
                    <apex:column headerValue="Transaction Type">
                        <apex:outputField value="{!scnitem.Transaction_Type__c}"></apex:outputField>
                    </apex:column>
                     <apex:column headerValue="Credit Note Date" headerClass="centercol" style="text-align:center;">
                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                <apex:param value="{!scnitem.c2g__CreditNoteDate__c}"/> 
                            </apex:outputText>
                     </apex:column> 
                    <apex:column headerValue="Case">
                        <apex:outputField value="{!scnitem.Case__c}"></apex:outputField>
                    </apex:column>
                    <apex:column headerValue="Credit Note Total">
                        <apex:outputField value="{!scnitem.c2g__CreditNoteTotal__c}"></apex:outputField>
                    </apex:column>
                    <apex:column headerValue="Outstanding Value">
                        <apex:outputField value="{!scnitem.c2g__OutstandingValue__c}"></apex:outputField>
                    </apex:column>
                    <apex:column headerValue="Credit Note Status">
                        <apex:outputField value="{!scnitem.c2g__CreditNoteStatus__c}"></apex:outputField>
                    </apex:column>
                    <apex:column headerValue="Sales Invoice">
                        <apex:outputField value="{!scnitem.c2g__PaymentStatus__c}"></apex:outputField>
                    </apex:column>
                </apex:pageBlockTable>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" title="Sales Invoices" collapsible="false" rendered="{!IF(lstSalesInvoiceSummary.size > 0, TRUE, FALSE)}">
                <apex:pageBlockTable value="{!lstSalesInvoiceSummary}" var="ivitem">
                 <!--   <apex:column headerValue="Action" width="8%">
                        <a href="/{!ivitem.Id}/e?retURL=/{!ivitem.Id}" target="_BLANK"> Edit</a> / <a href="javascript:deleteRecord(false,'{!ivitem.Id}')"> Delete</a>
                    </apex:column> -->
                    <apex:column headerValue="Invoice #" >
                        <a href="/{!ivitem.Id}" target="_BLANK"><apex:outputField value="{!ivitem.Name}"></apex:outputField></a>
                    </apex:column>                  
                    <apex:column headerValue="Account" width="15%">
                        <apex:outputField value="{!ivitem.c2g__Account__c}"></apex:outputField>
                    </apex:column>
                    <apex:column headerValue="Invoice Date" headerClass="centercol" style="text-align:center;">
                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                <apex:param value="{!ivitem.c2g__InvoiceDate__c}"/> 
                            </apex:outputText>
                     </apex:column> 
                    <apex:column headerValue="Period" headerClass="centercol" style="text-align:center;">
                    <apex:outputField value="{!ivitem.c2g__Period__c}"></apex:outputField>
                         <!--   <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                <apex:param value="{!ivitem.c2g__Period__c}"/> 
                            </apex:outputText>-->
                     </apex:column> 
                    <apex:column headerValue="Due Date" headerClass="centercol" style="text-align:center;">
                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                <apex:param value="{!ivitem.c2g__DueDate__c}"/> 
                            </apex:outputText>
                     </apex:column> 
                   <apex:column headerValue="Invoice Currency">
                        <apex:outputField value="{!ivitem.c2g__InvoiceCurrency__c}"></apex:outputField>
                    </apex:column>                   
                    <apex:column headerValue="Invoice Total">
                        <apex:outputField value="{!ivitem.c2g__InvoiceTotal__c}"></apex:outputField>
                    </apex:column>
                    <apex:column headerValue="Print Status">
                        <apex:outputField value="{!ivitem.c2g__PrintStatus__c}"></apex:outputField>
                    </apex:column>  
                    <apex:column headerValue="Invoice Status">
                        <apex:outputField value="{!ivitem.c2g__InvoiceStatus__c}"></apex:outputField>
                    </apex:column>
                    <apex:column headerValue="Company">
                        <apex:outputField value="{!ivitem.Customer_Name__c}"></apex:outputField>
                    </apex:column>  
                </apex:pageBlockTable>
            </apex:pageBlockSection>            
        </apex:pageBlock>
    </apex:form>
    
</apex:page>