<apex:page standardController="Account" extensions="BillingTransferController"  id="pg" sidebar="false">
  <apex:includeScript value="{!URLFOR($Resource.jqueryui18, '/jqueryui18/js/jquery-1.7.1.min.js')}"/>
  <style>
 
#overlay {
background-color: #fbfbfb;
height:100%;
opacity:0.65;
width:100%;
margin-top:50px;
}
.CreditNotePopup{
    background-color: #f8f8f8;
    z-index: 9999;
    left: 50%;
    padding:10px;
    position: absolute;
    /* These are the 3 css properties you will need to change so the popup 
    displays in the center of the screen. First set the width. Then set 
    margin-left to negative half of what the width is. You can add 
    the height property for a fixed size pop up if you want.*/
    width: 500px;
    margin-left: -250px;
    top:100px;
    border-radius:15px;   
   
}
.popupBackground{
    background-color:black;
    opacity: 0.20;
    filter: alpha(opacity = 20);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
}

  </style>
<apex:form id="frm"> 
<apex:outputPanel id="pgmsg">
<apex:pageMessages id="errMsg"></apex:pageMessages>
</apex:outputPanel>
        <apex:actionFunction id="fncname" action="{!CheckSubSequentDate}" name="CheckSubsequentDate" reRender="pgblk" status="counterStatus">
            <apex:param name="OldValue" value="" assignTo="{!CheckBoolForInvice}" />
            <apex:param name="selecteddate" value="" assignTo="{!selectedDate}" />
            <apex:param name="oliIdIn" value="" assignTo="{!OLIIdforInvoice}" />
        </apex:actionFunction>
        <apex:actionFunction id="validate" action="{!validate}" name="validate" reRender="frm,pgmsg,errMsg,pbutton,scnPanel,creditNotePopUpId" status="counterStatus">
            <apex:param name="isValidate" value="" assignTo="{!isValidate}" />
        </apex:actionFunction> 
        <apex:actionFunction id="goToPage4" action="{!goToPage4}" name="goToPage4" />                       
        <apex:actionFunction id="fncname1" action="{!selectAllForTransfer}" name="selectAll" reRender="frm" status="counterStatus">
            <apex:param assignTo="{!selectAllCheckForTransfer}" name="prm" value=""/>
        </apex:actionFunction>  
      <apex:actionFunction id="fncname2" action="{!CheckBundleForFinal}" name="CheckBulndle" reRender="frm" status="counterStatus">
            <apex:param name="oliId1" value="" assignTo="{!OLIIdforcheck}" />
            <apex:param name="OldValue1" value="" assignTo="{!CheckBool}" />
        </apex:actionFunction>                
        <apex:actionstatus id="counterStatus">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;">
                    <div class="waitingHolder" style="width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Loading...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>        
        <apex:pageBlock id="pgblk"  >
         <div id="{!divId}">

            <div style="float:right;margin-right:37px">          
                <apex:inputCheckbox id="selectAllchkbox" onChange="checkAll(this)"  style="margin-top:8px;" selected="{!checkAllCheckbox}"  rendered="{!IF(SalesInvoiceWrapperListNew.size > 0, TRUE, FALSE)}"/>
                <apex:pageBlockButtons location="top" id="pbutton">
                    <apex:commandButton value="Previous"  action="{!backToStep2}"/>
                    <apex:commandButton value="Retro Transfer"  action="{!confirm}" disabled="{!IF(confirmButton==false && enableConfirmButton==false,false,true)}" id="ConfirmButton" oncomplete="goToPage4();"  status="counterStatus">
                       <apex:param name="confirm" value="false" assignTo="{!isValidate}" />
                     </apex:commandButton>
                    <apex:commandButton value="Future Transfer" action="{!skipAndUpdate}" disabled="{!IF(skipButton==false && enablefutureButton==false,false,true)}"  id="futureButton" oncomplete="goToPage4();"  status="counterStatus" >
                     <apex:param name="future" value="false" assignTo="{!isValidate}" />
                     </apex:commandButton>
                    <apex:commandButton value="Validate" onClick="validate(true);return false;"/>
                </apex:pageBlockButtons>
            </div>
        <div style="display:none;" id="scnPopUpDiv">
            <apex:outputPanel id="creditNotePopUpId" >
            <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopUp}"/>
                <apex:outputPanel styleClass="CreditNotePopup" layout="block" rendered="{!displayPopUp}">
                               <apex:pageBlock id="scnpgblk" >
                <div style="margin: 15px 9px;margin-bottom: 15px;font-weight: bold;">
               <apex:outputText > Based on your selection criteria more than 27 SCRs will be created. Please de-select some OLIs for transfer.</apex:outputText>
                </div>
                               
                               <apex:pageBlockButtons location="bottom">
                               <apex:commandButton value="OK" onclick="document.getElementById('scnPopUpDiv').style.display='none';return false;" style="width: 70px;height: 25px;margin-left:45px;"/>
                               </apex:pageBlockButtons>
                                <apex:outputPanel style="max-height: 200px;overflow: auto;" layout="block" id="innerpanel"> 
             <apex:pageBlockSection columns="1" collapsible="false" id="scnsection" > 
                 
                  <apex:pageBlockTable value="{!SalesCreditNoteCountWrapperList}" var="item" style="width:100%">
                    <apex:column headerValue="Order Line Item" value="{!item.OLIName}"/>
                    <apex:column headerValue="Number of SCRs" value="{!item.countOfSCN}"/>
                   </apex:pageBlockTable>
                   
                   </apex:pageBlockSection> 
                   </apex:outputPanel>
            </apex:pageBlock> 
                </apex:outputPanel>
            </apex:outputPanel>
           
        </div>            
            <apex:outputPanel id="InvoicePanel" rendered="{!IF(SalesInvoiceWrapperListNew.size > 0, TRUE, FALSE)}">
            <apex:repeat value="{!SalesInvoiceWrapperListNew}" var="pWrapper">

                <div style="background-color:#8a9ebe;height:25px;margin-top:6px;">
                    <div style="padding-top: 5px;margin-left: 6px;">
                        <h1 style="font-weight:bold;font-style:italic;color:white"> {!pWrapper.editionName}</h1>
                    </div>


                </div>
                <apex:pageBlockTable value="{!pWrapper.subSalesWrapper}" var="sWrapper">
                    <apex:column headerValue="Item #" value="{!sWrapper.oliForSalesInvoice.Name}" />
                    <apex:column headerValue="Product Name" value="{!sWrapper.oliForSalesInvoice.ProductCode__c}" />
                    <apex:column headerValue="SIN #" value="{!sWrapper.SIName}" />
                        <apex:column headerValue="Invoice Date" headerClass="centercol" style="text-align:center;">
                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                <apex:param value="{!sWrapper.invoiceDte}"/> 
                            </apex:outputText>
                            </apex:column>   
                     <apex:column headerValue="Line Item Amount" value="{!sWrapper.invoiceLineItemAmount}" />                         
                    <apex:column headerValue="Invoice Amount" value="{!sWrapper.invoiceAmount}" />
                    <apex:column headerValue="Account" value="{!sWrapper.SIAccountName}" />
                 <!--   <apex:column headerValue="Payment Method" value="{!sWrapper.oliForSalesInvoice.Payment_Method__c}" /> -->
                    <apex:column headerValue="Bill Frequency" value="{!sWrapper.frequency }" />
                    <apex:column headerValue="Status" value="{!sWrapper.status}" />
                    
                    <apex:column headerValue="Transfer">
                        &nbsp;&nbsp;
                        <apex:inputCheckbox id="cccheckbox" value="{!sWrapper.isTransfer}" onchange="CheckSubsequentDate(this.checked,'{!sWrapper.invoiceDte}','{!sWrapper.oliForSalesInvoice.id}')" disabled="{!checkFrequencyCheckbox}" rendered="{!IF(sWrapper.SIName!=null,true,false)}"/>
                    </apex:column>                  

                </apex:pageBlockTable>

            </apex:repeat>
     </apex:outputPanel> 
            <apex:outputPanel id="OliPanel" rendered="{!IF(OliWrapperListFinal.size > 0, TRUE, FALSE)}">
                <apex:inputCheckbox id="selectAllchkbox1" onChange="checkAll1(this)" />
                <div style="margin-top: -17px;margin-left: 20px;">
                    <label style="font-weight:bold;font-style:italic;">
                        Select All</label>
                </div>            
                <apex:repeat value="{!OliWrapperListFinal}" var="pWrapper">

                    <div style="background-color:#8a9ebe;height:25px;margin-top:6px;">
                        <div style="padding-top: 5px;margin-left: 6px;">
                            <h1 style="font-weight:bold;font-style:italic;color:white"> {!pWrapper.editionName}</h1>
                        </div>


                    </div>
                    <apex:pageBlockTable value="{!pWrapper.subWrapper}" var="sWrapper">
                        <apex:column headerValue="Select">
                            &nbsp;&nbsp;
                            <apex:inputCheckbox id="cccheckbox" value="{!sWrapper.isChecked}" onchange="CheckBulndle('{!sWrapper.oli.id}',this.checked)"  disabled="{!sWrapper.setDisabled}"/>
                        </apex:column>
                        <apex:column headerValue="Product Name" value="{!sWrapper.oli.ProductCode__c}" />
                        <apex:column headerValue="Item Number" value="{!sWrapper.oli.name}" />
                        <apex:column headerValue="Go Live Date" value="{!sWrapper.oli.Talus_Go_Live_Date__c}"/>
                        <apex:column headerValue="Bundle Indicator" value="{!sWrapper.oli.Package_ID__c}" />
                        <apex:column headerValue="Heading" value="{!sWrapper.oli.Directory_Heading__r.name}" />

                        <apex:column headerValue="Status" value="{!sWrapper.oli.Status__c}" />
                        <apex:column headerValue="Billing Partner" value="{!sWrapper.oli.Billing_Partner__c}" />
                        <apex:column headerValue="Payment Method" value="{!sWrapper.oli.Payment_Method__c}" />
                        <apex:column headerValue="Bill Frequency" value="{!sWrapper.oli.Billing_Frequency__c }" />
                        <apex:column headerValue="Product Amount" value="{!sWrapper.oli.UnitPrice__c}" />

                    </apex:pageBlockTable>
                  <div style="margin-left:79%;font-weight:bold;color:blue;font-style:italic;margin-top: 3px;"><apex:outputText style="font-style:italic;">Total OLI</apex:outputText></div> <div style="margin-left: 89%;margin-top: -16px;margin-bottom: 5px;">${!pWrapper.totalGrossAmount}</div>
                </apex:repeat>
            </apex:outputPanel>                
            </div>
        </apex:pageBlock>

</apex:form>
<script>
var counter=0;
</script>
    <script>
function checkAll(cb) {
    var inputElem = document.getElementsByTagName("input");
    var iCount = 0;
    for (var i = 0; i < inputElem.length; i++) {

        if (cb.checked) {
            if (inputElem[i].id.indexOf("cccheckbox") != -1) {
                inputElem[i].checked = cb.checked;
                iCount++;
            }
        }

        else {
            if (inputElem[i].id.indexOf("cccheckbox") != -1) {
                inputElem[i].checked = cb.checked;
                iCount--;
            }
        }

    }
   // alert('$$$$iCount '+counter);
    if(counter==0)
    {
        if(iCount>0)
            selectAll(cb.checked);
        else
            selectAll(false); 
    }   
   
}
function checkAll1(cb) {
    var inputElem = document.getElementsByTagName("input");
    var iCount = 0;
    for (var i = 0; i < inputElem.length; i++) {

        if (cb.checked) {
            if (inputElem[i].id.indexOf("cccheckbox") != -1) {
                inputElem[i].checked = cb.checked;
                iCount++;
            }
        }

        else {
            if (inputElem[i].id.indexOf("cccheckbox") != -1) {
                inputElem[i].checked = cb.checked;
                iCount--;
            }
        }

    }

}
</script>

<apex:outputPanel id="checkboxpanel" rendered="{!checkFrequencyCheckbox}">
<script>
//document.getElementById('pg:frm:pgblk:selectAllchkbox').click();
document.getElementById('pg:frm:pgblk:selectAllchkbox').disabled=true;
counter++;
</script>
</apex:outputPanel>
<apex:outputPanel id="scnPanel">
<script>
if({!displayPopup })
    document.getElementById('scnPopUpDiv').style.display='block';
</script>
</apex:outputPanel>

</apex:page>