<apex:page controller="BillingWizard_v1" sidebar="false" tabStyle="Telco__c" id="Pg" showHeader="false">
<apex:includeScript value="{!URLFOR($Resource.jqueryui18, '/jqueryui18/js/jquery-1.7.1.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.jqueryui18, '/jqueryui18/js/jquery.vfFloatingHeaders.js')}"/>
<style>
table.list tr.headerRow td, body .pbBody table.list tr.headerRow th 
       {
            background: none repeat scroll 0% 0% #F2F3F3;
            border-width: 0px;
            border-color: #E0E3E5;
            color: #000;
            font-size: 0.9em;
            font-weight: bold;
       }
.tableContainer
        {
            height:290px; 
            width: 100%;
            overflow: auto;
        }       
        .floatingStyle 
        { 
            position:relative; 
        }
        .centercol
        {
          text-align: center;
        } 
.tdhead
{
color:#4a4a56;
text-align: center;
font-size: 91%;
font-weight: bold;
width:20%;
background-color:#A4A4A4;
height:20px;
padding-top:10px;
}
.tdheadtable
{
color:#4a4a56;
text-align: center;
font-size: 91%;
font-weight: bold;
background-color:#A4A4A4;
height:20px;
padding-top:10px;
}
.tdtxt
{
color:#4a4a56;
text-align: center;
font-size: 12px;
font-weight: bold;
width:20%;
height:20px;
padding-top:10px;
}
</style>
<script>
    $(document).ready(function() 
    {
        $('.floatingHeaderTable').vfFloatingHeaders();
        $(esc(pbsId)).pajinate({
                item_container_id : esc(pTableBodyId),
                items_per_page : 5
            });
            $('.demo2').pajinate();
    });
</script>
 <apex:sectionHeader title="Credit Card Wizard" subtitle="Step 2 of 3"/> 
  <apex:actionstatus id="fetchStatus">
                        <apex:facet name="start">
                            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;"> 
                                <div class="waitingHolder" style="width: 91px;">
                                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                    <span class="waitingDescription">Loading...</span>
                                </div>
                            </div>
                        </apex:facet>
                    </apex:actionstatus>
    <apex:form id="frm">
    <apex:pageMessages ></apex:pageMessages>

        <apex:actionFunction name="aSelectItem" action="{!checkReconcile}" reRender="Pg,frm,pblk,pgblksec,pbtable" status="fetchStatus">
            <apex:param name="selectedInvoice" value="" assignTo="{!selectedInvoice}"/>
            <apex:param name="selectedInvoiceId" value="" assignTo="{!selectedInvoiceId}"/>
        </apex:actionFunction>
      <apex:actionstatus id="fetchStatus">
        <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                height:100%;opacity:0.65;width:100%;"> 
                <div class="waitingHolder" style="width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
        </apex:facet>
     </apex:actionstatus>
     
        <apex:pageBlock id="pgblk" title="Invoice Reconciliation" >
             <apex:pageblockButtons location="bottom" id="buttonIds">
                            <apex:commandButton value="Cancel" style="width:120px;height:30px;font-size:13px" action="{!backCCStep1}" status="fetchStatus"/>
                            <apex:commandButton value="Next" style="width:120px;height:30px;font-size:13px" disabled="{!!isCCReconciled}" action="{!CCReconcileStep3}" status="fetchStatus"/> 
             </apex:pageblockButtons>
              <apex:pageBlockSection collapsible="false" columns="4">
              <apex:pageBlockSectionItem >
                <apex:outputLabel value="Payment Method :"/>
                <apex:outputLabel value="{!paymentType}"/>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                <apex:outputLabel value="Date Range :"/>
                <apex:outputLabel value="{!fromdate} - {!todate}"/>
             </apex:pageBlockSectionItem>
             </apex:pageBlockSection>
             <apex:pageBlockSection columns="1" collapsible="false" id="pgblksection" title="Invoice Summary">
                  <apex:outputPanel style="width:90%;height:250px;overflow:auto;margin-left:30px;" layout="block" styleClass="tableContainer">
                  <apex:pageBlockTable id="pbtable"  value="{!LstCCACHWrapper}" var="CCACHWrap" styleclass="floatingHeaderTable">
                        <apex:column headerValue="Invoice Number" headerClass="centercol"  style="text-align:center;">
                        <a href="/{!CCACHWrap.recid}" target="_BLANK"> {!CCACHWrap.InvName}</a>
                        </apex:column>
                        <apex:column headerValue="Invoice Date" headerClass="centercol" style="text-align:center;">
                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                <apex:param value="{!CCACHWrap.InvDate}"/> 
                            </apex:outputText>
                            </apex:column>
                        <apex:column headerValue="Invoice Total" headerClass="centercol" style="text-align:center;">
                        <apex:outputText value="{0,number,$ 0.00}">
                                <apex:param value="{!CCACHWrap.InvTotal}"/> 
                            </apex:outputText>
                        </apex:column>
                        <apex:column value="{!CCACHWrap.SILINum}" headerValue="# of Line Items" headerClass="centercol" style="text-align:center;"/>
                        <apex:column value="{!CCACHWrap.accname}" headerValue="Account Name" headerClass="centercol" style="text-align:center;"/>
                        <apex:column value="{!CCACHWrap.accid}" headerValue="Account#" headerClass="centercol" style="text-align:center;"/>
                        <apex:column value="{!CCACHWrap.transactionType}" headerValue="Transaction Type" headerClass="centercol" style="text-align:center;"/>
                        <apex:column headerClass="centercol" style="text-align:center;">
                            <apex:facet name="header">
                                <apex:outputPanel >
                                <apex:outputLabel style="position: relative;float: left;padding-left:15px" >Rec&nbsp;</apex:outputLabel>
                                </apex:outputPanel>
                            </apex:facet>
                                 <apex:inputCheckbox id="cccheckbox1" value="{!CCACHWrap.isReconciled}"  rendered="{!!isExport}"/>
                                 <apex:outputText value="{!CCACHWrap.isReconciled}" rendered="{!isExport}" ></apex:outputText>
                        </apex:column>                      
                    </apex:pageBlockTable><br/>
              </apex:outputPanel>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1">
             <apex:pageBlockSectionItem dataStyle="float:left;padding-left: 40px;">
                <apex:outputPanel >
                 <apex:inputCheckbox value="{!isCCReconciled}" id="check">
                             <apex:actionSupport event="onclick" reRender="pgblk,buttonIds"  status="fetchStatus" oncomplete="checkAll(this)" /> 
                  </apex:inputCheckbox>
                  <apex:outputText style="color:#4a4a56;font-weight:bold" value="Reconciled"></apex:outputText>
                </apex:outputPanel>  
             </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2">
             <apex:pageBlockSectionItem dataStyle="width: 50%;text-align: left;padding-left: 40px;">
                 <apex:outputPanel >
                 <apex:commandButton style="" value="Go Live - Raised Invoice Report" onclick="window.open('/00OK0000000PFmD?pv3=Credit%20Card&colDt_s={!fromdate}&colDt_e={!todate}');return false;"/> &nbsp;&nbsp;
                 <apex:commandButton style="" value="Unreconciled OLI Report" onclick="window.open('/00OK0000000PHRl?pv1=Credit%20Card&colDt_s={!fromdate}&colDt_e={!todate}');return false;"/>
                 </apex:outputPanel>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem dataStyle="float:right">
                 <apex:outputPanel >
                 <apex:commandButton id="Exportbtn" style="" value="Export to Excel"  onclick="toggleexport();return false;"/><a id="dlink" style="display:none;">Download</a>
                 <apex:actionFunction action="{!toggleExportReturn}" reRender="frm,pgblksection,pbtable" name="toggleexportreturn" status="fetchStatus"/>
<apex:actionFunction action="{!toggleExport}" name="toggleexport" reRender="frm,pgblksection,pbtable" status="fetchStatus" oncomplete="tableToExcel('{!$Component.Pg.frm.pgblk.pgblksection.pbtable}', '{!$Component.Pg.frm.pgblk.pgblksection.pbtable}','Credit Card.xls');toggleexportreturn();"/>

                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
        </apex:pageBlock>
    </apex:form>

<script type="text/javascript">
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,',
            template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
            base64 = function (s) {
                return window.btoa(unescape(encodeURIComponent(s)))
            }, format = function (s, c) {
                return s.replace(/{(\w+)}/g, function (m, p) {
                    return c[p];
                })
            }
        return function (table, name, filename) 
        {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = {
                worksheet: 'Company Level Report',
                table: table.innerHTML
            }
            document.getElementById("dlink").href = uri + base64(format(template, ctx));
            document.getElementById("dlink").download = filename;
            document.getElementById("dlink").click();
            //window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>
<script>
   function checkAll(cb)
        {
            var inputElem = document.getElementsByTagName("input");
            var iCount = 0;
            for(var i=0; i<inputElem.length; i++)
            {
            
                if(cb.checked)
                {
                    if(inputElem[i].id.indexOf("cccheckbox1")!=-1) {
                        inputElem[i].checked = cb.checked;
                        iCount++;
                        inputElem[i].disabled=true;
                    }
                }
                
                else
                {
                        if(inputElem[i].id.indexOf("cccheckbox1")!=-1) {
                        inputElem[i].checked = cb.checked;
                        iCount--;
                    }
                }
                
            }
            if(cb.checked)
                totalcount=iCount;
            else
                totalcount=0;
        }     
</script>
</apex:page>