<apex:page controller="bSure_CustomSelectContact" title="Search" showHeader="false" sideBar="false" tabStyle="Account" id="pg">
<apex:includeScript value="{!URLFOR($Resource.jQuery, '/jQuery/jquery-1.8.2.min.js')}"  />
    <script>
        var InputHidden = '';
        var SelectConId1='';
        var choice='';
        var $ = jQuery.noConflict();
        var strSelectedValue = '';
        
        function goback()
        {
            var currentPageUrl = document.location.toString().toLowerCase();
            var returl ="{!$CurrentPage.parameters.RecId}";
            window.location.href='/'+returl;
        }
        
        function actionComplete() {
            alert('Testign');        
            var opportunityParam='{!$CurrentPage.parameters.AccId}';
            alert('Testign2'+opportunityParam);
            top.location=window.location.protocol + '//' + window.location.host+'/'+opportunityParam;
        }  
            
        function checkSelection()
        {
            var opportunityParam='{!$CurrentPage.parameters.AccId}';
            saveAccount();
            
            //if(strSelectedValue!=null && strSelectedValue!='')
            //{
            //  saveAccount();
            //}
            //else
            //{
            //  alert('Please select atleast one contact from the list');
            //  return false;
            //}  
        }

    </script>
    <apex:pageMessages />
    <apex:form Id="FormId">
    <apex:outputPanel id="page" layout="block" style="margin:5px;padding:10px;padding-top:2px;">
            <apex:actionRegion >  
            <apex:outputPanel id="top" layout="block" style="margin:5px;padding:10px;padding-top:2px;">
            <apex:outputLabel value="Search" style="font-weight:Bold;padding-right:10px;" for="txtSearch"/>
            <apex:inputText id="txtSearch" value="{!searchString}" onKeyPress="return checkInput(event);"/>
            <apex:actionFunction name="SearchList" action="{!Search}" reRender="searchResults">
            </apex:actionFunction>
            <span style="padding-left:5px"><apex:commandButton id="btnGo" value="Go" action="{!Search}" rerender="searchResults" style="cursor:hand;cursor:pointer;color:#050;   font: bold 84% 'trebuchet ms',helvetica,sans-serif; "></apex:commandButton></span>
            </apex:outputPanel>
            <apex:inputHidden value="{!choice}" id="choice"/>    

            <script> 
                var choice = document.getElementById('{!$Component.choice}'); 
            </script>
                
        </apex:actionRegion>
        
        <apex:outputPanel id="pnlSearchResults" style="margin:10px;height:350px;overflow-Y:auto;" layout="block">
                <apex:pageBlock id="searchResults"> 
                <apex:actionFunction name="TestButton" action="{!saveAccount}" />
                <apex:pageBlockButtons >
                <apex:commandButton value="Select Contact" onclick="checkSelection()" action="{!saveAccount}"/>
                <apex:commandButton value="Cancel" onclick="goback()"/>
                </apex:pageBlockButtons>
                
                <apex:pageBlockTable value="{!results}" var="a" id="tblResults">
                <apex:column headerValue="ContactSelect">
                    <input type="radio" value="{!a.Id}" name="r1" onclick="setChoice(this)"/>
                </apex:column>

                <apex:column >
                    <apex:facet name="header">
                    <apex:outputPanel >Name</apex:outputPanel>
                    </apex:facet>
                        {!a.Name}
                </apex:column>
                
                <apex:column >
                    <apex:facet name="header">
                    <apex:outputPanel >Email</apex:outputPanel>
                    </apex:facet>
                        {!a.Email}
                </apex:column>
                
                </apex:pageBlockTable>
            </apex:pageBlock>
        </apex:outputPanel>
        
            <Script type="text/javascript">
        
                function setChoice(radioBtn) {
                    if (radioBtn.checked) {
                        choice.value = radioBtn.value;
                        strSelectedValue = choice.value; 
                    }
                    else
                    {
                        alert('Please select atleast one Contact from the list.');
                        return false;
                    }
                }
                
            function checkInput(e) {
                var searchString = document.getElementById('{!$Component.txtSearch}').value;
                var key= 0;
                if(window.event){
                    key= e.keyCode;
                }
                else if(e.which)
                {
                    key= e.which;
                }
                  
                if(key==13)
                {
                    SearchList(searchString);
                    return false;
                }
            }
                </script>
          </apex:outputPanel>
                <apex:inputHidden Id="InputHiddenIds" value="{!InputHiddenIds}"/> 
                <script>
                    InputHidden = document.getElementById('{!$Component.pg:FormId:InputHiddenIds}');
                </script>          
    </apex:form>
</apex:page>