<apex:page controller="contactdffcontroller">
      <apex:form >
          <apex:pageBlock title="Change Email for Contact & DFF Object" >
              <apex:pageBlockSection >
                  <apex:pageBlockSectionItem >
                      <apex:outputLabel for="Enter the data to append in Contact & DFF objects" id="contactappend" >(Contact and DFF Object) Enter the data to append:</apex:outputLabel>
                      <apex:panelGroup >
                          <apex:inputText value="{!addtext}"/>
                          <apex:commandButton value="Update email" action="{!execute}"/>
                      </apex:panelGroup>                       
                  </apex:pageBlockSectionItem>
                  
             </apex:pageBlockSection>
          <apex:pageblockSection >
                  <p>Current Username is: </p> <b></b>
                  <p>Updated Username is: </p> <b></b>
          </apex:pageblockSection>
          </apex:pageBlock>
      </apex:form>
</apex:page>