<apex:page standardController="case" extensions="close_case_controller" action="{!processSCN}" >
<apex:form >
{!Caseobj.Approved__c}
 <apex:pageBlock rendered="{!IF(Case.Approved__c !=True, True,False)}">
 <apex:pageBlockSection ><h1><font color="#CC0000">ERROR This CASE Must Be Approved before it can be closed</font></h1>
 </apex:pageBlockSection>
 <apex:pageBlockButtons ><a href="/{!Case.id}" Class="btn">Return to Case</a> 
 </apex:pageBlockButtons>
 </apex:pageBlock>
 </apex:form>
</apex:page>