<apex:page standardController="Digital_Product_Requirement__c" extensions="CreateFulfillmentProfile" action="{!DffPrfl}" showheader="false" sidebar="false">
    <script>
        function closePopUP() {
            if (fp.Id != null) {
                window.location.href = "/" + dffId;
            }
        }
    </script>
    <apex:form >
        <apex:pageblock title="New Fulfillment Profile">
            <apex:pageMessages id="message" />
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Save" action="{!createtFp}" reRender="pId,message" oncomplete="closePopUP()" />
                <apex:commandButton value="Close" onclick="window.top.location='/{!Digital_Product_Requirement__c.id}'; return false" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection id="pId">
                <apex:inputField label="Account" value="{!fp.Account__c}" />
                <apex:inputfield label="Name" value="{!fp.Name}" />
            </apex:pageBlockSection>
        </apex:pageblock>
    </apex:form>
</apex:page>