<apex:page standardController="Modification_Order_Line_Item__c" extensions="DeleteSubscriptionfromMolnController" action="{!molnDffCancel}" showheader="false" sidebar="false">
    <apex:form >
        <apex:pageblock >
            <apex:pageblockButtons location="top">
                <apex:commandButton value="Close" onclick="window.top.location='/{!Modification_Order_Line_Item__c.id}'; return false"/>
            </apex:pageblockButtons>
            <apex:pageBlockSection title="Cancel DFF from Modified OrderLineItem" collapsible="false" columns="4">
            </apex:pageBlockSection>
            <apex:pageMessages escape="false">
            </apex:pageMessages>
        </apex:pageblock>
    </apex:form>
</apex:page>