<apex:page standardController="Digital_Product_Requirement__c" extensions="DFFArrangement" id="page" showHeader="false" sidebar="false">
<script>
var totalcount=0;
function checkbox(getchkbox,listsize)
{
   if(totalcount<0)
        totalcount=0;
    if(getchkbox.checked)
        totalcount=totalcount+1;
    else
        totalcount=totalcount-1;
}
function Inexupforup()
{
    
    if(totalcount<0)
        totalcount=0;
    if(totalcount<=0)
        alert('Please select one Caption Content.');
    else
    {
        if(document.getElementById("page:frm:pbk:pbtable:0:chkbox").checked || document.getElementById("page:frm:pbk:pbtable:1:chkbox").checked)
            alert('You can\'t UP the indent of selected caption conent ');
        else
            runnow();
    }
}
function indexorderdown(getlistsize)
{
    if(totalcount<0)
        totalcount=0;
    if(totalcount<=0 )
    {
        alert('Please select one Caption Content.');
    }
    else
    {
        var lastchkboxid="page:frm:pbk:pbtable:"+(getlistsize-1)+":chkbox";
        var first="page:frm:pbk:pbtable:0:chkbox";
        if(document.getElementById(lastchkboxid).checked || document.getElementById(first).checked)
        {
            alert('You can\'t Down the indent of selected caption conent ');
        }
        else
            runnow_down();
    }
}
function checkedit()
{
    
    if(totalcount<0)
        totalcount=0;
    if(totalcount<=0)
        alert('Please select Caption Content for edit.');
    else
        edit_btn();
}
function increaseindentlevel1(getlistSize)
{
   var callaction=true;
    if(totalcount<0)
        totalcount=0;
    if(totalcount<=0)
        alert('Please select Caption Content for edit.');
    else
    {
        if(document.getElementById("page:frm:pbk:pbtable:0:chkbox").checked)
            alert('You can\'t increase indent level of selected Caption content');
        else
        {
            for(var i=0;i<getlistSize;i++)
           {
                if(document.getElementById("page:frm:pbk:pbtable:"+i+":chkbox").checked)
                {
                    var hiddenfldid="hidden"+i;
                    var fldvalue1=document.getElementById(hiddenfldid).value;
                    var addnumber=parseInt(fldvalue1)+1;
                    if(addnumber>=8)
                    {
                        callaction=false;
                        break;
                    }
                }
           }
           if(callaction)
                increaselevelfun();
            else
            {
                alert('You can\'t increase indent level of selected Caption content');
            }
        }
    }
}
function decreaseindentlevel1(getlistSize)
{
    
   var callaction=true;
    if(totalcount<0)
        totalcount=0;
    if(totalcount<=0)
        alert('Please select Caption Content for edit.');
    else
    {
         if(document.getElementById("page:frm:pbk:pbtable:0:chkbox").checked)
            alert('You can\'t decrease indent level of selected Caption content');
        else
        {
           for(var i=0;i<getlistSize;i++)
           {
                if(document.getElementById("page:frm:pbk:pbtable:"+i+":chkbox").checked)
                {
                    var hiddenfldid="hidden"+i;
                    var fldvalue1=document.getElementById(hiddenfldid).value;
                    var minusnumber=parseInt(fldvalue1)-1;
                    if(minusnumber<=0)
                    {
                        callaction=false;
                        break;
                    }
                }
           }
           if(callaction)
                decreaselevelfun();
           else
           {
              alert('You can\'t decrease indent level of selected Caption content');
           }
        }
    }
}
function displaypop(uri,name)
{
  window.open(uri,name,'left=20,top=20,width=800,height=600,toolbar=0,resizable=0,scrollbars=0,status=0');
  
}

function hidemypopup()
{
    document.getElementById('mypopupdiv1').style.visibility='hidden';
}
</script>
 <apex:form id="frm">
 <apex:actionstatus id="nstatus">
                        <apex:facet name="start">
                            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;"> 
                                <div class="waitingHolder" style="top: 10%; width: 91px;">
                                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                    <span class="waitingDescription">Please wait...</span>
                                </div>
                            </div>
                        </apex:facet>
          </apex:actionstatus>
          <apex:actionFunction status="nstatus" name="runnow" id="action1" action="{!uplisting_order}" reRender="pbk"/>
    <apex:actionFunction status="nstatus" name="runnow_down" id="action2" action="{!downlisting_order}" reRender="pbk"/>
    <apex:actionFunction status="nstatus" name="edit_btn" id="action3" action="{!activeedit}"  reRender="pbk"/>
    <apex:actionFunction status="nstatus" name="increaselevelfun" id="action4" action="{!increaseindentlevel}"  reRender="pbk"/>
     <apex:actionFunction status="nstatus" name="decreaselevelfun" id="action5" action="{!decreaseindentlevel}"  reRender="pbk"/>
  <apex:pageBlock id="pbk">
       <script>
    totalcount=0;
    </script>
        <apex:pageBlockButtons location="top"  id="pbkbtn">
       <table border="0" style="width:660px">
        <tr>
        <td style="padding-top:4px;width: 161px;">
            <apex:commandLink style="text-decoration:none;" onclick="decreaseindentlevel1('{!wrapperOLILst.size}');return false;" rendered="{!!editflag}" id="decreaselevelbtn" >
                <img src="/s.gif" alt="Add" class="leftArrowIcon" title="Decrease Indent Level"/>
            </apex:commandLink>
            <apex:commandLink style="text-decoration:none;" onclick="increaseindentlevel1('{!wrapperOLILst.size}');return false;" rendered="{!!editflag}" id="increaselevelbtn" >
                <img src="/s.gif" alt="Add" class="rightArrowIcon" title="Increase Indent Level"/>
            </apex:commandLink>
            <apex:commandLink style="text-decoration:none;" onclick="Inexupforup();return false;" rendered="{!!editflag}" id="Upbtn">
                <img class="upArrowIcon" title="Up Indent Order" alt="Up" src="/s.gif"/> 
            </apex:commandLink>
            <apex:commandLink style="text-decoration:none;" title="Down Indent Order" onclick="indexorderdown('{!wrapperOLILst.size}');return false;" rendered="{!!editflag}" id="Downbtn" >
                <img class="downArrowIcon" title="Down Indent Order" alt="Down" src="/s.gif"/>
            </apex:commandLink>
          </td>
          <td  >
            <apex:commandButton id="Editbtn" rendered="{!!editflag}" onclick="checkedit();return false;" value="Edit" />
            <apex:commandButton id="Savebtn" status="nstatus" action="{!savebtn}" rendered="{!displaysave}"  value="Save"  reRender="pbk"/>
            <apex:commandButton id="cancelbtn" status="nstatus" action="{!cancelbtn}" rendered="{!displaycancel}" value="Cancel"  reRender="pbk"/>
            <apex:commandButton id="replaceheader" status="nstatus" value="Change Caption Header" disabled="false" onclick="displaypop('/apex/ReplaceDFFHeader?id={!getDFFid}&core.apexpages.devmode.url=0','Replace Caption Header');return false;"/>
            
            <apex:commandButton id="Previewbtn" status="nstatus" onclick="displaypop('/apex/DFFArrangementPreview?id={!getDFFid}','DFF Preview');return false;" value="Preview"  reRender="pbk" disabled="false"/>
            </td>
            </tr>
            </table>
        </apex:pageBlockButtons>
        
           <apex:variable value="{!0}" var="spanid"/>
        <div id="ArrangementDiv" style="height:350px;border: 0px solid red;overflow-y: auto;overflow-x: auto;">
            <apex:pageBlockTable id="pbtable"  value="{!wrapperOLILst}" var="DirOLI">
                <apex:column >
                    <apex:inputCheckbox onchange="checkbox(this,'{!wrapperlst.size}')" id="chkbox" value="{!DirOLI.ischecked }" />
                    <input type="hidden" id="hidden{!spanid}" value="{!DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Indent_Level__c}"/>
                </Apex:column>
                <apex:column headerValue="Caption Content" style="font-weight:{!if(getDFFid==left(DirOLI.objOLI.Digital_Product_Requirement__r.id,len(getDFFid)),'bold','')}" >
                    <a href="#" onclick="top.location='/{!DirOLI.objOLI.Digital_Product_Requirement__r.id}'" style="text-decoration:none">
                
 
                  <span id="spacespan{!spanid}"></span>
                    <apex:outputPanel id="pnl3" rendered="{!DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Member__c==true && DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Print_Name__c==false && DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Print_Phone_Number__c==false && DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Print_Address__c==false}" >
                     {!if(DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Member__c==true && DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Display_Text__c!=null,DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Display_Text__c,'--')}
                     </apex:outputPanel>
                     <apex:outputPanel id="pnl4" rendered="{!DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Print_Name__c==true || DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Print_Phone_Number__c==true || DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Print_Address__c==true}">
                      {!if(DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Header__c==false && DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Member__c==true && DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Print_Name__c==true,DirOLI.objOLI.Listing_Name__c,if(DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Header__c==true && DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Member__c==false,DirOLI.objOLI.Listing_Name__c, DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Display_Text__c))}
                        {!IF((DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Print_Address__c==true && DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Address__c!=null ),' -- '+DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Address__c,'')}
                        {!IF(DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Phone_Number__c!=null,' -- '+DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Phone_Number__c,IF((DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Phone_Number__c!=null && DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Print_Phone_Number__c==true),' -- '+DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Phone_Number__c,''))}
                      </apex:outputPanel>
                   </a>
                    <script>
                      for(var i=0;i<{!DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Indent_Level__c};i++)
                      {
                          document.getElementById('spacespan{!spanid}').innerHTML=document.getElementById('spacespan{!spanid}').innerHTML+"&emsp;";
                      }
                  </script> 
                   <apex:variable value="{!spanid+1}" var="spanid"/>
                </apex:column>
                 <apex:column headerValue="UDAC" >
                    <a href="#" onclick="top.location='/{!DirOLI.objOLI.Product2__c}'">{!DirOLI.objOLI.ProductCode__c}</a>
                </Apex:column>
                <apex:column value="{!DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Indent_Order__c}"/>
                <apex:column value="{!DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Indent_Level__c }"/>
                <apex:column headerValue="Print Name?" >
                    <apex:inputCheckbox disabled="{!if((editflag==true && DirOLI.ischecked==true && DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Member__c==true),false,true)}" value="{!DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Print_Name__c}"/>
                </Apex:column>
                <apex:column headerValue="Print Address?" >
                <apex:inputCheckbox disabled="{!if((editflag==true && DirOLI.ischecked==true),false,true)}" value="{!DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Print_Address__c}"/>
                  <!--  <apex:inputCheckbox disabled="{!if((editflag==true && DirOLI.ischecked==true),false,true)}" rendered="{!(DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Member__c==false && DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Header__c==false) && DirOLI.objOLI.Digital_Product_Requirement__r.Under_Caption__c!=null}" value="{!DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Print_Caption_Address__c}"/> -->
                </Apex:column>
                <apex:column headerValue="Print Phone Number?" >
                    <apex:inputCheckbox disabled="{!if((editflag==true && DirOLI.ischecked==true),false,true)}" value="{!DirOLI.objOLI.Digital_Product_Requirement__r.Caption_Print_Phone_Number__c}"/>
                </Apex:column>
            </apex:pageBlockTable>
            <br/>
        </div>
        </apex:pageBlock>
        
</apex:form>
</apex:page>