<apex:page StandardController="Digital_Product_Requirement__c" extensions="DFFTargetInterestsController" showheader="false" sidebar="false">
    <apex:form >
        <apex:pageBlock >
        <apex:pageBlockButtons location="top">
        <apex:pageMessages />
        <apex:commandButton value="OK" action="{!dffTrgtIntrst}" oncomplete="window.top.location='/{!Digital_Product_Requirement__c.id}'; return false" />
        <apex:commandButton value="Cancel" onclick="window.top.location='/{!Digital_Product_Requirement__c.id}'; return false" />
        </apex:pageBlockButtons>
        <apex:panelGrid columns="3" id="abcd" >
            <apex:selectList id="sel1" value="{!leftselected}" multiselect="true" style="width:200px" size="12">
                <apex:selectOption itemLabel="--------------AVAILABLE--------------" itemValue=""/>
                <apex:selectOptions value="{!unselectedvalues}" />
            </apex:selectList>
                <apex:panelGroup >
                    <br/>
                    <apex:image value="{!$Resource.MultiSelect}">
                        <apex:actionSupport event="onclick" action="{!selectclick}" reRender="abcd"/>
                    </apex:image>
                    <br/><br/>
                    <apex:image value="{!$Resource.Multiunselect}">
                        <apex:actionSupport event="onclick" action="{!unselectclick}" reRender="abcd"/>
                    </apex:image>
                </apex:panelGroup>
            <apex:selectList id="sel2" value="{!rightselected}" multiselect="true" style="width:200px" size="12">
                <apex:selectOption itemLabel="--------------SELECTED--------------" itemValue=""/>
                <apex:selectOptions value="{!SelectedValues}" />
            </apex:selectList>
        </apex:panelGrid>
        </apex:pageBlock>
    </apex:form>
</apex:page>