<apex:page controller="FAQs" >

<script>
        function switchMenu(obj,obj1,obj2) 
        {
            var el = document.getElementById(obj);                                       
            if ( el.style.display != 'none' ) {
            el.style.display = 'none';
            }
            else {
            el.style.display = '';
            }
            var e2 = document.getElementById(obj1);                                       
            if ( e2.style.display != 'none' ) {
            e2.style.display = 'none';
            }
            else {
            e2.style.display = '';
            }
             var e3 = document.getElementById(obj2);                                       
            if ( e2.style.display != 'none' ) {
            e3.style.display = 'none';
            }
            else {
            e3.style.display = '';
            }

        }
        
        var selectedCategoryCnt;
        function funselectedCurrentStatus()
         {
                 alert('you are selected::::'+selectedCategoryCnt.value);
                 CurrentStatusDetails1();

         }
       
</script>
        <apex:pageBlock title="Frequently Asked Questions">
        
        <!-- <apex:pageblockSection columns="1" > -->
            <apex:repeat value="{!categoryWapperList}" var="listing" rendered="true">
                <apex:pageblockSection columns="1" title="{!listing.category}" collapsible="true">
                 <!--   <apex:pageblocktable id="pgtable" value="{!listing.questions}"  var="accdet" border="0px" rules="none" frame="none">
                        <apex:column headerClass="hidden" footerClass="hidden">
                                <apex:outputpanel id="plusimage">
                                      <apex:image url="{!$Resource.Plus_Image}" onclick="switchMenu('{!$Component.inlinetablesec}','{!$Component.minusimage}','{!$Component.plusimage}')" title="Expand - Answer's"/> 
                                </apex:outputpanel>
                                <apex:outputpanel id="minusimage" style="display:none;">
                                      <apex:image url="{!$Resource.Minus_image}" onclick="switchMenu('{!$Component.inlinetablesec}','{!$Component.plusimage}','{!$Component.minusimage}')" title="Collapse - Answer's"/>
                                </apex:outputpanel>
                                <span style="color:black;font-weight:bold;">
                                &nbsp;&nbsp;<apex:outputtext value="{!accdet.question}"/>
                                </span>
                                
                        </apex:column>
                        <apex:column width="50px" >
                        <apex:facet name="header">Status</apex:facet>
                        <div style="background-color:{!IF(accdet.active = true,'#7CFC00', '#FFA07A')}">
                        {!IF(accdet.active = true,'Active', 'IN-Active')}
                        </div>
                        </apex:column> 
                        
                        <apex:column breakBefore="true" headerClass="hidden" footerClass="hidden" colspan="1">
                            <apex:outputpanel id="inlinetablesec" style="display:none;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span style="color:black;font-weight:normal;">
                                    &nbsp;&nbsp;<apex:outputtext value="{!accdet.answer}"/>
                                    </span>
                                 </apex:outputpanel>     
                        </apex:column>
                        
                    </apex:pageblocktable>
                    -->
                    
                      <apex:dataTable value="{!listing.questions}" width="100%" var="accdet" border="0px"  columnswidth="100%,50px" cellpadding="4" rules="none" frame="none">
                        <apex:column headerClass="hidden" footerClass="hidden">
                                <apex:outputpanel id="plusimage">
                                      <apex:image url="{!$Resource.Plus_Image}" onclick="switchMenu('{!$Component.inlinetablesec}','{!$Component.minusimage}','{!$Component.plusimage}')" title="Expand - Answer's"/> 
                                </apex:outputpanel>
                                <apex:outputpanel id="minusimage" style="display:none;">
                                      <apex:image url="{!$Resource.Minus_image}" onclick="switchMenu('{!$Component.inlinetablesec}','{!$Component.plusimage}','{!$Component.minusimage}')" title="Collapse - Answer's"/>
                                </apex:outputpanel>
                                <span style="color:black;font-weight:bold;">
                                &nbsp;&nbsp;<apex:outputtext value="{!accdet.question}"/>
                                </span>
                                
                        </apex:column>
                        <apex:column breakBefore="true" headerClass="hidden" footerClass="hidden" style="border-bottom:1px solid grey; padding-top:5px; padding-bottom:5px">
                            <apex:outputpanel id="inlinetablesec" style="display:none;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span style="color:black;font-weight:normal;">
                                    &nbsp;&nbsp;<apex:outputtext value="{!accdet.answer}" escape="false"/>
                                    </span>
                                 </apex:outputpanel>     
                        </apex:column>
                        
                    </apex:dataTable>
                </apex:pageblockSection>
            </apex:repeat>
        <!-- </apex:pageblockSection> -->
        
    </apex:pageBlock>
    
     
    <!--    <table border="0" width="500px" >
            <tr>
                <td align="Left">
                     <b>Category : </b> :&nbsp;&nbsp; 
                </td>
                <td align="Left" width="75%">    
                        <apex:selectList size="1" id="selectedCategory" value="{!selectedCategory}" onchange="javascript:funselectedCurrentStatus()" >
                             <apex:selectOptions value="{!Categories}" />                         
                        </apex:selectList>
                        <script>
                                        selectedCategoryCnt=document.getElementById("{!$Component.selectedCategory}");
                        </script>                               
                    <apex:actionFunction action="{!fetchCategoryDetails}" name="CurrentStatusDetails1"/>
                </td>
            </tr>
        </table>
                -->
</apex:page>