<apex:page standardController="Package_ID__c" extensions="InvokeTalusPackagesController" sidebar="false">
<apex:form id="fm">
    <apex:outputPanel title="Output Panel" id="pnlId">
    <apex:pageMessages escape="false"/>
    </apex:outputPanel>
    <apex:actionstatus id="nstatus">
        <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                    height:100%;opacity:0.65;width:100%;">
                <div class="waitingHolder" style="top: 50.2px; width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
        </apex:facet>
    </apex:actionstatus>
    
    <apex:pageblock id="pBlk1">
    <apex:pageMessages id="msgId1" />
    <apex:pageMessage summary="Please proceed to create Fulfillmet Package's information in SFDC" severity="info" strength="3" />
    <apex:pageMessages />    
    <apex:pageblockButtons location="top">
    <apex:commandButton value="Create Fulfillment Packages" onclick="return confirm('Ready to pull fulfillment packages?');" action="{!invkPkgs}" status="nstatus" rerender="pnlId"/>
    </apex:pageblockButtons>
    </apex:pageblock>

    <apex:pageblock id="pBlk2">
    <apex:pageMessages id="msgId2" />
    <apex:pageblockButtons location="top">
    <apex:commandButton value="Update Package" action="{!invkSnglPkg}" status="nstatus" rerender="pnlId"/>
    </apex:pageblockButtons>        
        <apex:pageBlockSection title="Update Fulfillment Package" collapsible="false" >
            <apex:selectList value="{!selectedPkg}" label="Fulfillment Package" multiselect="false" size="1">
                <apex:selectOption itemValue="" itemLabel=""/>
                <apex:selectOption itemValue="PKG_CLICK0001" itemLabel="Geneva Click"/>
                <apex:selectOption itemValue="PKG_BUDGET0001_BUNDLE" itemLabel="Geneva Budget"/>                
                <apex:selectOption itemValue="PKG_RMS0001" itemLabel="Vendasta"/>
                <apex:selectOption itemValue="PKG_MCM0001" itemLabel="Trumpia"/>
                <apex:selectOption itemValue="PKG_DISPLAYADS0001" itemLabel="iPromote"/>
                <apex:selectOption itemValue="PKG_WEBSITE0001_BUNDLE" itemLabel="Spotzer Website"/>
                <apex:selectOption itemValue="PKG_LISTINGS0001" itemLabel="Spotzer Listing"/>
                <apex:selectOption itemValue="packages/PKG_IYP001_METAL" itemLabel="iYP Metal"/>
                <apex:selectOption itemValue="PKG_IYP001_MOBILE" itemLabel="iYP Mobile"/>
                <apex:selectOption itemValue="PKG_SEO0001_BUNDLE" itemLabel="Boostability"/>
            </apex:selectList>
        </apex:pageBlockSection>
    </apex:pageblock>

    <apex:pageBlock id="pBlk3">
    <apex:pageMessages id="msgId3" />
    <apex:pageblockButtons location="top">
    <apex:commandButton value="Get Info" action="{!flmntInfo}" status="nstatus" rerender="pnlId"/>           
    </apex:pageblockButtons>
        <apex:pageBlockSection title="Fulfillment Information" collapsible="false" columns="1" >
            <apex:inputText value="{!selectedUrl}" label="Endpoint URL:" size="72"/>
            <apex:pageMessage summary="{!endPointInfo}"  severity="info" strength="3" escape="false"/>
            <apex:pageMessages />
        </apex:pageBlockSection>
    </apex:pageBlock>

<!---    
    <apex:pageblock >
    <apex:pageMessage summary="Please proceed to create Talus Package's information in SFDC" severity="info" strength="3" />
    <apex:pageMessages />
    <apex:pageblockButtons location="top">
    <apex:commandButton value="Create Fulfillment Packages" action="{!invkPkgs}" rerender="msgId"/>
    </apex:pageblockButtons>
    </apex:pageblock>

    <apex:pageblock >
    <apex:pageblockButtons location="top">
    <apex:commandButton value="Update Package" action="{!invkSnglPkg}" status="nstatus" rerender="msgId"/>
    <apex:actionstatus id="nstatus">
        <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                    height:100%;opacity:0.65;width:100%;">
                <div class="waitingHolder" style="top: 50.2px; width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
        </apex:facet>
    </apex:actionstatus>
    </apex:pageblockButtons>
    
        <apex:pageBlockSection title="Update Fulfillment Package" collapsible="false">
            <apex:selectList value="{!selectedPkg}" label="Fulfillment Package" multiselect="false" size="1">
                <apex:selectOption itemValue="" itemLabel=""/>
                <apex:selectOption itemValue="PKG_CLICK0001" itemLabel="Geneva Click"/>
                <apex:selectOption itemValue="PKG_BUDGET0001_BUNDLE" itemLabel="Geneva Budget"/>                
                <apex:selectOption itemValue="PKG_RMS0001" itemLabel="Vendasta"/>
                <apex:selectOption itemValue="PKG_MCM0001" itemLabel="Trumpia"/>
                <apex:selectOption itemValue="PKG_DISPLAYADS0001" itemLabel="iPromote"/>
                <apex:selectOption itemValue="PKG_WEBSITE0001_BUNDLE" itemLabel="Spotzer Website"/>
                <apex:selectOption itemValue="PKG_LISTINGS0001" itemLabel="Spotzer Listing"/>
                <apex:selectOption itemValue="packages/PKG_IYP001_METAL" itemLabel="iYP Metal"/>
                <apex:selectOption itemValue="PKG_IYP001_MOBILE" itemLabel="iYP Mobile"/>
                <apex:selectOption itemValue="PKG_SEO0001_BUNDLE" itemLabel="Boostability"/>
            </apex:selectList>
        </apex:pageBlockSection>

    <apex:pageBlock title="Fulfillment Information">
        <apex:pageBlockSection collapsible="false" columns="1">
            <apex:inputText value="{!selectedUrl}" required="true" label="Endpoint URL:" size="72" rendered="false"/>
            <apex:commandButton value="Get Info" action="{!flmntInfo}" status="nstatus" rerender="msgId"/>
    <apex:actionstatus id="nstatus">
        <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                    height:100%;opacity:0.65;width:100%;">
                <div class="waitingHolder" style="top: 50.2px; width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
        </apex:facet>
    </apex:actionstatus>            
        </apex:pageBlockSection>
    </apex:pageBlock>
          
    <apex:outputPanel id="pnlId">

    </apex:outputPanel>
    </apex:pageblock>
--->        
</apex:form>
</apex:page>