<apex:page sidebar="false">    
    <style>
      .activeTab {background-color: #1797C0; color:white; background-image:none; font-size:15px;}
      .inactiveTab {background-color: lightgrey; color:black; background-image:none}
      .btnclass{width:280px; height:30px; font-size:13px;}
   </style>
   <apex:tabPanel switchType="client" selectedTab="reports" tabClass="activeTab" inactiveTabClass="inactiveTab">
        <apex:tab label="Reports" name="reports" id="tabOne">
            <c:LocalBillingReports />
        </apex:tab>
        <apex:tab label="Maintainence" name="maint" id="tabTwo">
            <c:LocalBillingMaintenance />
        </apex:tab>
        <apex:tab label="First Month Print" name="FMP" id="tabThree">
           <c:LocalBillingPrintFirstMonth ></c:LocalBillingPrintFirstMonth>
        </apex:tab>
        <apex:tab label="Subsequent Print" name="SP" id="tabFour">
           <c:LocalBillingSubsequentPrint ></c:LocalBillingSubsequentPrint>
        </apex:tab>
        <apex:tab label="Digital Local" name="digital" id="tabFive">
            <c:LocalBillingDigitalLocal />
        </apex:tab>
        <apex:tab label="Credit Card" name="CreditCard" id="tabSix">
           <c:LocalBillingCreditCard ></c:LocalBillingCreditCard>
        </apex:tab>
         <apex:tab label="P4P" name="P4" id="tabSeven">
           <c:LocalBillingP4P ></c:LocalBillingP4P>
        </apex:tab>
        <apex:tab label="Reconcile Statement" name="Reconcile Statement" id="tabEight">
           <c:LocalBillingReconcileStatement ></c:LocalBillingReconcileStatement>
        </apex:tab>
        <apex:tab label="Create Statement" name="Create Statement" id="tabNine">
           <c:LocalBillingCreateStatement ></c:LocalBillingCreateStatement>
        </apex:tab>
        <apex:tab label="Send To WFOne" name="Send To WFOne" id="tabEleven">
            <c:LocalBillingSendToWFOne ></c:LocalBillingSendToWFOne>
        </apex:tab>
        <apex:tab label="Create Telco File" name="CreateTelcoFile" id="tabTwelve">
            <c:LocalBillingCreateTelcoFile ></c:LocalBillingCreateTelcoFile>
        </apex:tab>
    </apex:tabPanel>
</apex:page>