<apex:page standardcontroller="Directory_Heading__c" extensions="MediaTraxHeadingManualCallOutController">
<apex:form >
<apex:pageMessages />
<apex:pageBlock title="Authendation Token">
    <apex:pageBlockButtons location="top">
        <apex:commandButton value="Get MediaTrax Auth Token" action="{!AuthendationSutureCallout}"/>
    </apex:pageBlockButtons>
</apex:pageBlock>
<apex:pageBlock title="Directory">
    <apex:pageBlockButtons location="top">
        <apex:commandButton value="Add Directory MediaTrax ID processing Get" action="{!GetAddDirectory}"/>
        <apex:commandButton value="Add Directory MediaTrax ID" action="{!AddDirectory}"/>
        <apex:commandButton value="Update Directory MediaTrax ID" action="{!UpdateDirectory}"/>
    </apex:pageBlockButtons>
</apex:pageBlock>
<apex:pageBlock title="Heading">
    <apex:pageBlockButtons location="top">
        <apex:commandButton value="Add Heading MediaTrax ID processing Get" action="{!GetAddHeading}"/>
        <apex:commandButton value="Add Heading MediaTrax ID" action="{!AddHeading}"/>
        <apex:commandButton value="Update Heading MediaTrax ID" action="{!UpdateHeading}"/>
    </apex:pageBlockButtons>
</apex:pageBlock>
<apex:pageBlock title="Client">
    <apex:pageBlockButtons location="top">
        <apex:commandButton value="Add Client MediaTrax ID processing Get" action="{!GetAddClient}"/>
        <apex:commandButton value="Add Client MediaTrax ID" action="{!AddClient}"/>
        <apex:commandButton value="Update Client MediaTrax ID" action="{!UpdateClient}"/>
    </apex:pageBlockButtons>
</apex:pageBlock>
</apex:form>
</apex:page>