<apex:page sidebar="false" standardController="National_Staging_Order_Set__c" action="{!onLoad}" extensions="NationalStagingOrderSetDetail_V1">
    <style>
        .activeTab {background-color: #1796BF; color:white; background-image:none}
        .inactiveTab { background-color: lightgrey; color:black; background-image:none} 
        .plusSign {width:35px;}   
    </style>
    <script>
    function validateorderdeletion()
    {
       var resp=confirm('Are you sure you want to delete current order?');
       if(resp==true)
       {
          deleteLateOrder();
       }
       return resp;
    }
    
    function checkAll(cb)
        {
            var inputElem = document.getElementsByTagName("input");
            var iCount = 0;
            for(var i=0; i<inputElem.length; i++)
            {
                if(inputElem[i].id.indexOf("inpttransactionchckbox")!=-1) 
                {
                    inputElem[i].checked = cb.checked;
                    iCount++;
                }
                
            }
            if(cb.checked)
            {
                if(iCount==1)
                {
                  totalcount=1;
                }
                else
                {
                totalcount=iCount-1;
                }
                
            }
            else
            { 
              totalcount=0;
            }
        } 
        
        var popup;
        function ShowPopup(url) {
            popup = window.open(url, "NationalManualEntry", "toolbar=no,scrollbars=no,location=no,statusbar=no,menubar=no,resizable=0,fullscreen=yes");
            popup.focus();
            return false;
        }
        
    </script>
    <apex:stylesheet value="{!$Resource.customcss}" />
    <apex:form id="frm">
    <apex:actionFunction action="{!deleteLateOrder}" name="deleteLateOrder" status="counterStatus1"/>
    <apex:actionstatus id="counterStatus1">
        <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                height:100%;opacity:0.65;width:100%;"> 
                <div class="waitingHolder" style="width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
        </apex:facet>
    </apex:actionstatus>
        <apex:tabPanel switchType="client" value="{!$CurrentPage.parameters.tabId}" id="NSPanel" tabClass="activeTab" inactiveTabClass="inactiveTab">
            <apex:tab label="Transaction" name="name1" id="tabOne">
                <apex:pageBlock mode="edit" id="pblk">
                    <apex:messages style="color:red"/>
                    <apex:pageBlockButtons location="top">
                     
                        <apex:commandButton value="Back to National Staging Order Set" title="Back to National Staging Order Set" action="{!backtoOrderSet}" rendered="false"/>
                        <apex:commandButton value="Update" action="{!updateNewTransaction}" status="counterStatus1" reRender="frm"/>
                        <apex:commandButton value="Delete" onclick="validateorderdeletion();return false;" status="counterStatus1" rendered="{!If(nationalStagingOrderSet.Late_Order__c && NOT(nationalStagingOrderSet.Approved_to_Process__c),true,false)}"/>
                        <apex:commandButton value="Move to Standing Order" action="{!updateNewTransaction}" reRender="pbSection,pbSectionStanding" status="counterStatus1" rendered="{!If(nationalStagingOrderSet.Late_Order__c && NOT(nationalStagingOrderSet.Approved_to_Process__c),false,true)}"/>
                    </apex:pageBlockButtons>
                    <apex:pageBlockSection columns="1">
                        <apex:panelGrid columns="1"  width="100%" border="0"  >
                            <apex:outputText value="{!nationalStagingOrderSet.Header_Error_Description__c}" />
                        </apex:panelGrid>
                        <apex:panelGrid columns="10" id="theGrid" width="100%" border="0" >
                            <apex:outputLabel styleClass="tdhead" value="Trans ID :" />
                            <apex:outputText value="{!nationalStagingOrderSet.Transaction_ID__c}" />
                            <apex:outputLabel styleClass="tdhead" value="Trans Ver : " />
                            <apex:outputText value="{!nationalStagingOrderSet.Transaction_Version__c}" />
                            <apex:outputLabel styleClass="tdhead" value="Date : " />
                            <apex:outputText value="{0,date,MM/dd/yyyy}">
                            <apex:param value="{!nationalStagingOrderSet.Date__c}" />
                            </apex:outputText>
                            <apex:outputLabel styleClass="tdhead" value="From : " />
                            <apex:outputText value="{!nationalStagingOrderSet.From_Number__c}" />
                            <apex:outputLabel styleClass="tdhead" value="To : " />
                            <apex:outputText value="{!nationalStagingOrderSet.To_Number__c}" />
                            <apex:outputLabel styleClass="tdhead" value="Dir Name : " />
                            <apex:outputText value="{!nationalStagingOrderSet.Directory__r.Name}" />
                            <apex:outputLabel styleClass="tdhead" value="Dir # : " />
                            <apex:outputText value="{!nationalStagingOrderSet.Directory_Number__c}" />
                            <apex:outputLabel styleClass="tdhead" value="Dir Version : " />
                            <apex:outputText value="{!nationalStagingOrderSet.Directory_Version__c}" />
                            <apex:outputLabel styleClass="tdhead" value="Pub Date : " />
                            <apex:outputText value="{0,date,MMyyyy}">
                            <apex:param value="{!nationalStagingOrderSet.Publication_Date__c}" />
                            </apex:outputText>
                            <apex:outputLabel styleClass="tdhead" value="CMR # : " />
                            <apex:outputText value="{!nationalStagingOrderSet.CMR_Number__c}" />
                            <apex:outputLabel styleClass="tdhead" value="CMR Name : " />
                            <apex:outputText value="{!nationalStagingOrderSet.CMR_Name__r.Name}" />
                            <apex:outputLabel styleClass="tdhead" value="Client # : " />
                            <apex:outputText value="{!nationalStagingOrderSet.Client_Number__c}" />
                            <apex:outputLabel styleClass="tdhead" value="Client Name : " />
                            <apex:outputText value="{!nationalStagingOrderSet.Client_Name__r.Name}" />
                            <apex:outputLabel styleClass="tdhead" value="NAT : " />
                            <apex:outputText value="{!nationalStagingOrderSet.NAT__c}" />
                            <apex:outputLabel styleClass="tdhead" value="NAT Client ID : " />
                            <apex:outputText value="{!nationalStagingOrderSet.NAT_Client_Id__c}" />
                             <apex:outputLabel styleClass="tdhead" value="Trans Code : " />
                            <apex:outputText value="{!nationalStagingOrderSet.TRANS_Code__c}" />
                            <apex:outputLabel styleClass="tdhead" value="Late Order : " rendered="{!if(nationalStagingOrderSet.Late_Order__c,true,false)}"/>
                            <apex:outputField value="{!nationalStagingOrderSet.Late_Order__c}" rendered="{!if(nationalStagingOrderSet.Late_Order__c,true,false)}"/>
                            <apex:outputLabel styleClass="tdhead" value="Approve to Process : " rendered="{!IF(nationalStagingOrderSet.Late_Order__c,IF(NOT(ISBLANK(nationalStagingOrderSet.Directory_Edition__r.National_Billing_Lockout_Date__c)),if(nationalStagingOrderSet.Directory_Edition__r.National_Billing_Lockout_Date__c>TODAY(),true,false),true),false)}"/>
                            <!--<apex:inputCheckbox value="{!nationalStagingOrderSet.Approved_to_Process__c}" rendered="{!IF(nationalStagingOrderSet.Late_Order__c,IF(NOT(ISBLANK(nationalStagingOrderSet.Directory_Edition__r.National_Billing_Lockout_Date__c)),if(nationalStagingOrderSet.Directory_Edition__r.National_Billing_Lockout_Date__c>TODAY(),true,false),true),false)}"/>-->
                            <input type="checkbox"  value="{!nationalStagingOrderSet.Approved_to_Process__c}" rendered="{!IF(nationalStagingOrderSet.Late_Order__c,IF(NOT(ISBLANK(nationalStagingOrderSet.Directory_Edition__r.National_Billing_Lockout_Date__c)),if(nationalStagingOrderSet.Directory_Edition__r.National_Billing_Lockout_Date__c>TODAY(),true,false),true),false)}"/>
                            <apex:outputLabel styleClass="tdhead" value="State : " />
                            <apex:outputText value="{!nationalStagingOrderSet.State__c}" />
                        </apex:panelGrid>
                    </apex:pageBlockSection>     
                    <apex:pageBlockSection columns="1" id="pbSection">
                    <apex:outputPanel layout="block" rendered="{!if(MapDateNationSLI!=null,true,false)}">
                                <apex:outputLabel style="position: relative;float: left;font-size: .9em;font-weight: bold;">Select All&nbsp;</apex:outputLabel>
                                <apex:inputCheckbox id="chkbox" onclick="checkAll(this)" style="float: left;position: relative;margin: 1px;"/>
                    </apex:outputPanel>
                    
                    <apex:repeat value="{!MapDateNationSLI}" var="dt">
                     <apex:repeat value="{!MapDateNationSLI[dt]}" var="child"> 
                      <tr>
                        <td headerClass="columnhead" width="10px" >
                            <apex:facet name="header">
                                Select
                            </apex:facet>
                                
                                <input type="checkbox" id="selectchckbox" value="{!child.Standing_Order__c}" disabled="{!if(child.Standing_Order__c, true,if(child.Action__c=='I',false,true))}" title="{!if(child.Standing_Order__c,'Already moved to Standing Order','Move to Standing Order')}"/>
                                <!--<apex:inputCheckbox id="selectchckbox" value="{!child.Standing_Order__c}" disabled="{!if(child.Standing_Order__c, true,if(child.Action__c=='I',false,true))}" title="{!if(child.Standing_Order__c,'Already moved to Standing Order','Move to Standing Order')}"/>-->
                              <!--  <apex:inputCheckbox id="inptselectchckbox" value="{!child.Standing_Order__c}" rendered="{!if(child.Standing_Order__c, false,if(child.Action__c=='I',false,true))}" disabled="{!if(child.Standing_Order__c, true,if(child.Action__c=='I',false,true))}" title="{!if(child.Standing_Order__c,'Already moved to Standing Order','Move to Standing Order')}"/>
                              -->
                           </td>
                            <td headerValue="New Trans" headerClass="columnhead" width="10px" >
                                
                                <input type="checkbox" value="{!child.New_Transaction__c}" id="inpttransactionchckbox"/>
                                <!--<apex:inputCheckbox value="{!child.New_Transaction__c}" id="inpttransactionchckbox"/>-->
                            </td>
                            <td headerValue="Name" headerClass="columnhead" width="10px">
                                <a href="/{!child.Id}" target="_blank">{!child.Name}</a> 
                            </td>
                            <td headerValue="Line #" headerClass="columnhead" value="{!child.Line_Number__c}"/>
                            <td headerValue="Created Date" headerClass="columnhead">
                                <apex:outputText value="{0,date,MM'/'dd'/'yyyy hh':'mm}">
                                    <apex:param value="{!child.CreatedDate}" />
                                </apex:outputText>
                            </td>
                            <td headerValue="Needs Review" headerClass="columnhead" style="width:100px">
                                
                                <input type="checkbox" value="{!child.Needs_Review__c}" disabled="true"/>
                                <!--<apex:inputCheckbox value="{!child.Needs_Review__c}" disabled="true"/>-->
                            </td>
                            <td headerValue="Action" headerClass="columnhead" value="{!child.Action__c}" style="text-align:center"/>
                            <td headerValue="UDAC" headerClass="columnhead" value="{!child.UDAC__c}"/>
                            <td headerValue="BAS" headerClass="columnhead" value="{!child.BAS__c}" style="text-align:center"/>
                            <td headerValue="DAT" headerClass="columnhead" value="{!child.DAT__c}" style="text-align:center"/>
                            <td headerValue="SPINS" headerClass="columnhead" value="{!child.SPINS__c}" style="text-align:center"/>
                            <td headerValue="Advertising Data" headerClass="columnhead" value="{!child.Advertising_Data__c}" />
                            <td headerValue="Line Error Description" headerClass="columnhead" style="color:red;font-weight:bold" value="{!child.Line_Error_Description__c}"/>
                            </tr>
                        <br/>
                      </apex:repeat> 
                      </apex:repeat>
                    </apex:pageBlockSection>
                </apex:pageBlock>
            </apex:tab>
            <apex:tab label="Standing Order" name="name2" id="tabTwo">
                <apex:pageBlock mode="edit" id="pblkStanding">
                    <apex:messages style="color:red"/>
                    <apex:pageBlockButtons location="top">
                     <!--   <apex:commandButton value="Edit" title="Edit" action="/apex/NationalManualEntry_v2?id={!nationalStagingOrderId}" rendered="false"/>
                        <a href="#" onclick="window.open('/apex/NationalManualEntry_v2?id={!nationalStagingOrderId}','NationalManualEntry','fullscreen=yes')" class="btn" style="padding: 4px 3px;text-decoration:none">Edit</a>
                    -->
                    <a href="#" onclick="ShowPopup('/apex/NationalManualEntry_v2?id={!nationalStagingOrderId}');return false;" class="btn" style="padding: 4px 3px;text-decoration:none">Edit</a>
                    </apex:pageBlockButtons>
                    <apex:pageBlockSection columns="1">
                        <apex:panelGrid columns="1"  width="100%" border="0"  >
                            <apex:outputText value="{!nationalStagingOrderSet.Header_Error_Description__c}" />
                        </apex:panelGrid>
                        <apex:panelGrid columns="10" id="theGridStanding" width="100%" border="0" >
                            <apex:outputLabel styleClass="tdhead" value="OrderSet :" />
                            <apex:outputText value="{!nationalStagingOrderSet.Transaction_ID__c}" />
                            <apex:outputLabel styleClass="tdhead" value="Dir Name : " />
                            <apex:outputText value="{!nationalStagingOrderSet.Directory__r.Name}" />
                            <apex:outputLabel styleClass="tdhead" value="Dir # : " />
                            <apex:outputText value="{!nationalStagingOrderSet.Directory_Number__c}" />
                            <apex:outputLabel styleClass="tdhead" value="Dir Edition Name : " />
                            <apex:outputText value="{!nationalStagingOrderSet.Directory_Edition__r.Name}" />
                            <apex:outputLabel styleClass="tdhead" value="Dir Edition # : " />
                            <apex:outputText value="{!nationalStagingOrderSet.Directory_Edition_Number__c}" />
                            <apex:outputLabel styleClass="tdhead" value="CMR # : " />
                            <apex:outputText value="{!nationalStagingOrderSet.CMR_Number__c}" />
                            <apex:outputLabel styleClass="tdhead" value="CMR Name : " />
                            <apex:outputText value="{!nationalStagingOrderSet.CMR_Name__r.Name}" />
                            <apex:outputLabel styleClass="tdhead" value="Client # : " />
                            <apex:outputText value="{!nationalStagingOrderSet.Client_Number__c}" />
                            <apex:outputLabel styleClass="tdhead" value="Client Name : " />
                            <apex:outputText value="{!nationalStagingOrderSet.Client_Name__r.Name}" />
                            <apex:outputLabel styleClass="tdhead" value="NAT : " />
                            <apex:outputText value="{!nationalStagingOrderSet.NAT__c}" />
                             <apex:outputLabel styleClass="tdhead" value="Trans Code : " />
                            <apex:outputText value="{!nationalStagingOrderSet.TRANS_Code__c}" />
                            <apex:outputLabel styleClass="tdhead" value="NAT Client ID : " />
                            <apex:outputText value="{!nationalStagingOrderSet.NAT_Client_Id__c}" />
                            <apex:outputLabel styleClass="tdhead" value="Is Converted : " />
                            <apex:outputField value="{!nationalStagingOrderSet.Is_Converted__c}" />
                           
                        </apex:panelGrid>
                    </apex:pageBlockSection>     
                    <apex:pageBlockSection columns="1" id="pbSectionStanding">
                        <apex:pageBlockTable border="1" value="{!lstWrapperClass}" var="child">                
                            <apex:column headerValue="Name" headerClass="columnhead">
                                <apex:outputLink target="_blank" value="/{!child.id}">{!child.Name}</apex:outputLink>
                            </apex:column>
                            <apex:column headerValue="National Staging Header" headerClass="columnhead">
                                <apex:outputLink target="_blank" value="/{!child.nsosId}">{!child.nsosName}</apex:outputLink>
                            </apex:column>
                            <apex:column headerValue="Needs Review" headerClass="columnhead" style="width:100px">
                                
                                <input type="checkbox" value="{!child.NeedsReview}" disabled="true"/>
                                <!--<apex:inputCheckbox value="{!child.NeedsReview}" disabled="true"/>-->
                            </apex:column>
                            <apex:column headerValue="Line #" headerClass="columnhead" value="{!child.lineNo}"/>
                            <apex:column headerValue="Action" headerClass="columnhead" value="{!child.action}" style="text-align:center" />
                            <apex:column headerValue="UDAC" headerClass="columnhead" value="{!child.UDAC}"/>
                            <apex:column headerValue="BAS" headerClass="columnhead" value="{!child.BAS}" style="text-align:center"/>
                            <apex:column headerValue="DAT" headerClass="columnhead" value="{!child.DAT}" style="text-align:center"/>
                            <apex:column headerValue="SPINS" headerClass="columnhead" value="{!child.SPINS}" style="text-align:center"/>
                            <apex:column headerValue="Advertising Data" headerClass="columnhead" value="{!child.advData}" />
                            <apex:column headerValue="Sales Price" headerClass="columnhead">
                            <apex:outputText value="{0,number,$ 0.00}">
                                    <apex:param value="{!child.salesRate}" />
                                </apex:outputText>
                            </apex:column>
                            <apex:column headerValue="Line Error Description" headerClass="columnhead" value="{!child.LineError}" />
                            <apex:column headerValue="Is Processed" headerClass="columnhead">
                                
                                <input type="checkbox" disabled="true" value="{!child.isProcessed}" rendered="{! NOT(child.showSelect)}"/>
                                <!--<apex:inputCheckbox disabled="true" value="{!child.isProcessed}" rendered="{! NOT(child.showSelect)}"/>-->
                            </apex:column>
                            <apex:column headerValue="Query/Advice" headerClass="columnhead" value="{!child.queryAdvice}" />
                            <apex:column headerValue="Freq Comm/Questions" headerClass="columnhead" value="{!child.freqComment}" />
                            <apex:column headerValue="Advice/Query Free Text" headerClass="columnhead" value="{!child.freeText}" />
                            <!--<apex:column headerValue="Send to Elite?" headerClass="columnhead">
                                <apex:inputCheckbox value="{!child.sendToElite}" disabled="true" rendered="{!child.showSelect}"/>
                            </apex:column>-->
                        </apex:pageBlockTable>
                    </apex:pageBlockSection>
                </apex:pageBlock>
            </apex:tab>
            <apex:tab label="Transaction History" name="name3" id="tabThree">
                <apex:pageBlock mode="edit" id="pblkNH">
                    <apex:pageMessage severity="Info" strength="3" detail="No record found" rendered="{! IF(lstNationalHistory.size > 0, false, true)}"/>
                    <apex:pageBlockSection columns="1" id="pbSectionNH" rendered="{! IF(lstNationalHistory.size > 0, true, false)}">
                        <apex:pageBlockTable border="1" value="{!lstNationalHistory}" var="NH" columns="4">
                            <apex:column headerValue="Name" >
                                <apex:outputLink target="_blank" value="/{!NH.id}">{!NH.Name}</apex:outputLink>
                            </apex:column>
                            <apex:column headerValue="Created Date">
                                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                    <apex:param value="{!NH.CreatedDate}" />
                                </apex:outputText>
                            </apex:column>
                            <apex:column headerValue="Trans Code"  value="{!NH.TRANS_Code__c}" />
                            <apex:column headerValue="Late Order"  value="{!NH.Late_Order__c}" />
                        </apex:pageBlockTable>
                    </apex:pageBlockSection>
                </apex:pageBlock>
            </apex:tab>
        </apex:tabPanel>
    </apex:form>
</apex:page>