<apex:page Standardcontroller="Directory__c" extensions="NationalRateCardController_v3" action="{!onLoad}">
    <apex:form >
        <apex:pageMessages id="pmId" />
        <apex:pageBlock id="pbId">
        	<apex:pageBlockButtons location="top">
                <apex:commandButton value="Save" action="{!save}" />
                <apex:commandButton value="cancel" action="{!cancel}" />
                <apex:commandButton value="Export" action="{!exportXLS}" />
                <apex:commandButton value="Generate CSV" action="{!generateCSV}" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection collapsible="false" title="Rate Card" columns="2">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Directory Name : " for="directory_name"/>
                    <apex:inputText disabled="true" value="{!objNationalNP.directoryName}" id="directory_name"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Directory Code : " for="directory_Code"/>
                    <apex:inputText disabled="true" value="{!objNationalNP.directoryVersion}" id="directory_Code"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Publication Company Name : " for="Publication_Company_Name"/>
                    <apex:inputText disabled="true" value="{!objNationalNP.directoryPUBCOName}" id="Publication_Company_Name"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Publication Code : " for="Publication_Code"/>
                    <apex:inputText disabled="true" value="{!objNationalNP.directoryPUBCOCode}" id="Publication_Code"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Version : " for="Version"/>
                    <apex:inputText value="{!strVersion}" id="Version"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Type : " for="Publication_Code"/>
                    <apex:selectList value="{!objNationalNP.strType}" multiselect="false" size="1">
                        <apex:selectOptions value="{!objNationalNP.typeSelect}"/>
                        <apex:actionSupport event="onchange" action="{!changeType}" rerender="pbId" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Update Rate(%) : " for="update_rate" rendered="{!NOT(bFlag)}"/>
                    <apex:outputPanel rendered="{!NOT(bFlag)}">
                        <apex:inputText size="3" value="{!objNationalNP.updateRate}" id="update_rate"/>
                        <apex:commandButton value="Go" action="{!doCalculaion}" rerender="pbtId,pmId" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockTable id="pbtId" value="{!objNationalNP.lstChild}" var="item">
                <apex:column width="8%" headerValue="UDAC">
                    <apex:inputText id="ipUDAC" size="6" disabled="true" value="{!item.UDAC}" />
                </apex:column>
                <apex:column width="8%" headerValue="Full Rate" rendered="{!NOT(bFlag)}">
                    <apex:inputText id="ipFullRate" size="6" value="{!item.fullRate}">
                        <apex:actionSupport event="onchange" action="{!doCalculaionPerProduct}" rerender="pbtId">
                            <apex:param name="pId" value="{!item.productId}"/>
                        </apex:actionSupport>
                    </apex:inputText>
                </apex:column>
                <apex:column width="8%" headerValue="National Full Rate" rendered="{!bFlag}">
                    <apex:outputText id="ipNationalFullRate" value="{!item.nationalFullRate}" />   
                </apex:column>
                <apex:column width="7%" headerValue="X15" rendered="{!bFlag}">
                    <apex:outputText id="ipX15" value="{!item.X15}" />
                </apex:column>
                <apex:column width="7%" headerValue="X25" rendered="{!bFlag}">
                    <apex:outputText id="ipX25" value="{!item.X25}" />
                </apex:column>
                <apex:column width="7%" headerValue="X30" rendered="{!bFlag}">
                    <apex:outputText id="ipX30" value="{!item.X30}" />
                </apex:column>
                <apex:column width="7%" headerValue="X35" rendered="{!bFlag}">
                    <apex:outputText id="ipX35" value="{!item.X35}" />
                </apex:column>
                <apex:column width="7%" headerValue="X40">
                    <apex:outputText id="ipX40" value="{!item.X40}" />
                </apex:column>
                <apex:column width="7%" headerValue="X45">
                    <apex:outputText id="ipX45" value="{!item.X45}" />
                </apex:column>
                <apex:column width="7%" headerValue="X50">
                    <apex:outputText id="ipX50" value="{!item.X50}" />
                </apex:column>
                <apex:column width="7%" headerValue="X55">
                    <apex:outputText id="ipX55" value="{!item.X55}" />
                </apex:column>
                <apex:column width="7%" headerValue="X60">
                    <apex:outputText id="ipX60" value="{!item.X60}" />
                </apex:column>
                <apex:column width="7%" headerValue="X65" rendered="{!NOT(bFlag)}">
                    <apex:outputText id="ipX65" value="{!item.X65}" />
                </apex:column>
                <apex:column width="7%" headerValue="X70" rendered="{!NOT(bFlag)}">
                    <apex:outputText id="ipX70" value="{!item.X70}" />
                </apex:column>
            </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:form>
</apex:page>