<apex:page standardController="c2g__codaInvoice__c" extensions="NewSalesInvoiceController"> 
<apex:form >
<apex:pageMessages />
	<apex:pageBlock >
		<apex:pageBlockButtons >
			<apex:commandButton value="Save" action="{!savSI}"/>
		</apex:pageBlockButtons>
		<apex:pageBlockSection title="Information" collapsible="false">			
			<apex:inputField value="{!newSI.c2g__Account__c}"/>				
			<apex:inputField value="{!newSI.Reconcile__c}"/>		
			<apex:inputField value="{!newSI.Customer_Name__c}"/>		
			<apex:inputField value="{!newSI.Is_Statement_Generated__c}"/>				
			<apex:inputField value="{!newSI.c2g__InvoiceDate__c}"/>			
			<apex:inputField value="{!newSI.Migrated_History__c}"/>				
			<apex:inputField value="{!newSI.c2g__DueDate__c}"/>								
			<apex:inputField value="{!newSI.Offset__c}"/>	
			<apex:inputField value="{!newSI.c2g__Period__c}"/>					
			<apex:inputField value="{!newSI.Sent_To_Telco__c}"/>		
			<apex:inputField value="{!newSI.Transaction_Type__c}"/>		
			<apex:inputField value="{!newSI.Service_Start_Date__c}"/>					
			<apex:inputField value="{!newSI.Invoice_Reason__c}"/>							
			<apex:inputField value="{!newSI.Service_End_Date__c}"/>	
			<apex:outputText />
			<apex:inputField value="{!newSI.ISS_Number__c}"/>	
			<apex:outputText />		
			<apex:inputField value="{!newSI.PAN__c}"/>			
		</apex:pageBlockSection>
		<apex:pageBlockSection collapsible="false" rendered="{! IF(CONTAINS($Profile.Name, 'Revenue Assurance'), false, true) }">	
			<apex:outputText />		
			<apex:inputField value="{!newSI.Misapply_Reapply__c}"/>		
			<apex:outputText />
			<apex:inputField value="{!newSI.c2g__InvoiceStatus__c}"/>	
			<apex:outputText />
			<apex:inputField value="{!newSI.CMR_Commission_Processed__c}"/>		
			<apex:outputText />				
			<apex:inputField value="{!newSI.Is_Manually_Created__c}"/>	
			<apex:outputText />	
			<apex:inputField value="{!newSI.c2g__DiscardReason__c}"/>
			<apex:outputText />
			<apex:inputField value="{!newSI.c2g__NetTotal__c}"/>	
			<apex:outputText />	
			<apex:inputField value="{!newSI.c2g__TaxTotal__c}"/>	
			<apex:outputText />	
			<apex:inputField value="{!newSI.c2g__InvoiceTotal__c}"/>
			<apex:outputText />	
			<apex:inputField value="{!newSI.c2g__Transaction__c}"/>	
			<apex:outputText />		
			<apex:inputField value="{!newSI.Write_Off__c}"/>	
			<apex:outputText />				
		</apex:pageBlockSection>
		<apex:pageBlockSection title="Derive Fields" collapsible="false">       		
			<apex:inputField value="{!newSI.ffbilling__DeriveDueDate__c}"/>			
			<apex:inputField value="{!newSI.ffbilling__DerivePeriod__c}"/>	
		</apex:pageBlockSection>
	</apex:pageBlock>
</apex:form>	
</apex:page>