<apex:page standardController="Opportunity">
    <!--  Replace with JQuery in resources -->
    <apex:includeScript value="https://code.jquery.com/jquery-1.9.1.min.js"/>
    <body>
        <div id="DocuSign_OpportunityContent">
        </div>
    </body>
    <script>
        $(document).ready(function() {
            var salesforce1 = false;
            if ( (typeof sforce != 'undefined') && (sforce != null) ) {
                salesforce1 = true;
            } 
            if (salesforce1 == true)        
            {

sforce.one.navigateToURL('/apex/dsfs__DocuSign_CreateEnvelope?DSEID=0&SF1=1&SourceID={!Opportunity.Id }&CRL=Email~{!Opportunity.Sig_Contact_Email__c };FirstName~{!Opportunity.Sig_Contact_First__c };LastName~{!Opportunity.Sig_Contact_Last__c };SignInPersonName~{!Opportunity.Sig_Contact_FullName__c}');

            }
            else
            {
                $('#DocuSign_OpportunityContent').append('<input class="btn" type="button" id="DocuSign_OpportunityAction_Link" value="Send with DocuSign"/>');
                $('#DocuSign_OpportunityAction_Link').click(function() {
                    window.top.location.href = "/apex/dsfs__DocuSign_CreateEnvelope?DSEID=0&SourceID={!Opportunity.Id }&CRL=Email~{!Opportunity.Sig_Contact_Email__c };FirstName~{!Opportunity.Sig_Contact_First__c };LastName~{!Opportunity.Sig_Contact_Last__c };SignInPersonName~{!Opportunity.Sig_Contact_FullName__c}";
                }); 
            }
        });
    </script>
</apex:page>