<apex:page standardController="Digital_Product_Requirement__c" extensions="OrderSetDFFsController" sidebar="false" showheader="false" tabStyle="Digital_Product_Requirement__c">
<style type="text/css">
.value{background-color: #A0CFEC;}
</style>

<script>
    function opnWnd(){
        window.top.location.href = "/{!rdId}";
    }
</script>

    <apex:form >
    <apex:pageBlock title="OrderSetDffs">
        <apex:pageblockButtons location="top">
            <apex:commandButton value="OrderSet" onclick="opnWnd();"/>
        </apex:pageblockButtons>
        <apex:pagemessages />    
        <apex:pageBlockSection title="OrderSet Name: {!Digital_Product_Requirement__c.OrderLineItemID__r.Order_Group__r.Name}" collapsible="false" columns="1">
            <apex:pageBlockTable value="{!DFFs}" var="rcd" border="2" columns="8">
            <apex:column style="{!IF((rcd.name = Digital_Product_Requirement__c.name),"background-color: #A0CFEC;","")}" width="10%"><apex:facet name="header">DFF</apex:facet>
            <apex:outputLink value="/{!rcd.Id}" target="_top">{!rcd.Name}</apex:outputLink>
            </apex:column>
            <apex:column style="{!IF((rcd.DFF_Status__c = Digital_Product_Requirement__c.DFF_Status__c) && (rcd.name = Digital_Product_Requirement__c.name),"background-color: #A0CFEC;","")}" width="8%"><apex:facet name="header">Ready to Submit</apex:facet>
            <center><apex:outputField value="{!rcd.DFF_Status__c}"/></center> 
            </apex:column>
            <apex:column style="{!IF((rcd.Fulfillment_Status__c = Digital_Product_Requirement__c.Fulfillment_Status__c) && (rcd.name = Digital_Product_Requirement__c.name),"background-color: #A0CFEC;","")}" width="6%"><apex:facet name="header">Submitted</apex:facet>
            <center><apex:outputField value="{!rcd.Fulfillment_Status__c}"/></center> 
            </apex:column>
            <!--<apex:column style="{!IF((rcd.Fulfillment_Status__c = Digital_Product_Requirement__c.Fulfillment_Status__c) && (rcd.name = Digital_Product_Requirement__c.name),"background-color: #A0CFEC;","")}" width="8%"><apex:facet name="header">Go-Live Date</apex:facet>
            <center><apex:outputField value="{!rcd.OrderLineItemID__r.Talus_Go_Live_Date__c}"/></center> 
            </apex:column>-->
            <apex:column headerValue="Go-Live Date" value="{!rcd.OrderLineItemID__r.Talus_Go_Live_Date__c} {!rcd.ModificationOrderLineItem__r.Talus_Go_Live_Date__c}" style="{!IF((rcd.Fulfillment_Status__c = Digital_Product_Requirement__c.Fulfillment_Status__c) && (rcd.name = Digital_Product_Requirement__c.name),"background-color: #A0CFEC;","")}" width="8%">
            </apex:column>
            <apex:column headerValue="Fulfillment Status" value="{!rcd.OrderLineItemID__r.Status__c} {!rcd.ModificationOrderLineItem__r.Status__c}" style="{!IF((rcd.Fulfillment_Status__c = Digital_Product_Requirement__c.Fulfillment_Status__c) && (rcd.name = Digital_Product_Requirement__c.name),"background-color: #A0CFEC;","")}" width="8%">
            <!---<apex:column style="{!IF((rcd.Fulfillment_Status__c = Digital_Product_Requirement__c.Fulfillment_Status__c) && (rcd.name = Digital_Product_Requirement__c.name),"background-color: #A0CFEC;","")}" width="8%"><apex:facet name="header">Fulfillment Status</apex:facet>--->
            <!---<center><apex:outputField value="{!rcd.OrderLineItemID__r.Status__c}"/></center>---> 
            </apex:column>                         
            <apex:column style="{!IF((rcd.OrderLineItemID__r.Product2__r.Description = Digital_Product_Requirement__c.OrderLineItemID__r.Product2__r.Description) && (rcd.name = Digital_Product_Requirement__c.name),"background-color: #A0CFEC;","")}"><apex:facet name="header">Description</apex:facet>
            <apex:outputField value="{!rcd.OrderLineItemID__r.Product2__r.Description}"/>  <apex:outputField value="{!rcd.ModificationOrderLineItem__r.Product2__r.Description}"/>
            </apex:column>
            <apex:column style="{!IF((rcd.UDAC__c = Digital_Product_Requirement__c.UDAC__c) && (rcd.name = Digital_Product_Requirement__c.name),"background-color: #A0CFEC;","")}"><apex:facet name="header">UDAC</apex:facet>
            <apex:outputField value="{!rcd.UDAC__c}"/> 
            </apex:column>
            
            <apex:column style="{!IF((rcd.Changed_Dff_Field_Count__c = Digital_Product_Requirement__c.Changed_Dff_Field_Count__c) && (rcd.name = Digital_Product_Requirement__c.name),"background-color: #A0CFEC;","")}"><apex:facet name="header">Submit Changes</apex:facet>
                <apex:image id="theImage" url="{!IF(rcd.Changed_Dff_Field_Count__c>0, $Resource.Dff_Flag_No, $Resource.Dff_Flag_Yes)}" width="25" height="18"/>
            </apex:column>            
            </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:pageBlock>            
    </apex:form>
</apex:page>