<apex:page standardController="pymt__PaymentX__c" extensions="PaymentReceipt" showHeader="false" renderAs="pdf">

    <apex:form >
        <br/>
        <table border="0" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;table-layout:fixed;">
            <tbody>
                 <tr height="18" style="mso-height-source:userset;height:18.75pt">
                    <td height="20" width="101"  valign="top">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td height="18"  width="101" style="height:18.75pt;width:101pt"></td>
                                </tr>
                            </tbody>
                        </table> 
                     </td> 
                    </tr>
                <tr valign="top">
                    <td colspan="4" style="font-size:10pt;">                           
                        
                        <table border="0"  width="100%">
                            <tr valign="top">
                                <td style="font-size:12pt;">
                                    <b>Receipt for Advertising Payment</b>
                                </td>
                                <td  nowrap="true" style="font-size:9pt; text-align:right;"><b>Date:</b>&nbsp;<apex:outputField value="{!objInvoice.c2g__DueDate__c}" />
                                </td>
                            </tr>
                        </table>
                        <table align="right" border="0"  width="100%">
                            <tr valign="top">
                                <td  nowrap="true"  style="font-size:9pt;">                                
                                    <b>For:</b><br/>
                                    <apex:outputField value="{!objAccount .Name}" /><br/>
                                    <apex:outputField value="{!objAccount .BillingStreet}"/><br/>
                                    <apex:outputField value="{!objAccount .BillingCity}" />,&nbsp;<apex:outputField value="{!objAccount .BillingState}"/>,&nbsp;<apex:outputField value="{!objAccount .BillingPostalCode}"/><br/>
                                    <br/>
                                    <b>Phone Number:</b>&nbsp;<apex:outputField value="{!objAccount .Phone}"/><br/>
                                    <b>Customer Number:</b>&nbsp;<apex:outputField value="{!objAccount .Account_Number__c}"/><br/><br/>
                                    
                                </td>
                            </tr>
               
                <tr>
                    <td colspan="5" valign="top" >
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                           <tr valign="top">
                                <td colspan="2" style="border-bottom: 0;font-size:8pt;text-align:center"><b>Payment Information</b></td>
                            </tr>
                            <tr style="height:10px;">
                            </tr>
                            <tr valign="top">
                                <td colspan="2" style="border-bottom: 0;font-size:8pt;">
                                    <apex:outputPanel id="Table_CreditCard" rendered="{!isCreditCard}">
                                    <table>
                                        <tr valign="top">
                                           <td style="border-bottom: 0;font-size:8pt;width:200px;">Name On Card</td>
                                           <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                           <td style="border-bottom: 0;font-size:8pt;"><apex:outputField value="{!objPayment.pymt__Contact__r.name}"/></td> 
                                        </tr>  
                                        <tr valign="top">                                
                                            <td style="border-bottom: 0;font-size:8pt;">Card Type</td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="border-bottom: 0;font-size:8pt;"><apex:outputField value="{!objPayment.pymt__Card_Type__c}"/></td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="border-bottom: 0;font-size:8pt;">Card Number</td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="border-bottom: 0;font-size:8pt;"><apex:outputField value="{!objPayment.pymt__Last_4_Digits__c}"/></td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:8pt;">Payment Status</td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="font-size:8pt;"><apex:outputField value="{!objPayment.pymt__Status__c}"/></td>
                                        </tr>
                                         <tr valign="top">
                                            <td style="font-size:8pt;">Payment Amount</td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="font-size:8pt;"><apex:outputField value="{!objPayment.pymt__Amount__c}"/></td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:8pt;">Approval #</td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="font-size:8pt;"><apex:outputField value="{!objPayment.pymt__Authorization_Id__c}"/></td>
                                        </tr> 
                                        <tr style="height:10px;">
                                        </tr> 
                                        <tr valign="top">
                                            <td style="font-size:8pt;"><b>Terms and Conditions</b></td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="font-size:8pt;">See your advertising order for information related to Berrys Terms and Conditions </td>                                          
                                        </tr>
                                        <tr style="height:10px;">
                                        </tr>
                                        <tr valign="top">
                                            <td colspan="3" style="font-size:8pt;text-decoration:underline;"><b>How to reach Us</b></td>                                            
                                        </tr> 
                                        <tr valign="top">
                                            <td style="font-size:8pt;"><b>Customer Service</b></td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="font-size:8pt;"><span  style="color:red">1-877-877-0475</span> 8:00AM to 5:00PM EST, Monday through Friday<br/>Email: customer.relations@theberrycompany.com
                                            </td>
                                        </tr>  
                                        <tr valign="top">
                                            <td style="font-size:8pt;"><b>On-Line</b></td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="font-size:8pt;">Website:  http://www.BerryMeansBusiness.com/
                                            </td>
                                        </tr>                                 
                                    </table>
                                    </apex:outputPanel>
                                   <apex:outputPanel id="Table_ECheck" rendered="{!isECheck}">
                                    <table>
                                        <tr valign="top">
                                           <td style="border-bottom: 0;font-size:8pt;width:200px;">Name On Check</td>
                                           <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                           <td style="border-bottom: 0;font-size:8pt;"><apex:outputField value="{!objPayment.pymt__Contact__r.name}"/></td> 
                                        </tr>  
                                        <tr valign="top">
                                            <td style="border-bottom: 0;font-size:8pt;">Check Number</td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="border-bottom: 0;font-size:8pt;"><apex:outputField value="{!objPayment.pymt__Check_Number__c}"/></td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:8pt;">Payment Status</td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="font-size:8pt;"><apex:outputField value="{!objPayment.pymt__Status__c}"/></td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:8pt;">Payment Amount</td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="font-size:8pt;"><apex:outputField value="{!objPayment.pymt__Amount__c}"/></td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:8pt;">Approval #</td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="font-size:8pt;"><apex:outputField value="{!objPayment.pymt__Authorization_Id__c}"/></td>
                                        </tr> 
                                        <tr style="height:10px;">
                                        </tr> 
                                        <tr valign="top">
                                            <td style="font-size:8pt;"><b>Terms and Conditions</b></td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="font-size:8pt;">See your advertising order for information related to Berrys Terms and Conditions </td>                                          
                                        </tr>
                                        <tr style="height:10px;">
                                        </tr>
                                        <tr valign="top">
                                            <td colspan="3" style="font-size:8pt;text-decoration:underline;"><b>How to reach Us</b></td>                                            
                                        </tr> 
                                        <tr valign="top">
                                            <td style="font-size:8pt;"><b>Customer Service</b></td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="font-size:8pt;"><span  style="color:red">1-877-877-0475</span> 8:00AM to 5:00PM EST, Monday through Friday<br/>Email: customer.relations@theberrycompany.com
                                            </td>
                                        </tr>  
                                        <tr valign="top">
                                            <td style="font-size:8pt;"><b>On-Line</b></td>
                                            <td style="border-bottom: 0;font-size:8pt;width:10px;">:</td>
                                            <td style="font-size:8pt;">Website:  http://www.BerryMeansBusiness.com/
                                            </td>
                                        </tr>                                 
                                    </table>
                                   </apex:outputPanel>
                                </td>
                                
                            </tr>
                            
                         </table> 
                     </td>
                    <td  valign="top" >&nbsp;</td>
                </tr>
                        </table>
                    </td>
                    <!--<td>
                        <table align="right" border="0"  width="100%">
                            <tr valign="top">
                                <td  nowrap="true" style="font-size:9pt; text-align:right;"><b>Date:</b>&nbsp;<apex:outputField value="{!Inv.c2g__DueDate__c}" />
                                </td>
                            </tr>
                        </table>
                    </td>-->
                    <td  width="100%" >
                        <table align="right" border="0" width="100%">
                            <tr valign="top">
                                <!-- td width="200">&nbsp;</td> -->
                                    <td  style="text-align:center;font-size:8pt;" >
                                    <br/> Visit us at<br/>BerryMeansBusiness.com<br/>
                                    to learn about products and<br/>services Berry provides<br/>
                                    to deliver leads to your<br/>business!<br/>
                                    <br/><apex:image url="{!$Resource.berryqr}" width="88" height="76"/><br/>
                                    <br/>
                                    Follow Berry on<br/>
                                    Facebook and Twitter&nbsp;&nbsp;<br/>for small business tips,&nbsp;<br/>
                                    webinars, recycling info and<br/>
                                    more! <br/><br/>
                                    <apex:image url="{!$Resource.facebooksmall}" width="25" height="25"/><apex:image url="{!$Resource.twittersmall}" width="25" height="25"/>
                                    BerryMeansBiz<br/>                                                                                  
                                </td>
                            </tr>
                           <!--<td width="100%">
                            <table align="right" border="0" width="100%"> -->
                              <tr valign="baseline">
                                <!-- td width="200">&nbsp;</td> -->
                                <td  style="text-align:baseline;font-size:8pt;width:10px;">
                                    <br/> <br/> <br/> <br/><br/><br/>
                                     <br/><br/><br/><br/><br/><br/> 
                                     &nbsp; &nbsp;&nbsp;<span  style="color:red">Programmer Note:<br/>
                                                                 &nbsp;&nbsp;&nbsp;&nbsp;Please see comment box for info on 800# </span><br/>
                                                                                                                                                                                <br/>
                                </td>
                              </tr>
                            <!--</table>
                         </td>-->
                       </table>
                    </td>
                </tr>                
            </tbody>
        </table>       
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr style="height:10px;">
            </tr>
            <tr>
                <td style="font-size:18pt;text-align:center;">
                    <SPAN STYLE="font-family: Brush Script MT;font-style: italic;" >Thank you for your business!</span>
                </td>
            </tr>
        </table>
    </apex:form>
</apex:page>