<apex:page standardcontroller="Opportunity">
    <head>
        <script language="javascript" src="/soap/ajax/25.0/connection.js" type="text/javascript" />
        <script type="text/javascript">sforce.connection.sessionId = "{!$Api.Session_ID}";</script>
        <script type="text/javascript">
            window.onload = function() {
                var oppID = "{!$CurrentPage.parameters.id}";
                //********************Opportunity Records********************
                var oppQuery = "select RAS_ID__c,RAS_Date__c,IsWon,Signing_Method__c,Signing_Contact__c,DocuSign_Received__c,IsClosed,Id,Payment_Method__c,Billing_Partner__c,Billing_Frequency__c,BigMachines__Line_Items__c from Opportunity where Id = '" + oppID + "'";
                var oppResult = sforce.connection.query(oppQuery.toString());
                var oppResultRecord = oppResult.getArray("records");
                var oppRecord;
                for (var i = 0; i < oppResultRecord.length; i++) {
                    oppRecord = oppResultRecord[i];
                }
                
                //********************BMI Quote Records********************
                var quoteQuery = "select Name,Id,BigMachines__Opportunity__c,BigMachines__Is_Primary__c,Submitted_for_Approval__c,BigMachines__Status__c,Approval_Triggers__c,Approval_Status__c from BigMachines__Quote__c where BigMachines__Opportunity__c = '" + oppID + "'";
                var quoteResult = sforce.connection.query(quoteQuery.toString());
                var quoteResultRecord = quoteResult.getArray("records");
                var quoteID = '';
                
                // Added by JB
                var quotePrimaryrecord ='';
                   
                for (var i = 0; i < quoteResultRecord.length; i++) {
                    if(quoteResultRecord[i].BigMachines__Is_Primary__c == 'true' ) {
                        quoteID = quoteResultRecord[i].Id;
                        
                        // Added by JB
                        quotePrimaryrecord = quoteResultRecord[i];
                    }
                }
                
                //********************BMI Quote Product Records********************
                var quoteProductResultRecord = null;
                if(quoteID != '') {
                    var quoteProductQuery = "select Id, BigMachines__Quote__c from BigMachines__Quote_Product__c where BigMachines__Quote__c = '" + quoteID + "'";
                    var quoteProductResult = sforce.connection.query(quoteProductQuery.toString());
                    quoteProductResultRecord = quoteProductResult.getArray("records");
                }
                
                var elem = document.getElementById('parentTBId');
                elem.appendChild(createRowWithOneCellHeader('These items are required in order to Close the Opportunity and Create the Order'));
                
                var myPendingMsg = new Array();
                    
                if(quoteResultRecord.length < 1) {
                    myPendingMsg.push(' - Quote is required');
                }
                else {
                    if(quoteID == '') {
                        myPendingMsg.push(' - Quote is not synced with opportunity');
                    }                   
                }
                
                if(quoteProductResultRecord == null) {
                    myPendingMsg.push(' - Quote Product is required');
                }
                else {
                    if(quoteProductResultRecord.length < 1) {
                        // There is no BMI Quote Product
                        myPendingMsg.push(' - Atleast one Quote Product is required');
                    }
                }
                
                if(oppResultRecord.length > 0) {
                    if(oppRecord.BigMachines__Line_Items__c <= 0) {
                        myPendingMsg.push(' - Atleast one Opportunity Product is required');
                    }
                    
                    if(oppRecord.Payment_Method__c == null) {
                        myPendingMsg.push(' - Payment Method is required');
                    }
                    
                                        
                    if(oppRecord.Billing_Partner__c == null) {
                        myPendingMsg.push(' - Billing Partner is required');
                    }
                    
                    if(oppRecord.Billing_Frequency__c == null) {
                        myPendingMsg.push(' - Billing Frequency is required');
                    }
                    
                    if(oppRecord.Signing_Contact__c == null) {
                        myPendingMsg.push(' - Signing Contact is required');
                    }
                    
                    if(oppRecord.Signing_Method__c != null) {
                        if(oppRecord.Signing_Method__c == 'RAS') {
                            if(oppRecord.RAS_ID__c == null) {
                                //RAS should not empty
                                myPendingMsg.push(' - RAS ID is missing');
                            }
                            if(oppRecord.RAS_Date__c == null) {
                                //RAS Date should not empty
                                myPendingMsg.push(' - RAS Date is missing');
                            }
                        }
                        else {
                            if(oppRecord.DocuSign_Received__c == 'false') {
                                //Document not recived
                                myPendingMsg.push(' - DocuSign document is not yet received');
                            }
                            else {
                                if(oppRecord.RAS_Date__c == null) {
                                    //Document recived Date should not empty
                                    myPendingMsg.push(' - Document Received Date is missing');
                                }
                            }
                        }
                    }
                    else {
                        //Sign Method should not empty
                        myPendingMsg.push(' - Signing Method is required');
                    }
                    
                    if(oppRecord.IsClosed == 'false' && oppRecord.IsWon == 'false') {
                        //Opportunity status must be a Closed
                        myPendingMsg.push(' - Opportunity Stage should be "Closed Won" or "Closed Decrease');
                    }
                    
                    /*if(quotePrimaryrecord != null) {                        
                        // BMI quote must be approved to close Opportunity.
                        if(quotePrimaryrecord.Submitted_for_Approval__c == 'true') {                        
                            myPendingMsg.push(' - Quote is waiting for approval');
                        }
                        
                        if(quotePrimaryrecord.Approval_Triggers__c != null && quotePrimaryrecord.Approval_Status__c == 'Pending') {
                            myPendingMsg.push(' - Quote has exception discount or wave fee, should be submit for approval');
                        }
                        
                        if(quotePrimaryrecord.Approval_Triggers__c != null && quotePrimaryrecord.Approval_Status__c == 'Rejected') {
                            myPendingMsg.push(' - Quote has exception discount or wave fee, request was rejected');
                        }
                    }*/
                    
                }
                
                var myShowMsg = new Array();
                if(myPendingMsg.length > 0) {
                    for(var i=0; i < myPendingMsg.length; i++) {
                        myShowMsg.push(myPendingMsg[i]);
                        if(myShowMsg.length == 2) {
                            elem.appendChild(createRow(myShowMsg[0], myShowMsg[1]));
                            myShowMsg = new Array();
                        }                       
                        if(i == (myPendingMsg.length - 1)) {
                            if(myShowMsg.length == 1) {
                                elem.appendChild(createRowWithOneCell(myShowMsg[0]));
                            }
                        }
                    }
                }
            }
            
            function createRow(headerValue, actualValue){
                var row = document.createElement("tr");
                
                var cell1 = document.createElement("td");
                cell1.style.width = '50%';
                cell1.style.fontSize = '12px';
                
                var cell2 = document.createElement("td");
                cell1.style.width = '50%';
                cell1.style.fontSize = '12px';
                
                row.appendChild(cell1);
                row.appendChild(cell2);
                
                cell1.innerHTML = headerValue;
                cell2.innerHTML = actualValue;
        
                return row;
            }
            
            function createRowWithOneCell(headerValue){
                var row = document.createElement("tr");
                
                var cell1 = document.createElement("td");
                cell1.style.fontSize = '12px';
                cell1.colSpan = 2;
                
                row.appendChild(cell1);
                
                cell1.innerHTML = headerValue;
                
                return row;
            }
            
            function createRowWithOneCellHeader(headerValue){
                var row = document.createElement("tr");
                
                var cell1 = document.createElement("td");               
                cell1.style.width = 'auto';
                cell1.style.fontSize = '15px';
                cell1.style.color = 'red';
                cell1.style.fontWeight = 'bold';
                cell1.colSpan = 2;
                
                row.appendChild(cell1);
                
                cell1.innerHTML = headerValue;
                
                return row;
            }
        </script>       
    </head>
    <body>
        <div id="mainbg">
            <table id="parentTBId" width="95%" border="0" class="message warningM3"></table>
        </div>
    </body>
</apex:page>