<apex:page cache="true" contentType="application/vnd.ms-excel#export.csv" language="en-US" controller="SpecialtyItemReportExt">
Account Number, Account Name, Directory Edition, Main Listed Phone Number, Line Item, UDAC, Action Code, Order URN, Previous Edition, Next Edition, Handled(Yes/No)
<apex:repeat value="{!specialtyItemReportWrapperList}" var="report">
{!report.accountNumber}, {!report.accountName}, {!report.dirEditionName}, {!report.accountPhoneNumber}, {!report.orderLineItemName}, {!report.UDAC}, {!report.orderlineitemaction}, {!report.dfforderurn}, {!report.previousEdition}, {!report.nextEdition}, {!report.handled}
</apex:repeat>
</apex:page>