<apex:page standardController="Directory_Edition__c" extensions="SpecialtyItemReportExt" id="pg">
<apex:form id="frm">
   <apex:pageBlock id="pgblk">
        <apex:pageBlockButtons location="top">
            <!-- <apex:commandButton value="Export As Excel" action="{!exportAsExcel}" /> -->
            <apex:commandButton action="{!cancel}" value="Cancel & Return"/>
           <apex:commandButton value="Export As Excel" onclick="tableToExcel('{!$Component.pg.frm.pgblk.pgblksection.pgblktable}', '{!$Component.pg.frm.pgblk.pgblksection.pgblktable}','Speciality Item Report.xls');return false;" disabled="{!if(specialtyItemReportWrapperList.size>0,false,true)}"/>
           <a id="dlink" style="display:none;">Download</a>
        </apex:pageBlockButtons>
        <apex:pageBlockSection id="pgblksection">
        <apex:pageMessage severity="INFO" strength="2" detail="No record found with matching criteria." rendered="{!if(specialtyItemReportWrapperList.size>0,false,true)}"></apex:pageMessage>
            <apex:pageBlockTable value="{!specialtyItemReportWrapperList}" var="report" id="pgblktable" rendered="{!if(specialtyItemReportWrapperList.size>0,true,false)}">
                <apex:column headerValue="Account Number" value="{!report.accountNumber}"/>
                <apex:column headerValue="Account Name" value="{!report.accountName}"/>                
                <apex:column headerValue="Directory Edition" value="{!report.dirEditionName}"/>
                <apex:column headerValue="Main Listed Phone Number" value="{!report.accountPhoneNumber}"/>
                 <apex:column headerValue="Line Item">
                    <apex:outputLink value="/{!report.orderLineItemId}" target="_blank">{!report.orderLineItemName}</apex:outputLink>
                </apex:column>
                <apex:column headerValue="UDAC" value="{!report.UDAC}"/>
                <apex:column headerValue="Action Code" value="{!report.orderlineitemaction}"/>
                <apex:column headerValue="Order URN" value="{!report.dfforderurn}"/>
                <apex:column headerValue="Previous Edition - {!prevEditionCode}" value="{!report.previousEdition}"/>
                <apex:column headerValue="Next Edition - {!nextEditionCode}" value="{!report.nextEdition}"/>
                <apex:column headerValue="Handled(Yes/No)" value="{!report.handled}"/>
            </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:form>
<script type="text/javascript">
    var tableToExcel = (function() {
      var uri = 'data:application/vnd.ms-excel;base64,'
        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
        , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
        , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
      return function(table, name,filename) {
        if (!table.nodeType) table = document.getElementById(table)
        var ctx = {worksheet:'Statement Reconciled Invoices before Posting to FF', table: table.innerHTML}
        document.getElementById("dlink").href = uri + base64(format(template, ctx));
        document.getElementById("dlink").download = filename;
        document.getElementById("dlink").click();
        //window.location.href = uri + base64(format(template, ctx))
      }
    })()
</script> 
</apex:page>