<apex:page >

<apex:stylesheet value="{!URLFOR($Resource.ExtJS, '/ExtJS/resources/css/ext-all-neptune.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.ExtJS, '/ExtJS/ext-all.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.ExtJS, '/ExtJS/ext-theme-neptune.js')}" />
    
    <apex:form >
        <div id="gridSpace"></div>
    </apex:form>
    <c:StrmCmpntTst1 />
<!-- Our custom Visualforce component containing our Sencha Touch application -->


</apex:page>