<apex:page controller="SuppressingScopedListingsController" >
    <apex:pagemessages ></apex:pagemessages>
    <apex:form >
     <apex:commandButton value="Suppressing Scoped Listings"  action="{!RunBatch}"/>      
    </apex:form>
</apex:page>