<apex:page controller="TelcoLOBReport_v1" sidebar="false" readonly="true" id="mainpg" cache="true" tabStyle="Report">
<head>
<script>
     function setFocusOnLoad(){}
     var tableToExcel = (function() {
  var uri = 'data:application/vnd.ms-excel;base64,'
    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
  return function(table, name,filename) {
    if (!table.nodeType) table = document.getElementById(table)
    var ctx = {worksheet:'PrintLOB Report', table: table.innerHTML}
    document.getElementById("dlink").href = uri + base64(format(template, ctx));
    document.getElementById("dlink").download = filename;
    document.getElementById("dlink").click();
    //window.location.href = uri + base64(format(template, ctx))
  }
})()
</script>
<style>
.green 
{
    background-color : #E1F5A9;
}
.tableclass
{
    background: #f2f3f3;
    border-width: 0 0 1px 1px;
    border-color: #e0e3e5;
    color: #000;
    font-size: .9em;
    font-weight: bold;
    padding: 5px 2px 4px 5px;
}
</style>
</head>
<apex:form id="frm">
<apex:pageBlock id="mainBlock" title="LOB Report Generation" >
<apex:pageMessages id="pmmsg"></apex:pageMessages>
<apex:actionstatus id="counterStatus1">
                        <apex:facet name="start">
                            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;"> 
                                <div class="waitingHolder" style="width: 91px;">
                                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                    <span class="waitingDescription">Loading...</span>
                                </div>
                            </div>
                        </apex:facet>
                    </apex:actionstatus>
     <apex:pageBlockSection >
     <apex:pageBlockSectionItem >
           <apex:outputLabel >Report Type</apex:outputLabel>
           <apex:selectList value="{!Reporttype}" multiselect="false" size="1" >
            <apex:selectOptions value="{!ReporttypeOptions}"/>
            <apex:actionSupport event="onchange" action="{!Chk}" reRender="frm,results,ButtonIds,SubDigitalCriteriaPanel,SubPrintCriteriaPanel" status="counterStatus1" />
           </apex:selectList>
     </apex:pageBlockSectionItem>
     </apex:pageBlockSection>
     
    <!--Print Panel Start Here -->
    <apex:pageBlockSection id="SubPrintCriteriaPanel" rendered="{!IF((Reporttype=='Print' && NOT(disablebtn)),true,false)}" columns="1">
        <apex:outputPanel id="printpanel" rendered="{!IF((Reporttype=='Print'),true,false)}" >
            <apex:pageBlockSection columns="1">
            <apex:pageBlockSectionItem dataStyle="padding-left: 0px;">
            <apex:outputLabel style="padding-right: 10px;">Directory</apex:outputLabel>
            <apex:actionRegion renderRegionOnly="false">
                <apex:selectList value="{!directories}" multiselect="false" size="1" style="padding: 0px;">
                <apex:selectOptions value="{!directory}"/>
                <apex:actionSupport event="onchange" rerender="DEList" action="{!populateEdition}" status="counterStatus1"/>
                </apex:selectList>
             </apex:actionRegion>
            </apex:pageBlockSectionItem>
            
            <apex:pageBlockSectionItem id="populateEdition" dataStyle="padding-left: 0px;">
            <apex:outputLabel style="padding-right: 10px;">Directory Edition</apex:outputLabel>
              <apex:selectList value="{!directoriesEdition}" multiselect="false" size="1" disabled="{!DEshow}" style="padding: 0px;" id="DEList">
                <apex:selectOptions value="{!directoryEdition}"/>
                <apex:actionSupport event="onchange" rerender="PartnerList" status="counterStatus1"/>
                </apex:selectList>
           </apex:pageBlockSectionItem>
           <apex:pageBlockSectionItem >
         <apex:outputLabel style="margin-right: 10px;">Billing Partner</apex:outputLabel>
         <apex:selectList value="{!partners}" multiselect="true" size="10" style="margin-left: -7px;" id="PartnerList">
            <apex:selectOptions value="{!billingpartners}"/>
          </apex:selectList> 
         </apex:pageBlockSectionItem>
          
            </apex:pageBlockSection>
        
        </apex:outputPanel>
       </apex:pageBlockSection>
       <!--Print Panel End Here -->
       
       <!-- Digital Panel Start Here-->
       <apex:pageBlockSection id="SubDigitalCriteriaPanel" rendered="{!IF((Reporttype=='Digital' && NOT(disablebtn)),true,false)}" columns="1">
         <apex:pageBlockSectionItem >
         <apex:outputLabel >Billing Entity</apex:outputLabel>
         <apex:selectList value="{!entity}" multiselect="false" size="1">
            <apex:selectOptions value="{!billingEntity}"/>
            <apex:actionSupport event="onchange" rerender="pmmsg,printpanelnew" status="counterStatus1" action="{!getTelcoDate}"/>
            </apex:selectList>
       </apex:pageBlockSectionItem>
       
       <apex:outputPanel id="printpanelnew"> 
       <apex:pageBlockSection rendered="{!IF((Reporttype=='Digital'),true,false)}" >
       <apex:pageBlockSectionItem >
       <apex:outputLabel > Telco Bill Date</apex:outputLabel>
       <apex:outputText value="{0,date,MM'/'dd'/'yyyy}"  id="billdatename">
       <apex:param value="{!billdatename}"/> 
       </apex:outputText>
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem >
       <apex:outputLabel >Bill Prep Date</apex:outputLabel>
       <apex:outputText value="{!prepdatename}"  id="prepdatename">
       </apex:outputText>
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem >
       <apex:outputLabel >Invoice From Date</apex:outputLabel>
       <apex:outputText value="{!startdatename}" id="startdatename">
       </apex:outputText>
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem >
       <apex:outputLabel >Invoice To Date</apex:outputLabel>
       <apex:outputText value="{!enddatename}" id="enddatename">
       </apex:outputText>
       </apex:pageBlockSectionItem>
       </apex:pageBlockSection>
       </apex:outputPanel>
    </apex:pageBlockSection>
    

 <apex:pageBlockButtons id="ButtonIds" location="bottom">
 <apex:commandButton id="generateReport" action="{!generateReport}" value="Generate Report" reRender="pmmsg,results,exportpanel" status="counterStatus1" disabled="{!disablebtn}"/>
 <apex:outputPanel id="exportpanel">
  <input type="button" onclick="tableToExcel('{!$Component.mainpg.results}', '{!$Component.mainpg.results}','TelcoLOBReport.xls');" value="Export Report" class="btn" style="display : {!if(showexport,'','none')}"/>
  <a id="dlink" style="display:none;">Download</a>
   </apex:outputPanel>
    </apex:pageBlockButtons>    
</apex:pageBlock>
 </apex:form>
<apex:outputPanel id="results">
<apex:pageBlock rendered="{!showresults}">
     <apex:repeat value="{!DBPWrap}" var="parent" id="repeaterList">
     <span style="font-weight:bold">{!parent.BillingPartner}</span>
     <br/><br/>
     <apex:pageBlockTable value="{!parent.DIWs}" var="r" border="1">
        <apex:column headerValue="Billing Amount">
        <apex:outputText value="{0,number,$ 0.00}">  
                   <apex:param value="{!r.BillingAmount}"/>
                   </apex:outputText>
        </apex:column>
        <apex:column headerValue="Account Name" value="{!r.AccountName}"></apex:column>
        <apex:column headerValue="Account#" value="{!r.AccountNum}"></apex:column>
        <apex:column headerValue="Parent Account" value="{!r.ParentAccountName}"></apex:column>
        <apex:column headerValue="Parent Account#" value="{!r.ParentAccountNum}"></apex:column>
         <apex:column headerValue="Listing Name" value="{!r.ListingName}"></apex:column>
        <apex:column headerValue="Billing Phone  " value="{!r.BillingPhone}"></apex:column>
        <apex:column headerValue="Billing partner" value="{!r.BillingPartner}"></apex:column>
        <apex:column headerValue="Canvass" value="{!r.CanvasName}"></apex:column>
        <apex:column headerValue="Invoice Date" value="{!r.InvoiceDate}"></apex:column>
        <apex:column headerValue="Billing Frequency " value="{!r.BillingFrequency}"></apex:column>
        <apex:column headerValue="Service Start Date " value="{!r.ServiceStartDate}"></apex:column>
        <apex:column headerValue="Service End Date" value="{!r.ServiceEndDate}"></apex:column>
        <apex:column headerValue="Telco Name" value="{!r.TelcoName}"></apex:column>
        <apex:column headerValue="Transaction Type" value="{!r.TransactionType}"></apex:column>
        <apex:column headerValue="3L External ID" value="{!r.X3lExternal}"></apex:column>
        <apex:column headerValue="Parent 3L External ID" value="{!r.Parent2lExternal}"></apex:column>
     </apex:pageBlockTable>
    
       <br/>
       <div style="width:400px">
       <apex:pageBlock title="Sub Total">
       <table style="border: 1px solid #e0e3e5;background: #ffffff;width:100%">
       <tr>
       <td class="tableclass">Billing Amount</td>
       <td class="tableclass"> SCN Amount</td>
       </tr>
       <tr>
       <td style="font-weight:bold">
       <apex:outputText value="{0,number,$ 0.00}">  
                   <apex:param value="{!parent.TBilling}"/>
                   </apex:outputText>
       </td>
       <td style="font-weight:bold">
       <apex:outputText value="{0,number,$ 0.00}">  
                   <apex:param value="{!parent.TSCNBilling}"/>
                   </apex:outputText>
       </td>
       </tr>
       </table>
        </apex:pageBlock>
        </div>
       <br/> 
      </apex:repeat>
</apex:pageBlock>
  
   <br/>
      <div style="width:500px">
       <apex:pageBlock title="Total Billing" rendered="{!showresults}">
       
       <apex:pageBlockTable value="{!TotalBillWrap}" var="r" border="1" title="Total Billing">
      <apex:column headerValue="Billing Partner" value="{!r.BillingPartner}"></apex:column>
       <apex:column headerValue="Items" value="{!r.Items}"></apex:column>
       <apex:column headerValue="Amount" value="{!r.TBilling}"></apex:column>
       </apex:pageBlockTable>
     </apex:pageBlock> 
      <br/>
     <apex:pageBlock title="Total SCN Billing" rendered="{!showresults}">
       <apex:pageBlockTable value="{!TotalBillWrap}" var="r" border="1" title="Total Billing">
       <apex:column headerValue="Billing Partner" value="{!r.BillingPartner}"></apex:column>
       <apex:column headerValue="SCN Items" value="{!r.SCNItems}"></apex:column>
       <apex:column headerValue="Amount" value="{!r.TSCNBilling}"></apex:column>
       </apex:pageBlockTable>
     </apex:pageBlock>
     </div>
 
</apex:outputPanel>

</apex:page>