<apex:page controller="testMythiliController" action="{!sendEmail}">
<apex:form >
  <apex:commandButton value="Test Button" action="{!testButton}"/>
  <apex:commandButton value="Email" action="{!sendEmail}"/>

  </apex:form>
</apex:page>