<apex:page standardcontroller="Digital_Product_Requirement__c">
	<style>
      .activeTab {background-color: #1797C0; color:white; background-image:none; font-size:15px;}
      .inactiveTab {background-color: lightgrey; color:black; background-image:none}
      .btnclass{width:280px; height:30px; font-size:13px;}
   </style>
	<apex:form id="frm1">
        <apex:tabPanel switchType="client" selectedTab="Multi Ad" id="theTabPanel" tabClass="activeTab" inactiveTabClass="inactiveTab">
			<apex:tab label="Multi Ad" name="Multi Ad" id="tabOne"><c:MultiAdDFFComponent dffrecordid="{!Digital_Product_Requirement__c.Id}" /></apex:tab>
			<apex:tab label="Break Multi Ad" name="Break Multi Ad" id="tabTwo"><c:UnMultiAdComponent dffrecordid="{!Digital_Product_Requirement__c.Id}" /></apex:tab>
		</apex:tabPanel>
	</apex:form>
</apex:page>