<apex:page standardController="Directory_Edition__c" extensions="UploadContentController">
<apex:form >
<apex:pageMessages />
    <apex:pageBlock >
        <apex:pageBlockSection >
            <apex:panelGrid columns="2">
                <apex:outputLabel value="Select File :"/>
                <apex:inputFile fileName="{!contentToUpload.PathOnClient}" value="{!fileContent}"/>
            </apex:panelGrid>
        </apex:pageBlockSection>
        <apex:pageBlockButtons location="bottom">
            <apex:commandButton value="Upload" action="{!uploadContents}"/>
        </apex:pageBlockButtons>
    </apex:pageBlock>
</apex:form>
</apex:page>