<apex:page Standardcontroller="Directory__c" extensions="vertex_NationalRateCardController_v3_1" action="{!onLoad}" id="Pgid">

    <script>
 
             function UpdateRate(){
                      
                      var k=document.getElementById('Pgid:frm1:pbId:PBS:PBSI:SL').value;
                      var kr=document.getElementById('Pgid:frm1:pbId:PBS:PBSI1:update_rate').value;
                      if(k=='None' && kr=='0'){
                       alert('Select Print Product Type and Update Rate Value');
                       return false;
                      }
                     
                       if(kr=='0'){
                       alert('Enter Update Rate' );
                       return false;
                      }
                  doCalculaion1();        
                }
 
    </script>
    <apex:form id="frm1">
    
        <apex:pageMessages id="pmId" />
        <apex:pageBlock id="pbId">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Save" action="{!save}" />
                <apex:commandButton value="cancel" action="{!cancel}" />
                <apex:commandButton value="Local Pdf" action="{!localpdf}"/>
                <apex:commandButton value="National Pdf"  action="{!Nationalpdf}"/>
                <!-- <apex:commandButton value="Export" action="{!exportXLS}" /> -->
                <!-- <apex:commandButton value="Generate CSV" action="{!generateCSV}" /> -->
                <apex:commandButton value="National Export"  action="{!NationalExport}"/>
               <apex:commandButton value="IRIS CSV " action="{!Iriccsvfile}"/>
                <apex:commandButton value="AddNewDirectoryProductMapping" action="{!AddNewDirectoryProductMapping}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection id="PBS" collapsible="false" title="Rate Card" columns="2"> 
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Directory Name : " for="directory_name"/>
                    <apex:inputText value="{!strdirectoryName}" id="directory_name" style="width:200px"/>
                </apex:pageBlockSectionItem>
               
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Directory Code : " for="directory_Code"/>
                    <apex:inputText value="{!strdirectoryVersion}" id="directory_Code" style="width:200px"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Publication Company Name : " for="Publication_Company_Name"/>
                    <apex:inputText value="{!strdirectoryPUBCOName}" id="Publication_Company_Name" style="width:200px"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Publication Code : " for="Publication_Code"/>
                    <apex:inputText value="{!strdirectoryPUBCOCode}" id="Publication_Code" style="width:200px"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Version : " for="Version"/>
                    <apex:inputText value="{!strVersion}" id="Version" style="width:200px"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                
                    <apex:outputLabel value="Type : " for="Publication_Code"/>
                    <apex:outputPanel >
                    <apex:selectList value="{!strtypeval}" multiselect="false" size="1" style="width:200px">
                        <apex:selectOptions value="{!objSpeciality.typeSelect}"/>
                        <apex:actionSupport event="onchange" action="{!changeType}" rerender="pbId,outp1,outp2,frm1" status="stt" />
                    </apex:selectList>
                    <apex:actionstatus id="stt">
                                <apex:facet name="start"><apex:image width="25" height="25" value="/img/loading32.gif" /></apex:facet>
                            </apex:actionstatus>
                    
                    </apex:outputPanel>    
                </apex:pageBlockSectionItem>
         
                <apex:pageBlockSectionItem id="PBSI">
                    <apex:outputLabel value="Print Product Type : " for="Print_Product_type"/>
                    <apex:selectList id="SL" value="{!strprintprdtype}" multiselect="false" size="1" style="width:200px">
                        <apex:selectOptions value="{!lstoptnppt}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="PBSI1">
                    <apex:outputLabel value="Update Rate(%) : " for="update_rate" rendered="{!NOT(bFlag)}"/>
                    <apex:outputPanel rendered="{!NOT(bFlag)}">
                        <apex:inputText size="3" value="{!decupdateRate}" id="update_rate" style="width:40px"/>
                        
                       <apex:commandbutton value="GO" id="cmb1"  onclick="javascript:UpdateRate(); return false;" status="st" rerender="pbmaintab,idpbspec,pbtId,pmId" />

                        <!-- <apex:commandButton value="Go" action="{!doCalculaion}" rerender="pbmaintab,idpbspec,pbtId,pmId" status="st"/> -->
                         <apex:actionstatus id="st">
                                <apex:facet name="start"><apex:image width="20" height="20" value="/img/loading32.gif" /></apex:facet>
                            </apex:actionstatus>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:actionFunction action="{!doCalculaion}" name="doCalculaion1" status="st" rerender="pbmaintab,idpbspec,pbtId,pmId"/>
            </apex:pageblock>
             <apex:pageblock id="pbmaintab" >
           
            <apex:outputpanel rendered="{!bFlag40}" id="outp1">
                <table border="1" width="100%">
                    <tr>
                        <td style="background-color:#A9BCF5;" width="10%"><apex:outputLabel ><b>UDAC</b></apex:outputLabel></td>
                        <td style="background-color:#A0A0A0 ;" width="9.10%"><apex:outputLabel ><b>Full Rate</b></apex:outputLabel></td>
                        <td style="background-color:#A9BCF5;" width="10.20%"><apex:outputLabel ><b>X40</b></apex:outputLabel></td>
                        <td style="background-color:#A0A0A0;" width="10.10%"><apex:outputLabel ><b>X45</b></apex:outputLabel></td>
                        <td style="background-color:#A9BCF5;" width="10%"><apex:outputLabel ><b>X50</b></apex:outputLabel></td>
                        <td style="background-color:#A0A0A0;" width="10.20%"><apex:outputLabel ><b>X55</b></apex:outputLabel></td>
                        <td style="background-color:#A9BCF5;" width="10%"><apex:outputLabel ><b>X60</b></apex:outputLabel></td>
                        <td style="background-color:#A0A0A0;" width="10%"><apex:outputLabel ><b>X65</b></apex:outputLabel></td>
                        <td style="background-color:#A9BCF5;" width="10%"><apex:outputLabel ><b>X70</b></apex:outputLabel></td>
                    </tr>
                 </table>   
             </apex:outputpanel>
              <apex:outputpanel rendered="{!bFlag}" id="outp2">
                <table border="1" width="100%">
                    <tr>
                   
                         <td style="background-color:#A9BCF5;" width="5.80%"><apex:outputLabel ><b>UDAC</b></apex:outputLabel></td>
                        <td style="background-color:#A0A0A0" width="4.42%"><apex:outputLabel ><b>Full Rate</b></apex:outputLabel></td>
                        <td style="background-color:#A9BCF5;" width="4.42%"><apex:outputLabel ><b>X5</b></apex:outputLabel></td>
                        <td style="background-color:#A0A0A0" width="4.42%"><apex:outputLabel ><b>X10</b></apex:outputLabel></td>
                         <td style="background-color:#A9BCF5;" width="4.42%%"><apex:outputLabel ><b>X15</b></apex:outputLabel></td>
                        <td style="background-color:#A0A0A0" width="4.42%"><apex:outputLabel ><b>X20</b></apex:outputLabel></td>
                        <td style="background-color:#A9BCF5;" width="4.42%%"><apex:outputLabel ><b>X25</b></apex:outputLabel></td>
                        <td style="background-color:#A0A0A0" width="4.42%"><apex:outputLabel ><b>X30</b></apex:outputLabel></td>
                        <td style="background-color:#A9BCF5;" width="4.42%"><apex:outputLabel ><b>X35</b></apex:outputLabel></td> 
                        <td style="background-color:#A0A0A0" width="4.42%"><apex:outputLabel ><b>X40</b></apex:outputLabel></td>
                        <td style="background-color:#A9BCF5;" width="4.42%"><apex:outputLabel ><b>X45</b></apex:outputLabel></td>
                        <td style="background-color:#A0A0A0" width="4.42%"><apex:outputLabel ><b>X50</b></apex:outputLabel></td>
                        <td style="background-color:#A9BCF5;" width="4.42%"><apex:outputLabel ><b>X55</b></apex:outputLabel></td>
                        <td style="background-color:#A0A0A0" width="4.42%"><apex:outputLabel ><b>X60</b></apex:outputLabel></td>
                         <td style="background-color:#A9BCF5;" width="4.42%"><apex:outputLabel ><b>X65</b></apex:outputLabel></td>
                         
                         <td style="background-color:#A0A0A0" width="4.42%"><apex:outputLabel ><b>X70</b></apex:outputLabel></td>
                          <td style="background-color:#A9BCF5" width="4.42%"><apex:outputLabel ><b>X75</b></apex:outputLabel></td>
                          <td style="background-color:#A0A0A0" width="4.42%"><apex:outputLabel ><b>X80</b></apex:outputLabel></td>
                         <td style="background-color:#A9BCF5" width="4.42%"><apex:outputLabel ><b>X85</b></apex:outputLabel></td>
                         <td style="background-color:#A0A0A0" width="4.42%"><apex:outputLabel ><b>X90</b></apex:outputLabel></td>
                         <td style="background-color:#A9BCF5" width="4.42%"><apex:outputLabel ><b>X95</b></apex:outputLabel></td>
                        <!-- <td style="background-color:#A0A0A0" width="4.42%"><apex:outputLabel ><b>X100</b></apex:outputLabel></td> -->
                     
                        
                    </tr>
                 </table>   
             </apex:outputpanel>
             <apex:outputpanel rendered="{!!visible}" >
             <div align="Center">
                <font color="red" size="3pt"><br></br>        
                <apex:outputText styleClass="msg" value="There are no records to display." style="Padding-left:50px;"  />
                </font>
                </div>
             </apex:outputpanel>   
             <!-- Spacility -->
            <apex:outputpanel rendered="{!visible}"> 
            <apex:pageblockSection title="Specialty"  columns="1" id="idpbspec" >
                     <apex:pageblocktable id="pbidsp" value="{!objSpeciality.lstChildSpeciality}" var="varsp" width="100%" border="1">
                            <apex:column width="3%"    title="UADC" style="background-color:#A9BCF5;">
                                <apex:facet name="header" ></apex:facet>
                                <apex:inputText size="5"    value="{!varsp.UDAC}" />
                            </apex:column>
                          <apex:column width="3%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:facet name="header" ></apex:facet>
                                 <apex:inputText id="ipFullRate"  size="6" value="{!varsp.fullRate}">
                                        <apex:actionSupport event="onchange" action="{!doCalculaionPerProduct}" rerender="idypic">
                                            <apex:param name="pId" value="{!varsp.productId}"/>
                                        </apex:actionSupport>
                                    </apex:inputText>
                            </apex:column> 
                           
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                  <apex:facet name="header" >  </apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="{!varsp.nationalFullRate}" />   
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX05" value="{!varsp.X05}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX10" value="{!varsp.X10}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX15" value="{!varsp.X15}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX20" value="{!varsp.X20}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX25" value="{!varsp.X25}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX30" value="{!varsp.X30}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX35" value="{!varsp.X35}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX40" value="{!varsp.X40}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX45" value="{!varsp.X45}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX50" value="{!varsp.X50}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX55" value="{!varsp.X55}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX60" value="{!varsp.X60}" />
                            </apex:column>
                             <!-- <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX65" value="{!varsp.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX70" value="{!varsp.X70}" />
                            </apex:column> -->
                            
                            <apex:column width="4.42%"     style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX65" value="{!varsp.X65}" />
                            </apex:column>
                             <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX70" value="{!varsp.X70}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX75" value="{!varsp.X75}" />
                            </apex:column>
                             <apex:column width="4.42%"  rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX80" value="{!varsp.X80}" />
                            </apex:column>
                        
                            
                             <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}" >
                                <apex:outputText id="ipX85" value="{!varsp.X85}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}" >
                                <apex:outputText id="ipX90" value="{!varsp.X90}" />
                            </apex:column>
                             <apex:column width="4.42%"  rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX95" value="{!varsp.X95}" />
                            </apex:column>
                            
                           <!-- <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}" >
                                <apex:outputText id="ipX100" value="{!varsp.X100}" />
                            </apex:column>
                            -->
                           
                    </apex:pageblocktable>
                
               </apex:pageblocksection> 
               
             <!-- White Page Advertising -->  
                <!-- In Columns and Ads -->
               
                  <apex:pageblockSection title="WHITE PAGE ADVERTISING" columns="1">
                    <apex:pageblockSection title="In Columns and Ads" columns="1">
            
                
                        <apex:pageblocktable id="idwpinc" value="{!objSpeciality.lstChildWhitePIncolumn}" var="varwpinc" width="100%" border="1">
                            <apex:column width="3%"    title="UADC" style="background-color:#A9BCF5;">
                                <apex:facet name="header" ></apex:facet>
                                <apex:inputText size="5"    value="{!varwpinc.UDAC}" />
                            </apex:column>
                          <apex:column width="3%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:facet name="header" ></apex:facet>
                                 <apex:inputText id="ipFullRate"  size="6" value="{!varwpinc.fullRate}">
                                        <apex:actionSupport event="onchange" action="{!doCalculaionPerProduct}" rerender="idypic">
                                            <apex:param name="pId" value="{!varwpinc.productId}"/>
                                        </apex:actionSupport>
                                    </apex:inputText>
                            </apex:column> 
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                  <apex:facet name="header" >  </apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="{!varwpinc.nationalFullRate}" />   
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX05" value="{!varwpinc.X05}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX10" value="{!varwpinc.X10}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX15" value="{!varwpinc.X15}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX20" value="{!varwpinc.X20}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX25" value="{!varwpinc.X25}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX30" value="{!varwpinc.X30}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX35" value="{!varwpinc.X35}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX40" value="{!varwpinc.X40}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX45" value="{!varwpinc.X45}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX50" value="{!varwpinc.X50}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX55" value="{!varwpinc.X55}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX60" value="{!varwpinc.X60}" />
                            </apex:column>
                             <!-- <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX65" value="{!varwpinc.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX70" value="{!varwpinc.X70}" />
                            </apex:column> -->
                            <apex:column width="4.42%"     style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX65" value="{!varwpinc.X65}" />
                            </apex:column>
                             <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX70" value="{!varwpinc.X70}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX75" value="{!varwpinc.X75}" />
                            </apex:column>
                             <apex:column width="4.42%"  rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX80" value="{!varwpinc.X80}" />
                            </apex:column>
                             <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}" >
                                <apex:outputText id="ipX85" value="{!varwpinc.X85}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}" >
                                <apex:outputText id="ipX90" value="{!varwpinc.X90}" />
                            </apex:column>
                             <apex:column width="4.42%"  rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX95" value="{!varwpinc.X95}" />
                            </apex:column>
                           <!--  <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}" >
                                <apex:outputText id="ipX100" value="{!varwpinc.X100}" />
                            </apex:column> -->
                    </apex:pageblocktable>
                    </apex:pageblocksection>
                    
                    
                <!-- Listings -->       
                    
                   <apex:pageblockSection title="Listings" columns="1">
                            
                     <apex:pageBlockTable id="idwplst" value="{!objSpeciality.lstChildWhitePlisting}" var="varwplisting" width="100%" border="1">
                            <apex:column width="3%"    title="UADC" style="background-color:#A9BCF5;">
                                <apex:facet name="header" ></apex:facet>
                                <apex:inputText size="5"    value="{!varwplisting.UDAC}" />
                            </apex:column>
                            <apex:column width="3%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:facet name="header" ></apex:facet>
                                 <apex:inputText id="ipFullRate"  size="6" value="{!varwplisting.fullRate}">
                                        <apex:actionSupport event="onchange" action="{!doCalculaionPerProduct}" rerender="idypic">
                                            <apex:param name="pId" value="{!varwplisting.productId}"/>
                                        </apex:actionSupport>
                                    </apex:inputText>
                            </apex:column> 
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                  <apex:facet name="header" >  </apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="{!varwplisting.nationalFullRate}" />   
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX05" value="{!varwplisting.X05}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX10" value="{!varwplisting.X10}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX15" value="{!varwplisting.X15}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX20" value="{!varwplisting.X20}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX25" value="{!varwplisting.X25}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX30" value="{!varwplisting.X30}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX35" value="{!varwplisting.X35}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX40" value="{!varwplisting.X40}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX45" value="{!varwplisting.X45}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX50" value="{!varwplisting.X50}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX55" value="{!varwplisting.X55}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX60" value="{!varwplisting.X60}" />
                            </apex:column>
                             <!-- <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX65" value="{!varwplisting.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX70" value="{!varwplisting.X70}" />
                            </apex:column> -->
                            <apex:column width="4.42%"     style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX65" value="{!varwplisting.X65}" />
                            </apex:column>
                             <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX70" value="{!varwplisting.X70}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX75" value="{!varwplisting.X75}" />
                            </apex:column>
                             <apex:column width="4.42%"  rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX80" value="{!varwplisting.X80}" />
                            </apex:column>
                             <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}" >
                                <apex:outputText id="ipX85" value="{!varwplisting.X85}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}" >
                                <apex:outputText id="ipX90" value="{!varwplisting.X90}" />
                            </apex:column>
                             <apex:column width="4.42%"  rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX95" value="{!varwplisting.X95}" />
                            </apex:column>
                           <!--  <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}" >
                                <apex:outputText id="ipX100" value="{!varwplisting.X100}" />
                            </apex:column> -->
                    </apex:pageblocktable>
                        </apex:pageblocksection>
            
            
            <!-- Yellow Page Advertising -->
            
                 <apex:pageblockSection title="Yellow PAGE ADVERTISING" columns="1">
                 
                    <apex:pageblockSection title="In-Columns" columns="1">
                    
                        
                     <apex:pageBlockTable id="idypic" value="{!objSpeciality.lstChildYellowPIncolumn}" var="varyelpinc" width="100%">
                     
                            <apex:column width="3%"    title="UADC" style="background-color:#A9BCF5;">
                                <apex:facet name="header" ></apex:facet>
                                <apex:inputText size="5"    value="{!varyelpinc.UDAC}" />
                            </apex:column>
                            <apex:column width="3%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:facet name="header" ></apex:facet>
                                 <apex:inputText id="ipFullRate"  size="6" value="{!varyelpinc.fullRate}">
                                        <apex:actionSupport event="onchange" action="{!doCalculaionPerProduct}" rerender="idypic">
                                            <apex:param name="pId" value="{!varyelpinc.productId}"/>
                                        </apex:actionSupport>
                                    </apex:inputText>
                            </apex:column> 
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                  <apex:facet name="header" >  </apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="{!varyelpinc.nationalFullRate}" />   
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX05" value="{!varyelpinc.X05}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX10" value="{!varyelpinc.X10}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX15" value="{!varyelpinc.X15}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX20" value="{!varyelpinc.X20}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX25" value="{!varyelpinc.X25}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX30" value="{!varyelpinc.X30}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX35" value="{!varyelpinc.X35}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX40" value="{!varyelpinc.X40}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX45" value="{!varyelpinc.X45}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX50" value="{!varyelpinc.X50}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX55" value="{!varyelpinc.X55}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX60" value="{!varyelpinc.X60}" />
                            </apex:column>
                             <!-- <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX65" value="{!varyelpinc.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX70" value="{!varyelpinc.X70}" />
                            </apex:column> -->
                            <apex:column width="4.42%"     style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX65" value="{!varyelpinc.X65}" />
                            </apex:column>
                             <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX70" value="{!varyelpinc.X70}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX75" value="{!varyelpinc.X75}" />
                            </apex:column>
                             <apex:column width="4.42%"  rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX80" value="{!varyelpinc.X80}" />
                            </apex:column>
                             <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}" >
                                <apex:outputText id="ipX85" value="{!varyelpinc.X85}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}" >
                                <apex:outputText id="ipX90" value="{!varyelpinc.X90}" />
                            </apex:column>
                             <apex:column width="4.42%"  rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX95" value="{!varyelpinc.X95}" />
                            </apex:column>
                           <!--  <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}" >
                                <apex:outputText id="ipX100" value="{!varyelpinc.X100}" />
                            </apex:column>
                            -->
                    </apex:pageblocktable>
                     </apex:pageblocksection>
                     
                   </apex:pageblockSection>  


            <!-- Displays -->
            
                       <apex:pageblockSection title="Displays" columns="1">
                  
                        <apex:pageBlockTable id="idypdisp" value="{!objSpeciality.lstChildYellowPDisplay}" var="varyelpdisplay" width="100%" border="1">
                     
                            <apex:column width="3%"    title="UADC" style="background-color:#A9BCF5;">
                                <apex:facet name="header" ></apex:facet>
                                <apex:inputText size="5"    value="{!varyelpdisplay.UDAC}" />
                            </apex:column>
                            <apex:column width="3%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:facet name="header" ></apex:facet>
                                 <apex:inputText id="ipFullRate"  size="6" value="{!varyelpdisplay.fullRate}">
                                        <apex:actionSupport event="onchange" action="{!doCalculaionPerProduct}" rerender="idypic">
                                            <apex:param name="pId" value="{!varyelpdisplay.productId}"/>
                                        </apex:actionSupport>
                                    </apex:inputText>
                            </apex:column> 
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                  <apex:facet name="header" >  </apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="{!varyelpdisplay.nationalFullRate}" />   
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX05" value="{!varyelpdisplay.X05}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX10" value="{!varyelpdisplay.X10}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX15" value="{!varyelpdisplay.X15}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX20" value="{!varyelpdisplay.X20}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX25" value="{!varyelpdisplay.X25}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX30" value="{!varyelpdisplay.X30}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX35" value="{!varyelpdisplay.X35}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX40" value="{!varyelpdisplay.X40}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX45" value="{!varyelpdisplay.X45}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX50" value="{!varyelpdisplay.X50}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX55" value="{!varyelpdisplay.X55}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX60" value="{!varyelpdisplay.X60}" />
                            </apex:column>
                             <!-- <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX65" value="{!varyelpdisplay.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX70" value="{!varyelpdisplay.X70}" />
                            </apex:column> -->
                            <apex:column width="4.42%"     style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX65" value="{!varyelpdisplay.X65}" />
                            </apex:column>
                             <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX70" value="{!varyelpdisplay.X70}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX75" value="{!varyelpdisplay.X75}" />
                            </apex:column>
                             <apex:column width="4.42%"  rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX80" value="{!varyelpdisplay.X80}" />
                            </apex:column>
                             <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}" >
                                <apex:outputText id="ipX85" value="{!varyelpdisplay.X85}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}" >
                                <apex:outputText id="ipX90" value="{!varyelpdisplay.X90}" />
                            </apex:column>
                             <apex:column width="4.42%"  rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX95" value="{!varyelpdisplay.X95}" />
                            </apex:column>
                          <!--  <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}" >
                                <apex:outputText id="ipX100" value="{!varyelpdisplay.X100}" />
                            </apex:column>
                            
                            -->
                    </apex:pageblocktable>
                             </apex:pageblockSection> 

                
                <!-- Listings -->                   
                       
                       <apex:pageblockSection title="Listings" columns="1">
                        
                     <apex:pageBlockTable id="idyplst" value="{!objSpeciality.lstChildYellowPListing}" var="varyelplisting" width="100%" border="1">
                     
                            <apex:column width="3%"    title="UADC" style="background-color:#A9BCF5;">
                                <apex:facet name="header" ></apex:facet>
                                <apex:inputText size="5"    value="{!varyelplisting.UDAC}" />
                            </apex:column>
                            <apex:column width="3%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:facet name="header" ></apex:facet>
                                 <apex:inputText id="ipFullRate"  size="6" value="{!varyelplisting.fullRate}">
                                        <apex:actionSupport event="onchange" action="{!doCalculaionPerProduct}" rerender="idypic">
                                            <apex:param name="pId" value="{!varyelplisting.productId}"/>
                                        </apex:actionSupport>
                                    </apex:inputText>
                            </apex:column> 
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                  <apex:facet name="header" >  </apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="{!varyelplisting.nationalFullRate}" />   
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX05" value="{!varyelplisting.X05}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX10" value="{!varyelplisting.X10}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX15" value="{!varyelplisting.X15}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX20" value="{!varyelplisting.X20}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX25" value="{!varyelplisting.X25}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX30" value="{!varyelplisting.X30}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX35" value="{!varyelplisting.X35}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX40" value="{!varyelplisting.X40}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX45" value="{!varyelplisting.X45}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX50" value="{!varyelplisting.X50}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX55" value="{!varyelplisting.X55}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX60" value="{!varyelplisting.X60}" />
                            </apex:column>
                             <!-- <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX65" value="{!varyelplisting.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX70" value="{!varyelplisting.X70}" />
                            </apex:column> -->
                            <apex:column width="4.42%"     style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX65" value="{!varyelplisting.X65}" />
                            </apex:column>
                             <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX70" value="{!varyelplisting.X70}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX75" value="{!varyelplisting.X75}" />
                            </apex:column>
                             <apex:column width="4.42%"  rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX80" value="{!varyelplisting.X80}" />
                            </apex:column>
                             <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}" >
                                <apex:outputText id="ipX85" value="{!varyelplisting.X85}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}" >
                                <apex:outputText id="ipX90" value="{!varyelplisting.X90}" />
                            </apex:column>
                             <apex:column width="4.42%"  rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX95" value="{!varyelplisting.X95}" />
                            </apex:column>
                            <!-- <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}" >
                                <apex:outputText id="ipX100" value="{!varyelplisting.X100}" />
                            </apex:column> -->
                    </apex:pageblocktable>
                             </apex:pageblockSection>   
                       
                      
                 <!-- Trade UDACs -->            
                             
                </apex:pageblockSection>
                 <apex:pageblockSection title="Trade UDACS" columns="1">
                       <!-- <apex:pageblockSection title="Specialty" columns="1"> -->
                      
                        <apex:pageBlockTable id="pbttrade" value="{!objSpeciality.lstChildYellowPTradeUDACS}" var="varyelpTradeUDACS" width="100%" border="1">
                              
                     
                            <apex:column width="3%"    title="UADC" style="background-color:#A9BCF5;">
                                <apex:facet name="header" ></apex:facet>
                                <apex:inputText size="5"    value="{!varyelpTradeUDACS.UDAC}" />
                            </apex:column>
                            <apex:column width="3%"   rendered="{!NOT(bFlag)}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:facet name="header" ></apex:facet>
                                 <apex:inputText id="ipFullRate"  size="6" value="{!varyelpTradeUDACS.fullRate}">
                                        <apex:actionSupport event="onchange" action="{!doCalculaionPerProduct}" rerender="idypic">
                                            <apex:param name="pId" value="{!varyelpTradeUDACS.productId}"/>
                                        </apex:actionSupport>
                                    </apex:inputText>
                            </apex:column> 
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                  <apex:facet name="header" >  </apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="{!varyelpTradeUDACS.nationalFullRate}" />   
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX05" value="{!varyelpTradeUDACS.X05}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX10" value="{!varyelpTradeUDACS.X10}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX15" value="{!varyelpTradeUDACS.X15}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX20" value="{!varyelpTradeUDACS.X20}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX25" value="{!varyelpTradeUDACS.X25}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX30" value="{!varyelpTradeUDACS.X30}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX35" value="{!varyelpTradeUDACS.X35}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX40" value="{!varyelpTradeUDACS.X40}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX45" value="{!varyelpTradeUDACS.X45}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX50" value="{!varyelpTradeUDACS.X50}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX55" value="{!varyelpTradeUDACS.X55}" />
                            </apex:column>
                            <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX60" value="{!varyelpTradeUDACS.X60}" />
                            </apex:column>
                             <!-- <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX65" value="{!varyelpTradeUDACS.X65}" />
                            </apex:column>
                            <apex:column width="6.66%"   rendered="{!NOT(bFlag)}">
                                <apex:outputText id="ipX70" value="{!varyelpTradeUDACS.X70}" />
                            </apex:column> -->
                            <apex:column width="4.42%"     style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX65" value="{!varyelpTradeUDACS.X65}" />
                            </apex:column>
                             <apex:column width="4.42%"   style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX70" value="{!varyelpTradeUDACS.X70}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX75" value="{!varyelpTradeUDACS.X75}" />
                            </apex:column>
                             <apex:column width="4.42%"  rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}">
                                <apex:outputText id="ipX80" value="{!varyelpTradeUDACS.X80}" />
                            </apex:column>
                             <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}" >
                                <apex:outputText id="ipX85" value="{!varyelpTradeUDACS.X85}" />
                            </apex:column>
                            <apex:column width="4.42%"   rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}" >
                                <apex:outputText id="ipX90" value="{!varyelpTradeUDACS.X90}" />
                            </apex:column>
                             <apex:column width="4.42%"  rendered="{!bFlag}"  style="{!IF(bFlag == true,'background-color:#A9BCF5;','background-color:#A0A0A0;')}">
                                <apex:outputText id="ipX95" value="{!varyelpTradeUDACS.X95}" />
                            </apex:column>
                          <!--  <apex:column width="4.42%"   rendered="{!bFlag}" style="{!IF(bFlag == true,'background-color:#A0A0A0;','background-color:#A9BCF5;')}" >
                                <apex:outputText id="ipX100" value="{!varyelpTradeUDACS.X100}" />
                            </apex:column> -->
                    </apex:pageblocktable>
                             </apex:pageblockSection>  
             </apex:outputpanel>                 
            </apex:pageblock>
       
    </apex:form>
</apex:page>