<apex:page standardController="pymt__PaymentX__c" extensions="p2f.BuildCashEntryController" >
<apex:form id="buildCashEntryForm">
<apex:sectionHeader title="Linvio PaymentConnect/FinancialForce Integration Pack" subTitle="Build Cash Entry"/>
<apex:pageMessages id="messages"/>
<apex:pageBlock >
<apex:pageBlockSection columns="1" >
<apex:pageBlockSectionItem >
    <apex:outputLabel value="Payment"/>
    <apex:outputField value="{!pymt__PaymentX__c.Name}"/>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
    <apex:outputLabel value="Amount"/>
    <apex:outputField value="{!pymt__PaymentX__c.pymt__Amount__c}"/>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
    <apex:outputLabel value="Date"/>
    <apex:outputField value="{!pymt__PaymentX__c.pymt__Date__c}"/>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
    <apex:outputLabel value="Status"/>
    <apex:outputLabel value="{!pymt__PaymentX__c.pymt__Status__c}"/>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem rendered="{!NOT(ISNULL(payment.p2f__FF_Sales_Invoice__c))}">
    <apex:outputLabel value="Invoice"/>
    <apex:outputField value="{!payment.p2f__FF_Sales_Invoice__c}"/>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem rendered="{!NOT(ISNULL(payment.p2f__FF_Cash_Entry__c))}">
    <apex:outputLabel value="Cash Receipt"/>
    <apex:outputField value="{!payment.p2f__FF_Cash_Entry__c}"/>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
    <apex:outputLabel value=""/>
    <apex:outputText value="Click the 'Build Cash Entry' button below to create a FinancialForce cash entry for this payment."/>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
    <apex:outputLabel value=""/>
    <apex:outputPanel >
        <apex:commandButton value="Build Cash Entry" action="{!buildCashEntry}" disabled="{!NOT(postEnabled)}" status="formActionStatus" rerender="formActionStatus, messages, buildCashEntryForm" />
        <apex:commandButton value="Return" action="{!returnToPayment}"/>
           <apex:actionStatus id="formActionStatus">
                <apex:facet name="start">
                    <apex:outputPanel >&nbsp;
              <apex:image value="{!URLFOR($Resource.pymt__PaymentConnect, 'images/icon-spinner.gif')}"
                            style="vertical-align:middle;" alt="busy..." />
              &nbsp;Processing</apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:image value="{!URLFOR('/s.gif')}" alt="" style="height:17px;" />
                </apex:facet>
           </apex:actionStatus>        
    </apex:outputPanel>
</apex:pageBlockSectionItem>

</apex:pageBlockSection>

</apex:pageBlock>

</apex:form>

</apex:page>