<apex:page controller="p2f.SiteCreditController" sidebar="false" cache="false">
<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.pymt__PaymentConnect,'styles/ptl_basic.css')}" />

<title>Credit</title>
     <div class="pc_page_content_top"></div>
    <div class="pc_page_content" id="pc_ff_ptlcredit_page">
    <div class="pc_page_content_inner">
      <apex:outputPanel rendered="{!NOT(advancedSitesEnabled)}"> 
		<apex:pageMessage summary="PaymentConnect Advanced Sites functionality has not been activated in this org." severity="warning" strength="3" />
	</apex:outputPanel>
    <apex:outputPanel rendered="{!advancedSitesEnabled}">      
	    <apex:pageMessages />    
        <apex:sectionHeader title="Credit"/>
            <apex:form >
            <apex:pageblock mode="maindetail">


            </apex:pageBlock>   
        </apex:form>
	</apex:outputPanel>
    </div><!--  pc_page_content_inner -->
    </div><!--  pc_page_content --> 
</apex:page>