<apex:page controller="p2f.SiteCreditsController" showHeader="false" sidebar="false" cache="false" standardStylesheets="false">
<title>Credits</title>
<apex:composition template="{!$Site.Template}">
  <apex:define name="body"  >
     <div class="pc_page_content_top"></div>
    <div class="pc_page_content" id="pc_ff_sitecredits_page">
    <div class="pc_page_content_inner">
    <apex:outputPanel rendered="{!NOT(advancedSitesEnabled)}"> 
		<apex:pageMessage summary="PaymentConnect Advanced Sites functionality has not been activated in this org." severity="warning" strength="3" />
	</apex:outputPanel>
    <apex:outputPanel rendered="{!advancedSitesEnabled}">   
         
        <apex:sectionHeader title="Credits"/>
            <apex:form > 
            <apex:pageblock mode="maindetail">
            <apex:pageBlockTable styleClass="pc_record_listing_table" value="{!credits}" var="credit" >
                <apex:column value="{!credit.record.c2g__CreditNoteDate__c}" headerClass="date_column" styleClass="date_column"/>
                <apex:column value="{!credit.record.c2g__DueDate__c}"  headerClass="date_column" styleClass="date_column"/>
                <apex:column headerValue="Account" value="{!credit.accountName}"/>
                <apex:column headerValue="Billing Number" value="{!credit.name}"/>
                <apex:column headerValue="Total Amount"  headerClass="currency_column" styleClass="currency_column">
                <apex:outputText value="{0,number,###,###,##0.00} {1}" >
                	<apex:param value="{!credit.totalAmount}"/>
                	<apex:param value="{!credit.currencyISOCode}"/>
                </apex:outputText>
                </apex:column>
                <apex:column headerValue="Balance" headerClass="currency_column" styleClass="currency_column">
                <apex:outputText value="{0,number,###,###,##0.00} {1}">
                	<apex:param value="{!credit.balance}"/>
                	<apex:param value="{!credit.currencyISOCode}"/>
                </apex:outputText>
                </apex:column>
                <apex:column rendered="{false}"  headerClass="action_column" styleClass="action_column">
                    <apex:commandLink value="View Credit" action="{!viewCredit}">
                        <apex:param name="recordId" id="recordId" value="{!credit.recordId}" assignTo="{!selectedRecordId}"/>
                    </apex:commandLink>
                </apex:column>
                
            </apex:pageblockTable>
            </apex:pageBlock>   
        </apex:form>
        </apex:outputPanel>

    </div><!--  pc_page_content_inner -->
    </div><!--  pc_page_content --> 
  </apex:define>
  </apex:composition>
</apex:page>