<apex:page standardController="c2g__codaTransaction__c" extensions="ffps_ct.RecalculateFlatTransactionLines" showHeader="true" sidebar="false" standardStylesheets="true">
    <apex:includeScript value="{!URLFOR($Resource.ffps_ct__JQuery, '/JQuery/web/jquery/js/jquery-1.11.2.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.ffps_ct__JQuery, '/JQuery/web/jquery/js/jquery-ui.min.js')}"/>
    <apex:includeScript value="{!$Resource.ffps_ct__CreateFlatTransactionLines}"/>
    <apex:stylesheet value="{!URLFOR($Resource.ffps_ct__JQuery, '/JQuery/web/jquery/css/cupertino/jquery-ui.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.ffps_ct__JQuery, '/JQuery/web/jquery/css/cupertino/theme.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.ffps_ct__JQuery, '/JQuery/web/css/customCss.css')}"/>

    <script>
        jQuery(document).ready(function() {
            FF.setup("{!URLFOR($Resource.ffps_ct__JQuery, '/JQuery/web/')}");
        });
    </script>
    <apex:form >
    <input type="hidden" id="transaction-header-id" value="{!transactionHeaderId}" />

    <div id="create-flat-transaction-line" class="ff-form">
        <div class="ff-formtitle">Create Flat Transaction Lines</div>
        <div>
            <div class="btn-bar">
                <button class="ff-btn" id="btn-createlines-1" type="button">Create Lines</button>
            </div>
        </div>
    </div>
    <div id="enterKey" style="display: none;" title="Please Enter Override Key">
        <div id="enterKey-container"></div>
    	<center><input id="key" value="{!key}" /></center>
    </div>
    <div id="errorlog" style="display: none;" title="Error when Creating Flat Transaction Lines">
        <div id="errorlog-container"></div>
    </div>
    <div id="errordialog" style="display: none;" title="Error">
        <div id="dialog-container"></div>
    </div>
    </apex:form>
    <c:InProgress />
</apex:page>