<apex:component controller="LocalBillingCreateStatement" allowDML="true">
    <apex:form id="frm">
    <apex:actionstatus id="fetchStatus">
        <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;height:100%;opacity:0.65;width:100%;"> 
                <div class="waitingHolder" style="width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
        </apex:facet>
    </apex:actionstatus>
    
    <apex:pageBlock id="pblk">
        <apex:pageMessages id="pgmsg"></apex:pageMessages>
        <apex:pageBlockSection title="Create Statement" columns="1" id="pbsMain">
            <apex:pageBlockSectionItem >
                <apex:outputPanel Layout="block" style="width:60%">
                    <apex:pageBlockSection columns="6">
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel value="Statement Date:"></apex:outputLabel>
                            <apex:inputField value="{!objDummy.Date__c}" id="billstartdate"/>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:commandButton value="Go" action="{!clickGoNew}" reRender="pgmsg,opCreateSTMT" status="fetchStatus"/>
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
                </apex:outputPanel>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:outputPanel id="opCreateSTMT">
            <apex:pageBlockSection title="Create Statement" collapsible="false" id="CreateBtnSection" rendered="{!bShowLateFee}" columns="1">
                <apex:commandButton value="Create Statement" action="{!invokecreateStatementBatch}" reRender="opCreateSTMT" status="fetchStatus" /> 
                <apex:panelGrid columns="1" id="theGridNew" width="95%">
                    <apex:actionPoller action="{!apexCreateStmtJobStatus}" enabled="{!bStmtCreationEnabledPoller}" interval="5" reRender="pgmsg,opSendWFOne,batchstatus" status="counterStatus"/>
                    <apex:actionStatus startText="Fetching Status..." id="counterStatus"/>
                    <apex:outputLabel value="{!strStmtCreationBatchStatus}" id="batchstatus"/>
                </apex:panelGrid>
            </apex:pageBlockSection>
        </apex:outputPanel>
        <apex:outputPanel id="opSendWFOne">
            <apex:pageBlockSection title="Statement Summary" id="pbsSS" rendered="{!bShowStmtSummary}" columns="1">
                <apex:panelGrid columns="1" id="theGrid" width="95%">
               		<apex:panelGrid columns="4" cellspacing = "6">
	                    <apex:commandLink action="/{!rptStmtReportId}?colDt_s={!objDummy.Date__c}&colDt_e={!objDummy.Date__c}" target="_blank" value="Statement Summary Report" id="btnStmtSummaryReport"/>
	                    <apex:commandLink action="/{!StmtSINFalloutReportId}?colDt_e={!objDummy.Date__c}" target="_blank" value="SIN Fallout Report"/>                        
	                    <apex:commandLink action="/{!StmtSCRFalloutReportId}?colDt_e={!objDummy.Date__c}" target="_blank" value="SCR Fallout Report"/>
	                    <apex:commandLink action="/{!StmtCELIFalloutReportId}?colDt_e={!objDummy.Date__c}" target="_blank" value="CELI Fallout Report"/>
                    </apex:panelGrid>
                    <apex:commandButton value="Send to Workflow One" action="{!SendStmtFiletoWFOne}" status="fetchStatus" reRender="pgmsg,opSendWFOne"/>
                    <apex:selectcheckboxes value="{!checkboxvalues}" >
                        <apex:selectOptions value="{!StmntCheckboxVal}" />
                    </apex:selectcheckboxes>
                </apex:panelGrid>                 
            </apex:pageBlockSection>
        </apex:outputPanel>
    </apex:pageBlock>
    </apex:form>
</apex:component>