<!--
  Copyright (c) 2011, FinancialForce.com inc
  All rights reserved.
-->

<apex:page standardController="fflbx__Receipt__c" extensions="fflbx.LockboxImportController">
    <apex:sectionHeader title="{!$Label.ARCashTransaction}" subtitle="{!$Label.ImportARCashTransaction}"/>
    <apex:pageMessages /> 
    <apex:form >
        <apex:pageBlock mode="edit">
            <apex:pageBlockButtons id="buttons">
                <apex:commandButton value="{!$Label.Import}" action="{!importFrom}"/>
                <apex:commandButton value="{!$Label.Cancel}" action="{!Cancel}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1">    
             	<apex:inputField value="{!fflbx__Receipt__c.fflbx__Lockbox__c}"/>
             	<apex:inputField value="{!fflbx__Receipt__c.fflbx__BankCharges__c}" />
                <apex:inputfield value="{!fflbx__Receipt__c.fflbx__CreditDate__c}" />
                <apex:inputfield value="{!fflbx__Receipt__c.fflbx__ValidateDepositDate__c}" />
                <apex:inputfield value="{!fflbx__Receipt__c.fflbx__MatchingDate__c}"/>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel value="{!$Label.ImportFile}" for="importFile" />
                	<apex:inputFile value="{!fileBody}" filename="{!fileName}" id="importFile" />
				</apex:pageBlockSectionItem>                
        	</apex:pageBlockSection>    
		</apex:pageBlock>
    </apex:form>
</apex:page>