<apex:page standardController="ffr__ReportingLog__c" recordSetVar="reportingLogs" extensions="ffr.ReportingLogController" action="{!redirect}">
	<apex:outputText value="{!ffr__ReportingLog__c.ffr__ReportingDefinition__c}" rendered="false"/>
	<apex:outputText value="{!ffr__ReportingLog__c.ffr__URL__c}" rendered="false"/>
	<apex:form >
  		<apex:pageBlock mode="detail">
   			<apex:pageMessages />
            <apex:pageBlockButtons location="bottom">
                <apex:outputpanel id="buttonPanel">
                    <apex:commandButton id="back" value="{!$Label.ReportingLogPageBack}" action="{!cancel}"/>
                </apex:outputpanel>
            </apex:pageBlockButtons>
        </apex:pageBlock>
 </apex:form>
</apex:page>