<!-- User Note: TF000000000011 Reporting Template With Totals For Each Set Of Rows In A Data Range. Includes A Grand Total -->
<!-- User Note: This Template Has Value Groups 01-05 And, Value Groups 10-20 Used For Display Purposes. Data Range Rows Total, Grand Total And Row Total Calculated -->
<!-- User Note: The Template Is Generic. It Expects Labels 01-03 For Each Of The Totals. Template Only Uses A Single Data Range. -->
<!-- User Note: Special Features: Single Data Range, Automatic Subtotal Of Range Rows With Line Displayed, Groups 1-5 And 10-20 For Display Purposes, Rows Grand Total -->
<!-- REGION 01: GENERAL CONFIGURATION START-->
<!-- USER NOTE: I WANT TO USE THE FINANCIALFORCE REPORTING ENGINE TO GENERATE REPORTS -->
<apex:page standardController="ffr__ReportingDefinition__c" extensions="ffr.ReportingTemplateController" readOnly="true" showHeader="true" sidebar="false" standardStylesheets="false" renderas="{!RenderReportAs}" contenttype="{!SaveReportAS}">
<!-- User Note: I Want To Have A Single Format For All Of My Reports So That I Can Style The Fonts And Colors -->
<!-- User Note: A Standard Stylesheet Has Been Provided In The Static Resources -->
<!-- User Note: You Can Create Your Own Stylsheet In The Static Resources And Apply It To Your Reports -->
<!-- User Note: The Style Has Been Designed To Allow Variations Within Different Types Of Reports -->
<!-- User Note: Change The Last Character From D To S On The Style Classes Applied To Each Line Will Produce A Summary Report -->
<!-- User Note: A Summary Report Hides The Lowest Level Of Rows But Retains Calculations -->
<apex:stylesheet value="{!URLFOR($Resource.ffr__ReportingDefaultStyles, 'ReportingDefaultStyles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ffr__ReportingDefaultStyles, StyleSheetName)}"/>
<!-- Variable to represent boolean true/false when needing to set other variables to these states -->
<apex:variable var="true" value="{!1=1}"/>
<apex:variable var="false" value="{!1=0}"/>
<!-- User Note: I Want To Format Values On A Report In Different Ways -->
<!-- User Note: A Number Formatter Component Has Been Provided To Support Different Formats -->
<!-- User Note: The Coding Structure For The Variable Is As Follows Value/Percent Numberofdecimals Normal/Reversed Brackets/Minus 3Charcterinternationalcurrencycode/None-->
<!-- User Note: Good Practice Is To Reverse Values Using A Format Rather Than Create Calculations On The Visualforce Page So Running Totals Can Be Easily Maintained-->
<!-- User Note: You Can Add Your Own Formats To The List Below Try To Keep A Good Coding Structure-->
<apex:variable var="V2NCB" value="#,###,###,##0.00;(#,###,###,##0.00);0.00"/>
<apex:variable var="P2NCB" value="#,###,###,##0.00%;(#,###,###,##0.00%);0.00%"/>
<apex:variable var="V0NCB" value="#,###,###,##0;(#,###,###,##0);0"/>
<apex:variable var="P0NCB" value="#,###,###,##0%;(#,###,###,##0%);0%"/>
<apex:variable var="V2RCB" value="(#,###,###,##0.00);#,###,###,##0.00;0.00"/>
<apex:variable var="P2RCB" value="(#,###,###,##0.00%);#,###,###,##0.00%;0.00%"/>
<apex:variable var="V0RCB" value="(#,###,###,##0);#,###,###,##0;0"/>
<apex:variable var="P0RCB" value="(#,###,###,##0%);#,###,###,##0%;0%"/>
<apex:variable var="V2NCBUSD" value="$#,###,###,##0.00;$(#,###,###,##0.00);$0.00"/>
<apex:variable var="V2RCBUSD" value="$(#,###,###,##0.00);$#,###,###,##0.00;$0.00"/>
<!-- User Note: I Want To Change All Of The Value Formats Quickly Across The Whole Of The Report -->
<!-- User Note: Having The Variables Above Assigned To A Second Variable Here Means That Just Changing This Field Will -->
<!-- User Note: Apply The Results To All The Fields Where It Is Used -->
<!-- User Note: It Is Possible To Use Individual Variables Against A Line This Method Allows You To Make A Single Change To All Related Formats -->
<apex:variable var="VN" value="{!V2NCB}"/>
<apex:variable var="PN" value="{!P2NCB}"/>
<apex:variable var="VR" value="{!V2RCB}"/>
<apex:variable var="PR" value="{!P2RCB}"/>
<!-- This template uses only one data range -->
<apex:variable var="dataRange" value="{!reportingData['DR01']}"/>
<!-- Configuration of columns and groups (elastic template responds dynamically to existence of groups and columns -->
<!-- Column setup -->
<!-- Set the default column rendering state variables to "false" -->
<apex:variable var="RenderColumnA" value="{!false}"/>
<apex:variable var="RenderColumnB" value="{!false}"/>
<apex:variable var="RenderColumnC" value="{!false}"/>
<apex:variable var="RenderColumnD" value="{!false}"/>
<apex:variable var="RenderColumnE" value="{!false}"/>
<apex:variable var="RenderColumnF" value="{!false}"/>
<apex:variable var="RenderColumnG" value="{!false}"/>
<apex:variable var="RenderColumnH" value="{!false}"/>
<apex:variable var="RenderColumnI" value="{!false}"/>
<apex:variable var="RenderColumnJ" value="{!false}"/>
<apex:variable var="RenderColumnK" value="{!false}"/>
<apex:variable var="RenderColumnL" value="{!false}"/>
<apex:variable var="RenderColumnM" value="{!false}"/>
<apex:variable var="RenderColumnN" value="{!false}"/>
<apex:variable var="RenderColumnO" value="{!false}"/>
<apex:variable var="RenderColumnP" value="{!false}"/>
<apex:variable var="RenderColumnQ" value="{!false}"/>
<apex:variable var="RenderColumnR" value="{!false}"/>
<apex:variable var="RenderColumnS" value="{!false}"/>
<apex:variable var="RenderColumnT" value="{!false}"/>
<apex:variable var="RenderColumnU" value="{!false}"/>
<apex:variable var="RenderColumnV" value="{!false}"/>
<apex:variable var="RenderColumnW" value="{!false}"/>
<apex:variable var="RenderColumnX" value="{!false}"/>
<apex:variable var="RenderColumnY" value="{!false}"/>
<apex:variable var="RenderColumnZ" value="{!false}"/>
<!-- Set the default column rendering state for calculated columns -->
<apex:variable var="RenderColumnTotal" value="{!true}"/>
<apex:variable var="RenderColumnRunningTotal" value="{!true}"/>
<!-- Now set the column rendering state variables according to which columns have been used (via column filter mappings) -->
<apex:repeat var="columnKey" value="{!dataRange.columnKeyList}">
    <apex:variable var="RenderColumnA" value="{!true}" rendered="{!columnKey=='A'}" />
    <apex:variable var="RenderColumnB" value="{!true}" rendered="{!columnKey=='B'}" />
    <apex:variable var="RenderColumnC" value="{!true}" rendered="{!columnKey=='C'}" />
    <apex:variable var="RenderColumnD" value="{!true}" rendered="{!columnKey=='D'}" />
    <apex:variable var="RenderColumnE" value="{!true}" rendered="{!columnKey=='E'}" />
    <apex:variable var="RenderColumnF" value="{!true}" rendered="{!columnKey=='F'}" />
    <apex:variable var="RenderColumnG" value="{!true}" rendered="{!columnKey=='G'}" />
    <apex:variable var="RenderColumnH" value="{!true}" rendered="{!columnKey=='H'}" />
    <apex:variable var="RenderColumnI" value="{!true}" rendered="{!columnKey=='I'}" />
    <apex:variable var="RenderColumnJ" value="{!true}" rendered="{!columnKey=='J'}" />
    <apex:variable var="RenderColumnK" value="{!true}" rendered="{!columnKey=='K'}" />
    <apex:variable var="RenderColumnL" value="{!true}" rendered="{!columnKey=='L'}" />
    <apex:variable var="RenderColumnM" value="{!true}" rendered="{!columnKey=='M'}" />
    <apex:variable var="RenderColumnN" value="{!true}" rendered="{!columnKey=='N'}" />
    <apex:variable var="RenderColumnO" value="{!true}" rendered="{!columnKey=='O'}" />
    <apex:variable var="RenderColumnP" value="{!true}" rendered="{!columnKey=='P'}" />
    <apex:variable var="RenderColumnQ" value="{!true}" rendered="{!columnKey=='Q'}" />
    <apex:variable var="RenderColumnR" value="{!true}" rendered="{!columnKey=='R'}" />
    <apex:variable var="RenderColumnS" value="{!true}" rendered="{!columnKey=='S'}" />
    <apex:variable var="RenderColumnT" value="{!true}" rendered="{!columnKey=='T'}" />
    <apex:variable var="RenderColumnU" value="{!true}" rendered="{!columnKey=='U'}" />
    <apex:variable var="RenderColumnV" value="{!true}" rendered="{!columnKey=='V'}" />
    <apex:variable var="RenderColumnW" value="{!true}" rendered="{!columnKey=='W'}" />
    <apex:variable var="RenderColumnX" value="{!true}" rendered="{!columnKey=='X'}" />
    <apex:variable var="RenderColumnY" value="{!true}" rendered="{!columnKey=='Y'}" />
    <apex:variable var="RenderColumnZ" value="{!true}" rendered="{!columnKey=='Z'}" />
</apex:repeat>
<!-- Group setup-->
<!-- Set the default group value rendering state variables to "false" -->
<apex:variable var="RenderGroup01" value="{!false}"/>
<apex:variable var="RenderGroup02" value="{!false}"/>
<apex:variable var="RenderGroup03" value="{!false}"/>
<apex:variable var="RenderGroup04" value="{!false}"/>
<apex:variable var="RenderGroup05" value="{!false}"/>
<apex:variable var="RenderGroup10" value="{!false}"/>
<apex:variable var="RenderGroup11" value="{!false}"/>
<apex:variable var="RenderGroup12" value="{!false}"/>
<apex:variable var="RenderGroup13" value="{!false}"/>
<apex:variable var="RenderGroup14" value="{!false}"/>
<apex:variable var="RenderGroup15" value="{!false}"/>
<apex:variable var="RenderGroup16" value="{!false}"/>
<apex:variable var="RenderGroup17" value="{!false}"/>
<apex:variable var="RenderGroup18" value="{!false}"/>
<apex:variable var="RenderGroup19" value="{!false}"/>
<apex:variable var="RenderGroup20" value="{!false}"/>
<!-- In some places we want to span the groups with a single label, so to do this we need to know how many groups we will render -->
<apex:variable var="countRenderedGroups" value="{!0}"/>
<!-- Now set the group rendering state variables according to which group values have been used, and count them -->
<apex:repeat var="groupKey" value="{!dataRange.groupKeyList}">
<!-- group-groups -->
<apex:outputPanel layout="none" rendered="{!groupKey=='01'}">
<apex:variable var="RenderGroup01" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='02'}">
<apex:variable var="RenderGroup02" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='03'}">
<apex:variable var="RenderGroup03" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='04'}">
<apex:variable var="RenderGroup04" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='05'}">
<apex:variable var="RenderGroup05" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<!-- line-groups -->
<apex:outputPanel layout="none" rendered="{!groupKey=='10'}">
<apex:variable var="RenderGroup10" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='11'}">
<apex:variable var="RenderGroup11" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='12'}">
<apex:variable var="RenderGroup12" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='13'}">
<apex:variable var="RenderGroup13" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='14'}">
<apex:variable var="RenderGroup14" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='15'}">
<apex:variable var="RenderGroup15" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='16'}">
<apex:variable var="RenderGroup16" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='17'}">
<apex:variable var="RenderGroup17" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='18'}">
<apex:variable var="RenderGroup18" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='19'}">
<apex:variable var="RenderGroup19" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='20'}">
<apex:variable var="RenderGroup20" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
</apex:repeat>
<!-- REGION 01: GENERAL CONFIGURATION START-->
<!-- REGION 02: REPORT HEADER START -->
<!-- Demand The Report Definition Fields To Be Loaded Even If Data Is Not Found -->
<apex:outputText value="{!ffr__ReportingDefinition__c.Name}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__Description__c}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__Title__c}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__DisplayPrompts__c}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__ReportingTemplate__c}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__StyleSheet__c}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__PrintStyleSheet__c}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__CompanyLogo__c}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__PrintChatterFeed__c}" rendered="false"/>
<!-- User Note: Show The Error Messages From The Reporting Engine -->

<apex:pageBlock title="Messages" rendered="{!hasMessages}">
<apex:PageMessages />
</apex:pageBlock>
<div class="chatterPosition"></div>
<!-- User Note: I Want A Consistent Header Format To All Of My Reports With Titles Descriptions And Runtime Prompts Etc -->
<!-- User Note: When Creating New Templates This Well Formatted Header Should Be Copied And Used Across All The Reports -->
<table class="ffrgridd">
<tr>
<td><apex:image url="{!URLFOR(StaticResourceImages, CompanyLogo)}" rendered="{!DisplayCompanyLogo}" styleClass="logoReport"/></td>
</tr>
<tr>
<td><h1 class="ffrtitle">{!ffr__ReportingDefinition__c.ffr__Title__c}</h1></td>
<td align="right">{!NOW()}</td>
</tr>
<tr><td class="ffrgridspacer2"></td></tr>
<tr>
<td><h1 class="ffrname">{!ffr__ReportingDefinition__c.Name}</h1></td>
<td align="right"><h2 class="ffrwhiteonwhite">{!ffr__ReportingDefinition__c.ffr__ReportingTemplate__c}</h2></td>
</tr>
<tr><td class="ffrgridspacer2"></td></tr>
<tr>
<td align="left"><apex:outputField value="{!ffr__ReportingDefinition__c.ffr__Description__c}"/></td>
<td align="right"><h2 class="ffrwhiteonwhite">{!ffr__ReportingDefinition__c.ffr__StyleSheet__c}</h2></td>
</tr>
</table>
<!-- User Note: Create a new table to display the prompt information -->
<table class="ffrgridnotfullpage">
<tr><td class="ffrgridspacer2"></td></tr>
<tr>
<td align="left">
<table class="ffrgrid">
<apex:repeat value="{!promptList}" var="prompt" >
<tr>
<td align="left">{!prompt.label}</td>
<td align="left" class="ffrgridspacer"></td>
<td align="left"><strong>{!prompt.value}</strong></td>
</tr>
</apex:repeat>
</table>
</td>
</tr>
</table>
<!-- User Note: Insert a space after the header -->
<table class="ffrgrid">
<tr><td class="ffrgridspacer"></td></tr>
</table>
<!-- REGION 02: REPORT HEADER END -->
<!-- REGION 03: REPORT BODY-->
<table class="ffrgrid">
<tr>
<!-- Column headings -->
<!-- Note that these are contained within outputPanels which are rendered (displayed) depending on the appropriate column render state variable -->
<!-- Groups 1-9 are groups with sub-totals (groups), 10- are groups without sub-totals (lines) -->
<th class="{!if(RenderGroup01,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup01}">{!dataRange.groupLabels['01']}</apex:outputPanel></th>
<th class="{!if(RenderGroup02,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup02}">{!dataRange.groupLabels['02']}</apex:outputPanel></th>
<th class="{!if(RenderGroup03,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup03}">{!dataRange.groupLabels['03']}</apex:outputPanel></th>
<th class="{!if(RenderGroup04,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup04}">{!dataRange.groupLabels['04']}</apex:outputPanel></th>
<th class="{!if(RenderGroup05,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup05}">{!dataRange.groupLabels['05']}</apex:outputPanel></th>
<th class="{!if(RenderGroup10,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup10}">{!dataRange.groupLabels['10']}</apex:outputPanel></th>
<th class="{!if(RenderGroup11,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup11}">{!dataRange.groupLabels['11']}</apex:outputPanel></th>
<th class="{!if(RenderGroup12,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup12}">{!dataRange.groupLabels['12']}</apex:outputPanel></th>
<th class="{!if(RenderGroup13,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup13}">{!dataRange.groupLabels['13']}</apex:outputPanel></th>
<th class="{!if(RenderGroup14,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup14}">{!dataRange.groupLabels['14']}</apex:outputPanel></th>
<th class="{!if(RenderGroup15,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup15}">{!dataRange.groupLabels['15']}</apex:outputPanel></th>
<th class="{!if(RenderGroup16,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup16}">{!dataRange.groupLabels['16']}</apex:outputPanel></th>
<th class="{!if(RenderGroup17,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup17}">{!dataRange.groupLabels['17']}</apex:outputPanel></th>
<th class="{!if(RenderGroup18,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup18}">{!dataRange.groupLabels['18']}</apex:outputPanel></th>
<th class="{!if(RenderGroup19,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup19}">{!dataRange.groupLabels['19']}</apex:outputPanel></th>
<th class="{!if(RenderGroup20,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup20}">{!dataRange.groupLabels['20']}</apex:outputPanel></th>
<td class="ffrgridspacer"/>
<th class="{!if(RenderColumnA,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnA}">{!dataRange.columnLabels['A']}</apex:outputPanel></th>
<th class="{!if(RenderColumnB,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnB}">{!dataRange.columnLabels['B']}</apex:outputPanel></th>
<th class="{!if(RenderColumnC,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnC}">{!dataRange.columnLabels['C']}</apex:outputPanel></th>
<th class="{!if(RenderColumnD,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnD}">{!dataRange.columnLabels['D']}</apex:outputPanel></th>
<th class="{!if(RenderColumnE,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnE}">{!dataRange.columnLabels['E']}</apex:outputPanel></th>
<th class="{!if(RenderColumnF,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnF}">{!dataRange.columnLabels['F']}</apex:outputPanel></th>
<th class="{!if(RenderColumnG,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnG}">{!dataRange.columnLabels['G']}</apex:outputPanel></th>
<th class="{!if(RenderColumnH,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnH}">{!dataRange.columnLabels['H']}</apex:outputPanel></th>
<th class="{!if(RenderColumnI,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnI}">{!dataRange.columnLabels['I']}</apex:outputPanel></th>
<th class="{!if(RenderColumnJ,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnJ}">{!dataRange.columnLabels['J']}</apex:outputPanel></th>
<th class="{!if(RenderColumnK,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnK}">{!dataRange.columnLabels['K']}</apex:outputPanel></th>
<th class="{!if(RenderColumnL,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnL}">{!dataRange.columnLabels['L']}</apex:outputPanel></th>
<th class="{!if(RenderColumnM,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnM}">{!dataRange.columnLabels['M']}</apex:outputPanel></th>
<th class="{!if(RenderColumnN,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnN}">{!dataRange.columnLabels['N']}</apex:outputPanel></th>
<th class="{!if(RenderColumnO,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnO}">{!dataRange.columnLabels['O']}</apex:outputPanel></th>
<th class="{!if(RenderColumnP,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnP}">{!dataRange.columnLabels['P']}</apex:outputPanel></th>
<th class="{!if(RenderColumnQ,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnQ}">{!dataRange.columnLabels['Q']}</apex:outputPanel></th>
<th class="{!if(RenderColumnR,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnR}">{!dataRange.columnLabels['R']}</apex:outputPanel></th>
<th class="{!if(RenderColumnS,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnS}">{!dataRange.columnLabels['S']}</apex:outputPanel></th>
<th class="{!if(RenderColumnT,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnT}">{!dataRange.columnLabels['T']}</apex:outputPanel></th>
<th class="{!if(RenderColumnU,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnU}">{!dataRange.columnLabels['U']}</apex:outputPanel></th>
<th class="{!if(RenderColumnV,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnV}">{!dataRange.columnLabels['V']}</apex:outputPanel></th>
<th class="{!if(RenderColumnW,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnW}">{!dataRange.columnLabels['W']}</apex:outputPanel></th>
<th class="{!if(RenderColumnX,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnX}">{!dataRange.columnLabels['X']}</apex:outputPanel></th>
<th class="{!if(RenderColumnY,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnY}">{!dataRange.columnLabels['Y']}</apex:outputPanel></th>
<th class="{!if(RenderColumnZ,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnZ}">{!dataRange.columnLabels['Z']}</apex:outputPanel></th>
<th class="{!if(RenderColumnTotal,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnTotal}">{!Label['L02']}</apex:outputPanel></th>
</tr>
<!-- Set all column grand-totals to zero (if the column is in use - determined by column render state variables) -->
    <tr><td class = "ffrhidden"><apex:variable value="{!0}" var="grandTotalColumnA" rendered="{!RenderColumnA}"/>
<apex:variable value="{!0}" var="grandTotalColumnB" rendered="{!RenderColumnB}"/>
<apex:variable value="{!0}" var="grandTotalColumnC" rendered="{!RenderColumnC}"/>
<apex:variable value="{!0}" var="grandTotalColumnD" rendered="{!RenderColumnD}"/>
<apex:variable value="{!0}" var="grandTotalColumnE" rendered="{!RenderColumnE}"/>
<apex:variable value="{!0}" var="grandTotalColumnF" rendered="{!RenderColumnF}"/>
<apex:variable value="{!0}" var="grandTotalColumnG" rendered="{!RenderColumnG}"/>
<apex:variable value="{!0}" var="grandTotalColumnH" rendered="{!RenderColumnH}"/>
<apex:variable value="{!0}" var="grandTotalColumnI" rendered="{!RenderColumnI}"/>
<apex:variable value="{!0}" var="grandTotalColumnJ" rendered="{!RenderColumnJ}"/>
<apex:variable value="{!0}" var="grandTotalColumnK" rendered="{!RenderColumnK}"/>
<apex:variable value="{!0}" var="grandTotalColumnL" rendered="{!RenderColumnL}"/>
<apex:variable value="{!0}" var="grandTotalColumnM" rendered="{!RenderColumnM}"/>
<apex:variable value="{!0}" var="grandTotalColumnN" rendered="{!RenderColumnN}"/>
<apex:variable value="{!0}" var="grandTotalColumnO" rendered="{!RenderColumnO}"/>
<apex:variable value="{!0}" var="grandTotalColumnP" rendered="{!RenderColumnP}"/>
<apex:variable value="{!0}" var="grandTotalColumnQ" rendered="{!RenderColumnQ}"/>
<apex:variable value="{!0}" var="grandTotalColumnR" rendered="{!RenderColumnR}"/>
<apex:variable value="{!0}" var="grandTotalColumnS" rendered="{!RenderColumnS}"/>
<apex:variable value="{!0}" var="grandTotalColumnT" rendered="{!RenderColumnT}"/>
<apex:variable value="{!0}" var="grandTotalColumnU" rendered="{!RenderColumnU}"/>
<apex:variable value="{!0}" var="grandTotalColumnV" rendered="{!RenderColumnV}"/>
<apex:variable value="{!0}" var="grandTotalColumnW" rendered="{!RenderColumnW}"/>
<apex:variable value="{!0}" var="grandTotalColumnX" rendered="{!RenderColumnX}"/>
<apex:variable value="{!0}" var="grandTotalColumnY" rendered="{!RenderColumnY}"/>
<apex:variable value="{!0}" var="grandTotalColumnZ" rendered="{!RenderColumnZ}"/></td></tr>
<!-- Iterate over the Rows -->
<apex:repeat value="{!dataRange.rowList}" var="row" >
<!-- Setup for start of row -->
<!-- Only display a particular section of rows -->
<!-- For each row, reset all column row-totals to zero (if the column is in use - determined by column render state variables) -->
<tr><td class = "ffrhidden"><apex:variable value="{!0}" var="rowTotalColumnA" rendered="{!RenderColumnA}"/>
<apex:variable value="{!0}" var="rowTotalColumnB" rendered="{!RenderColumnB}"/>
<apex:variable value="{!0}" var="rowTotalColumnC" rendered="{!RenderColumnC}"/>
<apex:variable value="{!0}" var="rowTotalColumnD" rendered="{!RenderColumnD}"/>
<apex:variable value="{!0}" var="rowTotalColumnE" rendered="{!RenderColumnE}"/>
<apex:variable value="{!0}" var="rowTotalColumnF" rendered="{!RenderColumnF}"/>
<apex:variable value="{!0}" var="rowTotalColumnG" rendered="{!RenderColumnG}"/>
<apex:variable value="{!0}" var="rowTotalColumnH" rendered="{!RenderColumnH}"/>
<apex:variable value="{!0}" var="rowTotalColumnI" rendered="{!RenderColumnI}"/>
<apex:variable value="{!0}" var="rowTotalColumnJ" rendered="{!RenderColumnJ}"/>
<apex:variable value="{!0}" var="rowTotalColumnK" rendered="{!RenderColumnK}"/>
<apex:variable value="{!0}" var="rowTotalColumnL" rendered="{!RenderColumnL}"/>
<apex:variable value="{!0}" var="rowTotalColumnM" rendered="{!RenderColumnM}"/>
<apex:variable value="{!0}" var="rowTotalColumnN" rendered="{!RenderColumnN}"/>
<apex:variable value="{!0}" var="rowTotalColumnO" rendered="{!RenderColumnO}"/>
<apex:variable value="{!0}" var="rowTotalColumnP" rendered="{!RenderColumnP}"/>
<apex:variable value="{!0}" var="rowTotalColumnQ" rendered="{!RenderColumnQ}"/>
<apex:variable value="{!0}" var="rowTotalColumnR" rendered="{!RenderColumnR}"/>
<apex:variable value="{!0}" var="rowTotalColumnS" rendered="{!RenderColumnS}"/>
<apex:variable value="{!0}" var="rowTotalColumnT" rendered="{!RenderColumnT}"/>
<apex:variable value="{!0}" var="rowTotalColumnU" rendered="{!RenderColumnU}"/>
<apex:variable value="{!0}" var="rowTotalColumnV" rendered="{!RenderColumnV}"/>
<apex:variable value="{!0}" var="rowTotalColumnW" rendered="{!RenderColumnW}"/>
<apex:variable value="{!0}" var="rowTotalColumnX" rendered="{!RenderColumnX}"/>
<apex:variable value="{!0}" var="rowTotalColumnY" rendered="{!RenderColumnY}"/>
<apex:variable value="{!0}" var="rowTotalColumnZ" rendered="{!RenderColumnZ}"/></td></tr>
<!-- Iterate over the Lines -->
<apex:repeat value="{!row.lineList}" var="line" >
<!-- Line setup -->
<!-- Each column is configured indepndently within an outputPanel the outputpanel rendered property determines whether the column is configured -->
<!-- This uses the column render state variable (e.g. "renderColumnA" determines whether the panel for column A is configured and rendered) -->
<apex:variable value="{!0}" var="lineTotal"/>
<!-- For each column, add the column value to the line total and add the column value to the row-total -->
    <tr><td class = "ffrhidden"><apex:outputPanel layout="none" rendered="{!RenderColumnA}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['A'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnA+VALUE(TEXT(line.columns['A'].values['A']))}" var="rowTotalColumnA"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnB}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['B'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnB+VALUE(TEXT(line.columns['B'].values['A']))}" var="rowTotalColumnB"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnC}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['C'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnC+VALUE(TEXT(line.columns['C'].values['A']))}" var="rowTotalColumnC"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnD}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['D'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnD+VALUE(TEXT(line.columns['D'].values['A']))}" var="rowTotalColumnD"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnE}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['E'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnE+VALUE(TEXT(line.columns['E'].values['A']))}" var="rowTotalColumnE"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnF}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['F'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnF+VALUE(TEXT(line.columns['F'].values['A']))}" var="rowTotalColumnF"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnG}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['G'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnG+VALUE(TEXT(line.columns['G'].values['A']))}" var="rowTotalColumnG"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnH}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['H'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnH+VALUE(TEXT(line.columns['H'].values['A']))}" var="rowTotalColumnH"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnI}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['I'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnI+VALUE(TEXT(line.columns['I'].values['A']))}" var="rowTotalColumnI"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnJ}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['J'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnJ+VALUE(TEXT(line.columns['J'].values['A']))}" var="rowTotalColumnJ"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnK}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['K'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnK+VALUE(TEXT(line.columns['K'].values['A']))}" var="rowTotalColumnK"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnL}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['L'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnL+VALUE(TEXT(line.columns['L'].values['A']))}" var="rowTotalColumnL"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnM}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['M'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnM+VALUE(TEXT(line.columns['M'].values['A']))}" var="rowTotalColumnM"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnN}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['N'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnN+VALUE(TEXT(line.columns['N'].values['A']))}" var="rowTotalColumnN"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnO}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['O'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnO+VALUE(TEXT(line.columns['O'].values['A']))}" var="rowTotalColumnO"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnP}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['P'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnN+VALUE(TEXT(line.columns['P'].values['A']))}" var="rowTotalColumnP"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnQ}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['Q'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnN+VALUE(TEXT(line.columns['Q'].values['A']))}" var="rowTotalColumnQ"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnR}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['R'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnN+VALUE(TEXT(line.columns['R'].values['A']))}" var="rowTotalColumnR"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnS}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['S'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnN+VALUE(TEXT(line.columns['S'].values['A']))}" var="rowTotalColumnS"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnT}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['T'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnN+VALUE(TEXT(line.columns['T'].values['A']))}" var="rowTotalColumnT"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnU}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['U'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnN+VALUE(TEXT(line.columns['U'].values['A']))}" var="rowTotalColumnU"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnV}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['V'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnN+VALUE(TEXT(line.columns['V'].values['A']))}" var="rowTotalColumnV"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnW}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['W'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnN+VALUE(TEXT(line.columns['W'].values['A']))}" var="rowTotalColumnW"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnX}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['X'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnN+VALUE(TEXT(line.columns['X'].values['A']))}" var="rowTotalColumnX"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnY}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['Y'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnN+VALUE(TEXT(line.columns['Y'].values['A']))}" var="rowTotalColumnY"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnZ}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['Z'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnN+VALUE(TEXT(line.columns['Z'].values['A']))}" var="rowTotalColumnZ"/>
    </apex:outputPanel></td></tr>
<!-- Display the line -->
<tr>
<!-- Display the grouping values based on render settings -->
<td class="{!if(RenderGroup01,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['01']}" type="{!IF(line.Groups['01']==0, TypeZero, TypeString)}" rendered="{!RenderGroup01}" />
</td>	
<td class="{!if(RenderGroup02,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['02']}" type="{!IF(line.Groups['02']==0, TypeZero, TypeString)}" rendered="{!RenderGroup02}" />
</td>
<td class="{!if(RenderGroup03,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['03']}" type="{!IF(line.Groups['03']==0, TypeZero, TypeString)}" rendered="{!RenderGroup03}" />
</td>
<td class="{!if(RenderGroup04,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['04']}" type="{!IF(line.Groups['04']==0, TypeZero, TypeString)}" rendered="{!RenderGroup04}" />
</td>
<td class="{!if(RenderGroup05,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['05']}" type="{!IF(line.Groups['05']==0, TypeZero, TypeString)}" rendered="{!RenderGroup05}" />
</td>
<td class="{!if(RenderGroup10,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['10']}" type="{!IF(line.Groups['10']==0, TypeZero, TypeString)}" rendered="{!RenderGroup10}" />
</td>
<td class="{!if(RenderGroup11,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['11']}" type="{!IF(line.Groups['11']==0, TypeZero, TypeString)}" rendered="{!RenderGroup11}" />
</td>
<td class="{!if(RenderGroup12,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['12']}" type="{!IF(line.Groups['12']==0, TypeZero, TypeString)}" rendered="{!RenderGroup12}" />
</td>
<td class="{!if(RenderGroup13,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['13']}" type="{!IF(line.Groups['13']==0, TypeZero, TypeString)}" rendered="{!RenderGroup13}" />
</td>
<td class="{!if(RenderGroup14,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['14']}" type="{!IF(line.Groups['14']==0, TypeZero, TypeString)}" rendered="{!RenderGroup14}" />
</td>
<td class="{!if(RenderGroup15,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['15']}" type="{!IF(line.Groups['15']==0, TypeZero, TypeString)}" rendered="{!RenderGroup15}" />
</td>
<td class="{!if(RenderGroup16,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['16']}" type="{!IF(line.Groups['16']==0, TypeZero, TypeString)}" rendered="{!RenderGroup16}" />
</td>
<td class="{!if(RenderGroup17,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['17']}" type="{!IF(line.Groups['17']==0, TypeZero, TypeString)}" rendered="{!RenderGroup17}" />
</td>
<td class="{!if(RenderGroup18,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['18']}" type="{!IF(line.Groups['18']==0, TypeZero, TypeString)}" rendered="{!RenderGroup18}" />
</td>
<td class="{!if(RenderGroup19,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['19']}" type="{!IF(line.Groups['19']==0, TypeZero, TypeString)}" rendered="{!RenderGroup19}" />
</td>
<td class="{!if(RenderGroup20,'ffrgridrowlabeld','ffrhidden')}">
	<c:Formatter value="{!line.Groups['20']}" type="{!IF(line.Groups['20']==0, TypeZero, TypeString)}" rendered="{!RenderGroup20}" />
</td><td class="ffrgridspacerd"/>
<!-- Each column is contained within an outputPanel which simply controls whether it is rendered: -->
<!-- Assign the value to a Visualforce variable so that it can be used in the NumberFormatter component -->
<!-- (Note that this is a workaround for a VF bug - we should not need set up a variable for this) -->
<!-- Display the line value, formatted using a NumberFormatter component with the pattern defined above -->
<!-- (Note that we are reusing a temporary variable "v") -->
<td class="{!if(RenderColumnA,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnA}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['A'].values['A'])), VALUE(TEXT(line.columns['A'].values['A'])),0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnB,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnB}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['B'].values['A'])), VALUE(TEXT(line.columns['B'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnC,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnC}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['C'].values['A'])), VALUE(TEXT(line.columns['C'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnD,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnD}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['D'].values['A'])), VALUE(TEXT(line.columns['D'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnE,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnE}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['E'].values['A'])), VALUE(TEXT(line.columns['E'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnF,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnF}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['F'].values['A'])), VALUE(TEXT(line.columns['F'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnG,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnG}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['G'].values['A'])), VALUE(TEXT(line.columns['G'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnH,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnH}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['H'].values['A'])), VALUE(TEXT(line.columns['H'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnI,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnI}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['I'].values['A'])), VALUE(TEXT(line.columns['I'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnJ,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnJ}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['J'].values['A'])), VALUE(TEXT(line.columns['J'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnK,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnK}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['K'].values['A'])), VALUE(TEXT(line.columns['K'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnL,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnL}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['L'].values['A'])), VALUE(TEXT(line.columns['L'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnM,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnM}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['M'].values['A'])), VALUE(TEXT(line.columns['M'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnN,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnN}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['N'].values['A'])), VALUE(TEXT(line.columns['N'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnO,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnO}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['O'].values['A'])), VALUE(TEXT(line.columns['O'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnP,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnP}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['P'].values['A'])), VALUE(TEXT(line.columns['P'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnQ,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnQ}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['Q'].values['A'])), VALUE(TEXT(line.columns['Q'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnR,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnR}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['R'].values['A'])), VALUE(TEXT(line.columns['R'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnS,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnS}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['S'].values['A'])), VALUE(TEXT(line.columns['S'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnT,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnT}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['T'].values['A'])), VALUE(TEXT(line.columns['T'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnU,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnU}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['U'].values['A'])), VALUE(TEXT(line.columns['U'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnV,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnV}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['V'].values['A'])), VALUE(TEXT(line.columns['V'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnW,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnW}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['W'].values['A'])), VALUE(TEXT(line.columns['W'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnX,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnX}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['X'].values['A'])), VALUE(TEXT(line.columns['X'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnY,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnY}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['Y'].values['A'])), VALUE(TEXT(line.columns['Y'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnZ,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnZ}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['Z'].values['A'])), VALUE(TEXT(line.columns['Z'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<!-- Columns Total -->
<td class="{!if(RenderColumnTotal,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnTotal}">
<c:NumberFormatter pattern="{!VN}" value="{!lineTotal}"/>
</apex:outputPanel></td>
<!-- Running Total is blank at line level -->
<td class="{!if(RenderColumnRunningTotal,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnRunningTotal}">
</apex:outputPanel>
</td>
</tr>
</apex:repeat> <!-- go to next line -->
<!-- Setup for end of row -->
<!-- Add the row-total to the grand-total so that the grand-total accumulates across all the rows -->
<!-- Add up the values for the row total columns -->
<!-- Note that the row-totals are reset for each successive row -->
<tr><td class = "ffrhidden"><apex:variable value="{!0}" var="rowTotal" />
<apex:variable value="{!0}" var="runningTotal" />
<apex:variable value="{!grandTotalColumnA+rowTotalColumnA}" var="grandTotalColumnA" rendered="{!RenderColumnA}"/>
<apex:variable value="{!rowTotal+rowTotalColumnA}" var="rowTotal" rendered="{!RenderColumnA}"/>
<apex:variable value="{!runningTotal+grandTotalColumnA}" var="runningTotal" rendered="{!RenderColumnA}"/>
<apex:variable value="{!grandTotalColumnB+rowTotalColumnB}" var="grandTotalColumnB" rendered="{!RenderColumnB}"/>
<apex:variable value="{!rowTotal+rowTotalColumnB}" var="rowTotal" rendered="{!RenderColumnB}"/>
<apex:variable value="{!runningTotal+grandTotalColumnB}" var="runningTotal" rendered="{!RenderColumnB}"/>
<apex:variable value="{!grandTotalColumnC+rowTotalColumnC}" var="grandTotalColumnC" rendered="{!RenderColumnC}"/>
<apex:variable value="{!rowTotal+rowTotalColumnC}" var="rowTotal" rendered="{!RenderColumnC}"/>
<apex:variable value="{!runningTotal+grandTotalColumnC}" var="runningTotal" rendered="{!RenderColumnC}"/>
<apex:variable value="{!grandTotalColumnD+rowTotalColumnD}" var="grandTotalColumnD" rendered="{!RenderColumnD}"/>
<apex:variable value="{!rowTotal+rowTotalColumnD}" var="rowTotal" rendered="{!RenderColumnD}"/>
<apex:variable value="{!runningTotal+grandTotalColumnD}" var="runningTotal" rendered="{!RenderColumnD}"/>
<apex:variable value="{!grandTotalColumnE+rowTotalColumnE}" var="grandTotalColumnE" rendered="{!RenderColumnE}"/>
<apex:variable value="{!rowTotal+rowTotalColumnE}" var="rowTotal" rendered="{!RenderColumnE}"/>
<apex:variable value="{!runningTotal+grandTotalColumnE}" var="runningTotal" rendered="{!RenderColumnE}"/>
<apex:variable value="{!grandTotalColumnF+rowTotalColumnF}" var="grandTotalColumnF" rendered="{!RenderColumnF}"/>
<apex:variable value="{!rowTotal+rowTotalColumnF}" var="rowTotal" rendered="{!RenderColumnF}"/>
<apex:variable value="{!runningTotal+grandTotalColumnF}" var="runningTotal" rendered="{!RenderColumnF}"/>
<apex:variable value="{!grandTotalColumnG+rowTotalColumnG}" var="grandTotalColumnG" rendered="{!RenderColumnG}"/>
<apex:variable value="{!rowTotal+rowTotalColumnG}" var="rowTotal" rendered="{!RenderColumnG}"/>
<apex:variable value="{!runningTotal+grandTotalColumnG}" var="runningTotal" rendered="{!RenderColumnG}"/>
<apex:variable value="{!grandTotalColumnH+rowTotalColumnH}" var="grandTotalColumnH" rendered="{!RenderColumnH}"/>
<apex:variable value="{!rowTotal+rowTotalColumnH}" var="rowTotal" rendered="{!RenderColumnH}"/>
<apex:variable value="{!runningTotal+grandTotalColumnH}" var="runningTotal" rendered="{!RenderColumnH}"/>
<apex:variable value="{!grandTotalColumnI+rowTotalColumnI}" var="grandTotalColumnI" rendered="{!RenderColumnI}"/>
<apex:variable value="{!rowTotal+rowTotalColumnI}" var="rowTotal" rendered="{!RenderColumnI}"/>
<apex:variable value="{!runningTotal+grandTotalColumnI}" var="runningTotal" rendered="{!RenderColumnI}"/>
<apex:variable value="{!grandTotalColumnJ+rowTotalColumnJ}" var="grandTotalColumnJ" rendered="{!RenderColumnJ}"/>
<apex:variable value="{!rowTotal+rowTotalColumnJ}" var="rowTotal" rendered="{!RenderColumnJ}"/>
<apex:variable value="{!runningTotal+grandTotalColumnJ}" var="runningTotal" rendered="{!RenderColumnJ}"/>
<apex:variable value="{!grandTotalColumnK+rowTotalColumnK}" var="grandTotalColumnK" rendered="{!RenderColumnK}"/>
<apex:variable value="{!rowTotal+rowTotalColumnK}" var="rowTotal" rendered="{!RenderColumnK}"/>
<apex:variable value="{!runningTotal+grandTotalColumnK}" var="runningTotal" rendered="{!RenderColumnK}"/>
<apex:variable value="{!grandTotalColumnL+rowTotalColumnL}" var="grandTotalColumnL" rendered="{!RenderColumnL}"/>
<apex:variable value="{!rowTotal+rowTotalColumnL}" var="rowTotal" rendered="{!RenderColumnL}"/>
<apex:variable value="{!runningTotal+grandTotalColumnL}" var="runningTotal" rendered="{!RenderColumnL}"/>
<apex:variable value="{!grandTotalColumnM+rowTotalColumnM}" var="grandTotalColumnM" rendered="{!RenderColumnM}"/>
<apex:variable value="{!rowTotal+rowTotalColumnM}" var="rowTotal" rendered="{!RenderColumnM}"/>
<apex:variable value="{!runningTotal+grandTotalColumnM}" var="runningTotal" rendered="{!RenderColumnM}"/>
<apex:variable value="{!grandTotalColumnN+rowTotalColumnN}" var="grandTotalColumnN" rendered="{!RenderColumnN}"/>
<apex:variable value="{!rowTotal+rowTotalColumnN}" var="rowTotal" rendered="{!RenderColumnN}"/>
<apex:variable value="{!runningTotal+grandTotalColumnN}" var="runningTotal" rendered="{!RenderColumnN}"/>
<apex:variable value="{!grandTotalColumnO+rowTotalColumnO}" var="grandTotalColumnO" rendered="{!RenderColumnO}"/>
<apex:variable value="{!rowTotal+rowTotalColumnO}" var="rowTotal" rendered="{!RenderColumnO}"/>
<apex:variable value="{!runningTotal+grandTotalColumnO}" var="runningTotal" rendered="{!RenderColumnO}"/>
<apex:variable value="{!grandTotalColumnP+rowTotalColumnP}" var="grandTotalColumnP" rendered="{!RenderColumnP}"/>
<apex:variable value="{!rowTotal+rowTotalColumnP}" var="rowTotal" rendered="{!RenderColumnP}"/>
<apex:variable value="{!runningTotal+grandTotalColumnP}" var="runningTotal" rendered="{!RenderColumnP}"/>
<apex:variable value="{!grandTotalColumnQ+rowTotalColumnQ}" var="grandTotalColumnQ" rendered="{!RenderColumnQ}"/>
<apex:variable value="{!rowTotal+rowTotalColumnQ}" var="rowTotal" rendered="{!RenderColumnQ}"/>
<apex:variable value="{!runningTotal+grandTotalColumnQ}" var="runningTotal" rendered="{!RenderColumnQ}"/>
<apex:variable value="{!grandTotalColumnR+rowTotalColumnR}" var="grandTotalColumnR" rendered="{!RenderColumnR}"/>
<apex:variable value="{!rowTotal+rowTotalColumnR}" var="rowTotal" rendered="{!RenderColumnR}"/>
<apex:variable value="{!runningTotal+grandTotalColumnR}" var="runningTotal" rendered="{!RenderColumnR}"/>
<apex:variable value="{!grandTotalColumnS+rowTotalColumnS}" var="grandTotalColumnS" rendered="{!RenderColumnS}"/>
<apex:variable value="{!rowTotal+rowTotalColumnS}" var="rowTotal" rendered="{!RenderColumnS}"/>
<apex:variable value="{!runningTotal+grandTotalColumnS}" var="runningTotal" rendered="{!RenderColumnS}"/>
<apex:variable value="{!grandTotalColumnT+rowTotalColumnT}" var="grandTotalColumnT" rendered="{!RenderColumnT}"/>
<apex:variable value="{!rowTotal+rowTotalColumnT}" var="rowTotal" rendered="{!RenderColumnT}"/>
<apex:variable value="{!runningTotal+grandTotalColumnT}" var="runningTotal" rendered="{!RenderColumnT}"/>
<apex:variable value="{!grandTotalColumnU+rowTotalColumnU}" var="grandTotalColumnU" rendered="{!RenderColumnU}"/>
<apex:variable value="{!rowTotal+rowTotalColumnU}" var="rowTotal" rendered="{!RenderColumnU}"/>
<apex:variable value="{!runningTotal+grandTotalColumnU}" var="runningTotal" rendered="{!RenderColumnU}"/>
<apex:variable value="{!grandTotalColumnV+rowTotalColumnV}" var="grandTotalColumnV" rendered="{!RenderColumnV}"/>
<apex:variable value="{!rowTotal+rowTotalColumnV}" var="rowTotal" rendered="{!RenderColumnV}"/>
<apex:variable value="{!runningTotal+grandTotalColumnV}" var="runningTotal" rendered="{!RenderColumnV}"/>
<apex:variable value="{!grandTotalColumnW+rowTotalColumnW}" var="grandTotalColumnW" rendered="{!RenderColumnW}"/>
<apex:variable value="{!rowTotal+rowTotalColumnW}" var="rowTotal" rendered="{!RenderColumnW}"/>
<apex:variable value="{!runningTotal+grandTotalColumnW}" var="runningTotal" rendered="{!RenderColumnW}"/>
<apex:variable value="{!grandTotalColumnX+rowTotalColumnX}" var="grandTotalColumnX" rendered="{!RenderColumnX}"/>
<apex:variable value="{!rowTotal+rowTotalColumnX}" var="rowTotal" rendered="{!RenderColumnX}"/>
<apex:variable value="{!runningTotal+grandTotalColumnX}" var="runningTotal" rendered="{!RenderColumnX}"/>
<apex:variable value="{!grandTotalColumnY+rowTotalColumnY}" var="grandTotalColumnY" rendered="{!RenderColumnY}"/>
<apex:variable value="{!rowTotal+rowTotalColumnY}" var="rowTotal" rendered="{!RenderColumnY}"/>
<apex:variable value="{!runningTotal+grandTotalColumnY}" var="runningTotal" rendered="{!RenderColumnY}"/>
<apex:variable value="{!grandTotalColumnZ+rowTotalColumnZ}" var="grandTotalColumnZ" rendered="{!RenderColumnZ}"/>
<apex:variable value="{!rowTotal+rowTotalColumnZ}" var="rowTotal" rendered="{!RenderColumnZ}"/>
<apex:variable value="{!runningTotal+grandTotalColumnZ}" var="runningTotal" rendered="{!RenderColumnZ}"/></td></tr>
<!-- Display the row totals -->
<tr>
<!--Display the title for the row-total - which is the row label -->
<!-- the td tag needs to span the number of groups being rendered -->
    <td class="ffrgridsumlabeld" colspan="16">{!row.label}</td>
<td class="ffrgridspacerd"/>
<td class="{!if(RenderColumnA,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnA}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnA}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnB,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnB}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnB}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnC,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnC}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnC}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnD,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnD}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnD}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnE,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnE}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnE}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnF,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnF}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnF}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnG,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnG}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnG}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnH,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnH}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnH}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnI,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnI}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnI}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnJ,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnJ}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnJ}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnK,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnK}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnK}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnL,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnL}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnL}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnM,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnM}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnM}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnN,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnN}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnN}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnO,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnO}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnO}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnP,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnP}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnP}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnQ,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnQ}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnQ}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnR,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnR}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnR}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnS,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnS}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnS}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnT,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnT}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnT}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnU,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnU}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnU}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnV,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnV}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnV}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnW,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnW}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnW}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnX,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnX}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnX}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnY,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnY}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnY}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnZ,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnZ}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnZ}"/>
            </apex:outputPanel></td>
<!-- Columns Total -->
<td class="{!if(RenderColumnTotal,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnTotal}">
                <c:NumberFormatter pattern="{!VN}" value="{!rowTotal}"/>
            </apex:outputPanel></td>
<!-- Running Total -->
<td class="{!if(RenderColumnRunningTotal,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnRunningTotal}">
<c:NumberFormatter pattern="{!VN}" value="{!runningTotal}"/>
    </apex:outputPanel></td>
</tr>
<!-- make some vertical space before the next row -->
<tr><td class="ffrgridspacerd" colspan="16"></td></tr>
<!-- Complete the output of this set of rows when looking at ranges -->
<!-- Go to the next set of rows -->
</apex:repeat>
<!-- Setup for grand-total row -->
<!-- initialise variable for the total for this row -->
<apex:variable value="{!0}" var="rowTotal"/>
    <tr><td class = "ffrhidden"><apex:variable value="{!rowTotal+grandTotalColumnA}" var="rowTotal" rendered="{!RenderColumnA}"/>
<apex:variable value="{!rowTotal+grandTotalColumnB}" var="rowTotal" rendered="{!RenderColumnB}"/>
<apex:variable value="{!rowTotal+grandTotalColumnC}" var="rowTotal" rendered="{!RenderColumnC}"/>
<apex:variable value="{!rowTotal+grandTotalColumnD}" var="rowTotal" rendered="{!RenderColumnD}"/>
<apex:variable value="{!rowTotal+grandTotalColumnE}" var="rowTotal" rendered="{!RenderColumnE}"/>
<apex:variable value="{!rowTotal+grandTotalColumnF}" var="rowTotal" rendered="{!RenderColumnF}"/>
<apex:variable value="{!rowTotal+grandTotalColumnG}" var="rowTotal" rendered="{!RenderColumnG}"/>
<apex:variable value="{!rowTotal+grandTotalColumnH}" var="rowTotal" rendered="{!RenderColumnH}"/>
<apex:variable value="{!rowTotal+grandTotalColumnI}" var="rowTotal" rendered="{!RenderColumnI}"/>
<apex:variable value="{!rowTotal+grandTotalColumnJ}" var="rowTotal" rendered="{!RenderColumnJ}"/>
<apex:variable value="{!rowTotal+grandTotalColumnK}" var="rowTotal" rendered="{!RenderColumnK}"/>
<apex:variable value="{!rowTotal+grandTotalColumnL}" var="rowTotal" rendered="{!RenderColumnL}"/>
<apex:variable value="{!rowTotal+grandTotalColumnM}" var="rowTotal" rendered="{!RenderColumnM}"/>
<apex:variable value="{!rowTotal+grandTotalColumnN}" var="rowTotal" rendered="{!RenderColumnN}"/>
<apex:variable value="{!rowTotal+grandTotalColumnO}" var="rowTotal" rendered="{!RenderColumnO}"/>
<apex:variable value="{!rowTotal+grandTotalColumnP}" var="rowTotal" rendered="{!RenderColumnP}"/>
<apex:variable value="{!rowTotal+grandTotalColumnQ}" var="rowTotal" rendered="{!RenderColumnQ}"/>
<apex:variable value="{!rowTotal+grandTotalColumnR}" var="rowTotal" rendered="{!RenderColumnR}"/>
<apex:variable value="{!rowTotal+grandTotalColumnS}" var="rowTotal" rendered="{!RenderColumnS}"/>
<apex:variable value="{!rowTotal+grandTotalColumnT}" var="rowTotal" rendered="{!RenderColumnT}"/>
<apex:variable value="{!rowTotal+grandTotalColumnU}" var="rowTotal" rendered="{!RenderColumnU}"/>
<apex:variable value="{!rowTotal+grandTotalColumnV}" var="rowTotal" rendered="{!RenderColumnV}"/>
<apex:variable value="{!rowTotal+grandTotalColumnW}" var="rowTotal" rendered="{!RenderColumnW}"/>
<apex:variable value="{!rowTotal+grandTotalColumnX}" var="rowTotal" rendered="{!RenderColumnX}"/>
<apex:variable value="{!rowTotal+grandTotalColumnY}" var="rowTotal" rendered="{!RenderColumnY}"/>
    <apex:variable value="{!rowTotal+grandTotalColumnZ}" var="rowTotal" rendered="{!RenderColumnZ}"/></td></tr>
<!-- Display grand-total row -->
<tr>
<!-- the td tag needs to span the number of groups being rendered -->
<td class="ffrgridsumlabeld" colspan="16">{!Label['L01']}</td>
<td class="ffrgridspacerd"/>
<td class="{!if(RenderColumnA,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnA}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnA}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnB,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnB}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnB}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnC,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnC}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnC}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnD,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnD}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnD}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnE,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnE}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnE}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnF,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnF}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnF}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnG,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnG}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnG}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnH,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnH}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnH}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnI,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnI}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnI}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnJ,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnJ}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnJ}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnK,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnK}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnK}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnL,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnL}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnL}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnM,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnM}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnM}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnN,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnN}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnN}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnO,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnO}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnO}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnP,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnP}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnP}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnQ,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnQ}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnQ}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnR,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnR}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnR}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnS,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnS}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnS}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnT,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnT}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnT}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnU,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnU}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnU}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnV,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnV}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnV}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnW,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnW}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnW}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnX,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnX}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnX}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnY,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnY}">
<c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnY}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnZ,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnZ}">
            <c:NumberFormatter pattern="{!VN}" value="{!grandTotalColumnZ}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnTotal,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnTotal}">
                <c:NumberFormatter pattern="{!VN}" value="{!rowTotal}"/>
            </apex:outputPanel></td>
<!-- Running Total is blank at grand-total level -->
<td class="{!if(RenderColumnRunningTotal,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnRunningTotal}">
        </apex:outputPanel></td>
</tr>
</table>

<!-- REGION 06: REPORT CHATTER START -->
<c:ShowChatter value="{!ReportingLog}" rendered="{!PrintChatterFeed}"/>
<!-- REGION 06: REPORT CHATTER END -->
</apex:page>