<!-- User Note: TF0000000000021 Reporting Template With Sub-Totalling Groups -->
<!-- User Note: This Template Has Value Groups 01-05 Which Automtically Subtotal, Value Groups 10-20 Used For Display Pursposes -->
<!-- User Note: The Template Is Generic. It Expects Labels 01-03 For Each Of The Totals. Template Only Uses A Single Data Range. -->
<!-- User Note: Special Features: NO GRAND TOTAL. Value Groups 01-05 Automatic Subtotal, Groups 10-20 For Display Purposes. -->
<!-- REGION 01: GENERAL CONFIGURATION START-->
<!-- User Note: I Want To Use The Reporting Engine To Generate Reports -->
<apex:page standardController="ffr__ReportingDefinition__c" extensions="ffr.ReportingTemplateController" readOnly="true" showHeader="true" sidebar="false" standardStylesheets="false" renderas="{!RenderReportAs}" contenttype="{!SaveReportAS}">
<!-- User Note: I Want To Have A Single Format For All Of My Reports So That I Can Style The Fonts And Colors -->
<!-- User Note: A Standard Stylesheet Has Been Provided In The Static Resources -->
<!-- User Note: You Can Create Your Own Stylsheet In The Static Resources And Apply It To Your Reports -->
<!-- User Note: The Style Has Been Designed To Allow Variations Within Different Types Of Reports -->
<!-- User Note: Change The Last Character From D To S On The Style Classes Applied To Each Line Will Produce A Summary Report -->
<!-- User Note: A Summary Report Hides The Lowest Level Of Rows But Retains Calculations -->
<apex:stylesheet value="{!URLFOR($Resource.ffr__ReportingDefaultStyles, 'ReportingDefaultStyles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ffr__ReportingDefaultStyles, StyleSheetName)}"/>
<!-- Variable to represent boolean true/false when needing to set other variables to these states -->
<apex:variable var="true" value="{!1=1}"/>
<apex:variable var="false" value="{!1=0}"/>
<!-- User Note: I Want To Format Values On A Report In Different Ways -->
<!-- User Note: A Number Formatter Component Has Been Provided To Support Different Formats -->
<!-- User Note: The Coding Structure For The Variable Is As Follows Value/Percent Numberofdecimals Normal/Reversed Brakets/Minus 3Charcterinternationalcurrencycode/None-->
<!-- User Note: Good Practice Is To Reverse Values Using A Format Rather Than Create Calculations On The Visualforce Page So Running Totals Can Be Easily Maintained-->
<!-- User Note: You Can Add Your Own Formats To The List Below Try To Keep A Good Coding Structure-->
<apex:variable var="V2NCB" value="#,###,###,##0.00;(#,###,###,##0.00);0.00"/>
<apex:variable var="P2NCB" value="#,###,###,##0.00%;(#,###,###,##0.00%);0.00%"/>
<apex:variable var="V0NCB" value="#,###,###,##0;(#,###,###,##0);0"/>
<apex:variable var="P0NCB" value="#,###,###,##0%;(#,###,###,##0%);0%"/>
<apex:variable var="V2RCB" value="(#,###,###,##0.00);#,###,###,##0.00;0.00"/>
<apex:variable var="P2RCB" value="(#,###,###,##0.00%);#,###,###,##0.00%;0.00%"/>
<apex:variable var="V0RCB" value="(#,###,###,##0);#,###,###,##0;0"/>
<apex:variable var="P0RCB" value="(#,###,###,##0%);#,###,###,##0%;0%"/>
<apex:variable var="V2NCBUSD" value="$#,###,###,##0.00;$(#,###,###,##0.00);$0.00"/>
<apex:variable var="V2RCBUSD" value="$(#,###,###,##0.00);$#,###,###,##0.00;$0.00"/>
<!-- User Note: I Want To Change All Of The Value Formats Quickly Across The Whole Of The Report -->
<!-- User Note: Having The Variables Above Assigned To A Second Variable Here Means That Just Changing This Field Will -->
<!-- User Note: Apply The Results To All The Fields Where It Is Used -->
<!-- User Note: It Is Possible To Use Individual Variables Against A Line This Method Allows You To Make A Single Change To All Related Formats -->
<apex:variable var="VN" value="{!V2NCB}"/>
<apex:variable var="PN" value="{!P2NCB}"/>
<apex:variable var="VR" value="{!V2RCB}"/>
<apex:variable var="PR" value="{!P2RCB}"/>
<!-- This template uses only one data range -->
<apex:variable var="dataRange" value="{!reportingData['DR01']}"/>
<!-- Configuration of columns and groups (elastic template responds dynamically to existence of groups and columns -->
<!-- Column setup -->
<!-- Set the default column rendering state variables to "false" -->
<apex:variable var="RenderColumnA" value="{!false}"/>
<apex:variable var="RenderColumnB" value="{!false}"/>
<apex:variable var="RenderColumnC" value="{!false}"/>
<apex:variable var="RenderColumnD" value="{!false}"/>
<apex:variable var="RenderColumnE" value="{!false}"/>
<apex:variable var="RenderColumnF" value="{!false}"/>
<apex:variable var="RenderColumnG" value="{!false}"/>
<apex:variable var="RenderColumnH" value="{!false}"/>
<apex:variable var="RenderColumnI" value="{!false}"/>
<apex:variable var="RenderColumnJ" value="{!false}"/>
<apex:variable var="RenderColumnK" value="{!false}"/>
<apex:variable var="RenderColumnL" value="{!false}"/>
<apex:variable var="RenderColumnM" value="{!false}"/>
<apex:variable var="RenderColumnN" value="{!false}"/>
<apex:variable var="RenderColumnO" value="{!false}"/>
<apex:variable var="RenderColumnP" value="{!false}"/>
<apex:variable var="RenderColumnQ" value="{!false}"/>
<apex:variable var="RenderColumnR" value="{!false}"/>
<apex:variable var="RenderColumnS" value="{!false}"/>
<apex:variable var="RenderColumnT" value="{!false}"/>
<apex:variable var="RenderColumnU" value="{!false}"/>
<apex:variable var="RenderColumnV" value="{!false}"/>
<apex:variable var="RenderColumnW" value="{!false}"/>
<apex:variable var="RenderColumnX" value="{!false}"/>
<apex:variable var="RenderColumnY" value="{!false}"/>
<apex:variable var="RenderColumnZ" value="{!false}"/>
<!-- Set the default column rendering state for calculated columns -->
<!-- Now set the column rendering state variables according to which columns have been used (via column filter mappings) -->
<apex:repeat var="columnKey" value="{!dataRange.columnKeyList}">
    <apex:variable var="RenderColumnA" value="{!true}" rendered="{!columnKey=='A'}" />
    <apex:variable var="RenderColumnB" value="{!true}" rendered="{!columnKey=='B'}" />
    <apex:variable var="RenderColumnC" value="{!true}" rendered="{!columnKey=='C'}" />
    <apex:variable var="RenderColumnD" value="{!true}" rendered="{!columnKey=='D'}" />
    <apex:variable var="RenderColumnE" value="{!true}" rendered="{!columnKey=='E'}" />
    <apex:variable var="RenderColumnF" value="{!true}" rendered="{!columnKey=='F'}" />
    <apex:variable var="RenderColumnG" value="{!true}" rendered="{!columnKey=='G'}" />
    <apex:variable var="RenderColumnH" value="{!true}" rendered="{!columnKey=='H'}" />
    <apex:variable var="RenderColumnI" value="{!true}" rendered="{!columnKey=='I'}" />
    <apex:variable var="RenderColumnJ" value="{!true}" rendered="{!columnKey=='J'}" />
    <apex:variable var="RenderColumnK" value="{!true}" rendered="{!columnKey=='K'}" />
    <apex:variable var="RenderColumnL" value="{!true}" rendered="{!columnKey=='L'}" />
    <apex:variable var="RenderColumnM" value="{!true}" rendered="{!columnKey=='M'}" />
    <apex:variable var="RenderColumnN" value="{!true}" rendered="{!columnKey=='N'}" />
    <apex:variable var="RenderColumnO" value="{!true}" rendered="{!columnKey=='O'}" />
    <apex:variable var="RenderColumnP" value="{!true}" rendered="{!columnKey=='P'}" />
    <apex:variable var="RenderColumnQ" value="{!true}" rendered="{!columnKey=='Q'}" />
    <apex:variable var="RenderColumnR" value="{!true}" rendered="{!columnKey=='R'}" />
    <apex:variable var="RenderColumnS" value="{!true}" rendered="{!columnKey=='S'}" />
    <apex:variable var="RenderColumnT" value="{!true}" rendered="{!columnKey=='T'}" />
    <apex:variable var="RenderColumnU" value="{!true}" rendered="{!columnKey=='U'}" />
    <apex:variable var="RenderColumnV" value="{!true}" rendered="{!columnKey=='V'}" />
    <apex:variable var="RenderColumnW" value="{!true}" rendered="{!columnKey=='W'}" />
    <apex:variable var="RenderColumnX" value="{!true}" rendered="{!columnKey=='X'}" />
    <apex:variable var="RenderColumnY" value="{!true}" rendered="{!columnKey=='Y'}" />
    <apex:variable var="RenderColumnZ" value="{!true}" rendered="{!columnKey=='Z'}" />
</apex:repeat>
<!-- Group setup-->
<!-- Set the default group value rendering state variables to "false" -->
<apex:variable var="RenderGroup01" value="{!false}"/>
<apex:variable var="RenderGroup02" value="{!false}"/>
<apex:variable var="RenderGroup03" value="{!false}"/>
<apex:variable var="RenderGroup04" value="{!false}"/>
<apex:variable var="RenderGroup05" value="{!false}"/>
<apex:variable var="RenderGroup10" value="{!false}"/>
<apex:variable var="RenderGroup11" value="{!false}"/>
<apex:variable var="RenderGroup12" value="{!false}"/>
<apex:variable var="RenderGroup13" value="{!false}"/>
<apex:variable var="RenderGroup14" value="{!false}"/>
<apex:variable var="RenderGroup15" value="{!false}"/>
<apex:variable var="RenderGroup16" value="{!false}"/>
<apex:variable var="RenderGroup17" value="{!false}"/>
<apex:variable var="RenderGroup18" value="{!false}"/>
<apex:variable var="RenderGroup19" value="{!false}"/>
<apex:variable var="RenderGroup20" value="{!false}"/>
<!-- In some places we want to span the groups with a single label, so to do this we need to know how many groups we will render -->
<apex:variable var="countRenderedGroups" value="{!0}"/>
<!-- We need to know whether to keep group subtotals. Default condition is false -->
<apex:variable var="RenderGroupSubtotals" value="{!false}"/>
<!-- Now set the group rendering state variables according to which group values have been used, and count them -->
<!-- Additionally, if we have any of groups 01-09 we need to maintain group subtotals -->
<apex:repeat var="groupKey" value="{!dataRange.groupKeyList}">
<!-- group-groups -->
<apex:outputPanel layout="none" rendered="{!groupKey=='01'}">
<apex:variable var="RenderGroup01" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
<apex:variable var="RenderGroupSubtotals" value="{!true}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='02'}">
<apex:variable var="RenderGroup02" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
<apex:variable var="RenderGroupSubtotals" value="{!true}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='03'}">
<apex:variable var="RenderGroup03" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
<apex:variable var="RenderGroupSubtotals" value="{!true}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='04'}">
<apex:variable var="RenderGroup04" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
<apex:variable var="RenderGroupSubtotals" value="{!true}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='05'}">
<apex:variable var="RenderGroup05" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
<apex:variable var="RenderGroupSubtotals" value="{!true}"/>
</apex:outputPanel>
<!-- line-groups -->
<apex:outputPanel layout="none" rendered="{!groupKey=='10'}">
<apex:variable var="RenderGroup10" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='11'}">
<apex:variable var="RenderGroup11" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='12'}">
<apex:variable var="RenderGroup12" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='13'}">
<apex:variable var="RenderGroup13" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='14'}">
<apex:variable var="RenderGroup14" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='15'}">
<apex:variable var="RenderGroup15" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='16'}">
<apex:variable var="RenderGroup16" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='17'}">
<apex:variable var="RenderGroup17" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='18'}">
<apex:variable var="RenderGroup18" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='19'}">
<apex:variable var="RenderGroup19" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!groupKey=='20'}">
<apex:variable var="RenderGroup20" value="{!true}"/>
<apex:variable var="countRenderedGroups" value="{!countRenderedGroups+1}"/>
</apex:outputPanel>
</apex:repeat>
<!-- REGION 01: GENERAL CONFIGURATION START-->
<!-- REGION 02: REPORT HEADER START -->
<!-- Demand The Report Definition Fields To Be Loaded Even If Data Is Not Found -->
<apex:outputText value="{!ffr__ReportingDefinition__c.Name}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__Description__c}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__Title__c}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__DisplayPrompts__c}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__ReportingTemplate__c}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__StyleSheet__c}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__PrintStyleSheet__c}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__CompanyLogo__c}" rendered="false"/>
<apex:outputText value="{!ffr__ReportingDefinition__c.ffr__PrintChatterFeed__c}" rendered="false"/>
<!-- User Note: Show The Error Messages From The Reporting Engine -->

<apex:pageBlock title="Messages" rendered="{!hasMessages}">
<apex:messages />
</apex:pageBlock>
<div class="chatterPosition"></div>
<!-- User Note: I Want A Consistent Header Format To All Of My Reports With Titles Descriptions And Runtime Prompts Etc -->
<!-- User Note: When Creating New Templates This Well Formatted Header Should Be Copied And Used Across All The Reports -->
<table class="ffrgridd">
<tr>
<td><apex:image url="{!URLFOR(StaticResourceImages, CompanyLogo)}" rendered="{!DisplayCompanyLogo}" styleClass="logoReport"/></td>
</tr>
<tr>
<td><h1 class="ffrtitle">{!ffr__ReportingDefinition__c.ffr__Title__c}</h1></td>
<td align="right">{!NOW()}</td>
</tr>
<tr><td class="ffrgridspacer2"></td></tr>
<tr>
<td><h1 class="ffrname">{!ffr__ReportingDefinition__c.Name}</h1></td>
<td align="right"><h2 class="ffrwhiteonwhite">{!ffr__ReportingDefinition__c.ffr__ReportingTemplate__c}</h2></td>
</tr>
<tr><td class="ffrgridspacer2"></td></tr>
<tr>
<td align="left"><apex:outputField value="{!ffr__ReportingDefinition__c.ffr__Description__c}"/></td>
<td align="right"><h2 class="ffrwhiteonwhite">{!ffr__ReportingDefinition__c.ffr__StyleSheet__c}</h2></td>
</tr>
</table>
<!-- User Note: Create a new table to display the prompt information -->
<table class="ffrgridnotfullpage">
<tr><td class="ffrgridspacer2"></td></tr>
<tr>
<td align="left">
<table class="ffrgrid">
<apex:repeat value="{!promptList}" var="prompt" >
<tr>
<td align="left">{!prompt.label}</td>
<td align="left" class="ffrgridspacer"></td>
<td align="left"><strong>{!prompt.value}</strong></td>
</tr>
</apex:repeat>
</table>
</td>
</tr>
</table>
<!-- User Note: Insert a space after the header -->
<table class="ffrgrid">
<tr><td class="ffrgridspacer"></td></tr>
</table>
<!-- REGION 02: REPORT HEADER END -->
<!-- REGION 03: REPORT BODY-->
<table class="ffrgrid">
<tr>
<!-- Column headings -->
<!-- Note that these are contained within outputPanels which are rendered (displayed) depending on the appropriate column render state variable -->
<!-- Groups 1-9 are groups with sub-totals (groups), 10- are groups without sub-totals (lines) -->
<th class="{!if(RenderGroup01,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup01}">{!dataRange.groupLabels['01']}</apex:outputPanel></th>
<th class="{!if(RenderGroup02,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup02}">{!dataRange.groupLabels['02']}</apex:outputPanel></th>
<th class="{!if(RenderGroup03,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup03}">{!dataRange.groupLabels['03']}</apex:outputPanel></th>
<th class="{!if(RenderGroup04,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup04}">{!dataRange.groupLabels['04']}</apex:outputPanel></th>
<th class="{!if(RenderGroup05,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup05}">{!dataRange.groupLabels['05']}</apex:outputPanel></th>
<th class="{!if(RenderGroup10,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup10}">{!dataRange.groupLabels['10']}</apex:outputPanel></th>
<th class="{!if(RenderGroup11,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup11}">{!dataRange.groupLabels['11']}</apex:outputPanel></th>
<th class="{!if(RenderGroup12,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup12}">{!dataRange.groupLabels['12']}</apex:outputPanel></th>
<th class="{!if(RenderGroup13,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup13}">{!dataRange.groupLabels['13']}</apex:outputPanel></th>
<th class="{!if(RenderGroup14,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup14}">{!dataRange.groupLabels['14']}</apex:outputPanel></th>
<th class="{!if(RenderGroup15,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup15}">{!dataRange.groupLabels['15']}</apex:outputPanel></th>
<th class="{!if(RenderGroup16,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup16}">{!dataRange.groupLabels['16']}</apex:outputPanel></th>
<th class="{!if(RenderGroup17,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup17}">{!dataRange.groupLabels['17']}</apex:outputPanel></th>
<th class="{!if(RenderGroup18,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup18}">{!dataRange.groupLabels['18']}</apex:outputPanel></th>
<th class="{!if(RenderGroup19,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup19}">{!dataRange.groupLabels['19']}</apex:outputPanel></th>
<th class="{!if(RenderGroup20,'ffrgridtitleleftd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup20}">{!dataRange.groupLabels['20']}</apex:outputPanel></th>
<td class="ffrgridspacer"/>
<th class="{!if(RenderColumnA,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnA}">{!dataRange.columnLabels['A']}</apex:outputPanel></th>
<th class="{!if(RenderColumnB,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnB}">{!dataRange.columnLabels['B']}</apex:outputPanel></th>
<th class="{!if(RenderColumnC,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnC}">{!dataRange.columnLabels['C']}</apex:outputPanel></th>
<th class="{!if(RenderColumnD,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnD}">{!dataRange.columnLabels['D']}</apex:outputPanel></th>
<th class="{!if(RenderColumnE,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnE}">{!dataRange.columnLabels['E']}</apex:outputPanel></th>
<th class="{!if(RenderColumnF,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnF}">{!dataRange.columnLabels['F']}</apex:outputPanel></th>
<th class="{!if(RenderColumnG,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnG}">{!dataRange.columnLabels['G']}</apex:outputPanel></th>
<th class="{!if(RenderColumnH,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnH}">{!dataRange.columnLabels['H']}</apex:outputPanel></th>
<th class="{!if(RenderColumnI,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnI}">{!dataRange.columnLabels['I']}</apex:outputPanel></th>
<th class="{!if(RenderColumnJ,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnJ}">{!dataRange.columnLabels['J']}</apex:outputPanel></th>
<th class="{!if(RenderColumnK,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnK}">{!dataRange.columnLabels['K']}</apex:outputPanel></th>
<th class="{!if(RenderColumnL,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnL}">{!dataRange.columnLabels['L']}</apex:outputPanel></th>
<th class="{!if(RenderColumnM,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnM}">{!dataRange.columnLabels['M']}</apex:outputPanel></th>
<th class="{!if(RenderColumnN,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnN}">{!dataRange.columnLabels['N']}</apex:outputPanel></th>
<th class="{!if(RenderColumnO,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnO}">{!dataRange.columnLabels['O']}</apex:outputPanel></th>
<th class="{!if(RenderColumnP,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnP}">{!dataRange.columnLabels['P']}</apex:outputPanel></th>
<th class="{!if(RenderColumnQ,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnQ}">{!dataRange.columnLabels['Q']}</apex:outputPanel></th>
<th class="{!if(RenderColumnR,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnR}">{!dataRange.columnLabels['R']}</apex:outputPanel></th>
<th class="{!if(RenderColumnS,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnS}">{!dataRange.columnLabels['S']}</apex:outputPanel></th>
<th class="{!if(RenderColumnT,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnT}">{!dataRange.columnLabels['T']}</apex:outputPanel></th>
<th class="{!if(RenderColumnU,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnU}">{!dataRange.columnLabels['U']}</apex:outputPanel></th>
<th class="{!if(RenderColumnV,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnV}">{!dataRange.columnLabels['V']}</apex:outputPanel></th>
<th class="{!if(RenderColumnW,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnW}">{!dataRange.columnLabels['W']}</apex:outputPanel></th>
<th class="{!if(RenderColumnX,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnX}">{!dataRange.columnLabels['X']}</apex:outputPanel></th>
<th class="{!if(RenderColumnY,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnY}">{!dataRange.columnLabels['Y']}</apex:outputPanel></th>
<th class="{!if(RenderColumnZ,'ffrgridtitlerightd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnZ}">{!dataRange.columnLabels['Z']}</apex:outputPanel></th>
</tr>
<!-- Iterate over the Rows -->
<apex:repeat value="{!dataRange.rowList}" var="row" >
<!-- Setup for start of row -->
<!-- Only display a particular section of rows -->
<!-- For each row, reset all column row-totals and subtotals to zero (if the column is in use - determined by column render state variables) -->
<tr><td class = "ffrhidden"><apex:variable value="{!0}" var="rowTotalColumnA" rendered="{!RenderColumnA}"/>
<apex:variable value="{!0}" var="rowTotalColumnB" rendered="{!RenderColumnB}"/>
<apex:variable value="{!0}" var="rowTotalColumnC" rendered="{!RenderColumnC}"/>
<apex:variable value="{!0}" var="rowTotalColumnD" rendered="{!RenderColumnD}"/>
<apex:variable value="{!0}" var="rowTotalColumnE" rendered="{!RenderColumnE}"/>
<apex:variable value="{!0}" var="rowTotalColumnF" rendered="{!RenderColumnF}"/>
<apex:variable value="{!0}" var="rowTotalColumnG" rendered="{!RenderColumnG}"/>
<apex:variable value="{!0}" var="rowTotalColumnH" rendered="{!RenderColumnH}"/>
<apex:variable value="{!0}" var="rowTotalColumnI" rendered="{!RenderColumnI}"/>
<apex:variable value="{!0}" var="rowTotalColumnJ" rendered="{!RenderColumnJ}"/>
<apex:variable value="{!0}" var="rowTotalColumnK" rendered="{!RenderColumnK}"/>
<apex:variable value="{!0}" var="rowTotalColumnL" rendered="{!RenderColumnL}"/>
<apex:variable value="{!0}" var="rowTotalColumnM" rendered="{!RenderColumnM}"/>
<apex:variable value="{!0}" var="rowTotalColumnN" rendered="{!RenderColumnN}"/>
<apex:variable value="{!0}" var="rowTotalColumnO" rendered="{!RenderColumnO}"/>
<apex:variable value="{!0}" var="rowTotalColumnP" rendered="{!RenderColumnP}"/>
<apex:variable value="{!0}" var="rowTotalColumnQ" rendered="{!RenderColumnQ}"/>
<apex:variable value="{!0}" var="rowTotalColumnR" rendered="{!RenderColumnR}"/>
<apex:variable value="{!0}" var="rowTotalColumnS" rendered="{!RenderColumnS}"/>
<apex:variable value="{!0}" var="rowTotalColumnT" rendered="{!RenderColumnT}"/>
<apex:variable value="{!0}" var="rowTotalColumnU" rendered="{!RenderColumnU}"/>
<apex:variable value="{!0}" var="rowTotalColumnV" rendered="{!RenderColumnV}"/>
<apex:variable value="{!0}" var="rowTotalColumnW" rendered="{!RenderColumnW}"/>
<apex:variable value="{!0}" var="rowTotalColumnX" rendered="{!RenderColumnX}"/>
<apex:variable value="{!0}" var="rowTotalColumnY" rendered="{!RenderColumnY}"/>
<apex:variable value="{!0}" var="rowTotalColumnZ" rendered="{!RenderColumnZ}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnA" rendered="{!RenderColumnA}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnB" rendered="{!RenderColumnB}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnC" rendered="{!RenderColumnC}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnD" rendered="{!RenderColumnD}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnE" rendered="{!RenderColumnE}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnF" rendered="{!RenderColumnF}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnG" rendered="{!RenderColumnG}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnH" rendered="{!RenderColumnH}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnI" rendered="{!RenderColumnI}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnJ" rendered="{!RenderColumnJ}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnK" rendered="{!RenderColumnK}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnL" rendered="{!RenderColumnL}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnM" rendered="{!RenderColumnM}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnN" rendered="{!RenderColumnN}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnO" rendered="{!RenderColumnO}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnP" rendered="{!RenderColumnP}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnQ" rendered="{!RenderColumnQ}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnR" rendered="{!RenderColumnR}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnS" rendered="{!RenderColumnS}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnT" rendered="{!RenderColumnT}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnU" rendered="{!RenderColumnU}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnV" rendered="{!RenderColumnV}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnW" rendered="{!RenderColumnW}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnX" rendered="{!RenderColumnX}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnY" rendered="{!RenderColumnY}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnZ" rendered="{!RenderColumnZ}"/></td></tr>
<!-- These variables are used to determine when to print a subtotal -->
<apex:variable var="previousLineGroup01" value=""/>
<apex:variable var="previousLineGroup02" value=""/>
<apex:variable var="previousLineGroup03" value=""/>
<apex:variable var="previousLineGroup04" value=""/>
<apex:variable var="previousLineGroup05" value=""/>
<apex:variable var="currentLineGroup01" value=""/>
<apex:variable var="currentLineGroup02" value=""/>
<apex:variable var="currentLineGroup03" value=""/>
<apex:variable var="currentLineGroup04" value=""/>
<apex:variable var="currentLineGroup05" value=""/>
<!-- This variable is used to determine whether the line is the first line in the row - to prevent a subtotal being printed before the first line -->
<apex:variable var="firstLine" value="{!true}"/>
<!-- Iterate over the Lines -->
<apex:repeat value="{!row.lineList}" var="line" >
<!-- Set the variables rpepesenting the groups for the current line for comparison with the previous line -->
<tr><td class = "ffrhidden"><apex:variable value="{!line.groups['01']}" var="currentLineGroup01" rendered="{!RenderGroup01}"/>
<apex:variable value="{!line.groups['02']}" var="currentLineGroup02" rendered="{!RenderGroup02}"/>
<apex:variable value="{!line.groups['03']}" var="currentLineGroup03" rendered="{!RenderGroup03}"/>
<apex:variable value="{!line.groups['04']}" var="currentLineGroup04" rendered="{!RenderGroup04}"/>
<apex:variable value="{!line.groups['05']}" var="currentLineGroup05" rendered="{!RenderGroup05}"/></td></tr>
<!-- Mid-row subtotal line -->
<!-- do we want to process a (mid-row) subtotal line? -->
<apex:variable var="doSubtotal" value="{!RenderGroupSubtotals && !firstLine && (currentLineGroup01!=previousLineGroup01 || currentLineGroup02!=previousLineGroup02 || currentLineGroup03!=previousLineGroup03|| currentLineGroup04!=previousLineGroup04|| currentLineGroup05!=previousLineGroup05)}"/>
<tr>
<!-- Display the group-group values but not the group-line values -->
<td class="{!if(RenderGroup01,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup01}">{!previousLineGroup01}</apex:outputPanel></td>
<td class="{!if(RenderGroup02,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup02}">{!previousLineGroup02}</apex:outputPanel></td>
<td class="{!if(RenderGroup03,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup03}">{!previousLineGroup03}</apex:outputPanel></td>
<td class="{!if(RenderGroup04,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup04}">{!previousLineGroup04}</apex:outputPanel></td>
<td class="{!if(RenderGroup05,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup05}">{!previousLineGroup05}</apex:outputPanel></td>
<td class="{!if(RenderGroup10,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup10}"></apex:outputPanel></td>
<td class="{!if(RenderGroup11,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup11}"></apex:outputPanel></td>
<td class="{!if(RenderGroup12,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup12}"></apex:outputPanel></td>
<td class="{!if(RenderGroup13,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup13}"></apex:outputPanel></td>
<td class="{!if(RenderGroup14,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup14}"></apex:outputPanel></td>
<td class="{!if(RenderGroup15,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup15}"></apex:outputPanel></td>
<td class="{!if(RenderGroup16,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup16}"></apex:outputPanel></td>
<td class="{!if(RenderGroup17,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup17}"></apex:outputPanel></td>
<td class="{!if(RenderGroup18,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup18}"></apex:outputPanel></td>
<td class="{!if(RenderGroup19,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup19}"></apex:outputPanel></td>
<td class="{!if(RenderGroup20,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup20}"></apex:outputPanel></td>
<td class="ffrgridspacerd"/>
<td class="{!if(RenderColumnA,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnA}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnA}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnB,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnB}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnB}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnC,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnC}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnC}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnD,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnD}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnD}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnE,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnE}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnE}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnF,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnF}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnF}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnG,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnG}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnG}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnH,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnH}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnH}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnI,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnI}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnI}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnJ,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnJ}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnJ}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnK,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnK}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnK}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnL,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnL}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnL}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnM,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnM}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnM}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnN,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnN}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnN}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnO,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnO}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnO}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnP,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnP}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnP}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnQ,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnQ}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnQ}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnR,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnR}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnR}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnS,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnS}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnS}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnT,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnT}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnT}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnU,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnU}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnU}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnV,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnV}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnV}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnW,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnW}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnW}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnX,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnX}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnX}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnY,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnY}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnY}"/></apex:outputPanel></td>
<td class="{!if(RenderColumnZ,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnZ}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnZ}"/></apex:outputPanel></td>
<!-- Columns Total -->
<!-- Running Total -->
</tr>
<!-- reset the subtotals -->
<tr><td class="ffrhidden"><apex:variable value="{!0}" var="rowSubtotalColumnA" rendered="{!doSubtotal && RenderColumnA}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnB" rendered="{!doSubtotal && RenderColumnB}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnC" rendered="{!doSubtotal && RenderColumnC}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnD" rendered="{!doSubtotal && RenderColumnD}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnE" rendered="{!doSubtotal && RenderColumnE}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnF" rendered="{!doSubtotal && RenderColumnF}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnG" rendered="{!doSubtotal && RenderColumnG}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnH" rendered="{!doSubtotal && RenderColumnH}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnI" rendered="{!doSubtotal && RenderColumnI}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnJ" rendered="{!doSubtotal && RenderColumnJ}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnK" rendered="{!doSubtotal && RenderColumnK}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnL" rendered="{!doSubtotal && RenderColumnL}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnM" rendered="{!doSubtotal && RenderColumnM}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnN" rendered="{!doSubtotal && RenderColumnN}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnO" rendered="{!doSubtotal && RenderColumnO}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnP" rendered="{!doSubtotal && RenderColumnP}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnQ" rendered="{!doSubtotal && RenderColumnQ}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnR" rendered="{!doSubtotal && RenderColumnR}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnS" rendered="{!doSubtotal && RenderColumnS}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnT" rendered="{!doSubtotal && RenderColumnT}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnU" rendered="{!doSubtotal && RenderColumnU}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnV" rendered="{!doSubtotal && RenderColumnV}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnW" rendered="{!doSubtotal && RenderColumnW}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnX" rendered="{!doSubtotal && RenderColumnX}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnY" rendered="{!doSubtotal && RenderColumnY}"/>
<apex:variable value="{!0}" var="rowSubtotalColumnZ" rendered="{!doSubtotal && RenderColumnZ}"/></td></tr>
<!-- Line setup -->
<!-- Each column is configured indepndently within an outputPanel the outputpanel rendered property determines whether the column is configured -->
<!-- This uses the column render state variable (e.g. "renderColumnA" determines whether the panel for column A is configured and rendered) -->
<apex:variable value="{!0}" var="lineTotal"/>
<!-- For each column, add the column value to the line total and add the column value to the row-total and sub-total-->
    <tr><td class = "ffrhidden"><apex:outputPanel layout="none" rendered="{!RenderColumnA}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['A'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnA+VALUE(TEXT(line.columns['A'].values['A']))}" var="rowTotalColumnA"/>
<apex:variable value="{!rowSubtotalColumnA+VALUE(TEXT(line.columns['A'].values['A']))}" var="rowSubtotalColumnA"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnB}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['B'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnB+VALUE(TEXT(line.columns['B'].values['A']))}" var="rowTotalColumnB"/>
<apex:variable value="{!rowSubtotalColumnB+VALUE(TEXT(line.columns['B'].values['A']))}" var="rowSubtotalColumnB"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnC}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['C'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnC+VALUE(TEXT(line.columns['C'].values['A']))}" var="rowTotalColumnC"/>
<apex:variable value="{!rowSubtotalColumnC+VALUE(TEXT(line.columns['C'].values['A']))}" var="rowSubtotalColumnC"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnD}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['D'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnD+VALUE(TEXT(line.columns['D'].values['A']))}" var="rowTotalColumnD"/>
<apex:variable value="{!rowSubtotalColumnD+VALUE(TEXT(line.columns['D'].values['A']))}" var="rowSubtotalColumnD"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnE}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['E'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnE+VALUE(TEXT(line.columns['E'].values['A']))}" var="rowTotalColumnE"/>
<apex:variable value="{!rowSubtotalColumnE+VALUE(TEXT(line.columns['E'].values['A']))}" var="rowSubtotalColumnE"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnF}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['F'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnF+VALUE(TEXT(line.columns['F'].values['A']))}" var="rowTotalColumnF"/>
<apex:variable value="{!rowSubtotalColumnF+VALUE(TEXT(line.columns['F'].values['A']))}" var="rowSubtotalColumnF"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnG}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['G'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnG+VALUE(TEXT(line.columns['G'].values['A']))}" var="rowTotalColumnG"/>
<apex:variable value="{!rowSubtotalColumnG+VALUE(TEXT(line.columns['G'].values['A']))}" var="rowSubtotalColumnG"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnH}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['H'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnH+VALUE(TEXT(line.columns['H'].values['A']))}" var="rowTotalColumnH"/>
<apex:variable value="{!rowSubtotalColumnH+VALUE(TEXT(line.columns['H'].values['A']))}" var="rowSubtotalColumnH"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnI}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['I'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnI+VALUE(TEXT(line.columns['I'].values['A']))}" var="rowTotalColumnI"/>
<apex:variable value="{!rowSubtotalColumnI+VALUE(TEXT(line.columns['I'].values['A']))}" var="rowSubtotalColumnI"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnJ}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['J'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnJ+VALUE(TEXT(line.columns['J'].values['A']))}" var="rowTotalColumnJ"/>
<apex:variable value="{!rowSubtotalColumnJ+VALUE(TEXT(line.columns['J'].values['A']))}" var="rowSubtotalColumnJ"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnK}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['K'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnK+VALUE(TEXT(line.columns['K'].values['A']))}" var="rowTotalColumnK"/>
<apex:variable value="{!rowSubtotalColumnK+VALUE(TEXT(line.columns['K'].values['A']))}" var="rowSubtotalColumnK"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnL}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['L'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnL+VALUE(TEXT(line.columns['L'].values['A']))}" var="rowTotalColumnL"/>
<apex:variable value="{!rowSubtotalColumnL+VALUE(TEXT(line.columns['L'].values['A']))}" var="rowSubtotalColumnL"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnM}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['M'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnM+VALUE(TEXT(line.columns['M'].values['A']))}" var="rowTotalColumnM"/>
<apex:variable value="{!rowSubtotalColumnM+VALUE(TEXT(line.columns['M'].values['A']))}" var="rowSubtotalColumnM"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnN}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['N'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnN+VALUE(TEXT(line.columns['N'].values['A']))}" var="rowTotalColumnN"/>
<apex:variable value="{!rowSubtotalColumnN+VALUE(TEXT(line.columns['N'].values['A']))}" var="rowSubtotalColumnN"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnO}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['O'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnO+VALUE(TEXT(line.columns['O'].values['A']))}" var="rowTotalColumnO"/>
<apex:variable value="{!rowSubtotalColumnO+VALUE(TEXT(line.columns['O'].values['A']))}" var="rowSubtotalColumnO"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnP}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['P'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnP+VALUE(TEXT(line.columns['P'].values['A']))}" var="rowTotalColumnP"/>
<apex:variable value="{!rowSubtotalColumnP+VALUE(TEXT(line.columns['P'].values['A']))}" var="rowSubtotalColumnP"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnQ}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['Q'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnQ+VALUE(TEXT(line.columns['Q'].values['A']))}" var="rowTotalColumnQ"/>
<apex:variable value="{!rowSubtotalColumnQ+VALUE(TEXT(line.columns['Q'].values['A']))}" var="rowSubtotalColumnQ"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnR}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['R'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnR+VALUE(TEXT(line.columns['R'].values['A']))}" var="rowTotalColumnR"/>
<apex:variable value="{!rowSubtotalColumnR+VALUE(TEXT(line.columns['R'].values['A']))}" var="rowSubtotalColumnR"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnS}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['S'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnS+VALUE(TEXT(line.columns['S'].values['A']))}" var="rowTotalColumnS"/>
<apex:variable value="{!rowSubtotalColumnS+VALUE(TEXT(line.columns['S'].values['A']))}" var="rowSubtotalColumnS"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnT}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['T'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnT+VALUE(TEXT(line.columns['T'].values['A']))}" var="rowTotalColumnT"/>
<apex:variable value="{!rowSubtotalColumnT+VALUE(TEXT(line.columns['T'].values['A']))}" var="rowSubtotalColumnT"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnU}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['U'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnU+VALUE(TEXT(line.columns['U'].values['A']))}" var="rowTotalColumnU"/>
<apex:variable value="{!rowSubtotalColumnU+VALUE(TEXT(line.columns['U'].values['A']))}" var="rowSubtotalColumnU"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnV}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['V'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnV+VALUE(TEXT(line.columns['V'].values['A']))}" var="rowTotalColumnV"/>
<apex:variable value="{!rowSubtotalColumnV+VALUE(TEXT(line.columns['V'].values['A']))}" var="rowSubtotalColumnV"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnW}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['W'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnW+VALUE(TEXT(line.columns['W'].values['A']))}" var="rowTotalColumnW"/>
<apex:variable value="{!rowSubtotalColumnW+VALUE(TEXT(line.columns['W'].values['A']))}" var="rowSubtotalColumnW"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnX}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['X'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnX+VALUE(TEXT(line.columns['X'].values['A']))}" var="rowTotalColumnX"/>
<apex:variable value="{!rowSubtotalColumnX+VALUE(TEXT(line.columns['X'].values['A']))}" var="rowSubtotalColumnX"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnY}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['Y'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnY+VALUE(TEXT(line.columns['Y'].values['A']))}" var="rowTotalColumnY"/>
<apex:variable value="{!rowSubtotalColumnY+VALUE(TEXT(line.columns['Y'].values['A']))}" var="rowSubtotalColumnY"/>
</apex:outputPanel>
<apex:outputPanel layout="none" rendered="{!RenderColumnZ}">
<apex:variable value="{!lineTotal+VALUE(TEXT(line.columns['Z'].values['A']))}" var="lineTotal"/>
<apex:variable value="{!rowTotalColumnZ+VALUE(TEXT(line.columns['Z'].values['A']))}" var="rowTotalColumnZ"/>
<apex:variable value="{!rowSubtotalColumnZ+VALUE(TEXT(line.columns['Z'].values['A']))}" var="rowSubtotalColumnZ"/>
    </apex:outputPanel></td></tr>
<!-- Display the line -->
<tr>
<!-- Display the grouping values based on render settings -->
<td class="{!if(RenderGroup01,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup01}">{!currentLineGroup01}</apex:outputPanel></td>
<td class="{!if(RenderGroup02,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup02}">{!currentLineGroup02}</apex:outputPanel></td>
<td class="{!if(RenderGroup03,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup03}">{!currentLineGroup03}</apex:outputPanel></td>
<td class="{!if(RenderGroup04,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup04}">{!currentLineGroup04}</apex:outputPanel></td>
<td class="{!if(RenderGroup05,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup05}">{!currentLineGroup05}</apex:outputPanel></td>
<td class="{!if(RenderGroup10,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup10}">{!line.groups['10']}</apex:outputPanel></td>
<td class="{!if(RenderGroup11,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup11}">{!line.groups['11']}</apex:outputPanel></td>
<td class="{!if(RenderGroup12,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup12}">{!line.groups['12']}</apex:outputPanel></td>
<td class="{!if(RenderGroup13,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup13}">{!line.groups['13']}</apex:outputPanel></td>
<td class="{!if(RenderGroup14,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup14}">{!line.groups['14']}</apex:outputPanel></td>
<td class="{!if(RenderGroup15,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup15}">{!line.groups['15']}</apex:outputPanel></td>
<td class="{!if(RenderGroup16,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup16}">{!line.groups['16']}</apex:outputPanel></td>
<td class="{!if(RenderGroup17,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup17}">{!line.groups['17']}</apex:outputPanel></td>
<td class="{!if(RenderGroup18,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup18}">{!line.groups['18']}</apex:outputPanel></td>
<td class="{!if(RenderGroup19,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup19}">{!line.groups['19']}</apex:outputPanel></td>
<td class="{!if(RenderGroup20,'ffrgridrowlabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroup20}">{!line.groups['20']}</apex:outputPanel></td>
<td class="ffrgridspacerd"/>
<!-- Each column is contained within an outputPanel which simply controls whether it is rendered: -->
<!-- Assign the value to a Visualforce variable so that it can be used in the NumberFormatter component -->
<!-- (Note that this is a workaround for a VF bug - we should not need set up a variable for this) -->
<!-- Display the line value, formatted using a NumberFormatter component with the pattern defined above -->
<!-- (Note that we are reusing a temporary variable "v") -->
<td class="{!if(RenderColumnA,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnA}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['A'].values['A'])), VALUE(TEXT(line.columns['A'].values['A'])),0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnB,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnB}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['B'].values['A'])), VALUE(TEXT(line.columns['B'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnC,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnC}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['C'].values['A'])), VALUE(TEXT(line.columns['C'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnD,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnD}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['D'].values['A'])), VALUE(TEXT(line.columns['D'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnE,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnE}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['E'].values['A'])), VALUE(TEXT(line.columns['E'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnF,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnF}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['F'].values['A'])), VALUE(TEXT(line.columns['F'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnG,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnG}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['G'].values['A'])), VALUE(TEXT(line.columns['G'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnH,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnH}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['H'].values['A'])), VALUE(TEXT(line.columns['H'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnI,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnI}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['I'].values['A'])), VALUE(TEXT(line.columns['I'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnJ,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnJ}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['J'].values['A'])), VALUE(TEXT(line.columns['J'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnK,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnK}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['K'].values['A'])), VALUE(TEXT(line.columns['K'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnL,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnL}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['L'].values['A'])), VALUE(TEXT(line.columns['L'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnM,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnM}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['M'].values['A'])), VALUE(TEXT(line.columns['M'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnN,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnN}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['N'].values['A'])), VALUE(TEXT(line.columns['N'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnO,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnO}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['O'].values['A'])), VALUE(TEXT(line.columns['O'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnP,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnP}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['P'].values['A'])), VALUE(TEXT(line.columns['P'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnQ,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnQ}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['Q'].values['A'])), VALUE(TEXT(line.columns['Q'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnR,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnR}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['R'].values['A'])), VALUE(TEXT(line.columns['R'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnS,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnS}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['S'].values['A'])), VALUE(TEXT(line.columns['S'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnT,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnT}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['T'].values['A'])), VALUE(TEXT(line.columns['T'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnU,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnU}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['U'].values['A'])), VALUE(TEXT(line.columns['U'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnV,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnV}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['V'].values['A'])), VALUE(TEXT(line.columns['V'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnW,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnW}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['W'].values['A'])), VALUE(TEXT(line.columns['W'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnX,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnX}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['X'].values['A'])), VALUE(TEXT(line.columns['X'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnY,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnY}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['Y'].values['A'])), VALUE(TEXT(line.columns['Y'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnZ,'ffrgridrowd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnZ}">
<apex:variable value="{!IF(ISNUMBER(TEXT(line.columns['Z'].values['A'])), VALUE(TEXT(line.columns['Z'].values['A'])), 0)}" var="v"/>
    <c:NumberFormatter pattern="{!VN}" value="{!v}"/>
</apex:outputPanel></td>
<!-- Columns Total -->
<!-- Running Total is blank at line level -->
</tr>
<!-- Setup for next line -->
<!-- Record the group values as "previous" for comparison on the next line -->
<tr><td class="ffrhidden"><apex:variable var="previousLineGroup01" value="{!currentLineGroup01}"/>
<apex:variable var="previousLineGroup02" value="{!currentLineGroup02}"/>
<apex:variable var="previousLineGroup03" value="{!currentLineGroup03}"/>
<apex:variable var="previousLineGroup04" value="{!currentLineGroup04}"/>
<apex:variable var="previousLineGroup05" value="{!currentLineGroup05}"/></td></tr>
<!-- If this was the first line, it was complteted, so set first line to false -->
<apex:variable var="firstLine" value="{!false}" rendered="{!firstLine}"/>
</apex:repeat> <!-- go to next line -->
<!-- do we want to process an end-of-row subtotal line? -->
<!--Remove-->
<tr>
<!-- Display the group-group values but not the group-line values -->
<td class="{!if(RenderGroupSubtotals && RenderGroup01,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderGroup01}">{!previousLineGroup01}</apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup02,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderGroup02}">{!previousLineGroup02}</apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup03,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderGroup03}">{!previousLineGroup03}</apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup04,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderGroup04}">{!previousLineGroup04}</apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup05,'ffrsubtotallabeld','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderGroup05}">{!previousLineGroup05}</apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup10,'ffrsubtotallabeld','ffrhidden')}"></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup11,'ffrsubtotallabeld','ffrhidden')}"></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup12,'ffrsubtotallabeld','ffrhidden')}"></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup13,'ffrsubtotallabeld','ffrhidden')}"></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup14,'ffrsubtotallabeld','ffrhidden')}"></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup15,'ffrsubtotallabeld','ffrhidden')}"></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup16,'ffrsubtotallabeld','ffrhidden')}"></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup17,'ffrsubtotallabeld','ffrhidden')}"></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup18,'ffrsubtotallabeld','ffrhidden')}"></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup19,'ffrsubtotallabeld','ffrhidden')}"></td>
<td class="{!if(RenderGroupSubtotals && RenderGroup20,'ffrsubtotallabeld','ffrhidden')}"></td>
<td class="{!if(RenderGroupSubtotals,'ffrgridspacerd','ffrhidden')}"/>
<td class="{!if(RenderGroupSubtotals && RenderColumnA,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnA}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnA}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnB,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnB}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnB}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnC,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnC}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnC}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnD,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnD}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnD}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnE,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnE}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnE}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnF,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnF}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnF}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnG,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnG}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnG}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnH,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnH}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnH}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnI,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnI}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnI}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnJ,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnJ}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnJ}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnK,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnK}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnK}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnL,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnL}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnL}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnM,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnM}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnM}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnN,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnN}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnN}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnO,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnO}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnO}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnP,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnP}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnP}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnQ,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnQ}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnQ}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnR,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnR}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnR}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnS,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnS}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnS}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnT,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnT}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnT}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnU,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnU}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnU}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnV,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnV}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnV}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnW,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnW}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnW}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnX,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnX}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnX}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnY,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnY}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnY}"/></apex:outputPanel></td>
<td class="{!if(RenderGroupSubtotals && RenderColumnZ,'ffrsubtotald','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderGroupSubtotals && RenderColumnZ}"><c:NumberFormatter pattern="{!VN}" value="{!rowSubtotalColumnZ}"/></apex:outputPanel></td>
<!--Remove-->
<!--Remove-->
</tr>
<!-- Setup for end of row -->
<!-- Add the row-total to the grand-total so that the grand-total accumulates across all the rows -->
<!-- Add up the values for the row total columns -->
<tr>
<!--Remove-->
<!-- the td tag needs to span the number of groups being rendered -->
    <td class="ffrgridsumlabeld" colspan="16">{!row.label}</td>
<td class="ffrgridspacerd"/>
<td class="{!if(RenderColumnA,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnA}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnA}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnB,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnB}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnB}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnC,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnC}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnC}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnD,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnD}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnD}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnE,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnE}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnE}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnF,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnF}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnF}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnG,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnG}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnG}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnH,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnH}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnH}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnI,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnI}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnI}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnJ,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnJ}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnJ}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnK,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnK}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnK}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnL,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnL}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnL}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnM,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnM}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnM}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnN,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnN}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnN}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnO,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnO}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnO}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnP,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnP}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnP}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnQ,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnQ}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnQ}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnR,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnR}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnR}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnS,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnS}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnS}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnT,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnT}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnT}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnU,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnU}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnU}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnV,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnV}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnV}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnW,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnW}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnW}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnX,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnX}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnX}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnY,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnY}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnY}"/>
</apex:outputPanel></td>
<td class="{!if(RenderColumnZ,'ffrgridsumd','ffrhidden')}"><apex:outputPanel layout="none" rendered="{!RenderColumnZ}">
<c:NumberFormatter pattern="{!VN}" value="{!rowTotalColumnZ}"/>
    </apex:outputPanel></td>
<!-- Columns Total -->
<!-- Running Total -->
</tr>
<!-- make some vertical space before the next row -->
<tr><td class="ffrgridspacerd" colspan="16"></td></tr>
<!-- Complete the output of this set of rows when looking at ranges -->
<!-- Go to the next set of rows -->
</apex:repeat>
</table>

<!-- REGION 06: REPORT CHATTER START -->
<c:ShowChatter value="{!ReportingLog}" rendered="{!PrintChatterFeed}"/>
<!-- REGION 06: REPORT CHATTER END -->
</apex:page>